.container-404
    .ritual-catalog
        display: block
    .container-768
        margin-top: 0
    .main-container__flex
        flex-direction: column
        align-items: center
        margin-top: 130px

    .row-full
        text-align: center
        color: #262626
        width: 100%
        margin-bottom: 50px
        max-width: 600px
    .h3
        font-size: 21px
    .text-green
        color: #538d20
        font-size: 21px
        font-weight: 600
    p
        font-size: 21px
    .btn-green__404
        max-width: 416px
        padding: 15px 36px
        margin: 0 auto
        font-size: 16px

    .not-found__box
        flex-direction: row
        justify-content: space-between
        height: 121px
        align-items: center
        &:last-child
            height: 66px
            margin-bottom: 30px
        .btn-green__nf, .wrap-form
            max-width: 300px
        .nf-wrap
            margin: 0
            width: 38px
            height: 38px
        .ritual-catalog
            display: block
        .btn-post__info
            min-width: 37.5vw
    .row-full-not
        max-width: 100%
    .ritual-catalog__body
        display: flex
        flex-wrap: wrap
        .item:nth-child(2)
            margin: 0 2px 2px 0
        .item
            width: calc(25% - 2px)