.about-this__company--head
    .top-banner 
        border-bottom: none
        .banner-left 
            border-bottom: none
            width: 100%
            max-width: 100%
            .banner-text 
                display: none  
        .banner-right
            display: none        
.about-this__company--body
    
    .breadcrum
        padding-left: 16px
    .about-company__body
        padding-left: 0   
        padding-right: 16px
    .about-company__row--top
        display: flex
        flex-direction: row
        max-height: 216px
        overflow: hidden   
        margin-bottom: 36px  
    .about-company__wrap
        padding-right: 52px
    .about-company__text--head
        font-size: 21px
        line-height: 1.19
        margin-bottom: 37px
    .about-company__text--body
        font-size: 14px
        line-height: 1.71
        color: #444
        padding-bottom: 5px
        max-height: 123px
        overflow: hidden  
    .row-head
        font-size: 21px!important        
    .wrap-video
        width: 100%
        height: 359px    
    .about-company__rbody
        margin-bottom: 30px    
    .ritual-catalog
        .row-title 
            .title
                padding: 7px 9px 6px 9px  
                line-height: 1.5  