.add-company__body
    .row-flex
        margin-bottom: 16px
        display: flex
        flex-direction: row
        align-items: flex-start
        justify-content: space-between
        padding-left: 16px
    .row-flex-fs
        align-items: baseline
    .option
        width: 250px
        max-width: 250px
        min-width: 250px
        padding-right: 25px
        font-size: 16px
        color: #444
        line-height: 1.13
        margin-top: 5px
    .clarification
        font-size: 10px
        margin-top: 8px
        color: #444
        line-height: 1
        padding-left: 12px
    .wrap-option
        width: 100%
        position: relative
        .fa-plus-circle
            margin-left: 5px
            vertical-align: middle
        a
            color: #444
            vertical-align: middle
            font-size: 12px
    .add-company__input
        width: 100%
        &:required
            border-bottom: .5px solid red
    .input, .add-company__select
        width: 100%
        height: 48px
        color: #999
        font-size: 14px
    .wrap-option__tar
        text-align: right
    .little-text
        font-size: 10px
        color: #444
        line-height: 1.2
        display: block
    .opacity-0
        opacity: 0
        display: block
    .row-flex__mbl
        margin-bottom: 8px
        position: relative
    .fa-plus-circle__absolute
        position: absolute
        top: calc(50% - 10px)
        right: 15px
        font-size: 20px
        color: #999
    .textarea
        height: 140px
    label
        font-size: 21px
        color: #262626
        input
            width: 24px
            height: 24px
            color: #262626
            background: none
    .checkbox-custom
        position: relative
        width: 18px
        height: 18px
        border: 2px solid #444444
        border-radius: 3px
        display: inline-block
        vertical-align: middle
        cursor: pointer
    .checkbox
        display: none
    .checkbox:checked + .checkbox-custom::before
        content: "\f00c"
        display: block
        position: absolute
        text-align: center
        width: 100%
        height: 100%
        line-height: 1.3
        color: #fff
        background-color: #444444
        font-size: 13px
        font-family: "Font Awesome 5 Free"
        font-weight: 600
        transition: all .3s ease
    .checkbox-option
        margin-right: 30px
        &:last-child
            margin-right: 0
        .checkbox-custom
            margin-right: 16px
    .box-option
        .option
            line-height: 1.5
            margin-bottom: 16px
    .wrap-option__capcha
        display: flex
        flex-direction: column
        width: 45%
        .btn-green__add--company
            color: #fff
            height: 48px
            font-size: 14px
            padding: 12px 39px
    .add-company__info
        margin-bottom: 50px
    .d-dn
        display: none
    .modal-filters-all
        width: 100%
        top: 48px
    .tag-box
        display: flex
        align-items: center
        // min-height: 31px
        margin-bottom: 16px
        margin-left: -5px
        // max-width: 417px
        flex-wrap: wrap
        .tag
            padding: 5px 25px 4px 5px
    .outer-div
        position: relative
    .swiper-navigation__container
        position: relative
        justify-content: space-between
    .swiper-button-prev7, .swiper-button-next7    
        position: relative
        top: auto
        left: auto
        right: auto
    .swiper-button-prev7
        margin-right: 1px    
    .wrap-option
        .submit
            color: #fff
            line-height: 1
    .swiper-navigation__container
        margin-top: 20px
        padding: 0
    .wrap-add__C
        min-width: 30%
        display: flex
    .close-tab
        top: 24px