.advertising
    .contact-us__phone
        margin: 0
    .arrangements-tab
        margin-bottom: 50px
    .row-main
        width: 100%
        padding: 0
    .tabs__caption
        justify-content: space-between
        width: 100%
        background-color: #fff
        padding-bottom: 18px
        li
            width: 31%
            background-color: #538d20
            color: #fff
            padding: 10px 5px
            &:last-child
                margin-right: 0
            &.active
                background-color: #c33232  
                &:after 
                    border-top: 10px solid #c33232
            div
                line-height: 1   
                font-size: 16px     
    .add-company__select, input
        background-color: #fff 
        width: 100%    
        padding: 16px 12px
    .text
        max-width: 225px
        min-width: 225px
        line-height: 1.13
        padding-right: 12px 
        font-size: 16px
        color: #444
    .row-text
        line-height: 1.13
        font-size: 16px
        color: #444        
    .row
        display: flex
        flex-direction: row
        margin-bottom: 16px
        align-items: center
        &:last-child
            margin-bottom: 0
    .tabs-content__inner, .container-table
        max-width: 638px
        margin: 0 auto  
    .row-flex_end
        justify-content: flex-end     
        max-width: 538px    
    .wrap-inner
        display: flex
        flex-direction: row
    .btn-red
        padding: 11px 30px
        font-size: 16px  
    .row-flex_end--input 
        justify-content: flex-end
        .input
            width: 262px                  
    .row-table, .col-table
        display: inline-block
    .row-table
        width: 80% 
        border-top: 2px solid #444
        border-left: 2px solid #444
        padding: 5px 16px
        height: 48px
        line-height: 1
        display: flex
        align-items: center
        font-size: 16px
        color: #444
    .last-row
        border-bottom: 2px solid #444
    .col-table
        width: 20% 
        padding: 5px 10px
        height: 48px
        max-height: 48px
        line-height: 1
        border-top: 2px solid #444
        border-right: 2px solid #444
        border-left: 2px solid #444
        text-align: center
        font-size: 21px
        font-weight: bold
        display: flex
        align-items: center
        justify-content: center
        color: #444 
    .row-flex
        display: flex   
    .desk-dn
        display: none
    .container-table
        .row-flex_end--input
            margin-top: 16px    
.modal-ty__wrap     
    position: absolute
    top: -81px
    left: 0
    width: 100%
    height: 100vh   
    background-color: #000c
    z-index: 9999
    display: none
    .modal-ty
        width: 300px
        height: 220px
        background-color: #fff
        border: 1px solid grey
        text-align: center
        position: absolute
        left: 50%
        margin: -130px 0 0 -150px 
        top: 50vh
        display: flex
        flex-direction: column
        align-items: center
        justify-content: center
        padding: 25px
        font-size: 16px
        line-height: 1.3
        color: #444444
        .ty
            font-size: 18px
            margin-bottom: 8px
       
.close-tab
    top: 15px
.open-modal
    display: block    
     
    

