.companies-body
    .row-title 
        .see-all
            display: flex
            align-items: center
            flex-direction: row-reverse
            font-size: 14px
            a:first-child
                margin-left: 16px
                
        .companies-title__mw
            max-width: 320px
            line-height: 1.5
    .row-aside
        margin-top: 32px      
    .modal-filters-all
        width: 316px
        height: auto
        position: absolute
        opacity: 0
        top: 70px
        right: 0
        z-index: -1
        background-color: #f1f1f1 

        &.opacity-modal
            opacity: 1
            z-index: 999
        .modal-filters__tab    
            box-shadow: 4px 4px 4px 0 rgba(0, 0, 0, 0.1), 2px 2px 2px 0 rgba(0, 0, 0, 0.1)
        .tab
            padding: 20px     
        .tabs__caption
            width: 100%
            li
                width: 50%
                line-height: 1
                padding: 9px 0
                border-bottom: 1px solid #bcbcbc
                a
                    color: #000
                &.active
                    a
                        color: #fff    
        .tabs__content
            background-color: #f1f1f1 
            //display: none
        .tabs__content
            &.active  
                display: block
        .swiper-wrapper
            flex-wrap: nowrap
        .col
            color: #000  
        .label-location
            color: #000    
        .swiper-container__filters
            overflow: hidden   
        .row
            margin-bottom: 10px  
            margin-right: 20px    
        .checkbox-custom
            margin-right: 10px   
        
        .swiper-button-next6
            left: 255px 
        .swiper-button-prev6
            left: 214px
        .head-modal__tab
            color: #262626   
            display: flex
            justify-content: space-between
            padding: 10px 26px 10px 40px
            font-weight: 600
            border-bottom: 1px solid #bcbcbc
            cursor: pointer
            .fas
                cursor: pointer
            &.border-n
                border-bottom: none    
        .body-modal__tab
            display: none
            padding: 0 26px 0 0
        .label-location    
            color: #444444
    .swiper-navigation__container
        width: 100%
        display: flex
        justify-content: flex-start
        padding: 0
        line-height: 1
        margin-top: 10px

