.company_institutions-body
  .row-title
    .companies-title__mw
      max-width: 371px
  .filters-company
    padding: 0 5px 0 5px
    .filters-total__company
      background-color: #538d20
      padding: 0 5px
      text-transform: uppercase
      min-width: auto
  .swiper-main    
    margin-bottom: 50px
    .swiper-wrapper    
      flex-wrap: nowrap
      .swiper-slide
        display: flex
        align-items: center
        justify-content: center
        width: 100%
        position: relative
        
      .slide-text
        position: absolute
        bottom: 16px
        left: 0
        font-size: 18px
        line-height: 1.22
        font-weight: 600
        padding: 0 16px
        display: flex
        justify-content: space-between
        align-items: flex-end
      .wrap-img__slide
        height: 300px 
    .swiper-navigation__container
      margin-top: 16px   
  .cemeteries-kiev__tag
    .title
      line-height: 1.5    