.contacts-body
    .contacts-inform
    .map
        width: 100%
        margin-bottom: 30px
    .post-inform
        padding: 8px
        border: 2px solid #538d20
        display: flex
        flex-direction: row
        align-items: center
        justify-content: space-between
        margin-bottom: 30px
        background-color: #f0f0f0
    .wrap-svg
        max-width: 48px
        max-height: 48px
        line-height: 1
    .btn-post__info
        font-size: 16px
        padding: 11px 5vw
    .post-inform__text
        max-width: 263px
        font-weight: 500
        line-height: 18px
        font-size: 16px
    .how-to
        margin-bottom: 50px
    .how-to__text, .contacts-inform__text
        font-size: 14px
        line-height: 24px
        color: #444444
        padding-left: 10px
        max-height: 166px
        overflow: hidden
    .contacts-inform__text
        max-height: 166px
        overflow: hidden
        line-height: 1.71
        font-size: 14px
        color: #444
        margin-bottom: 30px

    .wrap-form
        width: 100%
    .ritual-catalog
        display: none
