.directory-body
    .directory
        margin-bottom: 50px
    .directory-wrap__img
        width: 40px
        height: auto
        margin: 0 auto
        text-align: center
    .directory-item
        width: calc(25% - 4px)!important  
        margin-right: 4px!important
        &:last-child 
            margin-right: 0px!important
        &:hover
            background-color: #f0f0f0!important 
            border: 2px solid #538d20   
    .directory-text, .directory-text__small
        color: #262626
    .directory-text
        font-size: 12px
        line-height: 1.33
        font-weight: 600    
    .directory-text__small
        color: #444
        font-size: 10px
        line-height: 1    

    