.faq-body
    .form-search
        width: 100%
        display: flex
        flex-direction: row
        justify-content: space-between
    .input-search
        width: 60%
        margin-right: 20px
        padding: 14px 12px
        border: none
        background-color: #f0f0f0
        color: #444444
        &::placeholder
            color: #444444
            opacity: .5
    .btn-search
        width: 40%
        padding: 10px 12px
        font-size: 16px

    .mini-title
        padding-left: 16px
        font-size: 16px
        margin-bottom: 16px
        color: #444
    .more-questions
        border-bottom: 1px solid #bcbcbc
        margin-bottom: 30px
        padding-bottom: 30px
    .faq-tabs__container
        display: flex
        justify-content: space-between
        margin-bottom: 30px
  
    .col-cont
        width: 67%    
    .tab
        width: 100%
        height: 48px
        margin-bottom: 4px
        background-color: #f0f0f0
        text-align: center
        line-height: 48px
        a
            color: #444
    .active
        background-color: #538d20
        a
            color: #fff
    .hidden
        display: none
    .tab-head
        color: #444
        font-size: 16px
        line-height: 1.13 
        cursor: pointer  
        position: relative
        max-width: 400px
        &:hover
            text-decoration: none
        &.green
            color: #538d20
            text-decoration: underline    
        .fa-times
            display: none   
        .close-tab
            cursor: pointer
            display: none
            width: 20px
            height: 20px
            position: absolute
            top: 10px
            right: -5px
            &:before
                content: ''
                width: 15px
                height: 2px
                position: absolute
                top: 0
                right: 0
                background-color: #444
                transform: rotate(45deg)
            &:after
                content: ''
                width: 15px
                height: 2px
                position: absolute
                transform: rotate(130deg)
                top: 0
                right: 0
                background-color: #444        
    .tab-body
        display: none
        margin-top: 22px 
        color: #444      
    .tab-content
        padding: 16px
        &.bg
            background-color: #f0f0f0 
    .wrap-video
        width: 100%
        height: 215px
        overflow: hidden   
    .not-found__boxes
        display: flex
        flex-direction: column
    .btn-green__nf
        padding: 11px
    .toggle-tabs
        display: none
    .col-tab
      display: flex
      flex-direction: column
      width: 30%
      margin-right: 16px
    .categoty
        display: none  