.footer, .footer-768
    background-color: $lightgrey
    color: #fff
    .footer-block__1
        padding: 50px 0
    .footer-block__1--all
        width: 33%
        position: relative
        padding-right: 26px
    .h3-footer
        font-size: 22px
        margin-bottom: 30px
        line-height: 1.27
        font-weight: normal   
    .about-project__text
        font-size: 14px
        line-height: 1.91
        font-weight: normal
        margin-bottom: 80px
        max-height: 315px
        overflow: hidden
    .footer-bottom__line
        position: absolute
        width: 100%
        height: 1px
        background-color: #bcbcbc
        bottom: 95px
        left: -20px
    .social-icon
        padding-right: 16px
    .block-1__flex, .footer-block__2
        display: flex
        flex-direction: row
        justify-content: space-between
        .social-flex
            display: flex
            flex-direction: row
            position: relative
            justify-content: center

            
            li
                a
                    font-family: "Font Awesome 5 Free"
                    i
                        border-radius: 50%
                        margin: 5px
                        background: #fff
                        font-size: 26px
                        width: 43px
                        text-align: center
                        vertical-align: middle
                        display: inline-block
                        line-height: 1.2
                        height: 42px
                        padding: 5px
                        color: #444

.important-information__coll2
    width: 100%   
    .h2 
        a   
            font-weight: 500
            color: #fff                  
.popular-news__list
    li
        border-bottom: 1px solid #fff
        padding-bottom: 30px
        margin-bottom: 30px
        &:last-child
            border: none
            padding: 0
            margin: 0
.popular-news__item, .info-blog__item
    padding-left: 14px  
.wrap-img__popular--news, .wrap-img__info--blog
    width: 30px
    min-width: 30px
    height: 30px    
    margin-right: 12px
    margin-left: 8px
.popular-news__title, .info-blog__title
    display: flex
    flex-direction: row
    align-items: center 
    font-size: 16px
    line-height: 1.38
    font-weight: 600
    margin-bottom: 5px
.popular-news__text, .info-blog__text
    max-height: 70px
    overflow: hidden
    color: #bcbcbc
.popular-small__content, .blog-small__content    
    max-height: 48px
    min-height: 48px
.footer-block__2
    background-color: $text
    padding: 50px 0
    border-top: 1px solid #fff
.block-2__1
    padding-right: 86px  
    display: flex  
.block-2
    max-width: 162px    
.block-2__inner--title
    font-size: 14px
    line-height: 1   
    margin-bottom: 19px 
    font-weight: 500
.block-2__flex
    margin-right: -2px    
.footer-block__2--flex
    display: flex
    flex-direction: row
    justify-content: center
.block-2__inner--text
    font-size: 10px
    line-height: 1.1
    display: inline-block
    margin-bottom: 10px
    vertical-align: text-top
    &:hover
        text-decoration: underline
.footer-block__3
    text-align: center 
    background-color: $text
    padding: 12px 0
    font-size: 10px
    line-height: 1.1
    border-top: 1px solid #fff        
.footer-320
    display: none
@media (max-width: 992px)
    .popular-news
        display: none
    .footer 
        .container-768
            margin-top: 0
        .footer-block__1--all 
            width: 50%  
    .block-2__1
        padding-right: 0
    .footer-768
        .footer-block__1--all
            width: 50%
    .footer-320
        display: none

 