.glossary-body
    .glossary-row__input
        display: flex
        flex-direction: row
        width: 100%
        align-items: center
        justify-content: space-between
        height: 48px
    .glossary-input
        margin-right: 16px
        width: calc(70% - 16px)
        height: 100%
    .btn-glossary
        width: 30%
        height: 100%
        padding: 14px 0
        font-size: 16px
        line-height: 1.2
    .glossary
        margin-bottom: 50px
    .glossary-title
        height: 48px
        background-color: #538d20
        text-align: center
        display: flex
        align-items: center
        justify-content: center
        font-size: 16px
        line-height: 1
        color: #fff
        margin-bottom: 16px
    .glossary-words__body
        padding-left: 16px
        margin-bottom: 30px
    .glossary-words__flex
        display: flex
        flex-direction: column
        max-height: 336px
        height: 336px
        flex-wrap: wrap
        li
            color: #262626
            font-size: 14px
            font-weight: 600
            line-height: 1.71
            text-decoration: underline
            a
                color: #262626
    .glossary-words
        display: flex
        flex-direction: row
        //flex-wrap: wrap
        .col
            width: 50%
            margin-right: 48px

            &:last-child
                margin-right: 0

