.glossary-word__body
    .social-flex
        display: flex
        flex-direction: row
        position: relative
        justify-content: center
        li
            a
                font-family: "Font Awesome 5 Free"
                i
                    border-radius: 50%
                    margin: 5px
                    background: #444
                    font-size: 21px
                    width: 36px
                    text-align: center
                    vertical-align: middle
                    display: inline-block
                    line-height: 1.3
                    height: 36px
                    padding: 5px
                    color: #fff
    .glossary-word
        margin-bottom: 50px
    .glossary-word__head
        font-size: 21px
        color: #262626
        text-decoration: underline
        margin-bottom: 16px
        padding-left: 16px
    .glossary-word__body
        font-size: 14px
        color: #444
        line-height: 24px
        height: 71px
        overflow: hidden
        margin-bottom: 30px
        padding-right: 45px
        padding-left: 16px
    .glossary-word__pagination
        display: flex
        width: 100%
        align-items: center
        justify-content: space-between
        padding: 0 23px
    .pagination-prev, .pagination-next
        font-size: 14px
        color: #bcbcbc
        line-height: 1
    .pagination-prev
        &:before
            content: '\f053'
            font-family: "Font Awesome 5 Free"
            font-weight: 600
            margin-right: 12px
            vertical-align: middle
            line-height: 1
    .pagination-next
        &:after
            content: '\f054'
            font-family: "Font Awesome 5 Free"
            font-weight: 600
            margin-left: 12px
            vertical-align: middle
            line-height: 1