//HEADER
.header
  color: #ffffff
  position: relative
  z-index: 4
//TOP LINE
.header-top__line
  height: 30px
  width: 100%
  background-color: #383838
  color: #fff
  position: fixed
  top: 0
  z-index: 999
.top-line__ul
  li
    display: inline-block
    margin-right: 24px
    &:last-child
      margin-right: 0
    a
      color: #fff
      font-size: 11px
      line-height: 16px

.top-line__flex
  display: flex
  flex-direction: row
  justify-content: space-between
  align-items: center
  padding: 0 16px
.add-organization
  display: inline-block
  font-size: 11px
  line-height: 16px
  .fas
    font-family: "Font Awesome 5 Free"
  .fa-plus-circle
    color: #538d20
    margin-right: 10px

//NAV HEADER
.nav-header
  position: fixed
  top: 30px
  z-index: 999
  width: 100%

  color: #fff
.nav-flex
  display: flex
  flex-direction: row
  align-items: center
  height: 48px
  background-color: #444444
.detect-city
  width: 234px
  min-width: 234px
  height: 100%
  span
    border-bottom: 1px solid rgba(255, 255, 255, 0.25)
  .fa-map-marker-alt
    margin-right: 18px
    font-size: 16px

.nav-mnu
  width: 53px
  &.active
    background-color: #538d20
.nav-logo
  width: 232px
  min-width: 229px
  height: 100%
  padding: 6px 17px
  img
    object-fit: cover
    width: 100%
    height: 100%
    vertical-align: middle
  .name
    font-size: 19px
    display: inline-block
    line-height: 1.3
  .name2
    font-size: 9px
    display: inline-block
    text-transform: uppercase

  .wrap-img__logo
    width: 25px
    min-width: 25px
    margin-right: 5px
    height: auto
    overflow: hidden
    display: inline-block
    vertical-align: middle
    text-align: center
.href-flex
  display: flex
  justify-content: center
  align-items: center
  height: 100%
.flex-wrap
  display: flex
  flex-direction: column
  justify-content: center

.nav-logo, .nav-mnu, .detect-city, .catalog-company, .nav-info
  border-right: 4px solid #ffffff
  height: 100%

.nav-mnu
  .fa-bars
    color: #fff
    font-size: 22px
.nav-mnu__flex
  display: flex
  align-items: center
  justify-content: center
  .fa-map-marker-alt
    margin-right: 23px
.catalog-company
  width: 266px
  text-transform: uppercase
.nav-add
  display: none  
.nav-info
  width: 214px
  display: flex
  flex-direction: column
  align-items: center
  justify-content: center
  span
    &:first-child
      font-size: 20px
      line-height: 1.3
    &:last-child
      font-size: 10px
      line-height: 1.5
      text-transform: uppercase
.nav-search
  width: 48px
  height: 100%
  .fa-search
    font-size: 16px
  &.active
    background-color: #538d20

