.institusions-body
    .best-company
        position: relative
        .modal-filters
            top: 40px
            z-index: 99
    .swiper-navigation__container
        padding: 0
.archive-post
    .swiper-slide 
        padding: 0
        border-bottom: none
