.organization
    .tabs__caption 
        li
            font-size: 16px
            color: #444
            &.active
                color: #fff
.institution-one
    .tabs__caption 
        li
            width: 50%
            font-size: 16px
            color: #444
            &.active
                color: #fff
    .activities
        .row-title 
            .title
                line-height: 1.5  
    .organization-wrap
        position: relative
    .wrap-eye__green
        svg
            fill: #538d20