

.wrap-map
    margin-bottom: 50px

.nav-tabs
    -webkit-box-orient: vertical
    -webkit-box-direction: normal
    -ms-flex-direction: column
    flex-direction: column
    border: 0
    padding-left: 16px
    position: relative
    overflow: visible

    &:before
        content: ''
        position: absolute
        top: 24px
        left: 0
        width: 2px
        height: 100%
        background-color: #538d20
    .n-i
        font-family: Roboto
        padding: 0
        border: 0
        border-radius: 0
        background: #c33232
        font-size: 15px
        color: #fff
        height: 48px
        line-height: 3
        text-transform: uppercase
        margin-bottom: 16px
        position: relative
        padding: 0 18px
        &:before
            content: ''
            position: absolute
            top: 50%
            left: -43px
            width: 43px
            height: 2px
            background-color: #538d20
        &:first-child:before
            width: 16px
            left: -16px
        &.active
            background: #538d20
.tab-content
    padding-left: 15px
    overflow: hidden
    position: relative
.item-accordion
    .col-md-6
        position: relative
        height: 100%
        &:after
            content: ''
            position: absolute
            bottom: 18px
            top: 32px
            right: 0
            left: 0
            width: 2px
            background-color: #538d20
        > .item-card:first-child:before
            left: auto
            width: 100%
            -webkit-transform: translateX(-100%)
            transform: translateX(-100%)
        &:last-child .item-card:last-child:after
            content: ''
            position: absolute
            bottom: 0
            top: 34px
            right: 0
            left: -16px
            width: 4px
            z-index: 4
            background-color: #fff
    .item-card
        position: relative
        &:before
            content: ''
            position: absolute
            top: 32px
            right: 0
            left: -15px
            width: 16px
            height: 2px
            background-color: #538d20
        &:last-child:after
            content: ''
            position: absolute
            bottom: 18px
            top: 34px
            right: 0
            left: -16px
            width: 2px
            z-index: 3
            background-color: #fff
        .item-card:before
            background-color: #444444
        .item-card-header
            position: relative
            z-index: 2
        .btn
            border: 0
            border-radius: 0
            background: #538d20
            color: #fff
            font-size: 16px
            line-height: 1.5
            padding: 6px 14px 6px 14px
            text-transform: uppercase
            margin-top: 16px
            cursor: pointer
            &:hover, &:focus
                -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5)
                box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5)
        .accordion_1
            margin: 0
            margin-left: 14px
            padding-left: 16px
            padding-bottom: 16px
            position: relative
            height: 100%
            &:after
                content: ''
                position: absolute
                bottom: 34px
                top: -16px
                right: 0
                left: 17px
                width: 2px
                background-color: #444444
            &:last-child .item-card:last-child:after
                content: ''
                position: absolute
                bottom: 0
                top: 34px
                right: 0
                left: -16px
                width: 4px
                z-index: 4
                background-color: #fff
            .btn
                border: 0
                border-radius: 0
                background: #444444
                color: #fff
                font-size: 16px
                line-height: 1.5
                padding: 6px 14px 6px 14px
                text-transform: uppercase
                &:hover, &:focus
                    -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5)
                    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5)
            .accordion_link
                margin-left: 26px
                padding-top: 8px
                .item-link a
                    font-size: 14px
                    line-height: 1.8
                    color: #444444
                    text-decoration: underline

.collapse
    &:not(.show)
        display: none

.col-lg-4
    flex: 0 0 33.333333%
    max-width: 33.333333%
    width: 100%
    padding-right: 15px
.nav-tabs .n-i
    border: 0
    border-radius: 0
    background: #c33232
    font-size: 15px
    color: #fff
    height: 36px
    line-height: 2.5
    text-transform: uppercase
    margin-bottom: 16px
    position: relative
    padding: 0 18px
    line-height: 2.5
    display: inline-block
    &:not(:last-child)
        margin-right: 38px
.item-accordion .item-card
    margin-left: 16px
.nav-tabs:before
    content: ''
    position: absolute
    top: 20px
    left: 0
    width: 2px
    height: 66px
    background-color: #538d20
.opacity-0
    display: none
//.item-accordion
//    .item-card
//        &:last-child:after
//            background-color: transparent

