.organization
    .main-container__flex-organization
        flex-direction: row-reverse
        .row-main
            padding-right: 0
            padding-left: 38px
    .organization-aside__box
        .organization-wrap
            width: 100%
            height: 200px    
            margin-bottom: 2px       
        .row-num
            background-color: #538d20
            display: flex
            width: 100%  
            margin-bottom: 2px
            align-items: center
        .icon
            padding: 12px
            border-right: 2px solid #fff
            line-height: 1
            .wrap-img
                width: 20px
                height: auto
                display: inline-block
        .numbers
            padding: 12px  
            font-size: 21px
            line-height: 1      
        .organization-aside__item--map
            margin-bottom: 2px
            height: 200px
        .organization-aside__map
            .row-num
                background-color: #f1f1f1
                color: #262626
                a
                    color: #262626
                    text-decoration: underline
            .numbers
                font-size: 14px 
                padding: 8px   
                span
                    // display: block
            .row-num__days
                .days
                    margin-right: 5px

    .viewed-company
        color: #262626
        .wrap-eye
            width: 12px
            height: 12px
            line-height: 0.7
        .rectangle-quantity
            font-size: 9px
            color: #bcbcbc
    .viewed-company__wrap
        width: 46px
        height: 46px
        margin-right: 16px
        border: 1px solid #979797
    .viewed-company__row
        display: flex
        align-items: flex-start
        margin-bottom: 18px
    .wrap-stars
        line-height: 1 
    .wrap-stars__head
        font-size: 16px
        line-height: 1
        font-weight: 600   
        margin-bottom: 5px  

    .star-rating
        margin-right: 8px     

    .box-comment, .box-eye, .wrap-row
        display: flex  
        align-items: center
    .box-comment    
        margin-right: 5px   
    .wrap-row
        .fa-star:before 
            font-size: 9px 
            line-height: 1.7
            color: #bcbcbc

    .funeral-arrangements
        padding-right: 16px
        .row-head
            display: flex
            align-items: center
        .row-head
            justify-content: space-between
            margin-bottom: 11px
            a
                text-decoration: underline
                font-size: 16px
                color: #262626
        .row-head__r
            display: inline-flex
            align-items: center
            width: 49.7%
            justify-content: flex-end
        .row-head__l
            font-size: 21px
            display: inline-block
            width: 49.7%

        .star-rating, .box-eye
            margin-right: 16px
        .wrap-eye
            margin-right: 4px
        .fa-star:before
            font-size: 20px
        .rectangle-quantity
            font-size: 14px
        .tag
            padding: 5px
            margin: 5px 5px 5px 0
            &:first-child
                margin-left: 0
        .row-head__filters
            margin-bottom: 21px
        .funeral-arrangements__text
            margin-bottom: 30px
            max-height: 115px
            overflow: hidden
            font-size: 14px
            line-height: 24px
        .row-body__text
            padding-right: 16px
        .wrap-read__more
            margin-bottom: 50px
        .cemeteries-kiev__pagination
            justify-content: flex-end
        .pagination
            .paginations-number
                margin: 0 5px
    .activities
        display: block
        .filters-tags
            .tag
                font-size: 16px
                padding: 6px 14px
    .arrangements-tab__mobile
        display: none





                              