.price-two__body
    .tabs__caption
        li
            width: 50%
            font-size: 16px
            padding: 11px 0
            background-color: #f1f1f1
            &.active
                background-color: #538d20
    .arrangements-tab
        background-color: transparent
    .tabs__content
        padding: 0
        margin-top: 30px
    .tab-container__flex
        display: flex
        margin-bottom: 30px
    .tab-col
        display: flex
        flex-direction: column
        align-items: center
        width: 33%
        margin-right: 5px
        .col-head
            background-color: #444444
            width: 100%
            padding: 16px
            position: relative
            text-align: center
            color: #fff
            font-size: 16px
            line-height: 1
        .col-body
            background-color: #f0f0f0
            height: 92px
            text-align: center
            padding: 16px
            font-size: 16px
            line-height: 1.13
            position: relative
            &:last-child
                background-color: #000
            &:after
                content: ''
                width: 90%
                height: 1px
                background-color: #bcbcbc
                position: absolute
                bottom: 0
                left: 10px

    .btn-tab
        width: 100%
        height: 48px
        margin-top: 16px
        font-size: 16px
        line-height: 2

    .t-green
        font-size: 16px
        display: block
        color: #538d20
        margin-top: 8px
    .tab-img__wrap
        position: absolute
        left: 15px
        top: 13px
        width: 21px
        line-height: 1.6

    .not-found__box:last-child
        height: 256px
    .not-found
        margin-bottom: 50px
        .row-title
            margin-bottom: 30px
    .btn-green__nf
        padding: 11px 39px

    .price-two
        border-bottom: 2px solid #444
        padding-bottom: 36px
        margin-bottom: 12px
    .bottom-info
        font-size: 14px
        line-height: 1.71
        color: #bcbcbc
        padding: 0 10px

    .how-to__text
        padding-left: 16px
        line-height: 1.71
        font-size: 14px
        color: #444
