.price-select__body

    .cemeteries-kiev
        .row-title 
            .title
                line-height: 1.5
                max-width: 547px
    .red-tag
        background-color: #c33232    
        padding: 4px 7px 
        font-size: 10px
        line-height: 1
    .filters-company
        padding: 0 5px   
    .cemeteries-kiev__pagination
        justify-content: flex-end


    label
        font-size: 16px
        color: #262626
        input
            width: 24px
            height: 24px
            color: #262626
            background: none
        .checkbox-custom
            position: relative
            width: 18px
            height: 18px
            border: 2px solid #444444
            border-radius: 3px
            display: inline-block
            vertical-align: middle
            cursor: pointer
            margin-right: 10px
        .checkbox
            display: none
        .checkbox:checked + .checkbox-custom::before
            content: "\f00c"
            display: block
            position: absolute
            text-align: center
            width: 100%
            height: 100%
            line-height: 1.3
            color: #fff
            background-color: #444444
            font-size: 13px
            font-family: "Font Awesome 5 Free"
            font-weight: 600
            transition: all .3s ease
        .checkbox-option
            margin-right: 30px
            &:last-child
                margin-right: 0
            .checkbox-custom
                margin-right: 16px
    .swiper-navigation__container
        padding: 0