.search-body
    .row-title
        margin-bottom: 46px
    .form-search
        display: flex
        width: 100%
        justify-content: space-between
        margin-bottom: 14px
        .input-search
            padding: 14px 15px
            border: none
            color: #bcbcbc
            font-size: 16px
            background-color: #f0f0f0
            flex-grow: 1
            margin-right: 8px
            &::placeholder
                color: #bcbcbc
    .btn-search
        padding: 11px 3vw
        font-size: 16px
    .form-search__result
        padding-left: 16px
        margin-bottom: 30px
        font-size: 16px
    .form-search__row
        display: flex
        justify-content: space-between
        margin-bottom: 50px

    .select-1
        width: 30%
        display: inline-block

    .label-search
        display: block
        padding-left: 16px
        color: #bcbcbc
        margin-bottom: 8px
        font-size: 16px
    .input-search__select
        width: 100%
        background-color: #f0f0f0
        padding: 14px 16px
        outline: none
        border: none
        cursor: pointer
        color: #444444
        font-size: 16px
    .search-result
        padding-left: 16px
        margin-bottom: 30px
        &:last-child
            margin-bottom: 30px
    .title-result
        color: #538d20
        font-size: 16px
        text-decoration: underline
    .page-name
        font-size: 21px
        color: #262626
        text-decoration: underline
        display: block
    .head-result
        margin-bottom: 16px
    .body-search-result
        font-size: 14px
        color: #444444
        line-height: 24px
        max-height: 74px
        overflow: hidden
    .wrap-pagination
        justify-content: flex-end
    .search
        margin-bottom: 50px
    .mobile-btn
        display: none
    .pagination
        width: 100%
        max-width: 320px
