.services-body
    .ritual-catalog__body 
        .item
            width: calc(25% - 2px)
            &:nth-child(2)
                margin: 0 2px 2px 0
    .second-block-js
        display: flex
        flex-direction: column
    .first-bar-hight
    	order: 2
    .question
    	order: 4
    .info-byer__1
    	order: 1
    .info-byer__2
    	order: 3            