

//= header.html


<div class="container-768 add-company__body">
    <div class="menu-green">
        <a href="#" class="item item-1 active">Похороны «под ключ»</a>
        <a href="#" class="item item-2">Ритуальные товары</a>
        <a href="#" class="item item-3">Памятники</a>
        <a href="#" class="item item-4">Ритуальный автотранспорт</a>
        <a href="#" class="item item-5">Организация поминок</a>
        <a href="#" class="item item-6">Ритуальные услуги</a>
        <a href="#" class="item item-7">Кладбища</a>
        <a href="#" class="item item-8">Венки</a>
    </div>
    <div class="breadcrum">
        <i class="fas fa-home"></i>
        <span class="breadcrum-pages">Каталог компаний</span>
    </div>
    <div class="main-container__flex">
        <div class="row-main">
            <div class="add-company__info important-information-js">
                <div class="row-title">
                    <div class="title">Добавьте информацию о вашей компании</div>
                </div>
                <div class="add-company__info--body">

                    <form action="">

                        <div class="row-flex row-flex-fs">
                            <div class="option">Название компании:</div>
                            <div class="wrap-option">
                                <input class="add-company__input input" type="text" required>
                                <div class="clarification">* Укажите полное название компании и форму собственности</div>
                            </div>
                        </div>

                        <div class="row-flex row-flex__select">
                            <div class="option">Город:</div>
                            <div class="wrap-option select">
                                <select class="add-company__select" required>
                                    <option>
                                        Выбрать из списка
                                    </option>
                                    <option>
                                        2
                                    </option>
                                    <option>
                                        3
                                    </option>
                                </select>

                            </div>
                        </div>

                        <div class="row-flex ">
                            <div class="option">Адрес:</div>
                            <div class="wrap-option predict-read">
                                <input class="add-company__input input" type="text" required>
                                <div class="predict-window">
                                    <div class="predict-row"><a href="#">dasd</a> </div>
                                    <div class="predict-row"><a href="#"> ddasd a</a></div>
                                    <div class="predict-row"><a href="#">d45t thh hfgh65</a></div>
                                </div>
                            </div>
                            <div class="wrap-add__C">
                                <span class="add-c">Дом</span>
                                <div class="wrap-option predict-read max-w">
                                    <input class="add-company__input input" type="text" >
                                    <div class="predict-window">
                                        <div class="predict-row"><a href="#">dasd</a> </div>
                                        <div class="predict-row"><a href="#"> ddasd a</a></div>
                                        <div class="predict-row"><a href="#">d45t thh hfgh65</a></div>
                                    </div>
                                </div>
                                <span class="add-c">Офис</span>
                                <div class="wrap-option predict-read max-w">
                                    <input class="add-company__input input" type="text" >
                                    <div class="predict-window">
                                        <div class="predict-row"><a href="#">dasd</a> </div>
                                        <div class="predict-row"><a href="#"> ddasd a</a></div>
                                        <div class="predict-row"><a href="#">d45t thh hfgh65</a></div>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class="row-flex ">
                            <div class="option">Добавить номер телефона:</div>
                            <div class="wrap-option wrap-option__tar">
                                <div class="wrap-for-add-num">
                                    <input class="add-company__input input" type="tel" required placeholder="+380 _ _  _ _ _  _ _  _ _" value="+380" maxlength="13" minlength="5">
                                </div>
                                <a class="add-number-js" href="#">Добавить еще номер<i class="fas fa-plus-circle"></i></a>
                            </div>
                        </div>

                        <div class="row-flex ">
                            <div class="option">e - mail:</div>
                            <div class="wrap-option">
                                <input class="add-company__input input" type="email"  placeholder="exemple@gmail.com">
                            </div>
                        </div>

                        <div class="row-flex ">
                            <div class="option">Вебсайт:</div>
                            <div class="wrap-option">
                                <input class="add-company__input input" type="text" placeholder="exemple.com.ua">
                            </div>
                        </div>

                        <div class="row-flex row-flex__select">
                            <div class="option">Основной вид деятельности:</div>
                            <div class="wrap-option select">
                                <select class="add-company__select add-company__input" required>
                                    <option>
                                        Выбрать из списка
                                    </option>
                                    <option>
                                        2
                                    </option>
                                    <option>
                                        3
                                    </option>
                                </select>

                            </div>
                        </div>

                        <div class="row-flex row-flex__mbl">
                            
                            <div class="option">Дополнительные виды деятельности:
                                <div class="option little-text">Выберите дополнительные типы услуг или товаров, которыми занимается ваша компания:</div>
                            </div>    
                            <div class="wrap-option">
                                <div class="outer-div">
                                    <input class="add-company__input input" type="email"  placeholder="Ритуальные услуги">
                                    <a class="add-tag__js" href="#"><i class="fas fa-plus-circle fa-plus-circle__absolute"></i></a>
                                    <div class="modal-filters-all tabs">
                                            <div class="modal-filters__tab">
                                                <div class="modal-filters__link">
                                                </div>
                                                <div class="tabs__content active">
                                                    <div class="swiper-container__filters">
                                                        <div class="swiper-wrapper">
                                                            <div class="swiper-slide">
                                                                <div class="row">
                                                                    <label class="checkbox-option">
                                                                        <input class="checkbox multi-check" value="Организация похорон" type="checkbox" name="checkbox-test">
                                                                        <span class="checkbox-custom"></span>
                                                                        <span class="label label-location">Организация похорон</span>
                                                                    </label>
                                                                </div>
                                                                <div class="row">
                                                                    <label class="checkbox-option">
                                                                        <input class="checkbox multi-check" value="VIP похороны" type="checkbox" name="checkbox-test">
                                                                        <span class="checkbox-custom"></span>
                                                                        <span class="label label-location">VIP похороны</span>
                                                                    </label>
                                                                </div>
                                                                <div class="row">
                                                                    <label class="checkbox-option">
                                                                        <input class="checkbox multi-check" value="Предоставление мест на кладбище" type="checkbox" name="checkbox-test">
                                                                        <span class="checkbox-custom"></span>
                                                                        <span class="label label-location">Предоставление мест на кладбище</span>
                                                                    </label>
                                                                </div>
                                                                <div class="row">
                                                                    <label class="checkbox-option">
                                                                        <input class="checkbox multi-check" value="Кремация" type="checkbox" name="checkbox-test">
                                                                        <span class="checkbox-custom"></span>
                                                                        <span class="label label-location">Кремация</span>
                                                                    </label>
                                                                </div>
                                                                <div class="row">
                                                                    <label class="checkbox-option">
                                                                        <input class="checkbox multi-check" value="Ритуальный транспорт" type="checkbox" name="checkbox-test">
                                                                        <span class="checkbox-custom"></span>
                                                                        <span class="label label-location">Ритуальный транспорт</span>
                                                                    </label>
                                                                </div>
                                                                <div class="row">
                                                                    <label class="checkbox-option">
                                                                        <input class="checkbox multi-check" value="Организация похорон" type="checkbox" name="checkbox-test">
                                                                        <span class="checkbox-custom"></span>
                                                                        <span class="label label-location">Организация похорон</span>
                                                                    </label>
                                                                </div>
                                                                <div class="row">
                                                                    <label class="checkbox-option">
                                                                        <input class="checkbox multi-check" value="Груз 200" type="checkbox" name="checkbox-test">
                                                                        <span class="checkbox-custom"></span>
                                                                        <span class="label label-location">Груз 200</span>
                                                                    </label>
                                                                </div>
                                                                <div class="row">
                                                                    <label class="checkbox-option">
                                                                        <input class="checkbox multi-check" value="Организация гражданской панихиды" type="checkbox" name="checkbox-test">
                                                                        <span class="checkbox-custom"></span>
                                                                        <span class="label label-location">Организация гражданской панихиды</span>
                                                                    </label>
                                                                </div>
                                                                <div class="row">
                                                                    <label class="checkbox-option">
                                                                        <input class="checkbox multi-check" value="Перезахоронение" type="checkbox" name="checkbox-test">
                                                                        <span class="checkbox-custom"></span>
                                                                        <span class="label label-location">Перезахоронение</span>
                                                                    </label>
                                                                </div>
                                                                <div class="row">
                                                                    <label class="checkbox-option">
                                                                        <input class="checkbox multi-check" value="Захоронение животных" type="checkbox" name="checkbox-test">
                                                                        <span class="checkbox-custom"></span>
                                                                        <span class="label label-location">Захоронение животных</span>
                                                                    </label>
                                                                </div>
                                                            </div>
                                                            <div class="swiper-slide">
                                                                <div class="row">
                                                                    <label class="checkbox-option">
                                                                        <input class="checkbox multi-check" value="Обработка помещений" type="checkbox" name="checkbox-test">
                                                                        <span class="checkbox-custom"></span>
                                                                        <span class="label label-location">Обработка помещений</span>
                                                                    </label>
                                                                </div>
                                                            </div>
                                                            <div class="swiper-slide">
                                                                <div class="row">
                                                                    <label class="checkbox-option">
                                                                        <input class="checkbox multi-check" value="Организация похорон" type="checkbox" name="checkbox-test">
                                                                        <span class="checkbox-custom"></span>
                                                                        <span class="label label-location">Организация похорон</span>
                                                                    </label>
                                                                </div>
                                                            </div>
                                                            
                                                        </div>
                                                    </div>
                                                    <div class="swiper-navigation__container">
                                                        <a href="#" class="btn-green submit">Применить</a>
                                                        <div class="btn-wrap">
                                                            <div class="swiper-button-prev7"><i class="fas fa-chevron-left"></i></div>
                                                            <div class="swiper-button-next7"><i class="fas fa-chevron-right"></i></div>

                                                        </div>
                    
                                                    </div>
                                                </div>
                                            </div>
                                         </div>
                                </div>
                                <div class="option little-text m-dn">Вы добавили</div>
                                <div class="tag-box">
                                
                                </div>
                            </div>
                            
                        </div>

                        <div class="row-flex ">
                            <div class="option">Коротко о Вашей компании:</div>
                            <div class="wrap-option">
                                <textarea class="add-company__input input textarea" required></textarea>
                                <div class="clarification">Минимум 250 знаков</div>
                            </div>
                        </div>

                        <div class="row-flex">
                            <div class="option">Контактное лицо:</div>
                            <div class="wrap-option">
                                <input class="add-company__input input" type="text">
                            </div>
                        </div>

                        <div class="row-flex">
                            <div class="box-option">
                                <form action="">
                                    <div class="option">Интересует заказ рекламы на нашем портале?</div>
                                    <label class="checkbox-option">
                                        <input class="checkbox" type="checkbox" name="checkbox-test">
                                        <span class="checkbox-custom"></span>
                                        <span class="label">Да</span>
                                    </label>
                                    <label class="checkbox-option">
                                        <input class="checkbox" type="checkbox" name="checkbox-test">
                                        <span class="checkbox-custom"></span>
                                        <span class="label">Нет</span>
                                    </label>
                                </form>

                            </div>

                            <div class="wrap-option wrap-option__capcha">
                                Capcha
                                <a href="#" class="btn-green btn-green__add--company">ДОБАВИТЬ КОМПАНИЮ</a>
                            </div>
                        </div>

                    </form>


                </div>
            </div>
            <div class="useful-information">
                <div class="row-title ">
                    <div class="title">полезная информация</div>
                </div>
                <div class="about-company__row useful-information__row">


                    <div class="row-head">
                        Ритуальные услуги в Украине - единая ритуально-похоронная служба
                    </div>

                    <div class="row-body">
                        Смерть никогда не предупреждает о своём приходе. Потеря близкого человека — это большое горе, которое застаёт близких врасплох. В состоянии глубокой скорби человек порой перестаёт адекватно воспринимать окружающую действительность. А ведь родным нужно позаботиться о похоронах — узнать номера телефонов ритуальной службы, заказать цветы и венки, подготовить место на кладбище. Всё это не по силам убитым горем, ведь организация похорон — очень кропотливая и трудоёмкая работа. Как же в такой психологически сложной ситуации всё грамотно продумать и ничего не забыть?
                    </div>
                </div>

            </div>

           <div class="second-bar-small"></div>
        </div>

        <div class="row-aside">
            <div class="second-bar-hight">

                <div class="second-block-js">
                    <div class="info-byer info-byer__1 margin-bottom__aside--all info-byer__1-js">
                        <div class="row-title">
                            <div class="title">информация покупателю</div>
                        </div>
                        <div class="banner-resize-append">
                            <div class="wrap-img info-byer__wrap--img">
                                <img src="../img/3.jpg" alt="img">
                            </div>
                        </div>
                    </div>

                    <div class="info-blog margin-bottom__aside--all archive-post info-blog-js">

                        <div class="row-title">
                            <div class="title">АРХИВ СТАТЕЙ</div>
                            <div class="see-all">
                                <a href="#">Смотреть все</a>
                            </div>
                        </div>
                        <div class="info-blog__body slider">

                            <div class="swiper-container__aside swiper-container-horizontal swiper-container-multirow">
                                <div class="swiper-wrapper" style="width: 654px; transform: translate3d(0px, 0px, 0px);">

                                    <div class="swiper-slide swiper-slide__info--blog swiper-slide-active" data-swiper-column="0" data-swiper-row="0" style="order: 0; width: 307px; margin-right: 20px;">
                                        <div class="important-information__item item-lil">
                                            <div class="wrap-img important-information__limg">
                                                <img src="../img/4.jpg" alt="img">
                                            </div>
                                            <div class="item-body__lil">
                                                <h2 class="h2 important-information__lh2"><a href="#">Перспективы перехода на экологичные технологии похорон в Китае</a></h2>
                                                <div class="data important-information__data important-information__ldata">Apr 22, 2015</div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="swiper-slide swiper-slide__info--blog swiper-slide-next" data-swiper-column="0" data-swiper-row="1" style="-webkit-box-ordinal-group: 2; order: 2; margin-top: 20px; width: 307px; margin-right: 20px;">
                                        <div class="important-information__item item-lil">
                                            <div class="wrap-img important-information__limg">
                                                <img src="../img/4.jpg" alt="img">
                                            </div>
                                            <div class="item-body__lil">
                                                <h2 class="h2 important-information__lh2"><a href="#">Перспективы перехода на экологичные технологии похорон в Китае</a></h2>
                                                <div class="data important-information__data important-information__ldata">Apr 22, 2015</div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="swiper-slide swiper-slide__info--blog" data-swiper-column="0" data-swiper-row="2" style="-webkit-box-ordinal-group: 4; order: 4; margin-top: 20px; width: 307px; margin-right: 20px;">
                                        <div class="important-information__item item-lil">
                                            <div class="wrap-img important-information__limg">
                                                <img src="../img/4.jpg" alt="img">
                                            </div>
                                            <div class="item-body__lil">
                                                <h2 class="h2 important-information__lh2"><a href="#">Перспективы перехода на экологичные технологии похорон в Китае</a></h2>
                                                <div class="data important-information__data important-information__ldata">Apr 22, 2015</div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="swiper-slide swiper-slide__info--blog" data-swiper-column="0" data-swiper-row="3" style="-webkit-box-ordinal-group: 6; order: 6; margin-top: 20px; width: 307px; margin-right: 20px;">
                                        <div class="important-information__item item-lil">
                                            <div class="wrap-img important-information__limg">
                                                <img src="../img/4.jpg" alt="img">
                                            </div>
                                            <div class="item-body__lil">
                                                <h2 class="h2 important-information__lh2"><a href="#">Перспективы перехода на экологичные технологии похорон в Китае</a></h2>
                                                <div class="data important-information__data important-information__ldata">Apr 22, 2015</div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="swiper-slide swiper-slide__info--blog" data-swiper-column="1" data-swiper-row="0" style="-webkit-box-ordinal-group: 1; order: 1; width: 307px; margin-right: 20px;">
                                        <div class="important-information__item item-lil">
                                            <div class="wrap-img important-information__limg">
                                                <img src="../img/4.jpg" alt="img">
                                            </div>
                                            <div class="item-body__lil">
                                                <h2 class="h2 important-information__lh2"><a href="#">Перспективы перехода на экологичные технологии похорон в Китае</a></h2>
                                                <div class="data important-information__data important-information__ldata">Apr 22, 2015</div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="swiper-slide swiper-slide__info--blog" data-swiper-column="1" data-swiper-row="1" style="-webkit-box-ordinal-group: 3; order: 3; margin-top: 20px; width: 307px; margin-right: 20px;">
                                        <div class="important-information__item item-lil">
                                            <div class="wrap-img important-information__limg">
                                                <img src="../img/4.jpg" alt="img">
                                            </div>
                                            <div class="item-body__lil">
                                                <h2 class="h2 important-information__lh2"><a href="#">Перспективы перехода на экологичные технологии похорон в Китае</a></h2>
                                                <div class="data important-information__data important-information__ldata">Apr 22, 2015</div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="swiper-slide swiper-slide__info--blog" data-swiper-column="1" data-swiper-row="2" style="-webkit-box-ordinal-group: 5; order: 5; margin-top: 20px; width: 307px; margin-right: 20px;">
                                        <div class="important-information__item item-lil">
                                            <div class="wrap-img important-information__limg">
                                                <img src="../img/4.jpg" alt="img">
                                            </div>
                                            <div class="item-body__lil">
                                                <h2 class="h2 important-information__lh2"><a href="#">Перспективы перехода на экологичные технологии похорон в Китае</a></h2>
                                                <div class="data important-information__data important-information__ldata">Apr 22, 2015</div>
                                            </div>
                                        </div>
                                    </div>




                                </div>
                                <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span></div>
                            <div class="swiper-navigation__container">
                                <div class="swiper-button-next" tabindex="0" role="button" aria-label="Next slide" aria-disabled="false"><i class="fas fa-chevron-right"></i></div>
                                <div class="swiper-button-prev swiper-button-disabled" tabindex="0" role="button" aria-label="Previous slide" aria-disabled="true"><i class="fas fa-chevron-left"></i></div>
                            </div>
                        </div>
                    </div>

                    <div class="info-blog info-blog__2 margin-bottom__aside--all info-blog-js">

                        <div class="row-title">
                            <div class="title">информация блог</div>
                            <div class="see-all">
                                <a href="#">Смотреть все</a>
                            </div>
                        </div>
                        <div class="info-blog__body slider">

                            <div class="swiper-container__aside3 swiper-container-horizontal swiper-container-multirow">
                                <div class="swiper-wrapper" style="width: 654px; transform: translate3d(0px, 0px, 0px);">

                                    <div class="swiper-slide swiper-slide__info--blog swiper-slide-active" data-swiper-column="0" data-swiper-row="0" style="order: 0; width: 307px; margin-right: 20px;">
                                        <div class="info-blog__item--border">
                                            <div class="info-blog__item">
                                                <div class="info-blog__title">
                                                    <div class="wrap-img wrap-img__info--blog">
                                                        <img src="../img/cremation.png" alt="img">
                                                    </div>
                                                    <a href="#">Протестим название в две строки ведь такое может быть</a>
                                                </div>
                                                <p class="info-blog__text">
                                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ac dictum diam. Suspendisse potenti. Donec laoreet tristique dolor, vehicula aliquet lorem bibendum quis. Nam et lobortis orci, lobortis venenatis dui. Praesent dapibus enim sed eros aliquet, condimentum sodales massa euismod. Aliquam nisi nisi, faucibus a purus et, maximus pellentesque nibh. Vestibulum posuere sodales consectetur.
                                                </p>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="swiper-slide swiper-slide__info--blog swiper-slide-next" data-swiper-column="0" data-swiper-row="1" style="-webkit-box-ordinal-group: 2; order: 2; margin-top: 20px; width: 307px; margin-right: 20px;">
                                        <div class="info-blog__item--border">
                                            <div class="info-blog__item">
                                                <div class="info-blog__title">
                                                    <div class="wrap-img wrap-img__info--blog">
                                                        <img src="../img/cremation.png" alt="img">
                                                    </div>
                                                    <a href="#">А тут только в одну строчку</a>
                                                </div>
                                                <p class="info-blog__text blog-small__content">
                                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ac dictum diam. Suspendisse potenti. Donec laoreet tristique dolor, vehicula aliquet lorem bibendum quis. Nam et lobortis orci, lobortis venenatis dui. Praesent dapibus enim sed eros aliquet, condimentum sodales massa euismod. Aliquam nisi nisi, faucibus a purus et, maximus pellentesque nibh. Vestibulum posuere sodales consectetur.
                                                </p>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="swiper-slide swiper-slide__info--blog" data-swiper-column="0" data-swiper-row="2" style="-webkit-box-ordinal-group: 4; order: 4; margin-top: 20px; width: 307px; margin-right: 20px;">
                                        <div class="info-blog__item--border">
                                            <div class="info-blog__item">
                                                <div class="info-blog__title">
                                                    <div class="wrap-img wrap-img__info--blog">
                                                        <img src="../img/cremation.png" alt="img">
                                                    </div>
                                                    <a href="#">Протестим название в две строки ведь такое может быть</a>
                                                </div>
                                                <p class="info-blog__text">
                                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ac dictum diam. Suspendisse potenti. Donec laoreet tristique dolor, vehicula aliquet lorem bibendum quis. Nam et lobortis orci, lobortis venenatis dui. Praesent dapibus enim sed eros aliquet, condimentum sodales massa euismod. Aliquam nisi nisi, faucibus a purus et, maximus pellentesque nibh. Vestibulum posuere sodales consectetur.
                                                </p>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="swiper-slide swiper-slide__info--blog" data-swiper-column="0" data-swiper-row="3" style="-webkit-box-ordinal-group: 6; order: 6; margin-top: 20px; width: 307px; margin-right: 20px;">
                                        <div class="info-blog__item--border">
                                            <div class="info-blog__item">
                                                <div class="info-blog__title">
                                                    <div class="wrap-img wrap-img__info--blog">
                                                        <img src="../img/cremation.png" alt="img">
                                                    </div>
                                                    <a href="#">Протестим название в две строки ведь такое может быть</a>
                                                </div>
                                                <p class="info-blog__text blog-small__content">
                                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ac dictum diam. Suspendisse potenti. Donec laoreet tristique dolor, vehicula aliquet lorem bibendum quis. Nam et lobortis orci, lobortis venenatis dui. Praesent dapibus enim sed eros aliquet, condimentum sodales massa euismod. Aliquam nisi nisi, faucibus a purus et, maximus pellentesque nibh. Vestibulum posuere sodales consectetur.
                                                </p>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="swiper-slide swiper-slide__info--blog" data-swiper-column="1" data-swiper-row="0" style="-webkit-box-ordinal-group: 1; order: 1; width: 307px; margin-right: 20px;">
                                        <div class="info-blog__item--border">
                                            <div class="info-blog__item">
                                                <div class="info-blog__title">
                                                    <div class="wrap-img wrap-img__info--blog">
                                                        <img src="../img/cremation.png" alt="img">
                                                    </div>
                                                    <a href="#">Протестим название в две строки ведь такое может быть</a>
                                                </div>
                                                <p class="info-blog__text">
                                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ac dictum diam. Suspendisse potenti. Donec laoreet tristique dolor, vehicula aliquet lorem bibendum quis. Nam et lobortis orci, lobortis venenatis dui. Praesent dapibus enim sed eros aliquet, condimentum sodales massa euismod. Aliquam nisi nisi, faucibus a purus et, maximus pellentesque nibh. Vestibulum posuere sodales consectetur.
                                                </p>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="swiper-slide swiper-slide__info--blog" data-swiper-column="1" data-swiper-row="1" style="-webkit-box-ordinal-group: 3; order: 3; margin-top: 20px; width: 307px; margin-right: 20px;">
                                        <div class="info-blog__item--border">
                                            <div class="info-blog__item">
                                                <div class="info-blog__title">
                                                    <div class="wrap-img wrap-img__info--blog">
                                                        <img src="../img/cremation.png" alt="img">
                                                    </div>
                                                    <a href="#">Протестим название в две строки ведь такое может быть</a>
                                                </div>
                                                <p class="info-blog__text blog-small__content">
                                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ac dictum diam. Suspendisse potenti. Donec laoreet tristique dolor, vehicula aliquet lorem bibendum quis. Nam et lobortis orci, lobortis venenatis dui. Praesent dapibus enim sed eros aliquet, condimentum sodales massa euismod. Aliquam nisi nisi, faucibus a purus et, maximus pellentesque nibh. Vestibulum posuere sodales consectetur.
                                                </p>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="swiper-slide swiper-slide__info--blog" data-swiper-column="1" data-swiper-row="2" style="-webkit-box-ordinal-group: 5; order: 5; margin-top: 20px; width: 307px; margin-right: 20px;">
                                        <div class="info-blog__item--border">
                                            <div class="info-blog__item">
                                                <div class="info-blog__title">
                                                    <div class="wrap-img wrap-img__info--blog">
                                                        <img src="../img/cremation.png" alt="img">
                                                    </div>
                                                    <a href="#">Протестим название в две строки ведь такое может быть</a>
                                                </div>
                                                <p class="info-blog__text">
                                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ac dictum diam. Suspendisse potenti. Donec laoreet tristique dolor, vehicula aliquet lorem bibendum quis. Nam et lobortis orci, lobortis venenatis dui. Praesent dapibus enim sed eros aliquet, condimentum sodales massa euismod. Aliquam nisi nisi, faucibus a purus et, maximus pellentesque nibh. Vestibulum posuere sodales consectetur.
                                                </p>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="swiper-slide swiper-slide__info--blog" data-swiper-column="1" data-swiper-row="3" style="-webkit-box-ordinal-group: 7; order: 7; margin-top: 20px; width: 307px; margin-right: 20px;">
                                        <div class="info-blog__item--border">
                                            <div class="info-blog__item">
                                                <div class="info-blog__title">
                                                    <div class="wrap-img wrap-img__info--blog">
                                                        <img src="../img/cremation.png" alt="img">
                                                    </div>
                                                    <a href="#">Протестим название в две строки ведь такое может быть</a>
                                                </div>
                                                <p class="info-blog__text blog-small__content">
                                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ac dictum diam. Suspendisse potenti. Donec laoreet tristique dolor, vehicula aliquet lorem bibendum quis. Nam et lobortis orci, lobortis venenatis dui. Praesent dapibus enim sed eros aliquet, condimentum sodales massa euismod. Aliquam nisi nisi, faucibus a purus et, maximus pellentesque nibh. Vestibulum posuere sodales consectetur.
                                                </p>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span></div>
                            <div class="swiper-navigation__container">
                                <div class="swiper-button-next3" tabindex="0" role="button" aria-label="Next slide" aria-disabled="false"><i class="fas fa-chevron-right"></i></div>
                                <div class="swiper-button-prev3" tabindex="0" role="button" aria-label="Previous slide" aria-disabled="true"><i class="fas fa-chevron-left"></i></div>
                            </div>
                        </div>
                    </div>

                    <div class="info-byer__2 margin-bottom__aside--all info-byer__2-js info-byer__2-js">
                        <div class="row-title">
                            <div class="title">информация покупателю</div>
                        </div>
                        <div class="banner-move">

                            <div class="wrap-img info-byer__wrap--img banner-move-js">
                                <img src="../img/3.jpg" alt="img">
                            </div></div>
                    </div>

                    <div class="info-blog question margin-bottom__aside--all question-js">

                        <div class="row-title">
                            <div class="title">вопрос - ответ</div>
                            <div class="see-all">
                                <a href="#">Смотреть все</a>
                            </div>
                        </div>
                        <div class="info-blog__body slider">

                            <div class="swiper-container__aside2">
                                <div class="swiper-wrapper">

                                    <div class="swiper-slide swiper-slide__info--blog swiper-slide__question">
                                        <div class="info-blog__item--border">
                                            <div class="info-blog__item">
                                                <div class="info-blog__title">
                                                    <div class="wrap-img wrap-img__info--blog swiper-slide__question">
                                                        <img src="../img/cremation.png" alt="img">
                                                    </div>
                                                    <a href="#">Протестим название в две строки ведь такое может быть</a>
                                                </div>
                                                <p class="info-blog__text">
                                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ac dictum diam. Suspendisse potenti. Donec laoreet tristique dolor, vehicula aliquet lorem bibendum quis. Nam et lobortis orci, lobortis venenatis dui. Praesent dapibus enim sed eros aliquet, condimentum sodales massa euismod. Aliquam nisi nisi, faucibus a purus et, maximus pellentesque nibh. Vestibulum posuere sodales consectetur.
                                                </p>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="swiper-slide swiper-slide__info--blog swiper-slide__question">
                                        <div class="info-blog__item--border">
                                            <div class="info-blog__item">
                                                <div class="info-blog__title">
                                                    <div class="wrap-img wrap-img__info--blog">
                                                        <img src="../img/cremation.png" alt="img">
                                                    </div>
                                                    <a href="#">А тут только в одну строчку</a>
                                                </div>
                                                <p class="info-blog__text blog-small__content">
                                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ac dictum diam. Suspendisse potenti. Donec laoreet tristique dolor, vehicula aliquet lorem bibendum quis. Nam et lobortis orci, lobortis venenatis dui. Praesent dapibus enim sed eros aliquet, condimentum sodales massa euismod. Aliquam nisi nisi, faucibus a purus et, maximus pellentesque nibh. Vestibulum posuere sodales consectetur.
                                                </p>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="swiper-slide swiper-slide__info--blog swiper-slide__question">
                                        <div class="info-blog__item--border">
                                            <div class="info-blog__item">
                                                <div class="info-blog__title">
                                                    <div class="wrap-img wrap-img__info--blog">
                                                        <img src="../img/cremation.png" alt="img">
                                                    </div>
                                                    <a href="#">Протестим название в две строки ведь такое может быть</a>
                                                </div>
                                                <p class="info-blog__text">
                                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ac dictum diam. Suspendisse potenti. Donec laoreet tristique dolor, vehicula aliquet lorem bibendum quis. Nam et lobortis orci, lobortis venenatis dui. Praesent dapibus enim sed eros aliquet, condimentum sodales massa euismod. Aliquam nisi nisi, faucibus a purus et, maximus pellentesque nibh. Vestibulum posuere sodales consectetur.
                                                </p>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="swiper-slide swiper-slide__info--blog swiper-slide__question">
                                        <div class="info-blog__item--border">
                                            <div class="info-blog__item">
                                                <div class="info-blog__title">
                                                    <div class="wrap-img wrap-img__info--blog">
                                                        <img src="../img/cremation.png" alt="img">
                                                    </div>
                                                    <a href="#">Протестим название в две строки ведь такое может быть</a>
                                                </div>
                                                <p class="info-blog__text blog-small__content">
                                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ac dictum diam. Suspendisse potenti. Donec laoreet tristique dolor, vehicula aliquet lorem bibendum quis. Nam et lobortis orci, lobortis venenatis dui. Praesent dapibus enim sed eros aliquet, condimentum sodales massa euismod. Aliquam nisi nisi, faucibus a purus et, maximus pellentesque nibh. Vestibulum posuere sodales consectetur.
                                                </p>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="swiper-navigation__container">
                                <div class="swiper-button-next2"><i class="fas fa-chevron-right"></i></div>
                                <div class="swiper-button-prev2"><i class="fas fa-chevron-left"></i></div>
                            </div>
                        </div>
                    </div>

                </div></div>
        </div>
    </div>
</div>
</div>
</div>

//= footer.html






