
//= header.html

<div class="container-768 advertising">
    <div class="menu-green">
        <a href="#" class="item item-1 active">Похороны «под ключ»</a>
        <a href="#" class="item item-2">Ритуальные товары</a>
        <a href="#" class="item item-3">Памятники</a>
        <a href="#" class="item item-4">Ритуальный автотранспорт</a>
        <a href="#" class="item item-5">Организация поминок</a>
        <a href="#" class="item item-6">Ритуальные услуги</a>
        <a href="#" class="item item-7">Кладбища</a>
        <a href="#" class="item item-8">Венки</a>
    </div>
    <div class="breadcrum">
        <i class="fas fa-home"></i>
        <span class="breadcrum-pages">Кладбища киева</span>
    </div>
    <div class="main-container__flex">
        <div class="row-main">

                <div class="arrangements-tab mobile-dn">

                    <div class="tabs">
    
                            <ul class="tabs__caption">
                                <li class="active">
                                    <div>Хочу чтобы услуги моей компании выдавались первыми в моем городе</div>
                                </li>
                                <li>
                                    <div>Хочу чтобы услуги моей компании выдавались первыми в Украине</div>
                                </li>
                                <li>
                                    <div>Хочу купить крутой баннер на главной странице</div>
                                </li>
                            </ul>
    
                            <div class="tabs__content active">
                                <form metod="" class="tabs-content__inner">
                                    <div class="row select-ad">
                                        <div class="text">Оберіть свій вид діяльності:</div>
                                        <div class="wrap-select_drop">
                                            <select class="add-company__select " required="">
                                                <option>

                                                </option>
                                                <option>
                                                    вид 1
                                                </option>
                                                <option>
                                                    вид 2
                                                </option>
                                                <option>
                                                    вид 3
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="row select-ad">
                                        <div class="text">Оберіть місто для якого ви би хотіли бути на першій позиції:</div>
                                        <div class="wrap-select_drop">
                                            <select class="add-company__select " required="">
                                                <option>

                                                </option>
                                                <option>
                                                    вид 1
                                                </option>
                                                <option>
                                                    вид 2
                                                </option>
                                                <option>
                                                    вид 3
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="row row-flex_end">
                                        <div class="row-text">Вартість приоритизації ХХХ грн на день</div>    
                                    </div>
                                    <div class="row row-flex_end--input">
                                        <div class="wrap-inner">
                                            <input class="contact-us__input contact-us__phone" pattern="\+?\d[- .][0-9]{3}-[0-9]{3}-[0-9]{4}" type="tel" placeholder="Номер мобильного">
                                            <a href="#" class="btn-red">ЗАМОВИТИ</a>
                                        </div>
                                        
                                    </div>
                                </form>
                            </div>
    
                            <div class="tabs__content">
                                <form metod="" class="tabs-content__inner">
                                    <div class="row select-ad">
                                        <div class="text">Оберіть свій вид діяльності:</div>
                                        <div class="wrap-select_drop">
                                            <select class="add-company__select " required="">
                                                <option>

                                                </option>
                                                <option>
                                                    вид 1
                                                </option>
                                                <option>
                                                    вид 2
                                                </option>
                                                <option>
                                                    вид 3
                                                </option>
                                            </select>
                                        </div>

                                    </div>
                                    <div class="row row-flex_end">
                                                <div class="row-text">Вартість приоритизації ХХХ грн на день</div>    
                                    </div>
                                    <div class="row row-flex_end--input">
                                        <div class="wrap-inner">
                                            <input class="contact-us__input contact-us__phone" pattern="\+?\d[- .][0-9]{3}-[0-9]{3}-[0-9]{4}" type="tel" placeholder="Номер мобильного">
                                            <a href="#" class="btn-red">ЗАМОВИТИ</a>
                                        </div>

                                    </div>
                                </form>
                            </div>

                            <div class="tabs__content">
                                <div class="container-table">
                                    <div class="row-flex">
                                        <div class="row-table">Стоимость за 1000 показов на всю Украину: </div><div class="col-table">1000</div>
                                    </div>
                                    <div class="row-flex">
                                        <div class="row-table">Стоимость за 1000 показов с таргетингом на Киев: </div><div class="col-table">1000</div>
                                    </div>
                                    <div class="row-flex">
                                        <div class="row-table">Стоимость за 1000 показов с таргетингом на Днепр или Львов или Одессу или Харьков:</div><div class="col-table">1000</div>
                                    </div>
                                    <div class="row-flex">
                                        <div class="row-table last-row">Стоимость за 1000 показов с таргетингом на областной  центр (кроме тех, что указаны выше):</div><div class="col-table last-row">1000</div>
                                    </div>
                                    <div class="row row-flex_end--input">
                                        <div class="wrap-inner">
                                            <input class="contact-us__input contact-us__phone" pattern="\+?\d[- .][0-9]{3}-[0-9]{3}-[0-9]{4}" type="tel" placeholder="Номер мобильного">
                                            <a href="#" class="btn-red">ЗАМОВИТИ</a>
                                        </div>
                                        
                                    </div>
                            </div>
                                </div>
                                
    
                    </div>
    
                </div>
                <div class="arrangements-tab desk-dn">
                    <div class="wrap-outer">
                        <div class="tab-mobite__head inactive">Хочу чтобы услуги моей компании выдавались первыми в моем городе</div>
                        <div class="tabs__content">
                                        <form metod="" class="tabs-content__inner">
                                            <div class="row select-ad">
                                                <div class="text">Оберіть свій вид діяльності:</div>
                                                <div class="wrap-select_drop">
                                                    <select class="add-company__select " required="">
                                                        <option>
                                                            Выбрать из списка
                                                        </option>
                                                        <option>
                                                            вид 1
                                                        </option>
                                                        <option>
                                                            вид 2
                                                        </option>
                                                        <option>
                                                            вид 3
                                                        </option>
                                                    </select>
                                                </div>

                                            </div>
                                            <div class="row select-ad">
                                                <div class="text">Оберіть місто для якого ви би хотіли бути на першій позиції:</div>
                                                <div class="wrap-select_drop">
                                                    <select class="add-company__select " required="">
                                                        <option>
                                                            Выбрать из списка
                                                        </option>
                                                        <option>
                                                            вид 1
                                                        </option>
                                                        <option>
                                                            вид 2
                                                        </option>
                                                        <option>
                                                            вид 3
                                                        </option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="row row-flex_end">
                                                <div class="row-text">Вартість приоритизації ХХХ грн на день</div>    
                                            </div>
                                            <div class="row row-flex_end--input">
                                                <div class="wrap-inner">
                                                    <input class="contact-us__input contact-us__phone" pattern="\+?\d[- .][0-9]{3}-[0-9]{3}-[0-9]{4}" type="tel" placeholder="Номер мобильного">
                                                    <a href="#" class="btn-red">ЗАМОВИТИ</a>
                                                </div>
                                                
                                            </div>
                                        </form>
                        </div>
                    </div>
                    <div class="wrap-outer">
                        <div class="tab-mobite__head inactive">Хочу чтобы услуги моей компании выдавались первыми в Украине</div>
                        <div class="tabs__content">
                                    <form metod="" class="tabs-content__inner">
                                        <div class="row select-ad">
                                            <div class="text">Оберіть свій вид діяльності:</div>
                                            <div class="wrap-select_drop">
                                                <select class="add-company__select " required="">
                                                    <option>
                                                        Выбрать из списка
                                                    </option>
                                                    <option>
                                                        вид 1
                                                    </option>
                                                    <option>
                                                        вид 2
                                                    </option>
                                                    <option>
                                                        вид 3
                                                    </option>
                                                </select>
                                            </div>

                                        </div>
                                        <div class="row row-flex_end">
                                                    <div class="row-text">Вартість приоритизації ХХХ грн на день</div>    
                                        </div>
                                        <div class="row row-flex_end--input">
                                            <div class="wrap-inner">
                                                <input class="input contact-us__phone contact-us__input"  type="tel" placeholder="+380 _ _  _ _ _  _ _  _ _">
                                                <a href="#" class="btn-red">ЗАМОВИТИ</a>
                                            </div>
                                            
                                        </div>
                                    </form>
                        </div>
                    </div>
                    
                    <div class="wrap-outer">
                        <div class="tab-mobite__head inactive">Хочу купить крутой баннер на главной странице</div>
                            <div class="tabs__content">
                                    <div class="container-table">
                                        <div class="row-flex">
                                            <div class="row-table">Стоимость за 1000 показов на всю Украину: </div><div class="col-table">1000</div>
                                        </div>
                                        <div class="row-flex">
                                            <div class="row-table">Стоимость за 1000 показов с таргетингом на Киев: </div><div class="col-table">1000</div>
                                        </div>
                                        <div class="row-flex">
                                            <div class="row-table">Стоимость за 1000 показов с таргетингом на Днепр или Львов или Одессу или Харьков:</div><div class="col-table">1000</div>
                                        </div>
                                        <div class="row-flex">
                                            <div class="row-table last-row">Стоимость за 1000 показов с таргетингом на областной  центр (кроме тех, что указаны выше):</div><div class="col-table last-row">1000</div>
                                        </div>
                                    </div>
                                    <div class="row row-flex_end--input">
                                            <div class="wrap-inner">
                                                <input class="contact-us__input contact-us__phone" pattern="\+?\d[- .][0-9]{3}-[0-9]{3}-[0-9]{4}" type="tel" placeholder="Номер мобильного">
                                                <a href="#" class="btn-red">ЗАМОВИТИ</a>
                                            </div>
                                            
                                        </div>
                        </div>
                    </div>
                </div>
        </div>
    </div>
</div>
</div>
</div>

//= footer.html