

//= header.html


<div class="container-768 directory-body">
    <div class="menu-green">
        <a href="#" class="item item-1 active">Похороны «под ключ»</a>
        <a href="#" class="item item-2">Ритуальные товары</a>
        <a href="#" class="item item-3">Памятники</a>
        <a href="#" class="item item-4">Ритуальный автотранспорт</a>
        <a href="#" class="item item-5">Организация поминок</a>
        <a href="#" class="item item-6">Ритуальные услуги</a>
        <a href="#" class="item item-7">Кладбища</a>
        <a href="#" class="item item-8">Венки</a>
    </div>
    <div class="breadcrum">
        <i class="fas fa-home"></i>
        <span class="breadcrum-pages">Каталог компаний</span>
    </div>
    <div class="main-container__flex">
        <div class="row-main">

            <div class="directory">
                <div class="row-title ">
                    <div class="title">Ритуальный справочник Украины</div>
                </div>
                <div class="directory-items__flex ritual-catalog__body">
                    <div class="item directory-item">
                        <a href="#">
                            <div class="wrap-img directory-wrap__img"><img src="../img/legs.png" alt="imf"></div>
                            <div class="directory-text">Морги</div>
                            <div class="directory-text__small">143 компании</div>
                        </a>
                    </div>
                    <div class="item directory-item">
                        <a href="#">
                            <div class="wrap-img directory-wrap__img"><img src="../img/chest.png" alt="imf"></div>
                            <div class="directory-text">Кладбища</div>
                            <div class="directory-text__small">143 компании</div>
                        </a>
                    </div>
                    <div class="item directory-item">
                        <a href="#">
                            <div class="wrap-img directory-wrap__img"><img src="../img/home.png" alt="imf"></div>
                            <div class="directory-text">Храмы</div>
                            <div class="directory-text__small">143 компании</div>
                        </a>
                    </div>
                    <div class="item directory-item">
                        <a href="#">
                            <div class="wrap-img directory-wrap__img"><img src="../img/bird.png" alt="imf"></div>
                            <div class="directory-text">ЗАГСы</div>
                            <div class="directory-text__small">143 компании</div>
                        </a>
                    </div>
                </div>
            </div>
            <!-- <div class="first-bar-small"></div> -->

            <div class="nearest-company nearest-company-js">

                <div class="row-title ">
                    <div class="title">ближайшие компании</div>
                </div>
                <div class="box-map">
                    <div class="item-box item-star">
                        <div class="wrap-img wrap-img__bestc">
                            <div class="logo-company">
                                <a href="#" class="wrap-img">
                                    <img class="logoc" src="../img/4.jpg" alt="img">
                                </a>
                            </div>
                            <div class="wrap-img__gradient"></div>
                            <img src="../img/3.jpg" alt="img">
                            <div class="row-rectangle row-rectangle__bestc row-rectangle__bestc--jc">
                                <div class="star-rating">
                                    <div class="star-rating__wrap">
                                      <input class="star-rating__input" id="star-rating-31" type="radio" name="rating7" value="5">
                                      <label class="star-rating__ico far fa-star fa-lg" for="star-rating-31" title="5 out of 5 stars"></label>
                                      <input class="star-rating__input" id="star-rating-32" type="radio" name="rating7" value="4">
                                      <label class="star-rating__ico far fa-star fa-lg" for="star-rating-32" title="4 out of 5 stars"></label>
                                      <input class="star-rating__input" id="star-rating-33" type="radio" name="rating7" value="3">
                                      <label class="star-rating__ico far fa-star fa-lg" for="star-rating-33" title="3 out of 5 stars"></label>
                                      <input class="star-rating__input" id="star-rating-34" type="radio" name="rating7" value="2">
                                      <label class="star-rating__ico far fa-star fa-lg" for="star-rating-34" title="2 out of 5 stars"></label>
                                      <input class="star-rating__input" id="star-rating-35" type="radio" name="rating7" value="1">
                                      <label class="star-rating__ico far fa-star fa-lg" for="star-rating-35" title="1 out of 5 stars"></label>
                                    </div>
                                </div>
                                <div class="box-eye">
                                    <div class="wrap-img wrap-eye">
                                        <img src="../img/ic-visibility1-white.svg" alt="img" class="eye">
                                    </div>
                                    <span class="rectangle-quantity rectangle-quantity__mr" >1723</span>
                                </div>
                                <div class="box-comment">
                                    <div class="wrap-img wrap-eye">
                                        <img src="../img/ic-chat-bubble.png" alt="img" class="eye">
                                    </div>
                                    <span class="rectangle-quantity" >1723</span>
                                </div>
                            </div>
                        </div>
                        <div class="item-body item-body__bestc">
                            <h3 class="h3 h3-bestc">Гранитас частное агентство</h3>
                            <p class="text text-bestc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ac dictum diam.
                                    Donec ac dictum diam.</p>
                        </div>
                        <div class="bottom-title__bestc">
                            <div class="inform">
                                <p class="bestc-location">ул. Красноармейская, 210</p>
                                <a href="#" class="bestc-num">+380 (67) 220 94 95</a>
                            </div>
                            <a class="btn-green" href="#">ПОДРОБНЕЕ</a>
                        </div>
                    </div>
                    <div class="map" id="map">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d10376.305475058758!2d32.050971600000004!3d49.4452736!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d14b7dd3936e61%3A0x8f4ae93c39117394!2z0J_QsNC80Y_RgtC90LjQuiDQotCw0YDQsNGB0YMg0KjQtdCy0YfQtdC90LrQvg!5e0!3m2!1sru!2sua!4v1536833670391" width="100%" height="100%" frameborder="0" style="border:0" allowfullscreen></iframe>
                        <div class="row-rectangle row-rectangle__map">
                            <div class="star-rating">
                                <div class="star-rating__wrap">
                                  <input class="star-rating__input" id="star-rating-36" type="radio" name="rating8" value="5">
                                  <label class="star-rating__ico far fa-star fa-lg" for="star-rating-36" title="5 out of 5 stars"></label>
                                  <input class="star-rating__input" id="star-rating-37" type="radio" name="rating8" value="4">
                                  <label class="star-rating__ico far fa-star fa-lg" for="star-rating-37" title="4 out of 5 stars"></label>
                                  <input class="star-rating__input" id="star-rating-38" type="radio" name="rating8" value="3">
                                  <label class="star-rating__ico far fa-star fa-lg" for="star-rating-38" title="3 out of 5 stars"></label>
                                  <input class="star-rating__input" id="star-rating-39" type="radio" name="rating8" value="2">
                                  <label class="star-rating__ico far fa-star fa-lg" for="star-rating-39" title="2 out of 5 stars"></label>
                                  <input class="star-rating__input" id="star-rating-40" type="radio" name="rating8" value="1">
                                  <label class="star-rating__ico far fa-star fa-lg" for="star-rating-40" title="1 out of 5 stars"></label>
                                </div>
                            </div>
                            <div class="box-eye">
                                <div class="wrap-img wrap-eye">
                                    <img src="../img/ic-visibility1-white.svg" alt="img" class="eye">
                                </div>
                                <span class="rectangle-quantity rectangle-quantity__mr" >1723</span>
                            </div>
                            <div class="box-comment">
                                <div class="wrap-img wrap-eye">
                                    <img src="../img/ic-chat-bubble.png" alt="img" class="eye">
                                </div>
                                <span class="rectangle-quantity" >1723</span>
                            </div>
                        </div>
                    </div>
                    <div class="map-wrap__items">
                        <div class="item-body item-body__bestc">
                            <h3 class="h3 h3-bestc">Гранитас частное агентство</h3>
                            <p class="text text-bestc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ac dictum diam.
                                Donec ac dictum diam.</p>
                        </div>
                        <div class="bottom-title__bestc">
                            <div class="inform">
                                <p class="bestc-location">ул. Красноармейская, 210</p>
                                <div class="wrap-img wrap-img__phone">
                                    <img src="../img/icon-phone-grey.png" alt="phone">
                                </div>
                                <a href="#" class="bestc-num">+380 (67) 220 94 95</a>
                            </div>
                            <a class="btn-green" href="#">ПОДРОБНЕЕ</a>
                        </div>
                    </div>

                </div>

            </div>

            <div class="cemeteries cemeteries-js">

                <div class="row-title">
                    <div class="title">МОРГИ</div>
                    <div class="see-all"><a href="#">Смотреть все</a></div>
                </div>
                <div class="cemeteries__body">

                    <div class="item-box item-star">
                                <div class="wrap-img wrap-img__bestc">
                                    <div class="logo-company">
                                        <a href="#" class="wrap-img">
                                            <img class="logoc" src="../img/4.jpg" alt="img">
                                        </a>
                                    </div>
                                    <div class="wrap-img__gradient"></div>
                                    <img src="../img/3.jpg" alt="img">
                                    <div class="row-rectangle row-rectangle__bestc row-rectangle__bestc--jc">
                                        <div class="star-rating">
                                            <div class="star-rating__wrap">
                                            <input class="star-rating__input" id="star-rating-41" type="radio" name="rating9" value="5">
                                            <label class="star-rating__ico far fa-star fa-lg" for="star-rating-41" title="5 out of 5 stars"></label>
                                            <input class="star-rating__input" id="star-rating-42" type="radio" name="rating9" value="4">
                                            <label class="star-rating__ico far fa-star fa-lg" for="star-rating-42" title="4 out of 5 stars"></label>
                                            <input class="star-rating__input" id="star-rating-43" type="radio" name="rating9" value="3">
                                            <label class="star-rating__ico far fa-star fa-lg" for="star-rating-43" title="3 out of 5 stars"></label>
                                            <input class="star-rating__input" id="star-rating-44" type="radio" name="rating9" value="2">
                                            <label class="star-rating__ico far fa-star fa-lg" for="star-rating-44" title="2 out of 5 stars"></label>
                                            <input class="star-rating__input" id="star-rating-45" type="radio" name="rating9" value="1">
                                            <label class="star-rating__ico far fa-star fa-lg" for="star-rating-45" title="1 out of 5 stars"></label>
                                            </div>
                                        </div>
                                        <div class="box-eye">
                                            <div class="wrap-img wrap-eye">
                                                <img src="../img/ic-visibility1-white.svg" alt="img" class="eye">
                                            </div>
                                            <span class="rectangle-quantity rectangle-quantity__mr" >1723</span>
                                        </div>
                                        <div class="box-comment">
                                            <div class="wrap-img wrap-eye">
                                                <img src="../img/ic-chat-bubble.png" alt="img" class="eye">
                                            </div>
                                            <span class="rectangle-quantity" >1723</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="item-body item-body__bestc">
                                    <h3 class="h3 h3-bestc">Гранитас частное агентство по изготовлению памятников</h3>
                                    <p class="text text-bestc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ac dictum diam.
                                            Donec ac dictum diam.</p>
                                </div>
                                <div class="bottom-title__bestc">
                                    <div class="inform">
                                        <p class="bestc-location">ул. Красноармейская, 210</p>
                                        <div class="wrap-img wrap-img__phone">
                                            <img src="../img/icon-phone-grey.png" alt="phone">
                                        </div>
                                        <a href="#" class="bestc-num">+380 (67) 220 94 95</a>
                                    </div>
                                    <a class="btn-green" href="#">ПОДРОБНЕЕ</a>
                                </div>
                    </div>

                    <div class="item-box item-star">
                                <div class="wrap-img wrap-img__bestc">
                                    <div class="logo-company">
                                        <a href="#" class="wrap-img">
                                            <img class="logoc" src="../img/4.jpg" alt="img">
                                        </a>
                                    </div>
                                    <div class="wrap-img__gradient"></div>
                                    <img src="../img/3.jpg" alt="img">
                                    <div class="row-rectangle row-rectangle__bestc row-rectangle__bestc--jc">
                                        <div class="star-rating">
                                            <div class="star-rating__wrap">
                                            <input class="star-rating__input" id="star-rating-46" type="radio" name="rating10" value="5">
                                            <label class="star-rating__ico far fa-star fa-lg" for="star-rating-46" title="5 out of 5 stars"></label>
                                            <input class="star-rating__input" id="star-rating-47" type="radio" name="rating10" value="4">
                                            <label class="star-rating__ico far fa-star fa-lg" for="star-rating-47" title="4 out of 5 stars"></label>
                                            <input class="star-rating__input" id="star-rating-48" type="radio" name="rating10" value="3">
                                            <label class="star-rating__ico far fa-star fa-lg" for="star-rating-48" title="3 out of 5 stars"></label>
                                            <input class="star-rating__input" id="star-rating-49" type="radio" name="rating10" value="2">
                                            <label class="star-rating__ico far fa-star fa-lg" for="star-rating-49" title="2 out of 5 stars"></label>
                                            <input class="star-rating__input" id="star-rating-50" type="radio" name="rating10" value="1">
                                            <label class="star-rating__ico far fa-star fa-lg" for="star-rating-50" title="1 out of 5 stars"></label>
                                            </div>
                                        </div>
                                        <div class="box-eye">
                                            <div class="wrap-img wrap-eye">
                                                <img src="../img/ic-visibility1-white.svg" alt="img" class="eye">
                                            </div>
                                            <span class="rectangle-quantity rectangle-quantity__mr" >1723</span>
                                        </div>
                                        <div class="box-comment">
                                            <div class="wrap-img wrap-eye">
                                                <img src="../img/ic-chat-bubble.png" alt="img" class="eye">
                                            </div>
                                            <span class="rectangle-quantity" >1723</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="item-body item-body__bestc">
                                    <h3 class="h3 h3-bestc">Гранитас частное агентство по изготовлению памятников</h3>
                                    <p class="text text-bestc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ac dictum diam.
                                            Donec ac dictum diam.</p>
                                </div>
                                <div class="bottom-title__bestc">
                                    <div class="inform">
                                        <p class="bestc-location">ул. Красноармейская, 210</p>
                                        <div class="wrap-img wrap-img__phone">
                                            <img src="../img/icon-phone-grey.png" alt="phone">
                                        </div>
                                        <a href="#" class="bestc-num">+380 (67) 220 94 95</a>
                                    </div>
                                    <a class="btn-green" href="#">ПОДРОБНЕЕ</a>
                                </div>
                    </div>

                </div>

            </div>

            <div class="cemeteries cemeteries-js">

                <div class="row-title">
                    <div class="title">Кладбища</div>
                    <div class="see-all"><a href="#">Смотреть все</a></div>
                </div>
                <div class="cemeteries__body">

                    <div class="item-box item-star">
                                <div class="wrap-img wrap-img__bestc">
                                    <div class="logo-company">
                                        <a href="#" class="wrap-img">
                                            <img class="logoc" src="../img/4.jpg" alt="img">
                                        </a>
                                    </div>
                                    <div class="wrap-img__gradient"></div>
                                    <img src="../img/3.jpg" alt="img">
                                    <div class="row-rectangle row-rectangle__bestc row-rectangle__bestc--jc">
                                        <div class="star-rating">
                                            <div class="star-rating__wrap">
                                            <input class="star-rating__input" id="star-rating-41" type="radio" name="rating9" value="5">
                                            <label class="star-rating__ico far fa-star fa-lg" for="star-rating-41" title="5 out of 5 stars"></label>
                                            <input class="star-rating__input" id="star-rating-42" type="radio" name="rating9" value="4">
                                            <label class="star-rating__ico far fa-star fa-lg" for="star-rating-42" title="4 out of 5 stars"></label>
                                            <input class="star-rating__input" id="star-rating-43" type="radio" name="rating9" value="3">
                                            <label class="star-rating__ico far fa-star fa-lg" for="star-rating-43" title="3 out of 5 stars"></label>
                                            <input class="star-rating__input" id="star-rating-44" type="radio" name="rating9" value="2">
                                            <label class="star-rating__ico far fa-star fa-lg" for="star-rating-44" title="2 out of 5 stars"></label>
                                            <input class="star-rating__input" id="star-rating-45" type="radio" name="rating9" value="1">
                                            <label class="star-rating__ico far fa-star fa-lg" for="star-rating-45" title="1 out of 5 stars"></label>
                                            </div>
                                        </div>
                                        <div class="box-eye">
                                            <div class="wrap-img wrap-eye">
                                                <img src="../img/ic-visibility1-white.svg" alt="img" class="eye">
                                            </div>
                                            <span class="rectangle-quantity rectangle-quantity__mr" >1723</span>
                                        </div>
                                        <div class="box-comment">
                                            <div class="wrap-img wrap-eye">
                                                <img src="../img/ic-chat-bubble.png" alt="img" class="eye">
                                            </div>
                                            <span class="rectangle-quantity" >1723</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="item-body item-body__bestc">
                                    <h3 class="h3 h3-bestc">Гранитас частное агентство по изготовлению памятников</h3>
                                    <p class="text text-bestc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ac dictum diam.
                                            Donec ac dictum diam.</p>
                                </div>
                                <div class="bottom-title__bestc">
                                    <div class="inform">
                                        <p class="bestc-location">ул. Красноармейская, 210</p>
                                        <div class="wrap-img wrap-img__phone">
                                            <img src="../img/icon-phone-grey.png" alt="phone">
                                        </div>
                                        <a href="#" class="bestc-num">+380 (67) 220 94 95</a>
                                    </div>
                                    <a class="btn-green" href="#">ПОДРОБНЕЕ</a>
                                </div>
                    </div>

                    <div class="item-box item-star">
                                <div class="wrap-img wrap-img__bestc">
                                    <div class="logo-company">
                                        <a href="#" class="wrap-img">
                                            <img class="logoc" src="../img/4.jpg" alt="img">
                                        </a>
                                    </div>
                                    <div class="wrap-img__gradient"></div>
                                    <img src="../img/3.jpg" alt="img">
                                    <div class="row-rectangle row-rectangle__bestc row-rectangle__bestc--jc">
                                        <div class="star-rating">
                                            <div class="star-rating__wrap">
                                            <input class="star-rating__input" id="star-rating-46" type="radio" name="rating10" value="5">
                                            <label class="star-rating__ico far fa-star fa-lg" for="star-rating-46" title="5 out of 5 stars"></label>
                                            <input class="star-rating__input" id="star-rating-47" type="radio" name="rating10" value="4">
                                            <label class="star-rating__ico far fa-star fa-lg" for="star-rating-47" title="4 out of 5 stars"></label>
                                            <input class="star-rating__input" id="star-rating-48" type="radio" name="rating10" value="3">
                                            <label class="star-rating__ico far fa-star fa-lg" for="star-rating-48" title="3 out of 5 stars"></label>
                                            <input class="star-rating__input" id="star-rating-49" type="radio" name="rating10" value="2">
                                            <label class="star-rating__ico far fa-star fa-lg" for="star-rating-49" title="2 out of 5 stars"></label>
                                            <input class="star-rating__input" id="star-rating-50" type="radio" name="rating10" value="1">
                                            <label class="star-rating__ico far fa-star fa-lg" for="star-rating-50" title="1 out of 5 stars"></label>
                                            </div>
                                        </div>
                                        <div class="box-eye">
                                            <div class="wrap-img wrap-eye">
                                                <img src="../img/ic-visibility1-white.svg" alt="img" class="eye">
                                            </div>
                                            <span class="rectangle-quantity rectangle-quantity__mr" >1723</span>
                                        </div>
                                        <div class="box-comment">
                                            <div class="wrap-img wrap-eye">
                                                <img src="../img/ic-chat-bubble.png" alt="img" class="eye">
                                            </div>
                                            <span class="rectangle-quantity" >1723</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="item-body item-body__bestc">
                                    <h3 class="h3 h3-bestc">Гранитас частное агентство по изготовлению памятников</h3>
                                    <p class="text text-bestc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ac dictum diam.
                                            Donec ac dictum diam.</p>
                                </div>
                                <div class="bottom-title__bestc">
                                    <div class="inform">
                                        <p class="bestc-location">ул. Красноармейская, 210</p>
                                        <div class="wrap-img wrap-img__phone">
                                            <img src="../img/icon-phone-grey.png" alt="phone">
                                        </div>
                                        <a href="#" class="bestc-num">+380 (67) 220 94 95</a>
                                    </div>
                                    <a class="btn-green" href="#">ПОДРОБНЕЕ</a>
                                </div>
                    </div>

                </div>

            </div>

            <div class="cemeteries cemeteries-js">

                <div class="row-title">
                    <div class="title">ХРАМЫ</div>
                    <div class="see-all"><a href="#">Смотреть все</a></div>
                </div>
                <div class="cemeteries__body">

                    <div class="item-box item-star">
                                <div class="wrap-img wrap-img__bestc">
                                    <div class="logo-company">
                                        <a href="#" class="wrap-img">
                                            <img class="logoc" src="../img/4.jpg" alt="img">
                                        </a>
                                    </div>
                                    <div class="wrap-img__gradient"></div>
                                    <img src="../img/3.jpg" alt="img">
                                    <div class="row-rectangle row-rectangle__bestc row-rectangle__bestc--jc">
                                        <div class="star-rating">
                                            <div class="star-rating__wrap">
                                            <input class="star-rating__input" id="star-rating-41" type="radio" name="rating9" value="5">
                                            <label class="star-rating__ico far fa-star fa-lg" for="star-rating-41" title="5 out of 5 stars"></label>
                                            <input class="star-rating__input" id="star-rating-42" type="radio" name="rating9" value="4">
                                            <label class="star-rating__ico far fa-star fa-lg" for="star-rating-42" title="4 out of 5 stars"></label>
                                            <input class="star-rating__input" id="star-rating-43" type="radio" name="rating9" value="3">
                                            <label class="star-rating__ico far fa-star fa-lg" for="star-rating-43" title="3 out of 5 stars"></label>
                                            <input class="star-rating__input" id="star-rating-44" type="radio" name="rating9" value="2">
                                            <label class="star-rating__ico far fa-star fa-lg" for="star-rating-44" title="2 out of 5 stars"></label>
                                            <input class="star-rating__input" id="star-rating-45" type="radio" name="rating9" value="1">
                                            <label class="star-rating__ico far fa-star fa-lg" for="star-rating-45" title="1 out of 5 stars"></label>
                                            </div>
                                        </div>
                                        <div class="box-eye">
                                            <div class="wrap-img wrap-eye">
                                                <img src="../img/ic-visibility1-white.svg" alt="img" class="eye">
                                            </div>
                                            <span class="rectangle-quantity rectangle-quantity__mr" >1723</span>
                                        </div>
                                        <div class="box-comment">
                                            <div class="wrap-img wrap-eye">
                                                <img src="../img/ic-chat-bubble.png" alt="img" class="eye">
                                            </div>
                                            <span class="rectangle-quantity" >1723</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="item-body item-body__bestc">
                                    <h3 class="h3 h3-bestc">Гранитас частное агентство по изготовлению памятников</h3>
                                    <p class="text text-bestc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ac dictum diam.
                                            Donec ac dictum diam.</p>
                                </div>
                                <div class="bottom-title__bestc">
                                    <div class="inform">
                                        <p class="bestc-location">ул. Красноармейская, 210</p>
                                        <div class="wrap-img wrap-img__phone">
                                            <img src="../img/icon-phone-grey.png" alt="phone">
                                        </div>
                                        <a href="#" class="bestc-num">+380 (67) 220 94 95</a>
                                    </div>
                                    <a class="btn-green" href="#">ПОДРОБНЕЕ</a>
                                </div>
                    </div>

                    <div class="item-box item-star">
                                <div class="wrap-img wrap-img__bestc">
                                    <div class="logo-company">
                                        <a href="#" class="wrap-img">
                                            <img class="logoc" src="../img/4.jpg" alt="img">
                                        </a>
                                    </div>
                                    <div class="wrap-img__gradient"></div>
                                    <img src="../img/3.jpg" alt="img">
                                    <div class="row-rectangle row-rectangle__bestc row-rectangle__bestc--jc">
                                        <div class="star-rating">
                                            <div class="star-rating__wrap">
                                            <input class="star-rating__input" id="star-rating-46" type="radio" name="rating10" value="5">
                                            <label class="star-rating__ico far fa-star fa-lg" for="star-rating-46" title="5 out of 5 stars"></label>
                                            <input class="star-rating__input" id="star-rating-47" type="radio" name="rating10" value="4">
                                            <label class="star-rating__ico far fa-star fa-lg" for="star-rating-47" title="4 out of 5 stars"></label>
                                            <input class="star-rating__input" id="star-rating-48" type="radio" name="rating10" value="3">
                                            <label class="star-rating__ico far fa-star fa-lg" for="star-rating-48" title="3 out of 5 stars"></label>
                                            <input class="star-rating__input" id="star-rating-49" type="radio" name="rating10" value="2">
                                            <label class="star-rating__ico far fa-star fa-lg" for="star-rating-49" title="2 out of 5 stars"></label>
                                            <input class="star-rating__input" id="star-rating-50" type="radio" name="rating10" value="1">
                                            <label class="star-rating__ico far fa-star fa-lg" for="star-rating-50" title="1 out of 5 stars"></label>
                                            </div>
                                        </div>
                                        <div class="box-eye">
                                            <div class="wrap-img wrap-eye">
                                                <img src="../img/ic-visibility1-white.svg" alt="img" class="eye">
                                            </div>
                                            <span class="rectangle-quantity rectangle-quantity__mr" >1723</span>
                                        </div>
                                        <div class="box-comment">
                                            <div class="wrap-img wrap-eye">
                                                <img src="../img/ic-chat-bubble.png" alt="img" class="eye">
                                            </div>
                                            <span class="rectangle-quantity" >1723</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="item-body item-body__bestc">
                                    <h3 class="h3 h3-bestc">Гранитас частное агентство по изготовлению памятников</h3>
                                    <p class="text text-bestc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ac dictum diam.
                                            Donec ac dictum diam.</p>
                                </div>
                                <div class="bottom-title__bestc">
                                    <div class="inform">
                                        <p class="bestc-location">ул. Красноармейская, 210</p>
                                        <div class="wrap-img wrap-img__phone">
                                            <img src="../img/icon-phone-grey.png" alt="phone">
                                        </div>
                                        <a href="#" class="bestc-num">+380 (67) 220 94 95</a>
                                    </div>
                                    <a class="btn-green" href="#">ПОДРОБНЕЕ</a>
                                </div>
                    </div>

                </div>

            </div>
            
            <div class="cemeteries cemeteries-js">

                <div class="row-title">
                    <div class="title">ЗАГСЫ</div>
                    <div class="see-all"><a href="#">Смотреть все</a></div>
                </div>
                <div class="cemeteries__body">

                    <div class="item-box item-star">
                                <div class="wrap-img wrap-img__bestc">
                                    <div class="logo-company">
                                        <a href="#" class="wrap-img">
                                            <img class="logoc" src="../img/4.jpg" alt="img">
                                        </a>
                                    </div>
                                    <div class="wrap-img__gradient"></div>
                                    <img src="../img/3.jpg" alt="img">
                                    <div class="row-rectangle row-rectangle__bestc row-rectangle__bestc--jc">
                                        <div class="star-rating">
                                            <div class="star-rating__wrap">
                                            <input class="star-rating__input" id="star-rating-41" type="radio" name="rating9" value="5">
                                            <label class="star-rating__ico far fa-star fa-lg" for="star-rating-41" title="5 out of 5 stars"></label>
                                            <input class="star-rating__input" id="star-rating-42" type="radio" name="rating9" value="4">
                                            <label class="star-rating__ico far fa-star fa-lg" for="star-rating-42" title="4 out of 5 stars"></label>
                                            <input class="star-rating__input" id="star-rating-43" type="radio" name="rating9" value="3">
                                            <label class="star-rating__ico far fa-star fa-lg" for="star-rating-43" title="3 out of 5 stars"></label>
                                            <input class="star-rating__input" id="star-rating-44" type="radio" name="rating9" value="2">
                                            <label class="star-rating__ico far fa-star fa-lg" for="star-rating-44" title="2 out of 5 stars"></label>
                                            <input class="star-rating__input" id="star-rating-45" type="radio" name="rating9" value="1">
                                            <label class="star-rating__ico far fa-star fa-lg" for="star-rating-45" title="1 out of 5 stars"></label>
                                            </div>
                                        </div>
                                        <div class="box-eye">
                                            <div class="wrap-img wrap-eye">
                                                <img src="../img/ic-visibility1-white.svg" alt="img" class="eye">
                                            </div>
                                            <span class="rectangle-quantity rectangle-quantity__mr" >1723</span>
                                        </div>
                                        <div class="box-comment">
                                            <div class="wrap-img wrap-eye">
                                                <img src="../img/ic-chat-bubble.png" alt="img" class="eye">
                                            </div>
                                            <span class="rectangle-quantity" >1723</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="item-body item-body__bestc">
                                    <h3 class="h3 h3-bestc">Гранитас частное агентство по изготовлению памятников</h3>
                                    <p class="text text-bestc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ac dictum diam.
                                            Donec ac dictum diam.</p>
                                </div>
                                <div class="bottom-title__bestc">
                                    <div class="inform">
                                        <p class="bestc-location">ул. Красноармейская, 210</p>
                                        <div class="wrap-img wrap-img__phone">
                                            <img src="../img/icon-phone-grey.png" alt="phone">
                                        </div>
                                        <a href="#" class="bestc-num">+380 (67) 220 94 95</a>
                                    </div>
                                    <a class="btn-green" href="#">ПОДРОБНЕЕ</a>
                                </div>
                    </div>

                    <div class="item-box item-star">
                                <div class="wrap-img wrap-img__bestc">
                                    <div class="logo-company">
                                        <a href="#" class="wrap-img">
                                            <img class="logoc" src="../img/4.jpg" alt="img">
                                        </a>
                                    </div>
                                    <div class="wrap-img__gradient"></div>
                                    <img src="../img/3.jpg" alt="img">
                                    <div class="row-rectangle row-rectangle__bestc row-rectangle__bestc--jc">
                                        <div class="star-rating">
                                            <div class="star-rating__wrap">
                                            <input class="star-rating__input" id="star-rating-46" type="radio" name="rating10" value="5">
                                            <label class="star-rating__ico far fa-star fa-lg" for="star-rating-46" title="5 out of 5 stars"></label>
                                            <input class="star-rating__input" id="star-rating-47" type="radio" name="rating10" value="4">
                                            <label class="star-rating__ico far fa-star fa-lg" for="star-rating-47" title="4 out of 5 stars"></label>
                                            <input class="star-rating__input" id="star-rating-48" type="radio" name="rating10" value="3">
                                            <label class="star-rating__ico far fa-star fa-lg" for="star-rating-48" title="3 out of 5 stars"></label>
                                            <input class="star-rating__input" id="star-rating-49" type="radio" name="rating10" value="2">
                                            <label class="star-rating__ico far fa-star fa-lg" for="star-rating-49" title="2 out of 5 stars"></label>
                                            <input class="star-rating__input" id="star-rating-50" type="radio" name="rating10" value="1">
                                            <label class="star-rating__ico far fa-star fa-lg" for="star-rating-50" title="1 out of 5 stars"></label>
                                            </div>
                                        </div>
                                        <div class="box-eye">
                                            <div class="wrap-img wrap-eye">
                                                <img src="../img/ic-visibility1-white.svg" alt="img" class="eye">
                                            </div>
                                            <span class="rectangle-quantity rectangle-quantity__mr" >1723</span>
                                        </div>
                                        <div class="box-comment">
                                            <div class="wrap-img wrap-eye">
                                                <img src="../img/ic-chat-bubble.png" alt="img" class="eye">
                                            </div>
                                            <span class="rectangle-quantity" >1723</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="item-body item-body__bestc">
                                    <h3 class="h3 h3-bestc">Гранитас частное агентство по изготовлению памятников</h3>
                                    <p class="text text-bestc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ac dictum diam.
                                            Donec ac dictum diam.</p>
                                </div>
                                <div class="bottom-title__bestc">
                                    <div class="inform">
                                        <p class="bestc-location">ул. Красноармейская, 210</p>
                                        <div class="wrap-img wrap-img__phone">
                                            <img src="../img/icon-phone-grey.png" alt="phone">
                                        </div>
                                        <a href="#" class="bestc-num">+380 (67) 220 94 95</a>
                                    </div>
                                    <a class="btn-green" href="#">ПОДРОБНЕЕ</a>
                                </div>
                    </div>

                </div>

            </div>

            <div class="useful-information">
                <div class="row-title ">
                    <div class="title">полезная информация</div>
                </div>
                <div class="about-company__row useful-information__row">


                    <div class="row-head">
                        Ритуальные услуги в Украине - единая ритуально-похоронная служба
                    </div>

                    <div class="row-body">
                        Смерть никогда не предупреждает о своём приходе. Потеря близкого человека — это большое горе, которое застаёт близких врасплох. В состоянии глубокой скорби человек порой перестаёт адекватно воспринимать окружающую действительность. А ведь родным нужно позаботиться о похоронах — узнать номера телефонов ритуальной службы, заказать цветы и венки, подготовить место на кладбище. Всё это не по силам убитым горем, ведь организация похорон — очень кропотливая и трудоёмкая работа. Как же в такой психологически сложной ситуации всё грамотно продумать и ничего не забыть?
                    </div>
                </div>
            </div>

            <div class="second-bar-small"></div>

        </div>


        <div class="row-aside">
            <!-- ritual-catalog-js -->
            <!-- <div class="first-bar-hight"></div> -->
            <div class="second-bar-hight">
                <div class="second-block-js">
                    <div class="info-byer info-byer__1 margin-bottom__aside--all info-byer__1-js">
                        <div class="row-title">
                            <div class="title">информация покупателю</div>
                        </div>		
                        <div class="banner-resize-append">
                            <div class="wrap-img info-byer__wrap--img">
                                <img src="../img/3.jpg" alt="img">
                            </div>
                        </div>
                    </div>
                    <div class="info-blog margin-bottom__aside--all archive-post info-blog-js">

                        <div class="row-title">
                            <div class="title">АРХИВ СТАТЕЙ</div>
                            <div class="see-all">
                                <a href="#">Смотреть все</a>
                            </div>
                        </div>
                        <div class="info-blog__body slider">

                            <div class="swiper-container__aside3">
                                <div class="swiper-wrapper">

                                    <div class="swiper-slide swiper-slide__info--blog">
                                        <div class="important-information__item item-lil">
                                            <div class="wrap-img important-information__limg">
                                                <img src="../img/4.jpg" alt="img">
                                            </div>
                                            <div class="item-body__lil">
                                                <h2 class="h2 important-information__lh2"><a href="#">Перспективы перехода на экологичные технологии похорон в Китае</a></h2>
                                                <div class="data important-information__data important-information__ldata">Apr 22, 2015</div>
                                            </div>
								        </div>	
                                    </div>
                                    
                                    <div class="swiper-slide swiper-slide__info--blog border-none__mob">
                                        <div class="important-information__item item-lil">
                                            <div class="wrap-img important-information__limg">
                                                <img src="../img/4.jpg" alt="img">
                                            </div>
                                            <div class="item-body__lil">
                                                <h2 class="h2 important-information__lh2"><a href="#">Перспективы перехода на экологичные технологии похорон в Китае</a></h2>
                                                <div class="data important-information__data important-information__ldata">Apr 22, 2015</div>
                                            </div>
								        </div>	
                                    </div>

                                    <div class="swiper-slide swiper-slide__info--blog">
                                        <div class="important-information__item item-lil">
                                            <div class="wrap-img important-information__limg">
                                                <img src="../img/4.jpg" alt="img">
                                            </div>
                                            <div class="item-body__lil">
                                                <h2 class="h2 important-information__lh2"><a href="#">Перспективы перехода на экологичные технологии похорон в Китае</a></h2>
                                                <div class="data important-information__data important-information__ldata">Apr 22, 2015</div>
                                            </div>
								        </div>	
                                    </div>

                                    <div class="swiper-slide swiper-slide__info--blog">
                                        <div class="important-information__item item-lil">
                                            <div class="wrap-img important-information__limg">
                                                <img src="../img/4.jpg" alt="img">
                                            </div>
                                            <div class="item-body__lil">
                                                <h2 class="h2 important-information__lh2"><a href="#">Перспективы перехода на экологичные технологии похорон в Китае</a></h2>
                                                <div class="data important-information__data important-information__ldata">Apr 22, 2015</div>
                                            </div>
								        </div>	
                                    </div>

                                    <div class="swiper-slide swiper-slide__info--blog">
                                        <div class="important-information__item item-lil">
                                            <div class="wrap-img important-information__limg">
                                                <img src="../img/4.jpg" alt="img">
                                            </div>
                                            <div class="item-body__lil">
                                                <h2 class="h2 important-information__lh2"><a href="#">Перспективы перехода на экологичные технологии похорон в Китае</a></h2>
                                                <div class="data important-information__data important-information__ldata">Apr 22, 2015</div>
                                            </div>
								        </div>	
                                    </div>

                                    <div class="swiper-slide swiper-slide__info--blog">
                                        <div class="important-information__item item-lil">
                                            <div class="wrap-img important-information__limg">
                                                <img src="../img/4.jpg" alt="img">
                                            </div>
                                            <div class="item-body__lil">
                                                <h2 class="h2 important-information__lh2"><a href="#">Перспективы перехода на экологичные технологии похорон в Китае</a></h2>
                                                <div class="data important-information__data important-information__ldata">Apr 22, 2015</div>
                                            </div>
								        </div>	
                                    </div>

                                    <div class="swiper-slide swiper-slide__info--blog">
                                        <div class="important-information__item item-lil">
                                            <div class="wrap-img important-information__limg">
                                                <img src="../img/4.jpg" alt="img">
                                            </div>
                                            <div class="item-body__lil">
                                                <h2 class="h2 important-information__lh2"><a href="#">Перспективы перехода на экологичные технологии похорон в Китае</a></h2>
                                                <div class="data important-information__data important-information__ldata">Apr 22, 2015</div>
                                            </div>
								        </div>	
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-navigation__container">
                                
                                <div class="swiper-button-prev3"><i class="fas fa-chevron-left"></i></div>
                                <div class="swiper-button-next3"><i class="fas fa-chevron-right"></i></div>
                            </div>
                        </div>
                    </div>

                    <div class="info-blog__2 margin-bottom__aside--all info-blog-js">

                        <div class="row-title">
                            <div class="title">информация блог</div>
                            <div class="see-all">
                                <a href="#">Смотреть все</a>
                            </div>
                        </div>
                        <div class="info-blog__body slider">

                            <div class="swiper-container__aside">
                                <div class="swiper-wrapper">

                                    <div class="swiper-slide swiper-slide__info--blog">
                                        <div class="info-blog__item--border">
                                            <div class="info-blog__item">
                                                <div class="info-blog__title">
                                                    <div class="wrap-img wrap-img__info--blog">
                                                        <img src="../img/cremation.png" alt="img">
                                                    </div>    
                                                    <a href="#">Протестим название в две строки ведь такое может быть</a>
                                                </div>
                                                <p class="info-blog__text">
                                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ac dictum diam. Suspendisse potenti. Donec laoreet tristique dolor, vehicula aliquet lorem bibendum quis. Nam et lobortis orci, lobortis venenatis dui. Praesent dapibus enim sed eros aliquet, condimentum sodales massa euismod. Aliquam nisi nisi, faucibus a purus et, maximus pellentesque nibh. Vestibulum posuere sodales consectetur.
                                                </p>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="swiper-slide swiper-slide__info--blog">
                                        <div class="info-blog__item--border">
                                            <div class="info-blog__item">
                                                <div class="info-blog__title">
                                                    <div class="wrap-img wrap-img__info--blog">
                                                        <img src="../img/cremation.png" alt="img">
                                                    </div>    
                                                    <a href="#">А тут только в одну строчку</a>
                                                </div>
                                                <p class="info-blog__text blog-small__content">
                                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ac dictum diam. Suspendisse potenti. Donec laoreet tristique dolor, vehicula aliquet lorem bibendum quis. Nam et lobortis orci, lobortis venenatis dui. Praesent dapibus enim sed eros aliquet, condimentum sodales massa euismod. Aliquam nisi nisi, faucibus a purus et, maximus pellentesque nibh. Vestibulum posuere sodales consectetur.											
                                                </p>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="swiper-slide swiper-slide__info--blog">
                                        <div class="info-blog__item--border">
                                            <div class="info-blog__item">
                                                <div class="info-blog__title">
                                                    <div class="wrap-img wrap-img__info--blog">
                                                        <img src="../img/cremation.png" alt="img">
                                                    </div>    
                                                    <a href="#">Протестим название в две строки ведь такое может быть</a>
                                                </div>
                                                <p class="info-blog__text">
                                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ac dictum diam. Suspendisse potenti. Donec laoreet tristique dolor, vehicula aliquet lorem bibendum quis. Nam et lobortis orci, lobortis venenatis dui. Praesent dapibus enim sed eros aliquet, condimentum sodales massa euismod. Aliquam nisi nisi, faucibus a purus et, maximus pellentesque nibh. Vestibulum posuere sodales consectetur.
                                                </p>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="swiper-slide swiper-slide__info--blog">
                                        <div class="info-blog__item--border">
                                            <div class="info-blog__item">
                                                <div class="info-blog__title">
                                                    <div class="wrap-img wrap-img__info--blog">
                                                        <img src="../img/cremation.png" alt="img">
                                                    </div>    
                                                    <a href="#">Протестим название в две строки ведь такое может быть</a>
                                                </div>
                                                <p class="info-blog__text blog-small__content">
                                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ac dictum diam. Suspendisse potenti. Donec laoreet tristique dolor, vehicula aliquet lorem bibendum quis. Nam et lobortis orci, lobortis venenatis dui. Praesent dapibus enim sed eros aliquet, condimentum sodales massa euismod. Aliquam nisi nisi, faucibus a purus et, maximus pellentesque nibh. Vestibulum posuere sodales consectetur.
                                                </p>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="swiper-slide swiper-slide__info--blog">
                                            <div class="info-blog__item--border">
                                                <div class="info-blog__item">
                                                    <div class="info-blog__title">
                                                        <div class="wrap-img wrap-img__info--blog">
                                                            <img src="../img/cremation.png" alt="img">
                                                        </div>    
                                                        <a href="#">Протестим название в две строки ведь такое может быть</a>
                                                    </div>
                                                    <p class="info-blog__text">
                                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ac dictum diam. Suspendisse potenti. Donec laoreet tristique dolor, vehicula aliquet lorem bibendum quis. Nam et lobortis orci, lobortis venenatis dui. Praesent dapibus enim sed eros aliquet, condimentum sodales massa euismod. Aliquam nisi nisi, faucibus a purus et, maximus pellentesque nibh. Vestibulum posuere sodales consectetur.
                                                    </p>
                                                </div>
                                            </div>
                                    </div>

                                    <div class="swiper-slide swiper-slide__info--blog">
                                        <div class="info-blog__item--border">
                                            <div class="info-blog__item">
                                                <div class="info-blog__title">
                                                    <div class="wrap-img wrap-img__info--blog">
                                                        <img src="../img/cremation.png" alt="img">
                                                    </div>    
                                                    <a href="#">Протестим название в две строки ведь такое может быть</a>
                                                </div>
                                                <p class="info-blog__text blog-small__content">
                                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ac dictum diam. Suspendisse potenti. Donec laoreet tristique dolor, vehicula aliquet lorem bibendum quis. Nam et lobortis orci, lobortis venenatis dui. Praesent dapibus enim sed eros aliquet, condimentum sodales massa euismod. Aliquam nisi nisi, faucibus a purus et, maximus pellentesque nibh. Vestibulum posuere sodales consectetur.
                                                </p>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="swiper-slide swiper-slide__info--blog">
                                            <div class="info-blog__item--border">
                                                <div class="info-blog__item">
                                                    <div class="info-blog__title">
                                                        <div class="wrap-img wrap-img__info--blog">
                                                            <img src="../img/cremation.png" alt="img">
                                                        </div>    
                                                        <a href="#">Протестим название в две строки ведь такое может быть</a>
                                                    </div>
                                                    <p class="info-blog__text">
                                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ac dictum diam. Suspendisse potenti. Donec laoreet tristique dolor, vehicula aliquet lorem bibendum quis. Nam et lobortis orci, lobortis venenatis dui. Praesent dapibus enim sed eros aliquet, condimentum sodales massa euismod. Aliquam nisi nisi, faucibus a purus et, maximus pellentesque nibh. Vestibulum posuere sodales consectetur.
                                                    </p>
                                                </div>
                                            </div>
                                    </div>

                                    <div class="swiper-slide swiper-slide__info--blog">
                                        <div class="info-blog__item--border">
                                            <div class="info-blog__item">
                                                <div class="info-blog__title">
                                                    <div class="wrap-img wrap-img__info--blog">
                                                        <img src="../img/cremation.png" alt="img">
                                                    </div>    
                                                    <a href="#">Протестим название в две строки ведь такое может быть</a>
                                                </div>
                                                <p class="info-blog__text blog-small__content">
                                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ac dictum diam. Suspendisse potenti. Donec laoreet tristique dolor, vehicula aliquet lorem bibendum quis. Nam et lobortis orci, lobortis venenatis dui. Praesent dapibus enim sed eros aliquet, condimentum sodales massa euismod. Aliquam nisi nisi, faucibus a purus et, maximus pellentesque nibh. Vestibulum posuere sodales consectetur.
                                                </p>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="swiper-navigation__container">
                                <div class="swiper-button-next"><i class="fas fa-chevron-right"></i></div>
                                <div class="swiper-button-prev"><i class="fas fa-chevron-left"></i></div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="info-byer__2 margin-bottom__aside--all info-byer__2-js">
                        <div class="row-title">
                            <div class="title">информация покупателю</div>
                        </div>		
                        <div class="banner-move">
                            <div class="wrap-img info-byer__wrap--img banner-move-js">
                                <img src="../img/3.jpg" alt="img">
                            </div>
                        </div>
                    </div>

                    <div class="info-blog question margin-bottom__aside--all question-js">

                        <div class="row-title">
                            <div class="title">вопрос - ответ</div>
                            <div class="see-all">
                                <a href="#">Смотреть все</a>
                            </div>
                        </div>
                        <div class="info-blog__body slider">

                            <div class="swiper-container__aside2">
                                <div class="swiper-wrapper">

                                    <div class="swiper-slide swiper-slide__info--blog swiper-slide__question">
                                        <div class="info-blog__item--border">
                                            <div class="info-blog__item">
                                                <div class="info-blog__title">
                                                    <div class="wrap-img wrap-img__info--blog swiper-slide__question">
                                                        <img src="../img/cremation.png" alt="img">
                                                    </div>    
                                                    <a href="#">Протестим название в две строки ведь такое может быть</a>
                                                </div>
                                                <p class="info-blog__text">
                                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ac dictum diam. Suspendisse potenti. Donec laoreet tristique dolor, vehicula aliquet lorem bibendum quis. Nam et lobortis orci, lobortis venenatis dui. Praesent dapibus enim sed eros aliquet, condimentum sodales massa euismod. Aliquam nisi nisi, faucibus a purus et, maximus pellentesque nibh. Vestibulum posuere sodales consectetur.
                                                </p>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="swiper-slide swiper-slide__info--blog swiper-slide__question">
                                        <div class="info-blog__item--border">
                                            <div class="info-blog__item">
                                                <div class="info-blog__title">
                                                    <div class="wrap-img wrap-img__info--blog">
                                                        <img src="../img/cremation.png" alt="img">
                                                    </div>    
                                                    <a href="#">А тут только в одну строчку</a>
                                                </div>
                                                <p class="info-blog__text blog-small__content">
                                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ac dictum diam. Suspendisse potenti. Donec laoreet tristique dolor, vehicula aliquet lorem bibendum quis. Nam et lobortis orci, lobortis venenatis dui. Praesent dapibus enim sed eros aliquet, condimentum sodales massa euismod. Aliquam nisi nisi, faucibus a purus et, maximus pellentesque nibh. Vestibulum posuere sodales consectetur.											
                                                </p>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="swiper-slide swiper-slide__info--blog swiper-slide__question">
                                        <div class="info-blog__item--border">
                                            <div class="info-blog__item">
                                                <div class="info-blog__title">
                                                    <div class="wrap-img wrap-img__info--blog">
                                                        <img src="../img/cremation.png" alt="img">
                                                    </div>    
                                                    <a href="#">Протестим название в две строки ведь такое может быть</a>
                                                </div>
                                                <p class="info-blog__text">
                                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ac dictum diam. Suspendisse potenti. Donec laoreet tristique dolor, vehicula aliquet lorem bibendum quis. Nam et lobortis orci, lobortis venenatis dui. Praesent dapibus enim sed eros aliquet, condimentum sodales massa euismod. Aliquam nisi nisi, faucibus a purus et, maximus pellentesque nibh. Vestibulum posuere sodales consectetur.
                                                </p>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="swiper-slide swiper-slide__info--blog swiper-slide__question">
                                        <div class="info-blog__item--border">
                                            <div class="info-blog__item">
                                                <div class="info-blog__title">
                                                    <div class="wrap-img wrap-img__info--blog">
                                                        <img src="../img/cremation.png" alt="img">
                                                    </div>    
                                                    <a href="#">Протестим название в две строки ведь такое может быть</a>
                                                </div>
                                                <p class="info-blog__text blog-small__content">
                                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ac dictum diam. Suspendisse potenti. Donec laoreet tristique dolor, vehicula aliquet lorem bibendum quis. Nam et lobortis orci, lobortis venenatis dui. Praesent dapibus enim sed eros aliquet, condimentum sodales massa euismod. Aliquam nisi nisi, faucibus a purus et, maximus pellentesque nibh. Vestibulum posuere sodales consectetur.
                                                </p>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="swiper-navigation__container">
                                <div class="swiper-button-next2"><i class="fas fa-chevron-right"></i></div>
                                <div class="swiper-button-prev2"><i class="fas fa-chevron-left"></i></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>

//= footer.html






