

//= header.html


<div class="container-768 faq-body">
    <div class="menu-green">
        <a href="#" class="item item-1 active">Похороны «под ключ»</a>
        <a href="#" class="item item-2">Ритуальные товары</a>
        <a href="#" class="item item-3">Памятники</a>
        <a href="#" class="item item-4">Ритуальный автотранспорт</a>
        <a href="#" class="item item-5">Организация поминок</a>
        <a href="#" class="item item-6">Ритуальные услуги</a>
        <a href="#" class="item item-7">Кладбища</a>
        <a href="#" class="item item-8">Венки</a>
    </div>
    <div class="breadcrum">
        <i class="fas fa-home"></i>
        <span class="breadcrum-pages">Каталог компаний</span>
    </div>
    <div class="main-container__flex">
        <div class="row-main">
            <div class="more-questions important-information-js">
                <div class="row-title">
                    <div class="title">Часто задаваемые вопросы (FAQ)</div>
                </div>
                <div class="mini-title">Служба поддержки pohorony.com.ua</div>
                <form action="" class="form-search">
                    <input id="input-search" class="input-search" type="text" placeholder="Поиск в базе знаний">
                    <a href="#" class="btn-search btn-green">Найти</a>

                </form>
            </div>
            <div class="second-bar-small"></div>

            <div class="faq-tabs__container">
                <div class="categoty">Выберите категорию вопроса:</div>
                <div class="toggle-tabs">Похороны под ключ<i class="fas fa-sort-down"></i></div>
                <ul class="col-tab">
                    <li class="tab active" data-trigger="#tab1"><a href="#" >Похороны «под ключ»</a></li>
                    <li class="tab" data-trigger="#tab2"><a href="#" >Ритуальные услуги</a></li>
                    <li class="tab" data-trigger="#tab3"><a href="#" >Ритуальные компани</a></li>
                    <li class="tab" data-trigger="#tab4"><a href="#" >Кремация</a></li>
                    <li class="tab" data-trigger="#tab5"><a href="#" >Венки и цветы</a></li>
                    <li class="tab" data-trigger="#tab6"><a href="#" >Транспорт</a></li>
                    <li class="tab" data-trigger="#tab7"><a href="#" >Памятники</a></li>
                </ul>
                <div class="col col-cont">
                    
                    <div class="tab-wrap" id="tab1">
                        <div class="tab-content" >
                            <div class="tab-head">Что я должен сделать, если я потерял пароль?<span  class="close-tab"></span></div>
                            <div class="tab-body">Примерно каждый час ритуальное агентство Пахаванне принимает телефонный звонок или личное обращение клиентов практически по любым вопросам, связанным с организацией похорон в Минске и Минском районе. Мы отвечаем на каждое такое обращение и прилагаем все усилия для того, чтобы заказ был выполнен в точном соответствии с пожеланиями – независимо от его стоимости и срочности.</div>
                        </div>
                        <div class="tab-content">
                            <div class="tab-head">При наличии клубной карточки TOP SECRET или TROLL, могу ли я получить скидку в интернет-магазине?<span  class="close-tab"></span></div>
                            <div class="tab-body">Примерно каждый час ритуальное агентство Пахаванне принимает телефонный звонок или личное обращение клиентов практически по любым вопросам, связанным с организацией похорон в Минске и Минском районе. Мы отвечаем на каждое такое обращение и прилагаем все усилия для того, чтобы заказ был выполнен в точном соответствии с пожеланиями – независимо от его стоимости и срочности.</div>
                        </div>
                    </div>
                    <div class="tab-wrap hidden" id="tab2" >
                        <div class="tab-content">
                            <div class="tab-head">Что делать, в случае если получу товар в поврежденном состоянии?<span  class="close-tab"></span></div>
                            <div class="tab-body">Примерно каждый час ритуальное агентство Пахаванне принимает телефонный звонок или личное обращение клиентов практически по любым вопросам, связанным с организацией похорон в Минске и Минском районе. Мы отвечаем на каждое такое обращение и прилагаем все усилия для того, чтобы заказ был выполнен в точном соответствии с пожеланиями – независимо от его стоимости и срочности.</div>
                        </div>
                        <div class="tab-content" >
                            <div class="tab-head">Сколько длиться выполнение заказа?<span  class="close-tab"></span></div>
                            <div class="tab-body">Примерно каждый час ритуальное агентство 
                                Пахаванне принимает телефонный звонок или личное обращение 
                                клиентов практически по любым вопросам, связанным с организацией 
                                похорон в Минске и Минском районе. Мы отвечаем на каждое такое 
                                обращение и прилагаем все усилия для того, чтобы заказ был 
                                выполнен в точном соответствии с пожеланиями – независимо от 
                                его стоимости и срочности.
                                <div class="wrap-video">
                                        <iframe width="100%" height="215" src="https://www.youtube.com/embed/yCPCqbwfe58" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-wrap hidden" id="tab3" >
                        <div class="tab-content" >
                            <div class="tab-head">Как проверить какой размер одежды мне подойдет?<span  class="close-tab"></span></div>
                            <div class="tab-body">Примерно каждый час ритуальное агентство Пахаванне принимает телефонный звонок или личное обращение клиентов практически по любым вопросам, связанным с организацией похорон в Минске и Минском районе. Мы отвечаем на каждое такое обращение и прилагаем все усилия для того, чтобы заказ был выполнен в точном соответствии с пожеланиями – независимо от его стоимости и срочности.</div>
                        </div>
                        <div class="tab-content">
                            <div class="tab-head">Как зарегистрироваться в интернет-магазине?<span  class="close-tab"></span></div>
                            <div class="tab-body">Примерно каждый час ритуальное агентство Пахаванне принимает телефонный звонок или личное обращение клиентов практически по любым вопросам, связанным с организацией похорон в Минске и Минском районе. Мы отвечаем на каждое такое обращение и прилагаем все усилия для того, чтобы заказ был выполнен в точном соответствии с пожеланиями – независимо от его стоимости и срочности.</div>
                        </div>
                    </div>
                    <div class="tab-wrap hidden" id="tab4" >
                        <div class="tab-content" >
                            <div class="tab-head">4Как проверить какой размер одежды мне подойдет?<span  class="close-tab"></span></div>
                            <div class="tab-body">Примерно каждый час ритуальное агентство Пахаванне принимает телефонный звонок или личное обращение клиентов практически по любым вопросам, связанным с организацией похорон в Минске и Минском районе. Мы отвечаем на каждое такое обращение и прилагаем все усилия для того, чтобы заказ был выполнен в точном соответствии с пожеланиями – независимо от его стоимости и срочности.</div>
                        </div>
                        <div class="tab-content">
                            <div class="tab-head">Как зарегистрироваться в интернет-магазине?<span  class="close-tab"></span></div>
                            <div class="tab-body">Примерно каждый час ритуальное агентство Пахаванне принимает телефонный звонок или личное обращение клиентов практически по любым вопросам, связанным с организацией похорон в Минске и Минском районе. Мы отвечаем на каждое такое обращение и прилагаем все усилия для того, чтобы заказ был выполнен в точном соответствии с пожеланиями – независимо от его стоимости и срочности.</div>
                        </div>
                    </div>
                    <div class="tab-wrap hidden" id="tab5" >
                        <div class="tab-content" >
                            <div class="tab-head">5ак проверить какой размер одежды мне подойдет?<span  class="close-tab"></span></div>
                            <div class="tab-body">Примерно каждый час ритуальное агентство Пахаванне принимает телефонный звонок или личное обращение клиентов практически по любым вопросам, связанным с организацией похорон в Минске и Минском районе. Мы отвечаем на каждое такое обращение и прилагаем все усилия для того, чтобы заказ был выполнен в точном соответствии с пожеланиями – независимо от его стоимости и срочности.</div>
                        </div>
                        <div class="tab-content">
                            <div class="tab-head">Как зарегистрироваться в интернет-магазине?<span  class="close-tab"></span></div>
                            <div class="tab-body">Примерно каждый час ритуальное агентство Пахаванне принимает телефонный звонок или личное обращение клиентов практически по любым вопросам, связанным с организацией похорон в Минске и Минском районе. Мы отвечаем на каждое такое обращение и прилагаем все усилия для того, чтобы заказ был выполнен в точном соответствии с пожеланиями – независимо от его стоимости и срочности.</div>
                        </div>
                    </div>
                    <div class="tab-wrap hidden" id="tab6" >
                        <div class="tab-content" >
                            <div class="tab-head">6Как проверить какой размер одежды мне подойдет?<span  class="close-tab"></span></div>
                            <div class="tab-body">Примерно каждый час ритуальное агентство Пахаванне принимает телефонный звонок или личное обращение клиентов практически по любым вопросам, связанным с организацией похорон в Минске и Минском районе. Мы отвечаем на каждое такое обращение и прилагаем все усилия для того, чтобы заказ был выполнен в точном соответствии с пожеланиями – независимо от его стоимости и срочности.</div>
                        </div>
                        <div class="tab-content">
                            <div class="tab-head">Как зарегистрироваться в интернет-магазине?<span  class="close-tab"></span></div>
                            <div class="tab-body">Примерно каждый час ритуальное агентство Пахаванне принимает телефонный звонок или личное обращение клиентов практически по любым вопросам, связанным с организацией похорон в Минске и Минском районе. Мы отвечаем на каждое такое обращение и прилагаем все усилия для того, чтобы заказ был выполнен в точном соответствии с пожеланиями – независимо от его стоимости и срочности.</div>
                        </div>
                    </div>
                    <div class="tab-wrap hidden" id="tab7" >
                        <div class="tab-content" >
                            <div class="tab-head">77Как проверить какой размер одежды мне подойдет?<span  class="close-tab"></span></div>
                            <div class="tab-body">Примерно каждый час ритуальное агентство Пахаванне принимает телефонный звонок или личное обращение клиентов практически по любым вопросам, связанным с организацией похорон в Минске и Минском районе. Мы отвечаем на каждое такое обращение и прилагаем все усилия для того, чтобы заказ был выполнен в точном соответствии с пожеланиями – независимо от его стоимости и срочности.</div>
                        </div>
                        <div class="tab-content">
                            <div class="tab-head">Как зарегистрироваться в интернет-магазине?<span  class="close-tab"></span></div>
                            <div class="tab-body">Примерно каждый час ритуальное агентство Пахаванне принимает телефонный звонок или личное обращение клиентов практически по любым вопросам, связанным с организацией похорон в Минске и Минском районе. Мы отвечаем на каждое такое обращение и прилагаем все усилия для того, чтобы заказ был выполнен в точном соответствии с пожеланиями – независимо от его стоимости и срочности.</div>
                        </div>
                    </div>

                </div>
            </div>

        </div>
        

        <div class="row-aside">
            <div class="not-found">

                <div class="second-bar-hight">

                    <div class="second-block-js">
                        <div class="row-title">
                            <div class="title">не нашли что искали?</div>
                        </div>
                        <div class="not-found__boxes">
                            <div class="not-found__box">
                                <div class="wrap-img nf-wrap nf-wrap__phone">
                                    <img src="../img/icon-phone.png" alt="phone">
                                </div>
                                <div class="row-number">
                                    <div class="row-number__num">
                                        +380 (44) 200 00 00
                                    </div>
                                    <div class="row-number__text">
                                        круглосуточная служба помощи
                                    </div>
                                </div>
                                <div class="wrap-form">
                                    <form class="your-tell__form" action="">
                                        <input class="your-tell" type="tell" placeholder="Ваш номер телефона">
                                    </form>
                                    <a href="#" class="btn-green btn-green__nf">ПОЗВОНИТЬ</a>
                                </div>

                            </div>

                            <div class="not-found__box">
                                <div class="wrap-img nf-wrap">
                                    <img src="../img/ic-mail.png" alt="mail">
                                </div>
                                <div class="row-number">
                                    <div class="row-number__num">
                                        info@pohorony.com.ua
                                    </div>
                                    <div class="row-number__text">
                                        E-mail службы поддержки
                                    </div>
                                </div>
                                <a href="#" class="btn-green btn-green__nf">НАПИСАТЬ</a>
                            </div>

                        </div>
                    </div></div>

            </div>
        </div>
    </div>
</div>
</div>
</div>

//= footer.html






