
//= header.html

<div class="container-768 glossary-word__body">
    <div class="menu-green">
        <a href="#" class="item item-1 active">Похороны «под ключ»</a>
        <a href="#" class="item item-2">Ритуальные товары</a>
        <a href="#" class="item item-3">Памятники</a>
        <a href="#" class="item item-4">Ритуальный автотранспорт</a>
        <a href="#" class="item item-5">Организация поминок</a>
        <a href="#" class="item item-6">Ритуальные услуги</a>
        <a href="#" class="item item-7">Кладбища</a>
        <a href="#" class="item item-8">Венки</a>
    </div>
    <div class="breadcrum">
        <i class="fas fa-home"></i>
        <span class="breadcrum-pages">Каталог компаний</span>
    </div>
    <div class="main-container__flex">
        <div class="row-main">
            <div class="first-bar-small"></div>
            <div class="glossary-word best-company-js">
                <div class="row-title">
                    <div class="title">Организация похорон</div>
                </div>
                <div class="glossary-word__head">
                    Новости
                </div>
                <div class="glossary-word__body">
                    Смерть никогда не предупреждает о своём приходе. Потеря близкого человека — это большое горе, которое застаёт близких врасплох. В состоянии глубокой скорби человек порой перестаёт адекватно воспринимать окружающую действительность.
                </div>

                <div class="glossary-word__pagination">
                    <a href="#" class="pagination-prev">Видео</a>
                    <a href="#" class="pagination-next">Перевод денег</a>
                </div>

            </div>

            <div class="second-bar-small"></div>
        </div>


        <div class="row-aside">

            <div class="second-bar-hight">
                <div class="second-block-js">
                    <div class="share-soc margin-bottom__aside--all">
                        <div class="row-title">
                            <div class="title">поделиться в соц сетях</div>
                        </div>
                        <div class="social-icon">
                            <ul class="social-flex">
                                <li>
                                    <a href="#">
                                        <i class="fab fa-google-plus-g"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fab fa-pinterest-p"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fab fa-facebook-f"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fab fa-vk"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fab fa-twitter"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>



                </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>

//= footer.html