
//= header.html

<div class="container-768 glossary-body">
    <div class="menu-green">
        <a href="#" class="item item-1 active">Похороны «под ключ»</a>
        <a href="#" class="item item-2">Ритуальные товары</a>
        <a href="#" class="item item-3">Памятники</a>
        <a href="#" class="item item-4">Ритуальный автотранспорт</a>
        <a href="#" class="item item-5">Организация поминок</a>
        <a href="#" class="item item-6">Ритуальные услуги</a>
        <a href="#" class="item item-7">Кладбища</a>
        <a href="#" class="item item-8">Венки</a>
    </div>
    <div class="breadcrum">
        <i class="fas fa-home"></i>
        <span class="breadcrum-pages">Кладбища киева</span>
    </div>
    <div class="main-container__flex">
        <div class="row-main">
            <div class="first-bar-small"></div>
            <div class="glossary best-company-js cemeteries-kiev">
                <div class="row-title">
                    <div class="title">Словарь терминов</div>
                </div>
                <div class="glossary-row__input">
                    <input type="text" class="glossary-input input" placeholder="Что будем искать?">
                    <a href="#" class="btn-green btn-glossary">Найти</a>
                </div>
            </div>
            <div class="glossary-words">
                <div class="col">
                    <div class="item">
                        <div class="glossary-title">
                            Организация похорон
                        </div>
                        <div class="glossary-words__body">
                            <ul class="glossary-words__flex">
                                <li><a href="#">Новости</a></li>
                                <li><a href="#">Видео</a> </li>
                                <li><a href="#">Перевод денег</a> </li>
                                <li><a href="#">Оплата жкх</a></li>
                                <li><a href="#">Переводчик</a></li>
                                <li><a href="#">Погода</a></li>
                                <li><a href="#">Курсы валют</a></li>
                                <li><a href="#">Пресс-релизы</a></li>
                                <li><a href="#">Телепрограмма</a></li>
                                <li><a href="#">Карта Киева</a></li>
                                <li><a href="#">Радио онлайн</a></li>
                                <li><a href="#">Телепрограмма</a></li>
                                <li><a href="#">Карта Киева</a></li>
                                <li><a href="#">Радио онлайн</a></li>
                                <li><a href="#">Новости</a></li>
                                <li><a href="#">Видео</a> </li>
                                <li><a href="#">Перевод денег</a> </li>
                                <li><a href="#">Оплата жкх</a></li>
                                <li><a href="#">Переводчик</a></li>
                                <li><a href="#">Погода</a></li>
                                <li><a href="#">Курсы валют</a></li>
                                <li><a href="#">Пресс-релизы</a></li>
                                <li><a href="#">Телепрограмма</a></li>
                                <li><a href="#">Карта Киева</a></li>
                                <li><a href="#">Радио онлайн</a></li>

                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="item">
                        <div class="glossary-title">
                            VIP похороны
                        </div>
                        <div class="glossary-words__body">
                            <ul class="glossary-words__flex">
                                <li><a href="#">Новости</a></li>
                                <li><a href="#">Видео</a> </li>
                                <li><a href="#">Перевод денег</a> </li>
                                <li><a href="#">Оплата жкх</a></li>
                                <li><a href="#">Переводчик</a></li>
                                <li><a href="#">Погода</a></li>
                                <li><a href="#">Курсы валют</a></li>
                                <li><a href="#">Пресс-релизы</a></li>
                                <li><a href="#">Телепрограмма</a></li>
                                <li><a href="#">Карта Киева</a></li>
                                <li><a href="#">Радио онлайн</a></li>
                                <li><a href="#">Телепрограмма</a></li>
                                <li><a href="#">Карта Киева</a></li>
                                <li><a href="#">Радио онлайн</a></li>
                                <li><a href="#">Новости</a></li>
                                <li><a href="#">Видео</a> </li>
                                <li><a href="#">Перевод денег</a> </li>
                                <li><a href="#">Оплата жкх</a></li>
                                <li><a href="#">Переводчик</a></li>
                                <li><a href="#">Погода</a></li>
                                <li><a href="#">Курсы валют</a></li>
                                <li><a href="#">Пресс-релизы</a></li>
                                <li><a href="#">Телепрограмма</a></li>
                                <li><a href="#">Карта Киева</a></li>
                                <li><a href="#">Радио онлайн</a></li>

                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="glossary-words">
                <div class="col">
                    <div class="item">
                        <div class="glossary-title">
                            Организация похорон
                        </div>
                        <div class="glossary-words__body">
                            <ul class="glossary-words__flex">
                                <li><a href="#">Новости</a></li>
                                <li><a href="#">Видео</a> </li>
                                <li><a href="#">Перевод денег</a> </li>
                                <li><a href="#">Оплата жкх</a></li>
                                <li><a href="#">Переводчик</a></li>
                                <li><a href="#">Погода</a></li>
                                <li><a href="#">Курсы валют</a></li>
                                <li><a href="#">Пресс-релизы</a></li>
                                <li><a href="#">Телепрограмма</a></li>
                                <li><a href="#">Карта Киева</a></li>
                                <li><a href="#">Радио онлайн</a></li>
                                <li><a href="#">Телепрограмма</a></li>
                                <li><a href="#">Карта Киева</a></li>
                                <li><a href="#">Радио онлайн</a></li>
                                <li><a href="#">Новости</a></li>
                                <li><a href="#">Видео</a> </li>
                                <li><a href="#">Перевод денег</a> </li>
                                <li><a href="#">Оплата жкх</a></li>
                                <li><a href="#">Переводчик</a></li>
                                <li><a href="#">Погода</a></li>
                                <li><a href="#">Курсы валют</a></li>
                                <li><a href="#">Пресс-релизы</a></li>
                                <li><a href="#">Телепрограмма</a></li>
                                <li><a href="#">Карта Киева</a></li>
                                <li><a href="#">Радио онлайн</a></li>

                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="item">
                        <div class="glossary-title">
                            VIP похороны
                        </div>
                        <div class="glossary-words__body">
                            <ul class="glossary-words__flex">
                                <li><a href="#">Новости</a></li>
                                <li><a href="#">Видео</a> </li>
                                <li><a href="#">Перевод денег</a> </li>
                                <li><a href="#">Оплата жкх</a></li>
                                <li><a href="#">Переводчик</a></li>
                                <li><a href="#">Погода</a></li>
                                <li><a href="#">Курсы валют</a></li>
                                <li><a href="#">Пресс-релизы</a></li>
                                <li><a href="#">Телепрограмма</a></li>
                                <li><a href="#">Карта Киева</a></li>
                                <li><a href="#">Радио онлайн</a></li>
                                <li><a href="#">Телепрограмма</a></li>
                                <li><a href="#">Карта Киева</a></li>
                                <li><a href="#">Радио онлайн</a></li>
                                <li><a href="#">Новости</a></li>
                                <li><a href="#">Видео</a> </li>
                                <li><a href="#">Перевод денег</a> </li>
                                <li><a href="#">Оплата жкх</a></li>
                                <li><a href="#">Переводчик</a></li>
                                <li><a href="#">Погода</a></li>
                                <li><a href="#">Курсы валют</a></li>
                                <li><a href="#">Пресс-релизы</a></li>
                                <li><a href="#">Телепрограмма</a></li>
                                <li><a href="#">Карта Киева</a></li>
                                <li><a href="#">Радио онлайн</a></li>

                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="glossary-words">
                <div class="col">
                    <div class="item">
                        <div class="glossary-title">
                            Организация похорон
                        </div>
                        <div class="glossary-words__body">
                            <ul class="glossary-words__flex">
                                <li><a href="#">Новости</a></li>
                                <li><a href="#">Видео</a> </li>
                                <li><a href="#">Перевод денег</a> </li>
                                <li><a href="#">Оплата жкх</a></li>
                                <li><a href="#">Переводчик</a></li>
                                <li><a href="#">Погода</a></li>
                                <li><a href="#">Курсы валют</a></li>
                                <li><a href="#">Пресс-релизы</a></li>
                                <li><a href="#">Телепрограмма</a></li>
                                <li><a href="#">Карта Киева</a></li>
                                <li><a href="#">Радио онлайн</a></li>
                                <li><a href="#">Телепрограмма</a></li>
                                <li><a href="#">Карта Киева</a></li>
                                <li><a href="#">Радио онлайн</a></li>
                                <li><a href="#">Новости</a></li>
                                <li><a href="#">Видео</a> </li>
                                <li><a href="#">Перевод денег</a> </li>
                                <li><a href="#">Оплата жкх</a></li>
                                <li><a href="#">Переводчик</a></li>
                                <li><a href="#">Погода</a></li>
                                <li><a href="#">Курсы валют</a></li>
                                <li><a href="#">Пресс-релизы</a></li>
                                <li><a href="#">Телепрограмма</a></li>
                                <li><a href="#">Карта Киева</a></li>
                                <li><a href="#">Радио онлайн</a></li>

                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="item">
                        <div class="glossary-title">
                            VIP похороны
                        </div>
                        <div class="glossary-words__body">
                            <ul class="glossary-words__flex">
                                <li><a href="#">Новости</a></li>
                                <li><a href="#">Видео</a> </li>
                                <li><a href="#">Перевод денег</a> </li>
                                <li><a href="#">Оплата жкх</a></li>
                                <li><a href="#">Переводчик</a></li>
                                <li><a href="#">Погода</a></li>
                                <li><a href="#">Курсы валют</a></li>
                                <li><a href="#">Пресс-релизы</a></li>
                                <li><a href="#">Телепрограмма</a></li>
                                <li><a href="#">Карта Киева</a></li>
                                <li><a href="#">Радио онлайн</a></li>
                                <li><a href="#">Телепрограмма</a></li>
                                <li><a href="#">Карта Киева</a></li>
                                <li><a href="#">Радио онлайн</a></li>
                                <li><a href="#">Новости</a></li>
                                <li><a href="#">Видео</a> </li>
                                <li><a href="#">Перевод денег</a> </li>
                                <li><a href="#">Оплата жкх</a></li>
                                <li><a href="#">Переводчик</a></li>
                                <li><a href="#">Погода</a></li>
                                <li><a href="#">Курсы валют</a></li>
                                <li><a href="#">Пресс-релизы</a></li>
                                <li><a href="#">Телепрограмма</a></li>
                                <li><a href="#">Карта Киева</a></li>
                                <li><a href="#">Радио онлайн</a></li>

                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="glossary-words">
                <div class="col">
                    <div class="item">
                        <div class="glossary-title">
                            Организация похорон
                        </div>
                        <div class="glossary-words__body">
                            <ul class="glossary-words__flex">
                                <li><a href="#">Новости</a></li>
                                <li><a href="#">Видео</a> </li>
                                <li><a href="#">Перевод денег</a> </li>
                                <li><a href="#">Оплата жкх</a></li>
                                <li><a href="#">Переводчик</a></li>
                                <li><a href="#">Погода</a></li>
                                <li><a href="#">Курсы валют</a></li>
                                <li><a href="#">Пресс-релизы</a></li>
                                <li><a href="#">Телепрограмма</a></li>
                                <li><a href="#">Карта Киева</a></li>
                                <li><a href="#">Радио онлайн</a></li>
                                <li><a href="#">Телепрограмма</a></li>
                                <li><a href="#">Карта Киева</a></li>
                                <li><a href="#">Радио онлайн</a></li>
                                <li><a href="#">Новости</a></li>
                                <li><a href="#">Видео</a> </li>
                                <li><a href="#">Перевод денег</a> </li>
                                <li><a href="#">Оплата жкх</a></li>
                                <li><a href="#">Переводчик</a></li>
                                <li><a href="#">Погода</a></li>
                                <li><a href="#">Курсы валют</a></li>
                                <li><a href="#">Пресс-релизы</a></li>
                                <li><a href="#">Телепрограмма</a></li>
                                <li><a href="#">Карта Киева</a></li>
                                <li><a href="#">Радио онлайн</a></li>

                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="item">
                        <div class="glossary-title">
                            VIP похороны
                        </div>
                        <div class="glossary-words__body">
                            <ul class="glossary-words__flex">
                                <li><a href="#">Новости</a></li>
                                <li><a href="#">Видео</a> </li>
                                <li><a href="#">Перевод денег</a> </li>
                                <li><a href="#">Оплата жкх</a></li>
                                <li><a href="#">Переводчик</a></li>
                                <li><a href="#">Погода</a></li>
                                <li><a href="#">Курсы валют</a></li>
                                <li><a href="#">Пресс-релизы</a></li>
                                <li><a href="#">Телепрограмма</a></li>
                                <li><a href="#">Карта Киева</a></li>
                                <li><a href="#">Радио онлайн</a></li>
                                <li><a href="#">Телепрограмма</a></li>
                                <li><a href="#">Карта Киева</a></li>
                                <li><a href="#">Радио онлайн</a></li>
                                <li><a href="#">Новости</a></li>
                                <li><a href="#">Видео</a> </li>
                                <li><a href="#">Перевод денег</a> </li>
                                <li><a href="#">Оплата жкх</a></li>
                                <li><a href="#">Переводчик</a></li>
                                <li><a href="#">Погода</a></li>
                                <li><a href="#">Курсы валют</a></li>
                                <li><a href="#">Пресс-релизы</a></li>
                                <li><a href="#">Телепрограмма</a></li>
                                <li><a href="#">Карта Киева</a></li>
                                <li><a href="#">Радио онлайн</a></li>

                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="glossary-words">
                <div class="col">
                    <div class="item">
                        <div class="glossary-title">
                            Организация похорон
                        </div>
                        <div class="glossary-words__body">
                            <ul class="glossary-words__flex">
                                <li><a href="#">Новости</a></li>
                                <li><a href="#">Видео</a> </li>
                                <li><a href="#">Перевод денег</a> </li>
                                <li><a href="#">Оплата жкх</a></li>
                                <li><a href="#">Переводчик</a></li>
                                <li><a href="#">Погода</a></li>
                                <li><a href="#">Курсы валют</a></li>
                                <li><a href="#">Пресс-релизы</a></li>
                                <li><a href="#">Телепрограмма</a></li>
                                <li><a href="#">Карта Киева</a></li>
                                <li><a href="#">Радио онлайн</a></li>
                                <li><a href="#">Телепрограмма</a></li>
                                <li><a href="#">Карта Киева</a></li>
                                <li><a href="#">Радио онлайн</a></li>
                                <li><a href="#">Новости</a></li>
                                <li><a href="#">Видео</a> </li>
                                <li><a href="#">Перевод денег</a> </li>
                                <li><a href="#">Оплата жкх</a></li>
                                <li><a href="#">Переводчик</a></li>
                                <li><a href="#">Погода</a></li>
                                <li><a href="#">Курсы валют</a></li>
                                <li><a href="#">Пресс-релизы</a></li>
                                <li><a href="#">Телепрограмма</a></li>
                                <li><a href="#">Карта Киева</a></li>
                                <li><a href="#">Радио онлайн</a></li>

                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="item">
                        <div class="glossary-title">
                            VIP похороны
                        </div>
                        <div class="glossary-words__body">
                            <ul class="glossary-words__flex">
                                <li><a href="#">Новости</a></li>
                                <li><a href="#">Видео</a> </li>
                                <li><a href="#">Перевод денег</a> </li>
                                <li><a href="#">Оплата жкх</a></li>
                                <li><a href="#">Переводчик</a></li>
                                <li><a href="#">Погода</a></li>
                                <li><a href="#">Курсы валют</a></li>
                                <li><a href="#">Пресс-релизы</a></li>
                                <li><a href="#">Телепрограмма</a></li>
                                <li><a href="#">Карта Киева</a></li>
                                <li><a href="#">Радио онлайн</a></li>
                                <li><a href="#">Телепрограмма</a></li>
                                <li><a href="#">Карта Киева</a></li>
                                <li><a href="#">Радио онлайн</a></li>
                                <li><a href="#">Новости</a></li>
                                <li><a href="#">Видео</a> </li>
                                <li><a href="#">Перевод денег</a> </li>
                                <li><a href="#">Оплата жкх</a></li>
                                <li><a href="#">Переводчик</a></li>
                                <li><a href="#">Погода</a></li>
                                <li><a href="#">Курсы валют</a></li>
                                <li><a href="#">Пресс-релизы</a></li>
                                <li><a href="#">Телепрограмма</a></li>
                                <li><a href="#">Карта Киева</a></li>
                                <li><a href="#">Радио онлайн</a></li>

                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="glossary-words">
                <div class="col">
                    <div class="item">
                        <div class="glossary-title">
                            Организация похорон
                        </div>
                        <div class="glossary-words__body">
                            <ul class="glossary-words__flex">
                                <li><a href="#">Новости</a></li>
                                <li><a href="#">Видео</a> </li>
                                <li><a href="#">Перевод денег</a> </li>
                                <li><a href="#">Оплата жкх</a></li>
                                <li><a href="#">Переводчик</a></li>
                                <li><a href="#">Погода</a></li>
                                <li><a href="#">Курсы валют</a></li>
                                <li><a href="#">Пресс-релизы</a></li>
                                <li><a href="#">Телепрограмма</a></li>
                                <li><a href="#">Карта Киева</a></li>
                                <li><a href="#">Радио онлайн</a></li>
                                <li><a href="#">Телепрограмма</a></li>
                                <li><a href="#">Карта Киева</a></li>
                                <li><a href="#">Радио онлайн</a></li>
                                <li><a href="#">Новости</a></li>
                                <li><a href="#">Видео</a> </li>
                                <li><a href="#">Перевод денег</a> </li>
                                <li><a href="#">Оплата жкх</a></li>
                                <li><a href="#">Переводчик</a></li>
                                <li><a href="#">Погода</a></li>
                                <li><a href="#">Курсы валют</a></li>
                                <li><a href="#">Пресс-релизы</a></li>
                                <li><a href="#">Телепрограмма</a></li>
                                <li><a href="#">Карта Киева</a></li>
                                <li><a href="#">Радио онлайн</a></li>

                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="item">
                        <div class="glossary-title">
                            VIP похороны
                        </div>
                        <div class="glossary-words__body">
                            <ul class="glossary-words__flex">
                                <li><a href="#">Новости</a></li>
                                <li><a href="#">Видео</a> </li>
                                <li><a href="#">Перевод денег</a> </li>
                                <li><a href="#">Оплата жкх</a></li>
                                <li><a href="#">Переводчик</a></li>
                                <li><a href="#">Погода</a></li>
                                <li><a href="#">Курсы валют</a></li>
                                <li><a href="#">Пресс-релизы</a></li>
                                <li><a href="#">Телепрограмма</a></li>
                                <li><a href="#">Карта Киева</a></li>
                                <li><a href="#">Радио онлайн</a></li>
                                <li><a href="#">Телепрограмма</a></li>
                                <li><a href="#">Карта Киева</a></li>
                                <li><a href="#">Радио онлайн</a></li>
                                <li><a href="#">Новости</a></li>
                                <li><a href="#">Видео</a> </li>
                                <li><a href="#">Перевод денег</a> </li>
                                <li><a href="#">Оплата жкх</a></li>
                                <li><a href="#">Переводчик</a></li>
                                <li><a href="#">Погода</a></li>
                                <li><a href="#">Курсы валют</a></li>
                                <li><a href="#">Пресс-релизы</a></li>
                                <li><a href="#">Телепрограмма</a></li>
                                <li><a href="#">Карта Киева</a></li>
                                <li><a href="#">Радио онлайн</a></li>

                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="second-bar-small"></div>
        </div>


        <div class="row-aside">

            <!--<div class="first-bar-hight">-->
            <!--</div>-->
            <div class="second-bar-hight">
                <div class="second-block-js">
                    <div class="info-byer info-byer__1 margin-bottom__aside--all info-byer__1-js">
                        <div class="row-title">
                            <div class="title">информация покупателю</div>
                        </div>
                        <div class="banner-resize-append">
                            <div class="wrap-img info-byer__wrap--img">
                                <img src="../img/3.jpg" alt="img">
                            </div>
                        </div>
                    </div>

                    <div class="info-blog margin-bottom__aside--all archive-post info-blog-js">

                        <div class="row-title">
                            <div class="title">АРХИВ СТАТЕЙ</div>
                            <div class="see-all">
                                <a href="#">Смотреть все</a>
                            </div>
                        </div>
                        <div class="info-blog__body slider">

                            <div class="swiper-container__aside3">
                                <div class="swiper-wrapper">

                                    <div class="swiper-slide swiper-slide__info--blog">
                                        <div class="important-information__item item-lil">
                                            <div class="wrap-img important-information__limg">
                                                <img src="../img/4.jpg" alt="img">
                                            </div>
                                            <div class="item-body__lil">
                                                <h2 class="h2 important-information__lh2"><a href="#">Перспективы перехода на экологичные технологии похорон в Китае</a></h2>
                                                <div class="data important-information__data important-information__ldata">Apr 22, 2015</div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="swiper-slide swiper-slide__info--blog">
                                        <div class="important-information__item item-lil">
                                            <div class="wrap-img important-information__limg">
                                                <img src="../img/4.jpg" alt="img">
                                            </div>
                                            <div class="item-body__lil">
                                                <h2 class="h2 important-information__lh2"><a href="#">Перспективы перехода на экологичные технологии похорон в Китае</a></h2>
                                                <div class="data important-information__data important-information__ldata">Apr 22, 2015</div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="swiper-slide swiper-slide__info--blog">
                                        <div class="important-information__item item-lil">
                                            <div class="wrap-img important-information__limg">
                                                <img src="../img/4.jpg" alt="img">
                                            </div>
                                            <div class="item-body__lil">
                                                <h2 class="h2 important-information__lh2"><a href="#">Перспективы перехода на экологичные технологии похорон в Китае</a></h2>
                                                <div class="data important-information__data important-information__ldata">Apr 22, 2015</div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="swiper-slide swiper-slide__info--blog">
                                        <div class="important-information__item item-lil">
                                            <div class="wrap-img important-information__limg">
                                                <img src="../img/4.jpg" alt="img">
                                            </div>
                                            <div class="item-body__lil">
                                                <h2 class="h2 important-information__lh2"><a href="#">Перспективы перехода на экологичные технологии похорон в Китае</a></h2>
                                                <div class="data important-information__data important-information__ldata">Apr 22, 2015</div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="swiper-slide swiper-slide__info--blog">
                                        <div class="important-information__item item-lil">
                                            <div class="wrap-img important-information__limg">
                                                <img src="../img/4.jpg" alt="img">
                                            </div>
                                            <div class="item-body__lil">
                                                <h2 class="h2 important-information__lh2"><a href="#">Перспективы перехода на экологичные технологии похорон в Китае</a></h2>
                                                <div class="data important-information__data important-information__ldata">Apr 22, 2015</div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="swiper-slide swiper-slide__info--blog">
                                        <div class="important-information__item item-lil">
                                            <div class="wrap-img important-information__limg">
                                                <img src="../img/4.jpg" alt="img">
                                            </div>
                                            <div class="item-body__lil">
                                                <h2 class="h2 important-information__lh2"><a href="#">Перспективы перехода на экологичные технологии похорон в Китае</a></h2>
                                                <div class="data important-information__data important-information__ldata">Apr 22, 2015</div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="swiper-slide swiper-slide__info--blog">
                                        <div class="important-information__item item-lil">
                                            <div class="wrap-img important-information__limg">
                                                <img src="../img/4.jpg" alt="img">
                                            </div>
                                            <div class="item-body__lil">
                                                <h2 class="h2 important-information__lh2"><a href="#">Перспективы перехода на экологичные технологии похорон в Китае</a></h2>
                                                <div class="data important-information__data important-information__ldata">Apr 22, 2015</div>
                                            </div>
                                        </div>
                                    </div>




                                </div>
                            </div>
                            <div class="swiper-navigation__container">
                                <div class="swiper-button-prev3"><i class="fas fa-chevron-left"></i></div>
                                <div class="swiper-button-next3"><i class="fas fa-chevron-right"></i></div>

                            </div>
                        </div>
                    </div>

                    <div class="info-blog info-blog__2 margin-bottom__aside--all info-blog-js">

                        <div class="row-title">
                            <div class="title">информация блог</div>
                            <div class="see-all">
                                <a href="#">Смотреть все</a>
                            </div>
                        </div>
                        <div class="info-blog__body slider">

                            <div class="swiper-container__aside">
                                <div class="swiper-wrapper">

                                    <div class="swiper-slide swiper-slide__info--blog">
                                        <div class="info-blog__item--border">
                                            <div class="info-blog__item">
                                                <div class="info-blog__title">
                                                    <div class="wrap-img wrap-img__info--blog">
                                                        <img src="../img/cremation.png" alt="img">
                                                    </div>
                                                    <a href="#">Протестим название в две строки ведь такое может быть</a>
                                                </div>
                                                <p class="info-blog__text">
                                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ac dictum diam. Suspendisse potenti. Donec laoreet tristique dolor, vehicula aliquet lorem bibendum quis. Nam et lobortis orci, lobortis venenatis dui. Praesent dapibus enim sed eros aliquet, condimentum sodales massa euismod. Aliquam nisi nisi, faucibus a purus et, maximus pellentesque nibh. Vestibulum posuere sodales consectetur.
                                                </p>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="swiper-slide swiper-slide__info--blog">
                                        <div class="info-blog__item--border">
                                            <div class="info-blog__item">
                                                <div class="info-blog__title">
                                                    <div class="wrap-img wrap-img__info--blog">
                                                        <img src="../img/cremation.png" alt="img">
                                                    </div>
                                                    <a href="#">А тут только в одну строчку</a>
                                                </div>
                                                <p class="info-blog__text blog-small__content">
                                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ac dictum diam. Suspendisse potenti. Donec laoreet tristique dolor, vehicula aliquet lorem bibendum quis. Nam et lobortis orci, lobortis venenatis dui. Praesent dapibus enim sed eros aliquet, condimentum sodales massa euismod. Aliquam nisi nisi, faucibus a purus et, maximus pellentesque nibh. Vestibulum posuere sodales consectetur.
                                                </p>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="swiper-slide swiper-slide__info--blog">
                                        <div class="info-blog__item--border">
                                            <div class="info-blog__item">
                                                <div class="info-blog__title">
                                                    <div class="wrap-img wrap-img__info--blog">
                                                        <img src="../img/cremation.png" alt="img">
                                                    </div>
                                                    <a href="#">Протестим название в две строки ведь такое может быть</a>
                                                </div>
                                                <p class="info-blog__text">
                                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ac dictum diam. Suspendisse potenti. Donec laoreet tristique dolor, vehicula aliquet lorem bibendum quis. Nam et lobortis orci, lobortis venenatis dui. Praesent dapibus enim sed eros aliquet, condimentum sodales massa euismod. Aliquam nisi nisi, faucibus a purus et, maximus pellentesque nibh. Vestibulum posuere sodales consectetur.
                                                </p>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="swiper-slide swiper-slide__info--blog">
                                        <div class="info-blog__item--border">
                                            <div class="info-blog__item">
                                                <div class="info-blog__title">
                                                    <div class="wrap-img wrap-img__info--blog">
                                                        <img src="../img/cremation.png" alt="img">
                                                    </div>
                                                    <a href="#">Протестим название в две строки ведь такое может быть</a>
                                                </div>
                                                <p class="info-blog__text blog-small__content">
                                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ac dictum diam. Suspendisse potenti. Donec laoreet tristique dolor, vehicula aliquet lorem bibendum quis. Nam et lobortis orci, lobortis venenatis dui. Praesent dapibus enim sed eros aliquet, condimentum sodales massa euismod. Aliquam nisi nisi, faucibus a purus et, maximus pellentesque nibh. Vestibulum posuere sodales consectetur.
                                                </p>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="swiper-slide swiper-slide__info--blog">
                                        <div class="info-blog__item--border">
                                            <div class="info-blog__item">
                                                <div class="info-blog__title">
                                                    <div class="wrap-img wrap-img__info--blog">
                                                        <img src="../img/cremation.png" alt="img">
                                                    </div>
                                                    <a href="#">Протестим название в две строки ведь такое может быть</a>
                                                </div>
                                                <p class="info-blog__text">
                                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ac dictum diam. Suspendisse potenti. Donec laoreet tristique dolor, vehicula aliquet lorem bibendum quis. Nam et lobortis orci, lobortis venenatis dui. Praesent dapibus enim sed eros aliquet, condimentum sodales massa euismod. Aliquam nisi nisi, faucibus a purus et, maximus pellentesque nibh. Vestibulum posuere sodales consectetur.
                                                </p>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="swiper-slide swiper-slide__info--blog">
                                        <div class="info-blog__item--border">
                                            <div class="info-blog__item">
                                                <div class="info-blog__title">
                                                    <div class="wrap-img wrap-img__info--blog">
                                                        <img src="../img/cremation.png" alt="img">
                                                    </div>
                                                    <a href="#">Протестим название в две строки ведь такое может быть</a>
                                                </div>
                                                <p class="info-blog__text blog-small__content">
                                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ac dictum diam. Suspendisse potenti. Donec laoreet tristique dolor, vehicula aliquet lorem bibendum quis. Nam et lobortis orci, lobortis venenatis dui. Praesent dapibus enim sed eros aliquet, condimentum sodales massa euismod. Aliquam nisi nisi, faucibus a purus et, maximus pellentesque nibh. Vestibulum posuere sodales consectetur.
                                                </p>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="swiper-slide swiper-slide__info--blog">
                                        <div class="info-blog__item--border">
                                            <div class="info-blog__item">
                                                <div class="info-blog__title">
                                                    <div class="wrap-img wrap-img__info--blog">
                                                        <img src="../img/cremation.png" alt="img">
                                                    </div>
                                                    <a href="#">Протестим название в две строки ведь такое может быть</a>
                                                </div>
                                                <p class="info-blog__text">
                                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ac dictum diam. Suspendisse potenti. Donec laoreet tristique dolor, vehicula aliquet lorem bibendum quis. Nam et lobortis orci, lobortis venenatis dui. Praesent dapibus enim sed eros aliquet, condimentum sodales massa euismod. Aliquam nisi nisi, faucibus a purus et, maximus pellentesque nibh. Vestibulum posuere sodales consectetur.
                                                </p>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="swiper-slide swiper-slide__info--blog">
                                        <div class="info-blog__item--border">
                                            <div class="info-blog__item">
                                                <div class="info-blog__title">
                                                    <div class="wrap-img wrap-img__info--blog">
                                                        <img src="../img/cremation.png" alt="img">
                                                    </div>
                                                    <a href="#">Протестим название в две строки ведь такое может быть</a>
                                                </div>
                                                <p class="info-blog__text blog-small__content">
                                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ac dictum diam. Suspendisse potenti. Donec laoreet tristique dolor, vehicula aliquet lorem bibendum quis. Nam et lobortis orci, lobortis venenatis dui. Praesent dapibus enim sed eros aliquet, condimentum sodales massa euismod. Aliquam nisi nisi, faucibus a purus et, maximus pellentesque nibh. Vestibulum posuere sodales consectetur.
                                                </p>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="swiper-navigation__container">
                                <div class="swiper-button-next"><i class="fas fa-chevron-right"></i></div>
                                <div class="swiper-button-prev"><i class="fas fa-chevron-left"></i></div>
                            </div>
                        </div>
                    </div>

                    <div class="info-byer__2 margin-bottom__aside--all info-byer__2-js info-byer__2-js">
                        <div class="row-title">
                            <div class="title">информация покупателю</div>
                        </div>
                        <div class="banner-move">
                            <div class="wrap-img info-byer__wrap--img banner-move-js">
                                <img src="../img/3.jpg" alt="img">
                            </div>
                        </div>
                    </div>

                    <div class="info-blog question margin-bottom__aside--all question-js">

                        <div class="row-title">
                            <div class="title">вопрос - ответ</div>
                            <div class="see-all">
                                <a href="#">Смотреть все</a>
                            </div>
                        </div>
                        <div class="info-blog__body slider">

                            <div class="swiper-container__aside2">
                                <div class="swiper-wrapper">

                                    <div class="swiper-slide swiper-slide__info--blog swiper-slide__question">
                                        <div class="info-blog__item--border">
                                            <div class="info-blog__item">
                                                <div class="info-blog__title">
                                                    <div class="wrap-img wrap-img__info--blog swiper-slide__question">
                                                        <img src="../img/cremation.png" alt="img">
                                                    </div>
                                                    <a href="#">Протестим название в две строки ведь такое может быть</a>
                                                </div>
                                                <p class="info-blog__text">
                                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ac dictum diam. Suspendisse potenti. Donec laoreet tristique dolor, vehicula aliquet lorem bibendum quis. Nam et lobortis orci, lobortis venenatis dui. Praesent dapibus enim sed eros aliquet, condimentum sodales massa euismod. Aliquam nisi nisi, faucibus a purus et, maximus pellentesque nibh. Vestibulum posuere sodales consectetur.
                                                </p>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="swiper-slide swiper-slide__info--blog swiper-slide__question">
                                        <div class="info-blog__item--border">
                                            <div class="info-blog__item">
                                                <div class="info-blog__title">
                                                    <div class="wrap-img wrap-img__info--blog">
                                                        <img src="../img/cremation.png" alt="img">
                                                    </div>
                                                    <a href="#">А тут только в одну строчку</a>
                                                </div>
                                                <p class="info-blog__text blog-small__content">
                                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ac dictum diam. Suspendisse potenti. Donec laoreet tristique dolor, vehicula aliquet lorem bibendum quis. Nam et lobortis orci, lobortis venenatis dui. Praesent dapibus enim sed eros aliquet, condimentum sodales massa euismod. Aliquam nisi nisi, faucibus a purus et, maximus pellentesque nibh. Vestibulum posuere sodales consectetur.
                                                </p>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="swiper-slide swiper-slide__info--blog swiper-slide__question">
                                        <div class="info-blog__item--border">
                                            <div class="info-blog__item">
                                                <div class="info-blog__title">
                                                    <div class="wrap-img wrap-img__info--blog">
                                                        <img src="../img/cremation.png" alt="img">
                                                    </div>
                                                    <a href="#">Протестим название в две строки ведь такое может быть</a>
                                                </div>
                                                <p class="info-blog__text">
                                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ac dictum diam. Suspendisse potenti. Donec laoreet tristique dolor, vehicula aliquet lorem bibendum quis. Nam et lobortis orci, lobortis venenatis dui. Praesent dapibus enim sed eros aliquet, condimentum sodales massa euismod. Aliquam nisi nisi, faucibus a purus et, maximus pellentesque nibh. Vestibulum posuere sodales consectetur.
                                                </p>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="swiper-slide swiper-slide__info--blog swiper-slide__question">
                                        <div class="info-blog__item--border">
                                            <div class="info-blog__item">
                                                <div class="info-blog__title">
                                                    <div class="wrap-img wrap-img__info--blog">
                                                        <img src="../img/cremation.png" alt="img">
                                                    </div>
                                                    <a href="#">Протестим название в две строки ведь такое может быть</a>
                                                </div>
                                                <p class="info-blog__text blog-small__content">
                                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ac dictum diam. Suspendisse potenti. Donec laoreet tristique dolor, vehicula aliquet lorem bibendum quis. Nam et lobortis orci, lobortis venenatis dui. Praesent dapibus enim sed eros aliquet, condimentum sodales massa euismod. Aliquam nisi nisi, faucibus a purus et, maximus pellentesque nibh. Vestibulum posuere sodales consectetur.
                                                </p>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="swiper-navigation__container">
                                <div class="swiper-button-prev2"><i class="fas fa-chevron-left"></i></div>
                                <div class="swiper-button-next2"><i class="fas fa-chevron-right"></i></div>

                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>

//= footer.html