
//= header.html

<div class="container-768 institusions-body">
    <div class="menu-green">
        <a href="#" class="item item-1 active">Похороны «под ключ»</a>
        <a href="#" class="item item-2">Ритуальные товары</a>
        <a href="#" class="item item-3">Памятники</a>
        <a href="#" class="item item-4">Ритуальный автотранспорт</a>
        <a href="#" class="item item-5">Организация поминок</a>
        <a href="#" class="item item-6">Ритуальные услуги</a>
        <a href="#" class="item item-7">Кладбища</a>
        <a href="#" class="item item-8">Венки</a>
    </div>
    <div class="breadcrum">
        <i class="fas fa-home"></i>
        <span class="breadcrum-pages">Кладбища киева</span>
    </div>
    <div class="main-container__flex">
        <div class="row-main">
            <div class="first-bar-small"></div>
            <div class="best-company best-company-js cemeteries-kiev">
                <div class="modal-filters">
                    <div class="row">
                        <label class="checkbox-option">
                            <input class="checkbox multi-check" value="От А до Я" type="checkbox" name="checkbox-test">
                            <span class="checkbox-custom"></span>
                            <span class="label">От А до Я</span>
                        </label>
                    </div>
                    <div class="row">
                        <label class="checkbox-option">
                            <input class="checkbox multi-check" value="По рейтингу" type="checkbox" name="checkbox-test">
                            <span class="checkbox-custom"></span>
                            <span class="label">По рейтингу</span>
                        </label>
                    </div>
                    <div class="row">
                        <label class="checkbox-option">
                            <input class="checkbox multi-check" value="По просмотрам" type="checkbox"  name="checkbox-test">
                            <span class="checkbox-custom"></span>
                            <span class="label">По просмотрам</span>
                        </label>
                    </div>
                    <div class="row">
                        <label class="checkbox-option">
                            <input class="checkbox multi-check" value="По количеству отзывов" type="checkbox" name="checkbox-test">
                            <span class="checkbox-custom"></span>
                            <span class="label">По количеству отзывов</span>
                        </label>
                    </div>
                    <div class="swiper-navigation__container">
                        <a href="#" class="btn-green submit">Применить</a>
                    </div>
                </div>
                 <div class="row-title">
                    <div class="title">Кладбища в киеве</div>
                     <div class="see-all filters">
                         <a href="#" class="sort-js">
                             <i class="fas fa-times"></i>
                             <svg class="icon-sort" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24" height="24" viewBox="0 0 24 24">
                                 <defs>
                                     <path id="aaa" d="M16 17.01V10h-2v7.01h-3L15 21l4-3.99h-3zM9 3L5 6.99h3V14h2V6.99h3L9 3z"></path>
                                 </defs>
                                 <g fill="none" fill-rule="evenodd">
                                     <mask id="bbb" fill="#fff">
                                         <use xlink:href="#aaa"></use>
                                     </mask>
                                     <use fill="#000" xlink:href="#aaa"></use>
                                     <g fill="#538d20" mask="url(#bbb)">
                                         <path d="M-13-13h50v50h-50z"></path>
                                     </g>
                                 </g>
                             </svg>
                             <span class="sort">Сортировка</span>
                         </a>
                     </div>
                </div>
                <div class="filters-company">
                    <div class="filters-total__company">
                        <span class="filters-total__result">Всего 1762 компании</span>    
                    </div>
                    <div class="filters-tags tag-box">
                        <div class="tag">по рейтингу <a href="#"><i class="fas fa-times"></i></a></div>
                    </div>
                </div>
                <div class="best-company__body">

                    <div class="item-box item-nostar">
                        <div class="wrap-img wrap-img__bestc">
                            <div class="logo-company">
                                <a href="#" class="wrap-img">
                                    <img class="logoc" src="../img/4.jpg" alt="img">
                                </a>
                            </div>
                            <div class="wrap-img__gradient"></div>
                            <img src="../img/3.jpg" alt="img">
                            <div class="row-rectangle row-rectangle__bestc">
                                <div class="wrap-img wrap-eye">
                                    <img src="../img/ic-visibility1-white.svg" alt="img" class="eye">
                                </div>
                                <span class="rectangle-quantity" >1723</span>
                            </div>
                        </div>
                        <div class="item-body item-body__bestc">
                            <h3 class="h3 h3-bestc">Гранитас частное агентство по изготовлению памятников</h3>
                            <p class="text text-bestc">Lorem ipsum dolor sit amet</p>
                        </div>
                        <div class="bottom-title__bestc">
                            <div class="inform">
                                <p class="bestc-location">ул. Красноармейская, 21</p>
                                <div class="wrap-img wrap-img__phone">
                                    <img src="../img/icon-phone-grey.png" alt="phone">
                                </div>
                                <a href="#" class="bestc-num">+380 (67) 220 94 95</a>
                            </div>
                            <a class="btn-green" href="#">ПОДРОБНЕЕ</a>
                        </div>
                    </div>

                    <div class="item-box item-star">
                        <div class="wrap-img wrap-img__bestc">
                            <div class="logo-company">
                                <a href="#" class="wrap-img">
                                    <img class="logoc" src="../img/4.jpg" alt="img">
                                </a>
                            </div>
                            <div class="wrap-img__gradient"></div>
                            <img src="../img/3.jpg" alt="img">
                            <div class="row-rectangle row-rectangle__bestc">
                                <div class="star-rating">
                                    <div class="star-rating__wrap">
                                      <input class="star-rating__input" id="star-rating-55" type="radio" name="rating1" value="5">
                                      <label class="star-rating__ico far fa-star fa-lg" for="star-rating-55" title="5 out of 5 stars"></label>
                                      <input class="star-rating__input" id="star-rating-54" type="radio" name="rating1" value="4">
                                      <label class="star-rating__ico far fa-star fa-lg" for="star-rating-54" title="4 out of 5 stars"></label>
                                      <input class="star-rating__input" id="star-rating-53" type="radio" name="rating1" value="3">
                                      <label class="star-rating__ico far fa-star fa-lg" for="star-rating-53" title="3 out of 5 stars"></label>
                                      <input class="star-rating__input" id="star-rating-52" type="radio" name="rating1" value="2">
                                      <label class="star-rating__ico far fa-star fa-lg" for="star-rating-52" title="2 out of 5 stars"></label>
                                      <input class="star-rating__input" id="star-rating-51" type="radio" name="rating1" value="1">
                                      <label class="star-rating__ico far fa-star fa-lg" for="star-rating-51" title="1 out of 5 stars"></label>
                                    </div>
                                  </div>
                                <div class="wrap-img wrap-eye">
                                    <img src="../img/ic-visibility1-white.svg" alt="img" class="eye">
                                </div>
                                <span class="rectangle-quantity" >1723</span>
                            </div>
                        </div>
                        <div class="item-body item-body__bestc">
                            <h3 class="h3 h3-bestc">Гранитас частное агентство</h3>
                            <p class="text text-bestc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ac dictum diam.
                                    Donec ac dictum diam.</p>
                        </div>
                        <div class="bottom-title__bestc">
                            <div class="inform">
                                <p class="bestc-location">ул. Красноармейская, 210</p>
                                <div class="wrap-img wrap-img__phone">
                                    <img src="../img/icon-phone-grey.png" alt="phone">
                                </div>
                                <a href="#" class="bestc-num">+380 (67) 220 94 95</a>
                            </div>
                            <a class="btn-green" href="#">ПОДРОБНЕЕ</a>
                        </div>
                    </div>

                    <div class="item-box item-nostar">
                        <div class="wrap-img wrap-img__bestc">
                            <div class="logo-company">
                                <a href="#" class="wrap-img">
                                    <img class="logoc" src="../img/4.jpg" alt="img">
                                </a>
                            </div>
                            <div class="wrap-img__gradient"></div>
                            <img src="../img/3.jpg" alt="img">
                            <div class="row-rectangle row-rectangle__bestc">
                                <div class="box-eye">
                                    <div class="wrap-img wrap-eye">
                                        <img src="../img/ic-visibility1-white.svg" alt="img" class="eye">
                                    </div>
                                    <span class="rectangle-quantity rectangle-quantity__mr" >1723</span>
                                </div>
                                <div class="box-comment">
                                    <div class="wrap-img wrap-eye">
                                        <img src="../img/ic-chat-bubble.png" alt="img" class="eye">
                                    </div>
                                    <span class="rectangle-quantity" >1723</span>
                                </div>
                            </div>
                        </div>
                        <div class="item-body item-body__bestc">
                            <h3 class="h3 h3-bestc">Гранитас частное агентство</h3>
                            <p class="text text-bestc">Lorem ipsum dolor sit amet</p>
                        </div>
                        <div class="bottom-title__bestc">
                            <div class="inform">
                                <p class="bestc-location">ул. Красноармейская, 210</p>
                                <div class="wrap-img wrap-img__phone">
                                    <img src="../img/icon-phone-grey.png" alt="phone">
                                </div>
                                <a href="#" class="bestc-num">+380 (67) 220 94 95</a>
                            </div>
                            <a class="btn-green" href="#">ПОДРОБНЕЕ</a>
                        </div>
                    </div>

                    <div class="item-box item-star">
                        <div class="wrap-img wrap-img__bestc">
                            <div class="logo-company">
                                <a href="#" class="wrap-img">
                                    <img class="logoc" src="../img/4.jpg" alt="img">
                                </a>
                            </div>
                            <div class="wrap-img__gradient"></div>
                            <img src="../img/3.jpg" alt="img">
                            <div class="row-rectangle row-rectangle__bestc row-rectangle__bestc--jc">
                                <div class="star-rating">
                                    <div class="star-rating__wrap">
                                      <input class="star-rating__input" id="star-rating-45" type="radio" name="rating2" value="5">
                                      <label class="star-rating__ico far fa-star fa-lg" for="star-rating-45" title="5 out of 5 stars"></label>
                                      <input class="star-rating__input" id="star-rating-44" type="radio" name="rating2" value="4">
                                      <label class="star-rating__ico far fa-star fa-lg" for="star-rating-44" title="4 out of 5 stars"></label>
                                      <input class="star-rating__input" id="star-rating-43" type="radio" name="rating2" value="3">
                                      <label class="star-rating__ico far fa-star fa-lg" for="star-rating-43" title="3 out of 5 stars"></label>
                                      <input class="star-rating__input" id="star-rating-42" type="radio" name="rating2" value="2">
                                      <label class="star-rating__ico far fa-star fa-lg" for="star-rating-42" title="2 out of 5 stars"></label>
                                      <input class="star-rating__input" id="star-rating-41" type="radio" name="rating2" value="1">
                                      <label class="star-rating__ico far fa-star fa-lg" for="star-rating-41" title="1 out of 5 stars"></label>
                                    </div>
                                </div>
                                <div class="box-eye">
                                    <div class="wrap-img wrap-eye">
                                        <img src="../img/ic-visibility1-white.svg" alt="img" class="eye">
                                    </div>
                                    <span class="rectangle-quantity rectangle-quantity__mr" >1723</span>
                                </div>
                                <div class="box-comment">
                                    <div class="wrap-img wrap-eye">
                                        <img src="../img/ic-chat-bubble.png" alt="img" class="eye">
                                    </div>
                                    <span class="rectangle-quantity" >1723</span>
                                </div>
                            </div>
                        </div>
                        <div class="item-body item-body__bestc">
                            <h3 class="h3 h3-bestc">Гранитас частное агентство</h3>
                            <p class="text text-bestc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ac dictum diam.
                                    Donec ac dictum diam.</p>
                        </div>
                        <div class="bottom-title__bestc">
                            <div class="inform">
                                <p class="bestc-location">ул. Красноармейская, 210</p>
                                <div class="wrap-img wrap-img__phone">
                                    <img src="../img/icon-phone-grey.png" alt="phone">
                                </div>
                                <a href="#" class="bestc-num">+380 (67) 220 94 95</a>
                            </div>
                            <a class="btn-green" href="#">ПОДРОБНЕЕ</a>
                        </div>
                    </div>
                    
                    <div class="item-box item-star">
                        <div class="wrap-img wrap-img__bestc">
                            <div class="logo-company">
                                <a href="#" class="wrap-img">
                                    <img class="logoc" src="../img/4.jpg" alt="img">
                                </a>
                            </div>
                            <div class="wrap-img__gradient"></div>
                            <img src="../img/3.jpg" alt="img">
                            <div class="row-rectangle row-rectangle__bestc row-rectangle__bestc--jc">
                                <div class="star-rating">
                                    <div class="star-rating__wrap">
                                      <input class="star-rating__input" id="star-rating-35" type="radio" name="rating3" value="5">
                                      <label class="star-rating__ico far fa-star fa-lg" for="star-rating-35" title="5 out of 5 stars"></label>
                                      <input class="star-rating__input" id="star-rating-34" type="radio" name="rating3" value="4">
                                      <label class="star-rating__ico far fa-star fa-lg" for="star-rating-34" title="4 out of 5 stars"></label>
                                      <input class="star-rating__input" id="star-rating-33" type="radio" name="rating3" value="3">
                                      <label class="star-rating__ico far fa-star fa-lg" for="star-rating-33" title="3 out of 5 stars"></label>
                                      <input class="star-rating__input" id="star-rating-32" type="radio" name="rating3" value="2">
                                      <label class="star-rating__ico far fa-star fa-lg" for="star-rating-32" title="2 out of 5 stars"></label>
                                      <input class="star-rating__input" id="star-rating-31" type="radio" name="rating3" value="1">
                                      <label class="star-rating__ico far fa-star fa-lg" for="star-rating-31" title="1 out of 5 stars"></label>
                                    </div>
                                </div>
                                <div class="box-eye">
                                    <div class="wrap-img wrap-eye">
                                        <img src="../img/ic-visibility1-white.svg" alt="img" class="eye">
                                    </div>
                                    <span class="rectangle-quantity rectangle-quantity__mr" >1723</span>
                                </div>
                                <div class="box-comment">
                                    <div class="wrap-img wrap-eye">
                                        <img src="../img/ic-chat-bubble.png" alt="img" class="eye">
                                    </div>
                                    <span class="rectangle-quantity" >1723</span>
                                </div>
                            </div>
                        </div>
                        <div class="item-body item-body__bestc">
                            <h3 class="h3 h3-bestc">Гранитас частное агентство</h3>
                            <p class="text text-bestc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ac dictum diam.
                                    Donec ac dictum diam.</p>
                        </div>
                        <div class="bottom-title__bestc">
                            <div class="inform">
                                <p class="bestc-location">ул. Красноармейская, 210</p>
                                <div class="wrap-img wrap-img__phone">
                                    <img src="../img/icon-phone-grey.png" alt="phone">
                                </div>
                                <a href="#" class="bestc-num">+380 (67) 220 94 95</a>
                            </div>
                            <a class="btn-green" href="#">ПОДРОБНЕЕ</a>
                        </div>
                    </div>

                    <div class="item-box item-star">
                        <div class="wrap-img wrap-img__bestc">
                            <div class="logo-company">
                                <a href="#" class="wrap-img">
                                    <img class="logoc" src="../img/4.jpg" alt="img">
                                </a>
                            </div>
                            <div class="wrap-img__gradient"></div>
                            <img src="../img/3.jpg" alt="img">
                            <div class="row-rectangle row-rectangle__bestc row-rectangle__bestc--jc">
                                <div class="star-rating">
                                    <div class="star-rating__wrap">
                                      <input class="star-rating__input" id="star-rating-25" type="radio" name="rating4" value="5">
                                      <label class="star-rating__ico far fa-star fa-lg" for="star-rating-25" title="5 out of 5 stars"></label>
                                      <input class="star-rating__input" id="star-rating-24" type="radio" name="rating4" value="4">
                                      <label class="star-rating__ico far fa-star fa-lg" for="star-rating-24" title="4 out of 5 stars"></label>
                                      <input class="star-rating__input" id="star-rating-23" type="radio" name="rating4" value="3">
                                      <label class="star-rating__ico far fa-star fa-lg" for="star-rating-23" title="3 out of 5 stars"></label>
                                      <input class="star-rating__input" id="star-rating-22" type="radio" name="rating4" value="2">
                                      <label class="star-rating__ico far fa-star fa-lg" for="star-rating-22" title="2 out of 5 stars"></label>
                                      <input class="star-rating__input" id="star-rating-21" type="radio" name="rating4" value="1">
                                      <label class="star-rating__ico far fa-star fa-lg" for="star-rating-21" title="1 out of 5 stars"></label>
                                    </div>
                                </div>
                                <div class="box-eye">
                                    <div class="wrap-img wrap-eye">
                                        <img src="../img/ic-visibility1-white.svg" alt="img" class="eye">
                                    </div>
                                    <span class="rectangle-quantity rectangle-quantity__mr" >1723</span>
                                </div>
                                <div class="box-comment">
                                    <div class="wrap-img wrap-eye">
                                        <img src="../img/ic-chat-bubble.png" alt="img" class="eye">
                                    </div>
                                    <span class="rectangle-quantity" >1723</span>
                                </div>
                            </div>
                        </div>
                        <div class="item-body item-body__bestc">
                            <h3 class="h3 h3-bestc">Гранитас частное агентство</h3>
                            <p class="text text-bestc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ac dictum diam.
                                    Donec ac dictum diam.</p>
                        </div>
                        <div class="bottom-title__bestc">
                            <div class="inform">
                                <p class="bestc-location">ул. Красноармейская, 210</p>
                                <div class="wrap-img wrap-img__phone">
                                    <img src="../img/icon-phone-grey.png" alt="phone">
                                </div>
                                <a href="#" class="bestc-num">+380 (67) 220 94 95</a>
                            </div>
                            <a class="btn-green" href="#">ПОДРОБНЕЕ</a>
                        </div>
                    </div>

                    <div class="item-box item-star">
                        <div class="wrap-img wrap-img__bestc">
                            <div class="logo-company">
                                <a href="#" class="wrap-img">
                                    <img class="logoc" src="../img/4.jpg" alt="img">
                                </a>
                            </div>
                            <div class="wrap-img__gradient"></div>
                            <img src="../img/3.jpg" alt="img">
                            <div class="row-rectangle row-rectangle__bestc row-rectangle__bestc--jc">
                                <div class="star-rating">
                                    <div class="star-rating__wrap">
                                      <input class="star-rating__input" id="star-rating-15" type="radio" name="rating7" value="5">
                                      <label class="star-rating__ico far fa-star fa-lg" for="star-rating-15" title="15 out of 5 stars"></label>
                                      <input class="star-rating__input" id="star-rating-14" type="radio" name="rating7" value="4">
                                      <label class="star-rating__ico far fa-star fa-lg" for="star-rating-14" title="14 out of 5 stars"></label>
                                      <input class="star-rating__input" id="star-rating-13" type="radio" name="rating7" value="3">
                                      <label class="star-rating__ico far fa-star fa-lg" for="star-rating-13" title="13 out of 5 stars"></label>
                                      <input class="star-rating__input" id="star-rating-12" type="radio" name="rating7" value="2">
                                      <label class="star-rating__ico far fa-star fa-lg" for="star-rating-12" title="12 out of 5 stars"></label>
                                      <input class="star-rating__input" id="star-rating-11" type="radio" name="rating7" value="1">
                                      <label class="star-rating__ico far fa-star fa-lg" for="star-rating-11" title="11 out of 5 stars"></label>
                                    </div>
                                </div>
                                <div class="box-eye">
                                    <div class="wrap-img wrap-eye">
                                        <img src="../img/ic-visibility1-white.svg" alt="img" class="eye">
                                    </div>
                                    <span class="rectangle-quantity rectangle-quantity__mr" >1723</span>
                                </div>
                                <div class="box-comment">
                                    <div class="wrap-img wrap-eye">
                                        <img src="../img/ic-chat-bubble.png" alt="img" class="eye">
                                    </div>
                                    <span class="rectangle-quantity" >1723</span>
                                </div>
                            </div>
                        </div>
                        <div class="item-body item-body__bestc">
                            <h3 class="h3 h3-bestc">Гранитас частное агентство</h3>
                            <p class="text text-bestc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ac dictum diam.
                                    Donec ac dictum diam.</p>
                        </div>
                        <div class="bottom-title__bestc">
                            <div class="inform">
                                <p class="bestc-location">ул. Красноармейская, 210</p>
                                <div class="wrap-img wrap-img__phone">
                                    <img src="../img/icon-phone-grey.png" alt="phone">
                                </div>
                                <a href="#" class="bestc-num">+380 (67) 220 94 95</a>
                            </div>
                            <a class="btn-green" href="#">ПОДРОБНЕЕ</a>
                        </div>
                    </div>

                    <div class="item-box item-star">
                        <div class="wrap-img wrap-img__bestc">
                            <div class="logo-company">
                                <a href="#" class="wrap-img">
                                    <img class="logoc" src="../img/4.jpg" alt="img">
                                </a>
                            </div>
                            <div class="wrap-img__gradient"></div>
                            <img src="../img/3.jpg" alt="img">
                            <div class="row-rectangle row-rectangle__bestc row-rectangle__bestc--jc">
                                <div class="star-rating">
                                    <div class="star-rating__wrap">
                                      <input class="star-rating__input" id="star-rating-65" type="radio" name="rating6" value="5">
                                      <label class="star-rating__ico far fa-star fa-lg" for="star-rating-65" title="5 out of 5 stars"></label>
                                      <input class="star-rating__input" id="star-rating-64" type="radio" name="rating6" value="4">
                                      <label class="star-rating__ico far fa-star fa-lg" for="star-rating-64" title="4 out of 5 stars"></label>
                                      <input class="star-rating__input" id="star-rating-63" type="radio" name="rating6" value="3">
                                      <label class="star-rating__ico far fa-star fa-lg" for="star-rating-63" title="3 out of 5 stars"></label>
                                      <input class="star-rating__input" id="star-rating-62" type="radio" name="rating6" value="2">
                                      <label class="star-rating__ico far fa-star fa-lg" for="star-rating-62" title="2 out of 5 stars"></label>
                                      <input class="star-rating__input" id="star-rating-61" type="radio" name="rating6" value="1">
                                      <label class="star-rating__ico far fa-star fa-lg" for="star-rating-61" title="1 out of 5 stars"></label>
                                    </div>
                                </div>
                                <div class="box-eye">
                                    <div class="wrap-img wrap-eye">
                                        <img src="../img/ic-visibility1-white.svg" alt="img" class="eye">
                                    </div>
                                    <span class="rectangle-quantity rectangle-quantity__mr" >1723</span>
                                </div>
                                <div class="box-comment">
                                    <div class="wrap-img wrap-eye">
                                        <img src="../img/ic-chat-bubble.png" alt="img" class="eye">
                                    </div>
                                    <span class="rectangle-quantity" >1723</span>
                                </div>
                            </div>
                        </div>
                        <div class="item-body item-body__bestc">
                            <h3 class="h3 h3-bestc">Гранитас частное агентство</h3>
                            <p class="text text-bestc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ac dictum diam.
                                    Donec ac dictum diam.</p>
                        </div>
                        <div class="bottom-title__bestc">
                            <div class="inform">
                                <p class="bestc-location">ул. Красноармейская, 210</p>
                                <div class="wrap-img wrap-img__phone">
                                    <img src="../img/icon-phone-grey.png" alt="phone">
                                </div>
                                <a href="#" class="bestc-num">+380 (67) 220 94 95</a>
                            </div>
                            <a class="btn-green" href="#">ПОДРОБНЕЕ</a>
                        </div>
                    </div>

                    

                </div>
                <div class="cemeteries-kiev__pagination">
                    <a href="#" class="btn-green btn-cemeteries__kiev">ДОБАВИТЬ КОМПАНИЮ</a>
                    <div class="pagination">
                        <a href="#" class="prev pagination-navigation"><i class="fas fa-chevron-left"></i></a>
                        <div class="paginations-number">
                            <a href="#" class="num">1</a>
                            <a href="#" class="num">2</a>
                            <a href="#" class="num active">3</a>
                            <a href="#" class="num">4</a>
                            <a href="#" class="num">5</a>
                        </div>
                        <a href="#" class="next pagination-navigation"><i class="fas fa-chevron-right"></i></a>
                    </div>
                </div>
            </div>

            <div class="nearest-company nearest-company-js">

                <div class="row-title ">
                    <div class="title">ближайшие компании</div>
                </div>
                <div class="box-map">
                    <div class="item-box item-star">
                        <div class="wrap-img wrap-img__bestc">
                            <div class="logo-company">
                                <a href="#" class="wrap-img">
                                    <img class="logoc" src="../img/4.jpg" alt="img">
                                </a>
                            </div>
                            <div class="wrap-img__gradient"></div>
                            <img src="../img/3.jpg" alt="img">
                            <div class="row-rectangle row-rectangle__bestc row-rectangle__bestc--jc">
                                <div class="star-rating">
                                    <div class="star-rating__wrap">
                                      <input class="star-rating__input" id="star-rating-75" type="radio" name="rating8" value="5">
                                      <label class="star-rating__ico far fa-star fa-lg" for="star-rating-75" title="5 out of 5 stars"></label>
                                      <input class="star-rating__input" id="star-rating-74" type="radio" name="rating8" value="4">
                                      <label class="star-rating__ico far fa-star fa-lg" for="star-rating-74" title="4 out of 5 stars"></label>
                                      <input class="star-rating__input" id="star-rating-73" type="radio" name="rating8" value="3">
                                      <label class="star-rating__ico far fa-star fa-lg" for="star-rating-73" title="3 out of 5 stars"></label>
                                      <input class="star-rating__input" id="star-rating-72" type="radio" name="rating8" value="2">
                                      <label class="star-rating__ico far fa-star fa-lg" for="star-rating-72" title="2 out of 5 stars"></label>
                                      <input class="star-rating__input" id="star-rating-71" type="radio" name="rating8" value="1">
                                      <label class="star-rating__ico far fa-star fa-lg" for="star-rating-71" title="1 out of 5 stars"></label>
                                    </div>
                                </div>
                                <div class="box-eye">
                                    <div class="wrap-img wrap-eye">
                                        <img src="../img/ic-visibility1-white.svg" alt="img" class="eye">
                                    </div>
                                    <span class="rectangle-quantity rectangle-quantity__mr" >1723</span>
                                </div>
                                <div class="box-comment">
                                    <div class="wrap-img wrap-eye">
                                        <img src="../img/ic-chat-bubble.png" alt="img" class="eye">
                                    </div>
                                    <span class="rectangle-quantity" >1723</span>
                                </div>
                            </div>
                        </div>
                        <div class="item-body item-body__bestc item-body__institusions">
                            <h3 class="h3 h3-bestc">Гранитас частное агентство по изготовлению памятников</h3>
                            <p class="text text-bestc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ac dictum diam.
                                    Donec ac dictum diam.</p>
                        </div>
                        <div class="bottom-title__bestc">
                            <div class="inform">
                                <p class="bestc-location">ул. Красноармейская, 210</p>
                                <a href="#" class="bestc-num">+380 (67) 220 94 95</a>
                            </div>
                            <a class="btn-green" href="#">ПОДРОБНЕЕ</a>
                        </div>
                    </div>
                    <div class="map" id="map">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d10376.305475058758!2d32.050971600000004!3d49.4452736!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d14b7dd3936e61%3A0x8f4ae93c39117394!2z0J_QsNC80Y_RgtC90LjQuiDQotCw0YDQsNGB0YMg0KjQtdCy0YfQtdC90LrQvg!5e0!3m2!1sru!2sua!4v1536833670391" width="100%" height="100%" frameborder="0" style="border:0" allowfullscreen></iframe>
                        <div class="row-rectangle row-rectangle__map">
                            <div class="star-rating">
                                <div class="star-rating__wrap">
                                  <input class="star-rating__input" id="star-rating-5" type="radio" name="rating" value="5">
                                  <label class="star-rating__ico far fa-star fa-lg" for="star-rating-5" title="5 out of 5 stars"></label>
                                  <input class="star-rating__input" id="star-rating-4" type="radio" name="rating" value="4">
                                  <label class="star-rating__ico far fa-star fa-lg" for="star-rating-4" title="4 out of 5 stars"></label>
                                  <input class="star-rating__input" id="star-rating-3" type="radio" name="rating" value="3">
                                  <label class="star-rating__ico far fa-star fa-lg" for="star-rating-3" title="3 out of 5 stars"></label>
                                  <input class="star-rating__input" id="star-rating-2" type="radio" name="rating" value="2">
                                  <label class="star-rating__ico far fa-star fa-lg" for="star-rating-2" title="2 out of 5 stars"></label>
                                  <input class="star-rating__input" id="star-rating-1" type="radio" name="rating" value="1">
                                  <label class="star-rating__ico far fa-star fa-lg" for="star-rating-1" title="1 out of 5 stars"></label>
                                </div>
                            </div>
                            <div class="box-eye">
                                <div class="wrap-img wrap-eye">
                                    <img src="../img/ic-visibility1-white.svg" alt="img" class="eye">
                                </div>
                                <span class="rectangle-quantity rectangle-quantity__mr" >1723</span>
                            </div>
                            <div class="box-comment">
                                <div class="wrap-img wrap-eye">
                                    <img src="../img/ic-chat-bubble.png" alt="img" class="eye">
                                </div>
                                <span class="rectangle-quantity" >1723</span>
                            </div>
                        </div>
                    </div>
                    <div class="map-wrap__items">
                        <div class="item-body item-body__bestc">
                            <h3 class="h3 h3-bestc">Гранитас частное агентство</h3>
                            <p class="text text-bestc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ac dictum diam.
                                Donec ac dictum diam.</p>
                        </div>
                        <div class="bottom-title__bestc">
                            <div class="inform">
                                <p class="bestc-location">ул. Красноармейская, 210</p>
                                <div class="wrap-img wrap-img__phone">
                                    <img src="../img/icon-phone-grey.png" alt="phone">
                                </div>
                                <a href="#" class="bestc-num">+380 (67) 220 94 95</a>
                            </div>
                            <a class="btn-green" href="#">ПОДРОБНЕЕ</a>
                        </div>
                    </div>
                </div>

            </div>

            <div class="cemeteries-kiev__tag">

                <div class="row-title ">
                    <div class="title">ближайшие компании</div>
                </div>

                <div class="cemeteries-kiev__body">

                    <div class="cemeteries-tags">Белая церковь</div>
                    <div class="cemeteries-tags">бровары</div>
                    <div class="cemeteries-tags">ирпень</div>
                    <div class="cemeteries-tags">буча</div>
                    <div class="cemeteries-tags">обухов</div>
                    <div class="cemeteries-tags">вишневое</div>
                    <div class="cemeteries-tags">васильков</div>
                    <div class="cemeteries-tags">бровары</div>
                    <div class="cemeteries-tags">ирпень</div>
                    <div class="cemeteries-tags">буча</div>
                    <div class="cemeteries-tags">обухов</div>
                    <div class="cemeteries-tags">вишневое</div>

                </div>


            </div>

            <div class="useful-information">
                <div class="row-title ">
                    <div class="title">полезная информация</div>
                </div>
                <div class="about-company__row useful-information__row">
                    
    
                    <div class="row-head">
                        Ритуальные услуги в Украине - единая ритуально-похоронная служба
                    </div>
    
                    <div class="row-body">
                        Смерть никогда не предупреждает о своём приходе. Потеря близкого человека — это большое горе, которое застаёт близких врасплох. В состоянии глубокой скорби человек порой перестаёт адекватно воспринимать окружающую действительность. А ведь родным нужно позаботиться о похоронах — узнать номера телефонов ритуальной службы, заказать цветы и венки, подготовить место на кладбище. Всё это не по силам убитым горем, ведь организация похорон — очень кропотливая и трудоёмкая работа. Как же в такой психологически сложной ситуации всё грамотно продумать и ничего не забыть?
                    </div>
                </div>
                
            </div>

            <div class="second-bar-small"></div>
        </div>


        <div class="row-aside">

            <div class="first-bar-hight">
            </div>
            <div class="second-bar-hight">
                <div class="second-block-js">
                    <div class="info-byer info-byer__1 margin-bottom__aside--all info-byer__1-js">
                        <div class="row-title">
                            <div class="title">информация покупателю</div>
                        </div>		
                        <div class="banner-resize-append">
                            <div class="wrap-img info-byer__wrap--img">
                                <img src="../img/3.jpg" alt="img">
                            </div>
                        </div>
                    </div>

                    <div class="info-blog margin-bottom__aside--all archive-post info-blog-js">

                        <div class="row-title">
                            <div class="title">АРХИВ СТАТЕЙ</div>
                            <div class="see-all">
                                <a href="#">Смотреть все</a>
                            </div>
                        </div>
                        <div class="info-blog__body slider">

                            <div class="swiper-container__aside">
                                <div class="swiper-wrapper">

                                    <div class="swiper-slide swiper-slide__info--blog">
                                        <div class="important-information__item item-lil">
                                            <div class="wrap-img important-information__limg">
                                                <img src="../img/4.jpg" alt="img">
                                            </div>
                                            <div class="item-body__lil">
                                                <h2 class="h2 important-information__lh2"><a href="#">Перспективы перехода на экологичные технологии похорон в Китае</a></h2>
                                                <div class="data important-information__data important-information__ldata">Apr 22, 2015</div>
                                            </div>
								        </div>	
                                    </div>
                                    
                                    <div class="swiper-slide swiper-slide__info--blog">
                                        <div class="important-information__item item-lil">
                                            <div class="wrap-img important-information__limg">
                                                <img src="../img/4.jpg" alt="img">
                                            </div>
                                            <div class="item-body__lil">
                                                <h2 class="h2 important-information__lh2"><a href="#">Перспективы перехода на экологичные технологии похорон в Китае</a></h2>
                                                <div class="data important-information__data important-information__ldata">Apr 22, 2015</div>
                                            </div>
								        </div>	
                                    </div>

                                    <div class="swiper-slide swiper-slide__info--blog">
                                        <div class="important-information__item item-lil">
                                            <div class="wrap-img important-information__limg">
                                                <img src="../img/4.jpg" alt="img">
                                            </div>
                                            <div class="item-body__lil">
                                                <h2 class="h2 important-information__lh2"><a href="#">Перспективы перехода на экологичные технологии похорон в Китае</a></h2>
                                                <div class="data important-information__data important-information__ldata">Apr 22, 2015</div>
                                            </div>
								        </div>	
                                    </div>

                                    <div class="swiper-slide swiper-slide__info--blog">
                                        <div class="important-information__item item-lil">
                                            <div class="wrap-img important-information__limg">
                                                <img src="../img/4.jpg" alt="img">
                                            </div>
                                            <div class="item-body__lil">
                                                <h2 class="h2 important-information__lh2"><a href="#">Перспективы перехода на экологичные технологии похорон в Китае</a></h2>
                                                <div class="data important-information__data important-information__ldata">Apr 22, 2015</div>
                                            </div>
								        </div>	
                                    </div>

                                    <div class="swiper-slide swiper-slide__info--blog">
                                        <div class="important-information__item item-lil">
                                            <div class="wrap-img important-information__limg">
                                                <img src="../img/4.jpg" alt="img">
                                            </div>
                                            <div class="item-body__lil">
                                                <h2 class="h2 important-information__lh2"><a href="#">Перспективы перехода на экологичные технологии похорон в Китае</a></h2>
                                                <div class="data important-information__data important-information__ldata">Apr 22, 2015</div>
                                            </div>
								        </div>	
                                    </div>

                                    <div class="swiper-slide swiper-slide__info--blog">
                                        <div class="important-information__item item-lil">
                                            <div class="wrap-img important-information__limg">
                                                <img src="../img/4.jpg" alt="img">
                                            </div>
                                            <div class="item-body__lil">
                                                <h2 class="h2 important-information__lh2"><a href="#">Перспективы перехода на экологичные технологии похорон в Китае</a></h2>
                                                <div class="data important-information__data important-information__ldata">Apr 22, 2015</div>
                                            </div>
								        </div>	
                                    </div>

                                    <div class="swiper-slide swiper-slide__info--blog">
                                        <div class="important-information__item item-lil">
                                            <div class="wrap-img important-information__limg">
                                                <img src="../img/4.jpg" alt="img">
                                            </div>
                                            <div class="item-body__lil">
                                                <h2 class="h2 important-information__lh2"><a href="#">Перспективы перехода на экологичные технологии похорон в Китае</a></h2>
                                                <div class="data important-information__data important-information__ldata">Apr 22, 2015</div>
                                            </div>
								        </div>	
                                    </div>

                                    
                                    

                                </div>
                            </div>
                            <div class="swiper-navigation__container">
                                <div class="swiper-button-next"><i class="fas fa-chevron-right"></i></div>
                                <div class="swiper-button-prev"><i class="fas fa-chevron-left"></i></div>
                            </div>
                        </div>
                    </div>

                    <div class="info-blog info-blog__2 margin-bottom__aside--all info-blog-js">
		
								<div class="row-title">
									<div class="title">информация блог</div>
									<div class="see-all">
										<a href="#">Смотреть все</a>
									</div>
								</div>
								<div class="info-blog__body slider">
		
									<div class="swiper-container__aside3">
										<div class="swiper-wrapper">
		
											<div class="swiper-slide swiper-slide__info--blog">
												<div class="info-blog__item--border">
													<div class="info-blog__item">
														<div class="info-blog__title">
															<div class="wrap-img wrap-img__info--blog">
																<img src="../img/cremation.png" alt="img">
															</div>    
															<a href="#">Протестим название в две строки ведь такое может быть</a>
														</div>
														<p class="info-blog__text">
															Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ac dictum diam. Suspendisse potenti. Donec laoreet tristique dolor, vehicula aliquet lorem bibendum quis. Nam et lobortis orci, lobortis venenatis dui. Praesent dapibus enim sed eros aliquet, condimentum sodales massa euismod. Aliquam nisi nisi, faucibus a purus et, maximus pellentesque nibh. Vestibulum posuere sodales consectetur.
														</p>
													</div>
												</div>
											</div>
		
											<div class="swiper-slide swiper-slide__info--blog">
												<div class="info-blog__item--border">
													<div class="info-blog__item">
														<div class="info-blog__title">
															<div class="wrap-img wrap-img__info--blog">
																<img src="../img/cremation.png" alt="img">
															</div>    
															<a href="#">А тут только в одну строчку</a>
														</div>
														<p class="info-blog__text blog-small__content">
															Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ac dictum diam. Suspendisse potenti. Donec laoreet tristique dolor, vehicula aliquet lorem bibendum quis. Nam et lobortis orci, lobortis venenatis dui. Praesent dapibus enim sed eros aliquet, condimentum sodales massa euismod. Aliquam nisi nisi, faucibus a purus et, maximus pellentesque nibh. Vestibulum posuere sodales consectetur.											
														</p>
													</div>
												</div>
											</div>
		
											<div class="swiper-slide swiper-slide__info--blog">
												<div class="info-blog__item--border">
													<div class="info-blog__item">
														<div class="info-blog__title">
															<div class="wrap-img wrap-img__info--blog">
																<img src="../img/cremation.png" alt="img">
															</div>    
															<a href="#">Протестим название в две строки ведь такое может быть</a>
														</div>
														<p class="info-blog__text">
															Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ac dictum diam. Suspendisse potenti. Donec laoreet tristique dolor, vehicula aliquet lorem bibendum quis. Nam et lobortis orci, lobortis venenatis dui. Praesent dapibus enim sed eros aliquet, condimentum sodales massa euismod. Aliquam nisi nisi, faucibus a purus et, maximus pellentesque nibh. Vestibulum posuere sodales consectetur.
														</p>
													</div>
												</div>
											</div>
		
											<div class="swiper-slide swiper-slide__info--blog">
												<div class="info-blog__item--border">
													<div class="info-blog__item">
														<div class="info-blog__title">
															<div class="wrap-img wrap-img__info--blog">
																<img src="../img/cremation.png" alt="img">
															</div>    
															<a href="#">Протестим название в две строки ведь такое может быть</a>
														</div>
														<p class="info-blog__text blog-small__content">
															Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ac dictum diam. Suspendisse potenti. Donec laoreet tristique dolor, vehicula aliquet lorem bibendum quis. Nam et lobortis orci, lobortis venenatis dui. Praesent dapibus enim sed eros aliquet, condimentum sodales massa euismod. Aliquam nisi nisi, faucibus a purus et, maximus pellentesque nibh. Vestibulum posuere sodales consectetur.
														</p>
													</div>
												</div>
											</div>
		
											<div class="swiper-slide swiper-slide__info--blog">
													<div class="info-blog__item--border">
														<div class="info-blog__item">
															<div class="info-blog__title">
																<div class="wrap-img wrap-img__info--blog">
																	<img src="../img/cremation.png" alt="img">
																</div>    
																<a href="#">Протестим название в две строки ведь такое может быть</a>
															</div>
															<p class="info-blog__text">
																Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ac dictum diam. Suspendisse potenti. Donec laoreet tristique dolor, vehicula aliquet lorem bibendum quis. Nam et lobortis orci, lobortis venenatis dui. Praesent dapibus enim sed eros aliquet, condimentum sodales massa euismod. Aliquam nisi nisi, faucibus a purus et, maximus pellentesque nibh. Vestibulum posuere sodales consectetur.
															</p>
														</div>
													</div>
											</div>
		
											<div class="swiper-slide swiper-slide__info--blog">
												<div class="info-blog__item--border">
													<div class="info-blog__item">
														<div class="info-blog__title">
															<div class="wrap-img wrap-img__info--blog">
																<img src="../img/cremation.png" alt="img">
															</div>    
															<a href="#">Протестим название в две строки ведь такое может быть</a>
														</div>
														<p class="info-blog__text blog-small__content">
															Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ac dictum diam. Suspendisse potenti. Donec laoreet tristique dolor, vehicula aliquet lorem bibendum quis. Nam et lobortis orci, lobortis venenatis dui. Praesent dapibus enim sed eros aliquet, condimentum sodales massa euismod. Aliquam nisi nisi, faucibus a purus et, maximus pellentesque nibh. Vestibulum posuere sodales consectetur.
														</p>
													</div>
												</div>
											</div>
		
											<div class="swiper-slide swiper-slide__info--blog">
													<div class="info-blog__item--border">
														<div class="info-blog__item">
															<div class="info-blog__title">
																<div class="wrap-img wrap-img__info--blog">
																	<img src="../img/cremation.png" alt="img">
																</div>    
																<a href="#">Протестим название в две строки ведь такое может быть</a>
															</div>
															<p class="info-blog__text">
																Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ac dictum diam. Suspendisse potenti. Donec laoreet tristique dolor, vehicula aliquet lorem bibendum quis. Nam et lobortis orci, lobortis venenatis dui. Praesent dapibus enim sed eros aliquet, condimentum sodales massa euismod. Aliquam nisi nisi, faucibus a purus et, maximus pellentesque nibh. Vestibulum posuere sodales consectetur.
															</p>
														</div>
													</div>
											</div>
		
											<div class="swiper-slide swiper-slide__info--blog">
												<div class="info-blog__item--border">
													<div class="info-blog__item">
														<div class="info-blog__title">
															<div class="wrap-img wrap-img__info--blog">
																<img src="../img/cremation.png" alt="img">
															</div>    
															<a href="#">Протестим название в две строки ведь такое может быть</a>
														</div>
														<p class="info-blog__text blog-small__content">
															Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ac dictum diam. Suspendisse potenti. Donec laoreet tristique dolor, vehicula aliquet lorem bibendum quis. Nam et lobortis orci, lobortis venenatis dui. Praesent dapibus enim sed eros aliquet, condimentum sodales massa euismod. Aliquam nisi nisi, faucibus a purus et, maximus pellentesque nibh. Vestibulum posuere sodales consectetur.
														</p>
													</div>
												</div>
											</div>
		
										</div>
									</div>
									<div class="swiper-navigation__container">
                                        <div class="swiper-button-prev3"><i class="fas fa-chevron-left"></i></div>

                                        <div class="swiper-button-next3"><i class="fas fa-chevron-right"></i></div>
									</div>
								</div>
					</div>

                    <div class="info-byer__2 margin-bottom__aside--all info-byer__2-js info-byer__2-js">
                            <div class="row-title">
                                <div class="title">информация покупателю</div>
                            </div>		
                            <div class="banner-move">
                                <div class="wrap-img info-byer__wrap--img banner-move-js">
                                    <img src="../img/3.jpg" alt="img">
                                </div>
                            </div>
                    </div>

                    <div class="info-blog question margin-bottom__aside--all question-js">

                            <div class="row-title">
                                <div class="title">вопрос - ответ</div>
                                <div class="see-all">
                                    <a href="#">Смотреть все</a>
                                </div>
                            </div>
                            <div class="info-blog__body slider">
    
                                <div class="swiper-container__aside2">
                                    <div class="swiper-wrapper">
    
                                        <div class="swiper-slide swiper-slide__info--blog swiper-slide__question">
                                            <div class="info-blog__item--border">
                                                <div class="info-blog__item">
                                                    <div class="info-blog__title">
                                                        <div class="wrap-img wrap-img__info--blog swiper-slide__question">
                                                            <img src="../img/cremation.png" alt="img">
                                                        </div>    
                                                        <a href="#">Протестим название в две строки ведь такое может быть</a>
                                                    </div>
                                                    <p class="info-blog__text">
                                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ac dictum diam. Suspendisse potenti. Donec laoreet tristique dolor, vehicula aliquet lorem bibendum quis. Nam et lobortis orci, lobortis venenatis dui. Praesent dapibus enim sed eros aliquet, condimentum sodales massa euismod. Aliquam nisi nisi, faucibus a purus et, maximus pellentesque nibh. Vestibulum posuere sodales consectetur.
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
    
                                        <div class="swiper-slide swiper-slide__info--blog swiper-slide__question">
                                            <div class="info-blog__item--border">
                                                <div class="info-blog__item">
                                                    <div class="info-blog__title">
                                                        <div class="wrap-img wrap-img__info--blog">
                                                            <img src="../img/cremation.png" alt="img">
                                                        </div>    
                                                        <a href="#">А тут только в одну строчку</a>
                                                    </div>
                                                    <p class="info-blog__text blog-small__content">
                                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ac dictum diam. Suspendisse potenti. Donec laoreet tristique dolor, vehicula aliquet lorem bibendum quis. Nam et lobortis orci, lobortis venenatis dui. Praesent dapibus enim sed eros aliquet, condimentum sodales massa euismod. Aliquam nisi nisi, faucibus a purus et, maximus pellentesque nibh. Vestibulum posuere sodales consectetur.											
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
    
                                        <div class="swiper-slide swiper-slide__info--blog swiper-slide__question">
                                            <div class="info-blog__item--border">
                                                <div class="info-blog__item">
                                                    <div class="info-blog__title">
                                                        <div class="wrap-img wrap-img__info--blog">
                                                            <img src="../img/cremation.png" alt="img">
                                                        </div>    
                                                        <a href="#">Протестим название в две строки ведь такое может быть</a>
                                                    </div>
                                                    <p class="info-blog__text">
                                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ac dictum diam. Suspendisse potenti. Donec laoreet tristique dolor, vehicula aliquet lorem bibendum quis. Nam et lobortis orci, lobortis venenatis dui. Praesent dapibus enim sed eros aliquet, condimentum sodales massa euismod. Aliquam nisi nisi, faucibus a purus et, maximus pellentesque nibh. Vestibulum posuere sodales consectetur.
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
    
                                        <div class="swiper-slide swiper-slide__info--blog swiper-slide__question">
                                            <div class="info-blog__item--border">
                                                <div class="info-blog__item">
                                                    <div class="info-blog__title">
                                                        <div class="wrap-img wrap-img__info--blog">
                                                            <img src="../img/cremation.png" alt="img">
                                                        </div>    
                                                        <a href="#">Протестим название в две строки ведь такое может быть</a>
                                                    </div>
                                                    <p class="info-blog__text blog-small__content">
                                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ac dictum diam. Suspendisse potenti. Donec laoreet tristique dolor, vehicula aliquet lorem bibendum quis. Nam et lobortis orci, lobortis venenatis dui. Praesent dapibus enim sed eros aliquet, condimentum sodales massa euismod. Aliquam nisi nisi, faucibus a purus et, maximus pellentesque nibh. Vestibulum posuere sodales consectetur.
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
    
                                    </div>
                                </div>
                                <div class="swiper-navigation__container">
                                    <div class="swiper-button-next2"><i class="fas fa-chevron-right"></i></div>
                                    <div class="swiper-button-prev2"><i class="fas fa-chevron-left"></i></div>
                                </div>
                            </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>

//= footer.html