

//= header.html


<div class="container-768 organization institution-one">
    <div class="menu-green">
        <a href="#" class="item item-1 active">Похороны «под ключ»</a>
        <a href="#" class="item item-2">Ритуальные товары</a>
        <a href="#" class="item item-3">Памятники</a>
        <a href="#" class="item item-4">Ритуальный автотранспорт</a>
        <a href="#" class="item item-5">Организация поминок</a>
        <a href="#" class="item item-6">Ритуальные услуги</a>
        <a href="#" class="item item-7">Кладбища</a>
        <a href="#" class="item item-8">Венки</a>
    </div>
       <div class="breadcrum">
            <i class="fas fa-home"></i>
            <span class="breadcrum-pages">Каталог компаний</span>
        </div>
    <div class="main-container__flex main-container__flex-organization">
        <div class="row-main">
            <div class="funeral-arrangements">
                <div class="row-head__l">
                    Похоронное бюро Пахаванне
                </div>
                <div class="row-head__r">
                    <div class="star-rating">
                        <div class="star-rating__wrap">
                            <input class="star-rating__input" id="star-rating-5" type="radio" name="rating" value="5">
                            <label class="star-rating__ico far fa-star fa-lg" for="star-rating-5" title="5 out of 5 stars"></label>
                            <input class="star-rating__input" id="star-rating-4" type="radio" name="rating" value="4">
                            <label class="star-rating__ico far fa-star fa-lg" for="star-rating-4" title="4 out of 5 stars"></label>
                            <input class="star-rating__input" id="star-rating-3" type="radio" name="rating" value="3">
                            <label class="star-rating__ico far fa-star fa-lg" for="star-rating-3" title="3 out of 5 stars"></label>
                            <input class="star-rating__input" id="star-rating-2" type="radio" name="rating" value="2">
                            <label class="star-rating__ico far fa-star fa-lg" for="star-rating-2" title="2 out of 5 stars"></label>
                            <input class="star-rating__input" id="star-rating-1" type="radio" name="rating" value="1">
                            <label class="star-rating__ico far fa-star fa-lg" for="star-rating-1" title="1 out of 5 stars"></label>
                        </div>
                    </div>
                    <div class="box-eye">
                        <div class="wrap-img wrap-eye wrap-eye__green">
                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24" height="24" viewBox="0 0 24 24">
                                <defs>
                                    <path id="a" d="M12 4.5C7 4.5 2.73 7.61 1 12c1.73 4.39 6 7.5 11 7.5s9.27-3.11 11-7.5c-1.73-4.39-6-7.5-11-7.5zM12 17c-2.76 0-5-2.24-5-5s2.24-5 5-5 5 2.24 5 5-2.24 5-5 5zm0-8c-1.66 0-3 1.34-3 3s1.34 3 3 3 3-1.34 3-3-1.34-3-3-3z"/>
                                    <path id="c" d="M0 0h50v50H0z"/>
                                </defs>
                                <g fill-rule="evenodd">
                                    <mask id="b" fill="#fff">
                                        <use xlink:href="#a"/>
                                    </mask>
                                    <g mask="url(#b)">
                                        <use  transform="translate(-13 -13)" xlink:href="#c"/>
                                    </g>
                                </g>
                            </svg>

                        </div>
                        <span class="rectangle-quantity rectangle-quantity__mr">1723</span>
                    </div>
                    <div class="box-comment">
                        <div class="wrap-img wrap-eye">
                            <img src="../img/ic-chat-bubble-green.png" alt="img" class="eye">
                        </div>
                        <span class="rectangle-quantity">1723</span>
                    </div>
                </div>
                <div class="row-head">
                    <a href="#">Организация похорон</a>
                </div>
                <div class="row-head row-head__filters">
                    <div class="filters-tags">
                        <div class="tag">
                            Священник
                        </div>
                        <div class="tag">
                            Крематорий
                        </div>
                        <div class="tag">
                            Крематорий
                        </div>
                        <div class="tag">
                            СвященникКрематорий
                        </div>
                        <div class="tag">
                            СвященникКрематорий
                        </div>

                    </div>
                </div>
                <div class="first-bar-small"></div>
                <div class="row-body row-body__text">
                    <div class="funeral-arrangements__text">
                        Примерно каждый час ритуальное агентство Пахаванне принимает телефонный звонок или личное обращение клиентов практически по любым вопросам, связанным с организацией похорон в Минске и Минском районе. Мы отвечаем на каждое такое обращение и прилагаем все усилия для того, чтобы заказ был выполнен в точном соответствии с пожеланиями – независимо от его стоимости и срочности.

                    </div>
                    <div class="funeral-arrangements__text">
                        Каждый из нас когда-либо терял родного или близкого человека и сталкивался с дилеммой: как провести похороны таким образом, чтобы каждый рубль был потрачен не зря, и чтобы в конце на душе не осталось горького осадка. Все очень просто: для этого клиент должен сделать правильный выбор, а похоронное агентство – профессионально выполнить свою работу.

                        Большинство наших сотрудников начали работать в ритуальном бизнесе пять, восемь и более лет назад. За это время нами был накоплен опыт и понимание того, как должна быть укомплектована и как должна работать организация по оказанию населению ритуальных услуг. Анализируя наиболее частые запросы, мы сформировали идею, направление, в котором должно развиваться похоронное бюро для того, чтобы услуги оказывались с максимально эффективным соотношением цены и качества.
                    </div>
                </div>
                <div class="wrap-read__more">
                    <a href="#" class="read-more">
                        читать ещё…
                    </a>
                </div>
                <div class="arrangements-tab">

                    <div class="tabs">

                        <ul class="tabs__caption">
                            <li class="active">
                                <span>Как проехать</span>
                            </li>
                            <li>
                                <span>Отзывы</span>
                            </li>
                        </ul>

                        <div class="tabs__content active">
                            any content?
                        </div>

                        <div class="tabs__content">
                            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Velit commodi magni tempore porro eos vel reprehenderit provident inventore, ducimus pariatur numquam aperiam ad veritatis labore omnis odit mollitia, eius sunt possimus dolorem natus aliquid. Optio quas enim excepturi ratione provident vitae, rem blanditiis, eligendi illum quae doloribus minima laudantium recusandae?
                        </div>

                    </div>

                </div>
                <div class="arrangements-tab__mobile">
                    <div class="tabs">

                        <div class="tabs-row">
                            <div class="tabs-head tabs-head__toggle">
                                Как проехать<i class="fas fa-caret-down"></i>
                            </div>
                            <div class="tabs__content__flex">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque enim ipsum necessitatibus optio qui sapiente. Fugiat labore magnam necessitatibus quia tempora tempore? Aperiam cum facere in maiores veritatis vero voluptas.
                            </div>

                        </div>
                        <div class="tabs-row">
                            <div class="tabs-head tabs-head__toggle">
                                Отзывы<i class="fas fa-caret-down"></i>
                            </div>
                            <div class="tabs__content__flex">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque enim ipsum necessitatibus optio qui sapiente. Fugiat labore magnam necessitatibus quia tempora tempore? Aperiam cum facere in maiores veritatis vero voluptas.

                            </div>
                        </div>
                    </div>

                </div>
                <div class="second-bar-small"></div>
            </div>

        </div>


        <div class="row-aside">

            <div class="first-bar-hight">
                <div class="ritual-catalog margin-bottom__aside--all ritual-catalog-js">
                    <div class="organization-aside__box">
                        <div class="organization-aside__wrap--flex">
                            <div class="wrap-img organization-wrap">
                                <div class="logo-company">
										<a href="#" class="wrap-img">
											<img class="logoc" src="../img/4.jpg" alt="img">
										</a>
									</div>
                                <img src="../img/3.jpg" alt="img">
                            </div>

                            <div class="organization-aside__nums">
                                <div class="row-num">
                                    <div class="icon">
                                        <div class="wrap-img">
                                            <img src="../img/icon-phone-grey.png" alt="img">
                                        </div>
                                    </div>
                                    <div class="numbers">
                                        +380 (44) 765 - 22 - 34
                                    </div>
                                </div>
                                <div class="row-num">
                                    <div class="icon">
                                        <div class="wrap-img">
                                            <img src="../img/mts_l.png" alt="img">
                                        </div>
                                    </div>
                                    <div class="numbers">
                                        +380 (44) 765 - 22 - 34
                                    </div>
                                </div>
                                <div class="row-num">
                                    <div class="icon">
                                        <div class="wrap-img">
                                            <img src="../img/Lifecell_logo.png" alt="img">
                                        </div>
                                    </div>
                                    <div class="numbers">
                                        +380 (44) 765 - 22 - 34
                                    </div>
                                </div>
                                <div class="row-num">
                                    <div class="icon">
                                        <div class="wrap-img">
                                            <img src="../img/kiyvstar.png" alt="img">
                                        </div>
                                    </div>
                                    <div class="numbers">
                                        +380 (44) 765 - 22 - 34
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="organization-aside__map">
                            <div class="organization-aside__item--map">
                                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d10376.305475058758!2d32.050971600000004!3d49.4452736!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d14b7dd3936e61%3A0x8f4ae93c39117394!2z0J_QsNC80Y_RgtC90LjQuiDQotCw0YDQsNGB0YMg0KjQtdCy0YfQtdC90LrQvg!5e0!3m2!1sru!2sua!4v1536833670391" width="100%" height="100%" frameborder="0" style="border:0" allowfullscreen=""></iframe>
                            </div>
                            <div class="row-num">
                                <div class="icon">
                                    <div class="wrap-img">
                                        <img src="../img/point.png" alt="img">
                                    </div>
                                </div>
                                <div class="numbers">
                                        Киев, ул. Героев Днепра, 27
                                        <br>
                                        (Дарницкий р-н)
                                </div>
                            </div>
                            <div class="row-num">
                                <div class="icon">
                                    <div class="wrap-img">
                                        <img src="../img/disp.png" alt="img">
                                    </div>
                                </div>
                                <div class="numbers">
                                    <a href="#">pahvane.com.ua</a>
                                </div>
                            </div>
                            <div class="row-num">
                                <div class="icon">
                                    <div class="wrap-img">
                                        <img src="../img/time.png" alt="img">
                                    </div>
                                </div>
                                <div class="numbers">
                                    <div class="row-num__days">
                                        <span class="days">Пн - Пт: </span><span> 9:00 - 21:00</span>
                                    </div>  
                                    <div class="row-num__days">
                                        <span class="days">Сб - Вс: </span><span>Выходной</span>
                                    </div>     
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="second-bar-hight">
                <div class="second-block-js organization-second__bar--flex">
                    <div class="viewed-company margin-bottom__aside--all info-byer__1-js">
                        <div class="row-title">
                            <div class="title">просмотренные компании</div>
                        </div>		
                        <div class="viewed-company__row">
                            <div class="wrap-img viewed-company__wrap">
                                <img src="../img/2.jpg" alt="img">
                            </div>
                            <div class="wrap-stars">
                                <div class="wrap-stars__head">
                                    Похоронное бюро Пахаванне
                                </div>
                                <div class="wrap-row">
                                    <div class="star-rating">
                                        <div class="star-rating__wrap">
                                        <input class="star-rating__input" id="star-rating-104" type="radio" name="rating104" value="5">
                                        <label class="star-rating__ico far fa-star fa-lg" for="star-rating-104" title="5 out of 5 stars"></label>
                                        <input class="star-rating__input" id="star-rating-103" type="radio" name="rating103" value="4">
                                        <label class="star-rating__ico far fa-star fa-lg" for="star-rating-103" title="4 out of 5 stars"></label>
                                        <input class="star-rating__input" id="star-rating-102" type="radio" name="rating102" value="3">
                                        <label class="star-rating__ico far fa-star fa-lg" for="star-rating-102" title="3 out of 5 stars"></label>
                                        <input class="star-rating__input" id="star-rating-101" type="radio" name="rating101" value="2">
                                        <label class="star-rating__ico far fa-star fa-lg" for="star-rating-101" title="2 out of 5 stars"></label>
                                        <input class="star-rating__input" id="star-rating-100" type="radio" name="rating100" value="1">
                                        <label class="star-rating__ico far fa-star fa-lg" for="star-rating-100" title="1 out of 5 stars"></label>
                                        </div>
                                    </div>
                                    <div class="box-comment">
                                        <div class="wrap-img wrap-eye">
                                            <img src="../img/ic-chat-bubble-grey.png" alt="img" class="eye">
                                        </div>
                                        <span class="rectangle-quantity">1723</span>
                                    </div>
                                    <div class="box-eye">
                                        <div class="wrap-img wrap-eye">
                                            <img src="../img/ic-visibility-grey.png" alt="img" class="eye">
                                        </div>
                                        <span class="rectangle-quantity rectangle-quantity__mr">1723</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="viewed-company__row">
                            <div class="wrap-img viewed-company__wrap">
                                <img src="../img/2.jpg" alt="img">
                            </div>
                            <div class="wrap-stars">
                                <div class="wrap-stars__head">
                                    Похоронное бюро Пахаванне
                                </div>
                                <div class="wrap-row">
                                    <div class="star-rating">
                                        <div class="star-rating__wrap">
                                        <input class="star-rating__input" id="star-rating-110" type="radio" name="rating110" value="5">
                                        <label class="star-rating__ico far fa-star fa-lg" for="star-rating-110" title="5 out of 5 stars"></label>
                                        <input class="star-rating__input" id="star-rating-109" type="radio" name="rating109" value="4">
                                        <label class="star-rating__ico far fa-star fa-lg" for="star-rating-109" title="4 out of 5 stars"></label>
                                        <input class="star-rating__input" id="star-rating-108" type="radio" name="rating108" value="3">
                                        <label class="star-rating__ico far fa-star fa-lg" for="star-rating-108" title="3 out of 5 stars"></label>
                                        <input class="star-rating__input" id="star-rating-107" type="radio" name="rating107" value="2">
                                        <label class="star-rating__ico far fa-star fa-lg" for="star-rating-107" title="2 out of 5 stars"></label>
                                        <input class="star-rating__input" id="star-rating-106" type="radio" name="rating106" value="1">
                                        <label class="star-rating__ico far fa-star fa-lg" for="star-rating-106" title="1 out of 5 stars"></label>
                                        </div>
                                    </div>
                                    <div class="box-comment">
                                        <div class="wrap-img wrap-eye">
                                            <img src="../img/ic-chat-bubble-grey.png" alt="img" class="eye">
                                        </div>
                                        <span class="rectangle-quantity">1723</span>
                                    </div>
                                    <div class="box-eye">
                                        <div class="wrap-img wrap-eye">
                                            <img src="../img/ic-visibility-grey.png" alt="img" class="eye">
                                        </div>
                                        <span class="rectangle-quantity rectangle-quantity__mr">1723</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="viewed-company__row">
                            <div class="wrap-img viewed-company__wrap">
                                <img src="../img/2.jpg" alt="img">
                            </div>
                            <div class="wrap-stars">
                                <div class="wrap-stars__head">
                                    Похоронное бюро Пахаванне
                                </div>
                                <div class="wrap-row">
                                    <div class="star-rating">
                                        <div class="star-rating__wrap">
                                        <input class="star-rating__input" id="star-rating-115" type="radio" name="rating115" value="5">
                                        <label class="star-rating__ico far fa-star fa-lg" for="star-rating-115" title="5 out of 5 stars"></label>
                                        <input class="star-rating__input" id="star-rating-114" type="radio" name="rating114" value="4">
                                        <label class="star-rating__ico far fa-star fa-lg" for="star-rating-114" title="4 out of 5 stars"></label>
                                        <input class="star-rating__input" id="star-rating-113" type="radio" name="rating113" value="3">
                                        <label class="star-rating__ico far fa-star fa-lg" for="star-rating-113" title="3 out of 5 stars"></label>
                                        <input class="star-rating__input" id="star-rating-112" type="radio" name="rating112" value="2">
                                        <label class="star-rating__ico far fa-star fa-lg" for="star-rating-112" title="2 out of 5 stars"></label>
                                        <input class="star-rating__input" id="star-rating-111" type="radio" name="rating111" value="1">
                                        <label class="star-rating__ico far fa-star fa-lg" for="star-rating-111" title="1 out of 5 stars"></label>
                                        </div>
                                    </div>
                                    <div class="box-comment">
                                        <div class="wrap-img wrap-eye">
                                            <img src="../img/ic-chat-bubble-grey.png" alt="img" class="eye">
                                        </div>
                                        <span class="rectangle-quantity">1723</span>
                                    </div>
                                    <div class="box-eye">
                                        <div class="wrap-img wrap-eye">
                                            <img src="../img/ic-visibility-grey.png" alt="img" class="eye">
                                        </div>
                                        <span class="rectangle-quantity rectangle-quantity__mr">1723</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="viewed-company__row">
                            <div class="wrap-img viewed-company__wrap">
                                <img src="../img/2.jpg" alt="img">
                            </div>
                            <div class="wrap-stars">
                                <div class="wrap-stars__head">
                                    Похоронное бюро Пахаванне
                                </div>
                                <div class="wrap-row">
                                    <div class="star-rating">
                                        <div class="star-rating__wrap">
                                        <input class="star-rating__input" id="star-rating-120" type="radio" name="rating120" value="5">
                                        <label class="star-rating__ico far fa-star fa-lg" for="star-rating-120" title="5 out of 5 stars"></label>
                                        <input class="star-rating__input" id="star-rating-119" type="radio" name="rating119" value="4">
                                        <label class="star-rating__ico far fa-star fa-lg" for="star-rating-119" title="4 out of 5 stars"></label>
                                        <input class="star-rating__input" id="star-rating-118" type="radio" name="rating118" value="3">
                                        <label class="star-rating__ico far fa-star fa-lg" for="star-rating-118" title="3 out of 5 stars"></label>
                                        <input class="star-rating__input" id="star-rating-117" type="radio" name="rating117" value="2">
                                        <label class="star-rating__ico far fa-star fa-lg" for="star-rating-117" title="2 out of 5 stars"></label>
                                        <input class="star-rating__input" id="star-rating-116" type="radio" name="rating116" value="1">
                                        <label class="star-rating__ico far fa-star fa-lg" for="star-rating-116" title="1 out of 5 stars"></label>
                                        </div>
                                    </div>
                                    <div class="box-comment">
                                        <div class="wrap-img wrap-eye">
                                            <img src="../img/ic-chat-bubble-grey.png" alt="img" class="eye">
                                        </div>
                                        <span class="rectangle-quantity">1723</span>
                                    </div>
                                    <div class="box-eye">
                                        <div class="wrap-img wrap-eye">
                                            <img src="../img/ic-visibility-grey.png" alt="img" class="eye">
                                        </div>
                                        <span class="rectangle-quantity rectangle-quantity__mr">1723</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="activities margin-bottom__aside--all">
                        <div class="row-title">
                            <div class="title">Кладбища Киева и Киевской области</div>
                        </div>
                        <div class="filters-tags">
                            <div class="tag">
                                поминки
                            </div>
                            <div class="tag">
                                памятники
                            </div>
                            <div class="tag">
                                васильков
                            </div>
                            <div class="tag">
                                бровары
                            </div>
                            <div class="tag">
                                ирпень
                            </div>
                            <div class="tag">
                                ирпень
                            </div>
                            <div class="tag">
                                буча
                            </div>
                            <div class="tag">
                                обухов
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>
</div>
</div>

//= footer.html






