//= header.html

<div class="container-768 price-two__body">
    <div class="menu-green">
        <a href="#" class="item item-1 active">Похороны «под ключ»</a>
        <a href="#" class="item item-2">Ритуальные товары</a>
        <a href="#" class="item item-3">Памятники</a>
        <a href="#" class="item item-4">Ритуальный автотранспорт</a>
        <a href="#" class="item item-5">Организация поминок</a>
        <a href="#" class="item item-6">Ритуальные услуги</a>
        <a href="#" class="item item-7">Кладбища</a>
        <a href="#" class="item item-8">Венки</a>
    </div>
    <div class="breadcrum">
        <i class="fas fa-home"></i>
        <span class="breadcrum-pages">Каталог компаний</span>
    </div>
    <div class="main-container__flex">
        <div class="row-main">
            <div class="first-bar-small"></div>
            <div class="price-two best-company-js">
                <div class="row-title">
                    <div class="title companies-title__mw">ВЫБЕРИТЕ ВАРИАНТ</div>
                </div>
                <div class="arrangements-tab">

                    <div class="tabs">

                        <ul class="tabs__caption">
                            <li class="active">
                                <span>ЗАХОРОНЕНИЕ</span>
                            </li>
                            <li>
                                <span>КРЕМАЦИЯ</span>
                            </li>
                        </ul>

                        <div class="tabs__content active">
                            <div class="tab-container__flex">
                                <div class="tab-col">
                                    <div class="col-head">
                                        <div class="img-wrap tab-img__wrap">
                                            <img src="../img/shape-copy-2.svg" alt="img">
                                        </div>
                                        ЭКОНОМ
                                    </div>
                                    <div class="col-body">
                                        Гроб деревянный, обитый тканью
                                        <span class="t-green">1200 грн</span>
                                    </div>
                                    <div class="col-body">
                                        Гроб деревянный, обитый тканью
                                        <span class="t-green">1200 грн</span>
                                    </div>
                                    <div class="col-body">
                                        Гроб деревянный, обитый тканью
                                        <span class="t-green">1200 грн</span>
                                    </div>
                                    <div class="col-body">
                                        Гроб деревянный, обитый тканью
                                        <span class="t-green">1200 грн</span>
                                    </div>
                                    <a href="#" class="btn-green btn-tab">ВЫБРАТЬ</a>
                                </div>
                                <div class="tab-col">
                                    <div class="col-head">
                                        <div class="img-wrap tab-img__wrap">
                                            <img src="../img/ic-next-week.svg" alt="img">
                                        </div>
                                        СТАНДАРТ
                                    </div>
                                    <div class="col-body">
                                        Гроб деревянный, обитый тканью
                                        <span class="t-green">1200 грн</span>
                                    </div>
                                    <div class="col-body">
                                        Гроб деревянный, обитый тканью
                                        <span class="t-green">1200 грн</span>
                                    </div>
                                    <div class="col-body">
                                        Гроб деревянный, обитый тканью
                                        <span class="t-green">1200 грн</span>
                                    </div>
                                    <div class="col-body">
                                        Гроб деревянный, обитый тканью
                                        <span class="t-green">1200 грн</span>
                                    </div>
                                    <div class="col-body">
                                        Гроб деревянный, обитый тканью
                                        <span class="t-green">1200 грн</span>
                                    </div>
                                    <div class="col-body">
                                        Гроб деревянный, обитый тканью
                                        <span class="t-green">1200 грн</span>
                                    </div>
                                    <a href="#" class="btn-green btn-tab">ВЫБРАТЬ</a>
                                </div>
                                <div class="tab-col">
                                    <div class="col-head">
                                        <div class="img-wrap tab-img__wrap">
                                            <img src="../img/shape-copy.svg" alt="img">
                                        </div>
                                        VIP
                                    </div>
                                    <div class="col-body">
                                        Гроб деревянный, обитый тканью
                                        <span class="t-green">1200 грн</span>
                                    </div>
                                    <div class="col-body">
                                        Гроб деревянный, обитый тканью
                                        <span class="t-green">1200 грн</span>
                                    </div>
                                    <div class="col-body">
                                        Гроб деревянный, обитый тканью
                                        <span class="t-green">1200 грн</span>
                                    </div>
                                    <div class="col-body">
                                        Гроб деревянный, обитый тканью
                                        <span class="t-green">1200 грн</span>
                                    </div>
                                    <div class="col-body">
                                        Гроб деревянный, обитый тканью
                                        <span class="t-green">1200 грн</span>
                                    </div>
                                    <div class="col-body">
                                        Гроб деревянный, обитый тканью
                                        <span class="t-green">1200 грн</span>
                                    </div>
                                    <div class="col-body">
                                        Гроб деревянный, обитый тканью
                                        <span class="t-green">1200 грн</span>
                                    </div>
                                    <div class="col-body">
                                        Гроб деревянный, обитый тканью
                                        <span class="t-green">1200 грн</span>
                                    </div>
                                    <div class="col-body">
                                        Гроб деревянный, обитый тканью
                                        <span class="t-green">1200 грн</span>
                                    </div>
                                    <a href="#" class="btn-green btn-tab">ВЫБРАТЬ</a>
                                </div>
                            </div>
                        </div>

                        <div class="tabs__content">
                            2
                        </div>
                    </div>

                </div>
                <div class="bottom-info">
                    (*) Стоимость услуг по погребению на открытых кладбищах устанавливается администрацией кладбища.
                </div>
            </div>

            <div class="how-to">

                <div class="row-title">
                    <div class="title">Доверьтесь нам в трудную минуту</div>
                </div>

                <div class="how-to__text">
                    Смерть никогда не предупреждает о своём приходе. Потеря близкого человека — это большое горе, которое застаёт близких врасплох. В состоянии глубокой скорби человек порой перестаёт адекватно воспринимать окружающую действительность. А ведь родным нужно позаботиться о похоронах — узнать номера телефонов ритуальной службы, заказать цветы и венки, подготовить место на кладбище. Всё это не по силам убитым горем, ведь организация похорон — очень кропотливая и трудоёмкая работа. Как же в такой психологически сложной ситуации всё грамотно продумать и ничего не забыть?
                </div>
            </div>


            <div class="second-bar-small"></div>
        </div>


        <div class="row-aside">

            <div class="first-bar-hight">
                <div class="not-found ritual-catalog-js">
                    <div class="row-title">
                        <div class="title">похороны под ключ</div>
                    </div>
                    <div class="not-found__box">
                        <div class="wrap-img nf-wrap nf-wrap__phone">
                            <img src="../img/icon-phone.png" alt="phone">
                        </div>
                        <div class="row-number">
                            <div class="row-number__num">
                                +380 (44) 200 00 00
                            </div>
                            <div class="row-number__text">
                                круглосуточная служба помощи
                            </div>
                        </div>
                        <div class="wrap-form">
                            <form class="your-tell__form" action="">
                                <input class="your-tell contact-us__phone" type="tell" placeholder="Ваш номер телефона">
                            </form>
                            <a href="#" class="btn-green btn-green__nf">ПОЗВОНИТЬ</a>
                        </div>
                    </div>

                </div>
            </div>
            <div class="second-bar-hight">
                <div class="second-block-js">
                    <div class="info-byer info-byer__1 margin-bottom__aside--all info-byer__1-js">
                        <div class="row-title">
                            <div class="title">информация покупателю</div>
                        </div>
                        <div class="banner-resize-append">
                            <div class="wrap-img info-byer__wrap--img">
                                <img src="../img/3.jpg" alt="img">
                            </div>
                        </div>
                    </div>

                    <div class="info-blog margin-bottom__aside--all archive-post info-blog-js">

                        <div class="row-title">
                            <div class="title">АРХИВ СТАТЕЙ</div>
                            <div class="see-all">
                                <a href="#">Смотреть все</a>
                            </div>
                        </div>
                        <div class="info-blog__body slider">

                            <div class="swiper-container__aside">
                                <div class="swiper-wrapper">

                                    <div class="swiper-slide swiper-slide__info--blog">
                                        <div class="important-information__item item-lil">
                                            <div class="wrap-img important-information__limg">
                                                <img src="../img/4.jpg" alt="img">
                                            </div>
                                            <div class="item-body__lil">
                                                <h2 class="h2 important-information__lh2"><a href="#">Перспективы
                                                    перехода на экологичные технологии похорон в Китае</a></h2>
                                                <div class="data important-information__data important-information__ldata">
                                                    Apr 22, 2015
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="swiper-slide swiper-slide__info--blog">
                                        <div class="important-information__item item-lil">
                                            <div class="wrap-img important-information__limg">
                                                <img src="../img/4.jpg" alt="img">
                                            </div>
                                            <div class="item-body__lil">
                                                <h2 class="h2 important-information__lh2"><a href="#">Перспективы
                                                    перехода на экологичные технологии похорон в Китае</a></h2>
                                                <div class="data important-information__data important-information__ldata">
                                                    Apr 22, 2015
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="swiper-slide swiper-slide__info--blog">
                                        <div class="important-information__item item-lil">
                                            <div class="wrap-img important-information__limg">
                                                <img src="../img/4.jpg" alt="img">
                                            </div>
                                            <div class="item-body__lil">
                                                <h2 class="h2 important-information__lh2"><a href="#">Перспективы
                                                    перехода на экологичные технологии похорон в Китае</a></h2>
                                                <div class="data important-information__data important-information__ldata">
                                                    Apr 22, 2015
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="swiper-slide swiper-slide__info--blog">
                                        <div class="important-information__item item-lil">
                                            <div class="wrap-img important-information__limg">
                                                <img src="../img/4.jpg" alt="img">
                                            </div>
                                            <div class="item-body__lil">
                                                <h2 class="h2 important-information__lh2"><a href="#">Перспективы
                                                    перехода на экологичные технологии похорон в Китае</a></h2>
                                                <div class="data important-information__data important-information__ldata">
                                                    Apr 22, 2015
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="swiper-slide swiper-slide__info--blog">
                                        <div class="important-information__item item-lil">
                                            <div class="wrap-img important-information__limg">
                                                <img src="../img/4.jpg" alt="img">
                                            </div>
                                            <div class="item-body__lil">
                                                <h2 class="h2 important-information__lh2"><a href="#">Перспективы
                                                    перехода на экологичные технологии похорон в Китае</a></h2>
                                                <div class="data important-information__data important-information__ldata">
                                                    Apr 22, 2015
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="swiper-slide swiper-slide__info--blog">
                                        <div class="important-information__item item-lil">
                                            <div class="wrap-img important-information__limg">
                                                <img src="../img/4.jpg" alt="img">
                                            </div>
                                            <div class="item-body__lil">
                                                <h2 class="h2 important-information__lh2"><a href="#">Перспективы
                                                    перехода на экологичные технологии похорон в Китае</a></h2>
                                                <div class="data important-information__data important-information__ldata">
                                                    Apr 22, 2015
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="swiper-slide swiper-slide__info--blog">
                                        <div class="important-information__item item-lil">
                                            <div class="wrap-img important-information__limg">
                                                <img src="../img/4.jpg" alt="img">
                                            </div>
                                            <div class="item-body__lil">
                                                <h2 class="h2 important-information__lh2"><a href="#">Перспективы
                                                    перехода на экологичные технологии похорон в Китае</a></h2>
                                                <div class="data important-information__data important-information__ldata">
                                                    Apr 22, 2015
                                                </div>
                                            </div>
                                        </div>
                                    </div>


                                </div>
                            </div>
                            <div class="swiper-navigation__container">
                                <div class="swiper-button-next"><i class="fas fa-chevron-right"></i></div>
                                <div class="swiper-button-prev"><i class="fas fa-chevron-left"></i></div>
                            </div>
                        </div>
                    </div>

                    <div class="info-blog info-blog__2 margin-bottom__aside--all info-blog-js">

                        <div class="row-title">
                            <div class="title">информация блог</div>
                            <div class="see-all">
                                <a href="#">Смотреть все</a>
                            </div>
                        </div>
                        <div class="info-blog__body slider">

                            <div class="swiper-container__aside3">
                                <div class="swiper-wrapper">

                                    <div class="swiper-slide swiper-slide__info--blog">
                                        <div class="info-blog__item--border">
                                            <div class="info-blog__item">
                                                <div class="info-blog__title">
                                                    <div class="wrap-img wrap-img__info--blog">
                                                        <img src="../img/cremation.png" alt="img">
                                                    </div>
                                                    <a href="#">Протестим название в две строки ведь такое может
                                                        быть</a>
                                                </div>
                                                <p class="info-blog__text">
                                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ac
                                                    dictum diam. Suspendisse potenti. Donec laoreet tristique dolor,
                                                    vehicula aliquet lorem bibendum quis. Nam et lobortis orci, lobortis
                                                    venenatis dui. Praesent dapibus enim sed eros aliquet, condimentum
                                                    sodales massa euismod. Aliquam nisi nisi, faucibus a purus et,
                                                    maximus pellentesque nibh. Vestibulum posuere sodales consectetur.
                                                </p>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="swiper-slide swiper-slide__info--blog">
                                        <div class="info-blog__item--border">
                                            <div class="info-blog__item">
                                                <div class="info-blog__title">
                                                    <div class="wrap-img wrap-img__info--blog">
                                                        <img src="../img/cremation.png" alt="img">
                                                    </div>
                                                    <a href="#">А тут только в одну строчку</a>
                                                </div>
                                                <p class="info-blog__text blog-small__content">
                                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ac
                                                    dictum diam. Suspendisse potenti. Donec laoreet tristique dolor,
                                                    vehicula aliquet lorem bibendum quis. Nam et lobortis orci, lobortis
                                                    venenatis dui. Praesent dapibus enim sed eros aliquet, condimentum
                                                    sodales massa euismod. Aliquam nisi nisi, faucibus a purus et,
                                                    maximus pellentesque nibh. Vestibulum posuere sodales consectetur.
                                                </p>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="swiper-slide swiper-slide__info--blog">
                                        <div class="info-blog__item--border">
                                            <div class="info-blog__item">
                                                <div class="info-blog__title">
                                                    <div class="wrap-img wrap-img__info--blog">
                                                        <img src="../img/cremation.png" alt="img">
                                                    </div>
                                                    <a href="#">Протестим название в две строки ведь такое может
                                                        быть</a>
                                                </div>
                                                <p class="info-blog__text">
                                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ac
                                                    dictum diam. Suspendisse potenti. Donec laoreet tristique dolor,
                                                    vehicula aliquet lorem bibendum quis. Nam et lobortis orci, lobortis
                                                    venenatis dui. Praesent dapibus enim sed eros aliquet, condimentum
                                                    sodales massa euismod. Aliquam nisi nisi, faucibus a purus et,
                                                    maximus pellentesque nibh. Vestibulum posuere sodales consectetur.
                                                </p>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="swiper-slide swiper-slide__info--blog">
                                        <div class="info-blog__item--border">
                                            <div class="info-blog__item">
                                                <div class="info-blog__title">
                                                    <div class="wrap-img wrap-img__info--blog">
                                                        <img src="../img/cremation.png" alt="img">
                                                    </div>
                                                    <a href="#">Протестим название в две строки ведь такое может
                                                        быть</a>
                                                </div>
                                                <p class="info-blog__text blog-small__content">
                                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ac
                                                    dictum diam. Suspendisse potenti. Donec laoreet tristique dolor,
                                                    vehicula aliquet lorem bibendum quis. Nam et lobortis orci, lobortis
                                                    venenatis dui. Praesent dapibus enim sed eros aliquet, condimentum
                                                    sodales massa euismod. Aliquam nisi nisi, faucibus a purus et,
                                                    maximus pellentesque nibh. Vestibulum posuere sodales consectetur.
                                                </p>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="swiper-slide swiper-slide__info--blog">
                                        <div class="info-blog__item--border">
                                            <div class="info-blog__item">
                                                <div class="info-blog__title">
                                                    <div class="wrap-img wrap-img__info--blog">
                                                        <img src="../img/cremation.png" alt="img">
                                                    </div>
                                                    <a href="#">Протестим название в две строки ведь такое может
                                                        быть</a>
                                                </div>
                                                <p class="info-blog__text">
                                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ac
                                                    dictum diam. Suspendisse potenti. Donec laoreet tristique dolor,
                                                    vehicula aliquet lorem bibendum quis. Nam et lobortis orci, lobortis
                                                    venenatis dui. Praesent dapibus enim sed eros aliquet, condimentum
                                                    sodales massa euismod. Aliquam nisi nisi, faucibus a purus et,
                                                    maximus pellentesque nibh. Vestibulum posuere sodales consectetur.
                                                </p>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="swiper-slide swiper-slide__info--blog">
                                        <div class="info-blog__item--border">
                                            <div class="info-blog__item">
                                                <div class="info-blog__title">
                                                    <div class="wrap-img wrap-img__info--blog">
                                                        <img src="../img/cremation.png" alt="img">
                                                    </div>
                                                    <a href="#">Протестим название в две строки ведь такое может
                                                        быть</a>
                                                </div>
                                                <p class="info-blog__text blog-small__content">
                                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ac
                                                    dictum diam. Suspendisse potenti. Donec laoreet tristique dolor,
                                                    vehicula aliquet lorem bibendum quis. Nam et lobortis orci, lobortis
                                                    venenatis dui. Praesent dapibus enim sed eros aliquet, condimentum
                                                    sodales massa euismod. Aliquam nisi nisi, faucibus a purus et,
                                                    maximus pellentesque nibh. Vestibulum posuere sodales consectetur.
                                                </p>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="swiper-slide swiper-slide__info--blog">
                                        <div class="info-blog__item--border">
                                            <div class="info-blog__item">
                                                <div class="info-blog__title">
                                                    <div class="wrap-img wrap-img__info--blog">
                                                        <img src="../img/cremation.png" alt="img">
                                                    </div>
                                                    <a href="#">Протестим название в две строки ведь такое может
                                                        быть</a>
                                                </div>
                                                <p class="info-blog__text">
                                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ac
                                                    dictum diam. Suspendisse potenti. Donec laoreet tristique dolor,
                                                    vehicula aliquet lorem bibendum quis. Nam et lobortis orci, lobortis
                                                    venenatis dui. Praesent dapibus enim sed eros aliquet, condimentum
                                                    sodales massa euismod. Aliquam nisi nisi, faucibus a purus et,
                                                    maximus pellentesque nibh. Vestibulum posuere sodales consectetur.
                                                </p>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="swiper-slide swiper-slide__info--blog">
                                        <div class="info-blog__item--border">
                                            <div class="info-blog__item">
                                                <div class="info-blog__title">
                                                    <div class="wrap-img wrap-img__info--blog">
                                                        <img src="../img/cremation.png" alt="img">
                                                    </div>
                                                    <a href="#">Протестим название в две строки ведь такое может
                                                        быть</a>
                                                </div>
                                                <p class="info-blog__text blog-small__content">
                                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ac
                                                    dictum diam. Suspendisse potenti. Donec laoreet tristique dolor,
                                                    vehicula aliquet lorem bibendum quis. Nam et lobortis orci, lobortis
                                                    venenatis dui. Praesent dapibus enim sed eros aliquet, condimentum
                                                    sodales massa euismod. Aliquam nisi nisi, faucibus a purus et,
                                                    maximus pellentesque nibh. Vestibulum posuere sodales consectetur.
                                                </p>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="swiper-navigation__container">
                                <div class="swiper-button-prev3"><i class="fas fa-chevron-left"></i></div>
                                <div class="swiper-button-next3"><i class="fas fa-chevron-right"></i></div>
                            </div>
                        </div>
                    </div>

                    <div class="info-byer__2 margin-bottom__aside--all info-byer__2-js info-byer__2-js">
                        <div class="row-title">
                            <div class="title">информация покупателю</div>
                        </div>
                        <div class="banner-move">
                            <div class="wrap-img info-byer__wrap--img banner-move-js">
                                <img src="../img/3.jpg" alt="img">
                            </div>
                        </div>
                    </div>

                    <div class="info-blog question margin-bottom__aside--all question-js">

                        <div class="row-title">
                            <div class="title">вопрос - ответ</div>
                            <div class="see-all">
                                <a href="#">Смотреть все</a>
                            </div>
                        </div>
                        <div class="info-blog__body slider">

                            <div class="swiper-container__aside2">
                                <div class="swiper-wrapper">

                                    <div class="swiper-slide swiper-slide__info--blog swiper-slide__question">
                                        <div class="info-blog__item--border">
                                            <div class="info-blog__item">
                                                <div class="info-blog__title">
                                                    <div class="wrap-img wrap-img__info--blog swiper-slide__question">
                                                        <img src="../img/cremation.png" alt="img">
                                                    </div>
                                                    <a href="#">Протестим название в две строки ведь такое может
                                                        быть</a>
                                                </div>
                                                <p class="info-blog__text">
                                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ac
                                                    dictum diam. Suspendisse potenti. Donec laoreet tristique dolor,
                                                    vehicula aliquet lorem bibendum quis. Nam et lobortis orci, lobortis
                                                    venenatis dui. Praesent dapibus enim sed eros aliquet, condimentum
                                                    sodales massa euismod. Aliquam nisi nisi, faucibus a purus et,
                                                    maximus pellentesque nibh. Vestibulum posuere sodales consectetur.
                                                </p>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="swiper-slide swiper-slide__info--blog swiper-slide__question">
                                        <div class="info-blog__item--border">
                                            <div class="info-blog__item">
                                                <div class="info-blog__title">
                                                    <div class="wrap-img wrap-img__info--blog">
                                                        <img src="../img/cremation.png" alt="img">
                                                    </div>
                                                    <a href="#">А тут только в одну строчку</a>
                                                </div>
                                                <p class="info-blog__text blog-small__content">
                                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ac
                                                    dictum diam. Suspendisse potenti. Donec laoreet tristique dolor,
                                                    vehicula aliquet lorem bibendum quis. Nam et lobortis orci, lobortis
                                                    venenatis dui. Praesent dapibus enim sed eros aliquet, condimentum
                                                    sodales massa euismod. Aliquam nisi nisi, faucibus a purus et,
                                                    maximus pellentesque nibh. Vestibulum posuere sodales consectetur.
                                                </p>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="swiper-slide swiper-slide__info--blog swiper-slide__question">
                                        <div class="info-blog__item--border">
                                            <div class="info-blog__item">
                                                <div class="info-blog__title">
                                                    <div class="wrap-img wrap-img__info--blog">
                                                        <img src="../img/cremation.png" alt="img">
                                                    </div>
                                                    <a href="#">Протестим название в две строки ведь такое может
                                                        быть</a>
                                                </div>
                                                <p class="info-blog__text">
                                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ac
                                                    dictum diam. Suspendisse potenti. Donec laoreet tristique dolor,
                                                    vehicula aliquet lorem bibendum quis. Nam et lobortis orci, lobortis
                                                    venenatis dui. Praesent dapibus enim sed eros aliquet, condimentum
                                                    sodales massa euismod. Aliquam nisi nisi, faucibus a purus et,
                                                    maximus pellentesque nibh. Vestibulum posuere sodales consectetur.
                                                </p>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="swiper-slide swiper-slide__info--blog swiper-slide__question">
                                        <div class="info-blog__item--border">
                                            <div class="info-blog__item">
                                                <div class="info-blog__title">
                                                    <div class="wrap-img wrap-img__info--blog">
                                                        <img src="../img/cremation.png" alt="img">
                                                    </div>
                                                    <a href="#">Протестим название в две строки ведь такое может
                                                        быть</a>
                                                </div>
                                                <p class="info-blog__text blog-small__content">
                                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ac
                                                    dictum diam. Suspendisse potenti. Donec laoreet tristique dolor,
                                                    vehicula aliquet lorem bibendum quis. Nam et lobortis orci, lobortis
                                                    venenatis dui. Praesent dapibus enim sed eros aliquet, condimentum
                                                    sodales massa euismod. Aliquam nisi nisi, faucibus a purus et,
                                                    maximus pellentesque nibh. Vestibulum posuere sodales consectetur.
                                                </p>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="swiper-navigation__container">
                                <div class="swiper-button-prev2"><i class="fas fa-chevron-left"></i></div>
                                <div class="swiper-button-next2"><i class="fas fa-chevron-right"></i></div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>

//= footer.html