//= header.html


<div class="container-768 search-body">
    <div class="menu-green">
        <a href="#" class="item item-1 active">Похороны «под ключ»</a>
        <a href="#" class="item item-2">Ритуальные товары</a>
        <a href="#" class="item item-3">Памятники</a>
        <a href="#" class="item item-4">Ритуальный автотранспорт</a>
        <a href="#" class="item item-5">Организация поминок</a>
        <a href="#" class="item item-6">Ритуальные услуги</a>
        <a href="#" class="item item-7">Кладбища</a>
        <a href="#" class="item item-8">Венки</a>
    </div>
    <div class="breadcrum">
        <i class="fas fa-home"></i>
        <span class="breadcrum-pages">Каталог компаний</span>
    </div>
    <div class="main-container__flex">
        <div class="row-main">
            <div class="search">
                <div class="row-title">
                    <div class="title">Поиск по сайту</div>
                </div>
                <form action="" class="form-search">
                    <input class="input-search" type="text" placeholder="Поиск">
                    <a href="#" class="btn-search btn-red">ИСКАТЬ</a>
                    <a href="#" class="btn-search btn-red mobile-btn"><i class="fas fa-search"></i></a>
                </form>
                <div class="form-search__result">Результат поиска: найдено <span class="result-num">64</span>
                    объекта
                </div>
                <div class="form-search__row">
                    <div class="select-1">
                        <label class="label-search" for="where-search">Где искать:</label>
                        <div class="select">
                            <select class="input-search__select" name="where-search" id="where-search">
                                <option>Везде</option>
                                <option>Везде</option>
                                <option>Везде</option>
                            </select>
                        </div>

                    </div>
                    <div class="select-1">
                        <label class="label-search" for="ecxact-search">Совпадение:</label>
                        <div class="select">
                            <select class="input-search__select" name="ecxact-search" id="ecxact-search">
                                <option>Точное сопадение</option>
                                <option>Точное сопадение</option>
                                <option>3</option>
                            </select>
                        </div>

                    </div>
                    <div class="select-1">
                        <label class="label-search" for="order-search">Порядок:</label>
                        <div class="select">
                            <select class="input-search__select" name="order-search" id="order-search">
                                <option>По релевантности</option>
                                <option>По релевантности</option>
                                <option>По релевантности</option>
                            </select>
                        </div>

                    </div>

                </div>


                <div class="search-result">
                    <div class="head-result">
                        <a class="page-name" href="#">Заголовок страницы</a>
                        <div class="title-result">Организация похорон</div>
                    </div>
                    <div class="body-search-result">
                        Смерть никогда не предупреждает о своём приходе. <span class="bold">Потеря близкого человека</span> — это большое горе, которое застаёт <span class="bold">близких</span> врасплох. В состоянии глубокой скорби человек порой перестаёт адекватно воспринимать окружающую действительность.
                    </div>
                </div>
                <div class="search-result">
                    <div class="head-result">
                        <a class="page-name" href="#">Заголовок страницы</a>
                        <div class="title-result">Организация похорон</div>
                    </div>
                    <div class="body-search-result">
                        Смерть никогда не предупреждает о своём приходе. <span class="bold">Потеря близкого человека</span> — это большое горе, которое застаёт <span class="bold">близких</span> врасплох. В состоянии глубокой скорби человек порой перестаёт адекватно воспринимать окружающую действительность.
                    </div>
                </div>
                <div class="search-result">
                    <div class="head-result">
                        <a class="page-name" href="#">Заголовок страницы</a>
                        <div class="title-result">Организация похорон</div>
                    </div>
                    <div class="body-search-result">
                        Смерть никогда не предупреждает о своём приходе. <span class="bold">Потеря близкого человека</span> — это большое горе, которое застаёт <span class="bold">близких</span> врасплох. В состоянии глубокой скорби человек порой перестаёт адекватно воспринимать окружающую действительность.
                    </div>
                </div>
                <div class="search-result">
                    <div class="head-result">
                        <a class="page-name" href="#">Заголовок страницы</a>
                        <div class="title-result">Организация похорон</div>
                    </div>
                    <div class="body-search-result">
                        Смерть никогда не предупреждает о своём приходе. <span class="bold">Потеря близкого человека</span> — это большое горе, которое застаёт <span class="bold">близких</span> врасплох. В состоянии глубокой скорби человек порой перестаёт адекватно воспринимать окружающую действительность.
                    </div>
                </div>
                <div class="search-result">
                    <div class="head-result">
                        <a class="page-name" href="#">Заголовок страницы</a>
                        <div class="title-result">Организация похорон</div>
                    </div>
                    <div class="body-search-result">
                        Смерть никогда не предупреждает о своём приходе. <span class="bold">Потеря близкого человека</span> — это большое горе, которое застаёт <span class="bold">близких</span> врасплох. В состоянии глубокой скорби человек порой перестаёт адекватно воспринимать окружающую действительность.
                    </div>
                </div>
                <div class="search-result">
                    <div class="head-result">
                        <a class="page-name" href="#">Заголовок страницы</a>
                        <div class="title-result">Организация похорон</div>
                    </div>
                    <div class="body-search-result">
                        Смерть никогда не предупреждает о своём приходе. <span class="bold">Потеря близкого человека</span> — это большое горе, которое застаёт <span class="bold">близких</span> врасплох. В состоянии глубокой скорби человек порой перестаёт адекватно воспринимать окружающую действительность.
                    </div>
                </div>
                <div class="search-result">
                    <div class="head-result">
                        <a class="page-name" href="#">Заголовок страницы</a>
                        <div class="title-result">Организация похорон</div>
                    </div>
                    <div class="body-search-result">
                        Смерть никогда не предупреждает о своём приходе. <span class="bold">Потеря близкого человека</span> — это большое горе, которое застаёт <span class="bold">близких</span> врасплох. В состоянии глубокой скорби человек порой перестаёт адекватно воспринимать окружающую действительность.
                    </div>
                </div>

                <div class="wrap-pagination">
                    <!-- <a href="#" class="btn-green btn-cemeteries__kiev">ДОБАВИТЬ КОМПАНИЮ</a> -->
                    <div class="pagination">
                        <a href="#" class="prev pagination-navigation"><i class="fas fa-chevron-left"></i></a>
                        <div class="paginations-number">
                            <a href="#" class="num">1</a>
                            <a href="#" class="num">2</a>
                            <a href="#" class="num active">3</a>
                            <a href="#" class="num">4</a>
                            <a href="#" class="num">5</a>
                        </div>
                        <a href="#" class="next pagination-navigation"><i class="fas fa-chevron-right"></i></a>
                    </div>
                </div>
            </div>



        </div>


        <div class="row-aside">

        </div>
    </div>
</div>
</div>
</div>

//= footer.html






