

//= header.html


<div class="container-768 services-body">
    <div class="menu-green">
        <a href="#" class="item item-1 active">Похороны «под ключ»</a>
        <a href="#" class="item item-2">Ритуальные товары</a>
        <a href="#" class="item item-3">Памятники</a>
        <a href="#" class="item item-4">Ритуальный автотранспорт</a>
        <a href="#" class="item item-5">Организация поминок</a>
        <a href="#" class="item item-6">Ритуальные услуги</a>
        <a href="#" class="item item-7">Кладбища</a>
        <a href="#" class="item item-8">Венки</a>
    </div>
    <div class="breadcrum">
            <i class="fas fa-home"></i>
            <span class="breadcrum-pages">Каталог компаний</span>
        </div>
    <div class="main-container__flex">
        <div class="row-main">
            <div class="ritual-catalog margin-bottom__aside--all">

                    <div class="row-title">
                        <div class="title">ритуальный каталог</div>
                    </div>

                    <div class="ritual-catalog__body ">
                        <div class="item item-active">
                            <a href="#">
                                <div class="wrap-img ritual-catalog__svg">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewBox="0 0 50 50">
                                        <path fill-rule="evenodd" d="M23.165 11.356H10.393c-2.92 0-5.354 2.37-5.354 5.305V45h-.543C2.581 45 1 43.383 1 41.475V8.525C1 6.607 2.581 5 4.496 5h11.908c1.039 0 2.02.496 2.678 1.306l4.083 5.05zm22.339 1.849c1.915 0 3.496 1.55 3.496 3.456v24.803c0 1.918-1.593 3.525-3.496 3.525H6.885V16.661c0-1.907 1.603-3.456 3.508-3.456h35.11zm-9.727 22.839a.965.965 0 0 0 .023-1.318l-2.423-2.438c-.035-.035-.058-.07-.092-.105-.035-.035-.07-.07-.104-.092l-4.927-4.947c.553-.82.854-1.791.854-2.809A5.04 5.04 0 0 0 27.63 20.8a5.012 5.012 0 0 0-7.073-.012c-1.95 1.942-1.938 5.143.013 7.097.946.948 2.191 1.49 3.53 1.49h.012a4.96 4.96 0 0 0 2.815-.89l4.362 4.38-1.811 1.804a.93.93 0 0 0 0 1.306.957.957 0 0 0 .657.266c.242 0 .473-.081.658-.266l1.8-1.815 1.223 1.225-2.008 2.012a.928.928 0 0 0 0 1.305.974.974 0 0 0 .657.266c.243 0 .473-.08.658-.266l2.654-2.657zM24.066 21.192c.807 0 1.626.312 2.25.912.6.602.9 1.4.9 2.243 0 .844-.254 1.641-.947 2.231v.023c-.576.589-1.315.936-2.157.936H24.1a3.161 3.161 0 0 1-2.238-.948c-1.223-1.237-1.235-3.247-.012-4.472a3.117 3.117 0 0 1 2.216-.925z"/>
                                    </svg>
                                </div>
                                <div class="ritual-catalog__item--title">
                                    Похороны «под ключ»
                                </div>
                                <div class="ritual-catalog__item--text">
                                        143 компании
                                </div>
                            </a>
                        </div>
                        <div class="item">
                            <a href="#">
                                <div class="wrap-img ritual-catalog__svg">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewBox="0 0 50 50">
                                        <path fill-rule="evenodd" d="M21.723 42.036V40.92c0-.153.13-.278.289-.278h2.12v-2.05c0-.153.133-.278.29-.278h1.156c.156 0 .288.127.288.279v2.05h2.122c.159 0 .288.125.288.277v1.117c0 .152-.13.279-.288.279h-2.122v4.606c0 .15-.129.277-.288.277h-1.157a.284.284 0 0 1-.288-.277v-4.606h-2.121a.285.285 0 0 1-.289-.279m12.373-26.523c.13-.072.285-.09.407-.105.974-.12 1.74.367 1.043 1.912-.34.757-.83 2.11-1.302 3.15-.473 1.048-.302 2.53-1.363 2.309-.215 1.21-.467 2.079-1.478 3.144-1.33 1.353-2.47 2.927-4.074 3.74l-.107.053v.001c-.073.034-.146.068-.22.1-.112.046-.225.09-.341.13l-.116.038-.119.036-.12.033-.121.03h-.001c-.041.01-.082.018-.124.027l-.126.024-.127.021-.13.02c-.043.003-.087.008-.13.013l-.135.012-.135.009-.137.005h-.28l-.138-.005-.135-.009c-.046-.003-.09-.007-.134-.012l-.131-.014-.13-.019a5.855 5.855 0 0 1-.128-.021l-.125-.024a5.742 5.742 0 0 1-.124-.027l-.121-.03h-.001l-.12-.033a2.725 2.725 0 0 1-.118-.036l-.116-.038h-.001a4.528 4.528 0 0 1-.34-.13h-.001a5.577 5.577 0 0 1-.219-.1l-.107-.053h-.001l-.106-.055v-.001l-.105-.058-.103-.058-.001-.001a6.75 6.75 0 0 1-.595-.398l-.002-.002c-1.156-.863-2.097-2.086-3.162-3.168-1.012-1.066-1.263-1.937-1.479-3.146-1.07.216-.923-1.293-1.398-2.34-.47-1.042-.924-2.36-1.266-3.117-.692-1.535.059-2.042 1.025-1.93.13.012.26.042.377.105-.406-2.135-1.905-9.47 1.053-9.919C16.781 1.965 22.178 1 25 1c5.148 0 9.423 2.204 9.853 7.624.177 2.246-.287 4.685-.757 6.89M19.538 28.917v2.25c.713.883 1.734 1.47 2.992 1.832.541.155.93.413.927 1.087v1.761c-.013.407-.316.578-.697.517-2.064-.366-3.787-1.244-4.709-2.629l-.033.008c-7.332 1.641-13.545 6.027-14.98 13.478-.194 1.18.365 1.785 1.63 1.778h40.664c1.264.007 1.824-.598 1.63-1.778-1.436-7.451-7.648-11.837-14.981-13.478l-.033-.008c-.922 1.385-2.645 2.263-4.709 2.63-.38.06-.684-.111-.696-.518v-1.76c-.004-.675.385-.933.926-1.088 1.257-.362 2.28-.949 2.992-1.832v-2.25c-3.523 3.592-7.516 3.462-10.923 0"/>
                                    </svg>
                                </div>
                                <div class="ritual-catalog__item--title">
                                    Похороны «под ключ»
                                </div>
                                <div class="ritual-catalog__item--text">
                                        143 компании
                                </div>
                            </a>
                        </div>
                        <div class="item">
                                <a href="#">
                                    <div class="wrap-img ritual-catalog__svg">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewBox="0 0 50 50">
                                            <path fill-rule="evenodd" d="M34.397 15.888V17.6c-.38-.025-.76-.04-1.13-.05-1.216-.031-2.438-.011-3.653-.003-1.529.008-3.054.003-4.581-.043h-.066c-1.527.046-3.052.051-4.58.043-1.217-.008-2.438-.028-3.653.003-.373.01-.751.025-1.133.05v-1.713h18.796zM25 1c-.56 1.038-1.9 2.098-2.343 3.235-.373.958-.005 2.87 2.343 2.636 2.348.234 2.715-1.678 2.343-2.636C26.9 3.098 25.559 2.038 25 1zm0 17.632c7.763.238 11.611-.641 13.933 1.83 3.94 4.194 1.604 9.422-1.66 13.759-2.477 3.29-2.851 4.81-1.966 7.66H14.693c.884-2.85.511-4.37-1.966-7.66-3.264-4.337-5.6-9.565-1.66-13.759 2.32-2.471 6.17-1.592 13.933-1.83zM13.2 43.01h23.6c.432 0 .786.362.786.806v4.377a.8.8 0 0 1-.787.807H13.2a.8.8 0 0 1-.786-.807v-4.377c0-.444.354-.806.787-.806zm1.216-31.808h21.167c.31 0 .562.26.562.577v2.405a.57.57 0 0 1-.562.575H14.416a.57.57 0 0 1-.562-.575v-2.405c0-.317.253-.577.562-.577zM27.974 6.65c2.208.582 4.131 1.799 5.53 3.424h-17.01c1.4-1.626 3.324-2.842 5.533-3.424.655 1.045 1.816 1.355 2.973 1.258 1.156.097 2.316-.213 2.974-1.258z"></path>
                                        </svg>
                                    </div>
                                    <div class="ritual-catalog__item--title">
                                        Похороны «под ключ»
                                    </div>
                                    <div class="ritual-catalog__item--text">
                                            143 компании
                                    </div>
                                </a>
                            </div>
                        <div class="item">
                                <a href="#">
                                    <div class="wrap-img ritual-catalog__svg">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewBox="0 0 50 50">
                                            <path fill-rule="evenodd" d="M38.289 9.645h2.32c1.315 0 2.391 1.074 2.391 2.374v34.608C43 47.926 41.924 49 40.608 49c-9.665 0-19.332-.029-28.997-.045-2.533 0-4.61-2.057-4.61-4.573V6.824c-.01-1.621.473-3.082 1.601-4.211A5.468 5.468 0 0 1 12.477 1h21.139c1.282 0 2.487.36 3.412 1.273.896.883 1.265 2.02 1.26 3.254v4.118zM26.43 42.062h-2.86a.71.71 0 0 1-.71-.706V26.733h-5.243a.713.713 0 0 1-.713-.707V23.19c0-.387.32-.705.713-.705h5.242v-5.2c0-.387.326-.705.712-.705h2.86c.385 0 .71.322.71.705v5.2h5.243c.391 0 .712.32.712.705v2.836a.714.714 0 0 1-.712.707h-5.242v14.623c0 .384-.32.706-.712.706zM12.29 9.645h23.683V5.527c.001-.603-.127-1.19-.574-1.63-.477-.47-1.135-.599-1.783-.6h-21.14c-1.762 0-3.17 1.448-3.17 3.184 0 1.658 1.318 3.052 2.983 3.164z"/>
                                        </svg>
                                    </div>
                                    <div class="ritual-catalog__item--title">
                                        Похороны «под ключ»
                                    </div>
                                    <div class="ritual-catalog__item--text">
                                            143 компании
                                    </div>
                                </a>
                            </div>
                            <div class="item">
                                <a href="#">
                                    <div class="wrap-img ritual-catalog__svg">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewBox="0 0 50 50">
                                            <path fill-rule="evenodd" d="M45.083 34.696C41.751 42.518 34.014 48 25 48c-9.014 0-16.751-5.482-20.083-13.304 3.06-1.333 6.31-3.39 9.419-5.863 1.214 4.774 5.529 8.304 10.664 8.304 5.136 0 9.45-3.53 10.664-8.304 3.109 2.474 6.359 4.53 9.42 5.863zM21.1 11.528c-1.889 2.868-4.378 5.776-7.152 8.441-3.353 3.224-7.105 6.072-10.694 8.045a22.292 22.292 0 0 1-.085-1.92c0-7.262 3.522-13.696 8.944-17.682v2.156c.005.389.045.695.167 1.062.195.584.543 1.04 1.003 1.354.444.304.978.462 1.558.462.35 0 .805-.067 1.133-.19l5.126-1.728zm3.09 5.129c-4.997 7.015-13.098 13.986-20.08 16.929-.453.184-.742.098-1.038-.219l-1.856-1.976c-.303-.31-.3-.729.09-.918 7.233-3.192 15.648-10.486 20.565-17.707a35.41 35.41 0 0 0 2.319 3.89zm-1.43-5.101c4.014 8.462 14.439 18.366 23.13 22.03.454.184.742.098 1.038-.219l1.856-1.976c.303-.31.3-.729-.09-.918-7.636-3.371-16.592-11.314-21.357-18.917H22.76zm-2.092-7.708l-5.117-1.725c-1.153-.385-2.107.147-2.105 1.422v7.022c-.002 1.276.952 1.809 2.105 1.423l5.115-1.724c-.097-.239-.15-.5-.15-.774V4.621c0-.273.054-.533.152-.773zm8.663 0c.098.24.153.5.153.773v4.871c0 .273-.054.535-.15.774l5.114 1.724c1.154.386 2.107-.147 2.106-1.422V3.545c.001-1.275-.952-1.807-2.106-1.422l-5.117 1.725zm-6.758.048h4.854c.397 0 .723.326.723.725v4.871a.726.726 0 0 1-.723.725h-4.854a.725.725 0 0 1-.722-.725V4.621c0-.399.324-.725.722-.725zm15.315 4.516c5.422 3.986 8.943 10.42 8.943 17.681 0 .648-.03 1.288-.084 1.921-3.59-1.973-7.342-4.821-10.696-8.045-2.773-2.665-5.262-5.573-7.15-8.441l5.125 1.727c.386.13.768.192 1.133.192a2.737 2.737 0 0 0 1.558-.463c.802-.548 1.17-1.471 1.17-2.416V8.412z"/>
                                        </svg>
                                    </div>
                                    <div class="ritual-catalog__item--title">
                                        Похороны «под ключ»
                                    </div>
                                    <div class="ritual-catalog__item--text">
                                            143 компании
                                    </div>
                                </a>
                            </div>
                            <div class="item">
                                <a href="#">
                                    <div class="wrap-img ritual-catalog__svg">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewBox="0 0 50 50">
                                            <path fill-rule="evenodd" d="M12.508 31.53c2.304 0 4.172 1.895 4.172 4.235 0 2.339-1.868 4.235-4.172 4.235-2.304 0-4.172-1.896-4.172-4.235 0-2.34 1.868-4.236 4.172-4.236zm26.1 0c2.305 0 4.172 1.895 4.172 4.235 0 2.339-1.867 4.235-4.172 4.235-2.304 0-4.171-1.896-4.171-4.235 0-2.34 1.867-4.236 4.171-4.236zm6.316-8.177c3.128 1.29 4.68 5.893 3.86 10.628-.255 1.4-.856 1.794-1.782 1.776h-2.863c-.004-3.098-2.479-5.608-5.53-5.608-3.053 0-5.528 2.511-5.532 5.61l-15.038.003c-.002-3.1-2.478-5.613-5.532-5.613-3.053 0-5.53 2.514-5.53 5.615H2.855c-1.24-.03-1.85-.99-1.856-2.618.112-9.358 3.021-22.76 11.398-23.142h16.507c2.371-.088 3.709 1.246 4.8 3.04l3.757 6.341c.49.822.876 1.262 1.695 1.603l5.767 2.365zm-10.291-3.18c.544-.01.704-.761.37-1.324l-3.048-5.144c-.679-1.117-1.514-1.951-2.99-1.896h-4.04c-.4.011-.747.233-.75 1.023v6.143c.007.695.225 1.098.763 1.108 3.153.038 6.493.088 9.695.09zM22.4 19.018v-6.17c-.002-.597-.245-1.032-.8-1.042h-9.256c-3.354.133-6.22 4.037-6.876 7.397-.091.558.095.968.495.97H21.58c.504-.005.804-.389.82-1.155z"/>
                                        </svg>
                                    </div>
                                    <div class="ritual-catalog__item--title">
                                        Похороны «под ключ»
                                    </div>
                                    <div class="ritual-catalog__item--text">
                                            143 компании
                                    </div>
                                </a>
                            </div>
                            <div class="item">
                                <a href="#">
                                    <div class="wrap-img ritual-catalog__svg">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewBox="0 0 50 50">
                                            <path fill-rule="evenodd" d="M12.388 34.108h25.224v9.117H12.388v-9.117zM7 49h36v-4.06H7V49zM20.408 1h9.184v8.124h8.632v9.353h-8.632v14h-9.184v-14h-8.632V9.124h8.632V1z"></path>
                                        </svg>
                                    </div>
                                    <div class="ritual-catalog__item--title">
                                        Похороны «под ключ»
                                    </div>
                                    <div class="ritual-catalog__item--text">
                                            143 компании
                                    </div>
                                </a>
                            </div>
                            <div class="item">
                                <a href="#">
                                    <div class="wrap-img ritual-catalog__svg">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewBox="0 0 50 50">
                                            <path fill-rule="evenodd" d="M31.42 19.63c.33-1.639.658-3.452.533-5.12-.303-4.028-3.32-5.667-6.953-5.667-1.99 0-5.798.717-5.71 3.401-2.088.334-1.029 5.784-.744 7.371a.667.667 0 0 0-.266-.077c-.681-.084-1.21.293-.723 1.433.242.563.563 1.544.895 2.317.334.779.23 1.9.986 1.739.152.9.33 1.546 1.043 2.34 1.381 1.478 2.418 2.785 4.52 2.785 2.077 0 3.093-1.26 4.518-2.786.713-.793.89-1.438 1.044-2.337.747.165.627-.938.96-1.716.334-.773.678-1.779.92-2.341.491-1.148-.05-1.51-.737-1.422-.085.013-.195.025-.286.08zM44 34.43L29.675 49h12.508c.999 0 1.817-.832 1.817-1.848V34.43zM7.817 1h34.366c1 0 1.817.833 1.817 1.849V27.23l-4.924 5.008V7.858c0-1.007-.817-1.849-1.817-1.849H12.741c-1 0-1.817.832-1.817 1.848v31.487c1.917-3.239 5.316-5.262 9.15-6.167.748-.166 1.063-.581 1.073-1.326v-1.719c1 .884 2.122 1.491 3.853 1.491 1.732 0 2.843-.596 3.853-1.493v1.72c.01.746.325 1.161 1.073 1.327 2.106.498 4.08 1.332 5.75 2.52L22.596 49H7.816C6.82 49 6 48.169 6 47.152V2.849C6 1.831 6.818 1 7.817 1z"/>
                                        </svg>
                                    </div>
                                    <div class="ritual-catalog__item--title">
                                        Похороны «под ключ»
                                    </div>
                                    <div class="ritual-catalog__item--text">
                                            143 компании
                                    </div>
                                </a>
                            </div>
                        <div class="item">
                            <a href="#">
                                <div class="wrap-img ritual-catalog__svg">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewBox="0 0 50 50">
                                        <path fill-rule="evenodd" d="M42.45 44.769c.855 0 1.55.7 1.55 1.558V49H6v-2.673c0-.859.694-1.558 1.552-1.558h34.897zm-1.715-27.964V42.9H9.265V1h15.734c8.677 0 15.736 7.091 15.736 15.805zM30.613 33.478c.513 0 .93-.418.93-.934a.934.934 0 0 0-.93-.936H19.387c-.514 0-.93.42-.93.936s.416.934.93.934h11.226zM25 12.208c-3.608 0-6.543 3.442-6.543 7.672 0 4.229 2.935 7.672 6.543 7.672s6.544-3.443 6.544-7.672c0-4.23-2.936-7.672-6.544-7.672z"/>
                                    </svg>
                                </div>
                                <div class="ritual-catalog__item--title">
                                    Похороны «под ключ»
                                </div>
                                <div class="ritual-catalog__item--text">
                                        143 компании
                                </div>
                            </a>
                        </div>
                        <div class="item">
                            <a href="#">
                                <div class="wrap-img ritual-catalog__svg">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewBox="0 0 50 50">
                                        <path fill-rule="evenodd" d="M5.116 42.66h39.77V30.427H5.115v12.231zM3 45.542l.667-1.729h42.667L47 45.543V49H3v-3.457zm.564-15.973h42.873V25.42H3.564v4.149zM24.59 5.274c-.449.08-.877.29-1.223.633a2.23 2.23 0 0 0-.63 1.206c-.72.085-1.502-.166-2.093-.739-.977-.945-1.06-2.417-.186-3.286.874-.868 2.376-.803 3.353.143.592.573.856 1.336.779 2.043zm-1.848 2.614a2.599 2.599 0 0 0-2.006.69c.09.11.17.228.245.349.815-.071 1.644.168 2.28.784.52.504.785 1.14.828 1.794.424-.54.602-1.192.53-1.799a2.304 2.304 0 0 1-1.231-.618 2.218 2.218 0 0 1-.646-1.2zm4.515-.803c.72.077 1.5-.183 2.083-.762.966-.958 1.031-2.43.146-3.288-.885-.858-2.386-.776-3.352.183-.584.58-.838 1.347-.752 2.052.45.073.88.28 1.23.616.349.34.563.76.645 1.2zm-1.372 4.978c.014.12.034.241.062.36a3.16 3.16 0 0 0-.75.57 3.05 3.05 0 0 0-.972-.975c.407-.42.68-.945.794-1.492.124.565.42 1.104.856 1.527l.01.01zm-6.19-6.268c.154.327.37.629.638.89.438.423.99.707 1.567.821a3.163 3.163 0 0 0-1.462.75 2.868 2.868 0 0 0-1.98-.783l-.055.001c.1-.726.595-1.347 1.292-1.679zm7.417-3.655C26.71 1.45 26 .995 25.192 1c-.863.006-1.609.534-1.983 1.307.335.147.647.355.916.616.435.422.732.962.857 1.525a3.036 3.036 0 0 1 .838-1.536 3.143 3.143 0 0 1 1.293-.772zm4.484 5.353a2.902 2.902 0 0 0-1.797.936 3.153 3.153 0 0 0-1.7-.96 3.152 3.152 0 0 0 1.556-.84c.365-.362.629-.807.772-1.277.708.386 1.181 1.078 1.186 1.87 0 .092-.005.182-.017.271zM25.41 9.701c-.062.573.1 1.183.477 1.699a2.711 2.711 0 0 1 .792-1.63c.737-.73 1.749-.949 2.696-.75.046-.083.096-.162.15-.241a2.904 2.904 0 0 0-.17-.179c-.59-.572-1.373-.821-2.092-.738-.076.44-.285.864-.63 1.207a2.302 2.302 0 0 1-1.223.632zm5.91 2.748c-.449.079-.878.29-1.223.634-.345.34-.555.764-.63 1.205-.72.084-1.501-.166-2.093-.738-.978-.946-1.061-2.42-.186-3.287.874-.868 2.376-.803 3.353.143.59.572.855 1.336.779 2.043zm-1.849 2.615c.082.44.297.861.645 1.2.35.338.782.542 1.231.617.085.705-.17 1.472-.753 2.052-.965.958-2.466 1.04-3.351.182-.886-.857-.82-2.33.146-3.288.583-.58 1.363-.839 2.082-.763zm4.516-.803a2.228 2.228 0 0 0-.646-1.199 2.3 2.3 0 0 0-1.23-.617c-.086-.706.17-1.473.753-2.052.965-.96 2.467-1.041 3.35-.184.887.859.821 2.331-.144 3.29-.584.58-1.363.837-2.083.762zm-4.37 5.749a3.146 3.146 0 0 0 1.292-.77c.432-.43.721-.972.84-1.538.123.564.419 1.103.856 1.527.268.259.58.466.915.614-.374.773-1.12 1.303-1.983 1.307-.807.006-1.518-.45-1.92-1.14zm-3.192-7.04c-.785.376-1.315 1.114-1.31 1.959.004.793.478 1.484 1.185 1.87.145-.472.407-.914.773-1.277.431-.43.98-.72 1.557-.841a3.149 3.149 0 0 1-1.567-.822 3.092 3.092 0 0 1-.638-.89zm7.416-3.655c-.403-.689-1.113-1.146-1.92-1.14-.863.005-1.609.534-1.983 1.308.335.147.646.354.915.614.436.424.733.962.857 1.526a3.054 3.054 0 0 1 .838-1.537 3.162 3.162 0 0 1 1.293-.771zm3.192 7.041c.784-.376 1.314-1.113 1.31-1.96-.005-.791-.478-1.483-1.186-1.87a3.084 3.084 0 0 1-.772 1.279 3.158 3.158 0 0 1-1.556.84c.576.115 1.13.398 1.566.82.268.26.484.565.638.891zm-4.895.52c.449-.08.878-.29 1.223-.632.345-.343.555-.766.63-1.207.72-.083 1.502.166 2.093.737.978.949 1.06 2.42.187 3.287-.876.868-2.377.805-3.354-.142-.59-.573-.855-1.337-.779-2.043zm-14.275-4.427c-.449.079-.878.29-1.223.634-.345.34-.555.764-.63 1.205-.72.084-1.502-.166-2.093-.738-.978-.946-1.061-2.42-.187-3.287.876-.868 2.376-.803 3.354.143.592.572.855 1.336.779 2.043zm-1.849 2.615c.082.44.297.861.646 1.2.35.338.78.542 1.23.617.085.705-.17 1.472-.753 2.052-.965.958-2.467 1.04-3.352.182-.885-.857-.82-2.33.146-3.288.583-.58 1.363-.839 2.083-.763zm4.515-.803a2.214 2.214 0 0 0-.644-1.199 2.303 2.303 0 0 0-1.231-.617c-.085-.706.17-1.473.753-2.052.966-.96 2.466-1.041 3.352-.184.884.859.82 2.331-.146 3.29-.583.58-1.363.837-2.084.762zm-4.37 5.749a3.146 3.146 0 0 0 1.294-.77 3.05 3.05 0 0 0 .838-1.538c.124.564.42 1.103.857 1.527.269.259.58.466.915.614-.374.773-1.12 1.303-1.983 1.307-.808.006-1.518-.45-1.92-1.14zm-3.192-7.04c-.784.376-1.314 1.114-1.308 1.959.005.793.477 1.484 1.185 1.87.143-.472.407-.914.772-1.277.432-.43.982-.72 1.557-.841a3.149 3.149 0 0 1-1.567-.822 3.095 3.095 0 0 1-.64-.89zm7.417-3.655c-.403-.689-1.112-1.146-1.921-1.14-.862.005-1.609.534-1.982 1.308a3.066 3.066 0 0 1 1.772 2.14 3.046 3.046 0 0 1 .838-1.537 3.162 3.162 0 0 1 1.293-.771zm3.192 7.041c.785-.376 1.314-1.113 1.31-1.96-.005-.791-.48-1.483-1.186-1.87a3.064 3.064 0 0 1-.772 1.279 3.157 3.157 0 0 1-1.557.84c.577.115 1.13.398 1.567.82.268.26.484.565.638.891zm-4.895.52c.449-.08.878-.29 1.223-.632.345-.343.554-.766.63-1.207.72-.083 1.501.166 2.093.737.977.949 1.061 2.42.186 3.287-.874.868-2.375.805-3.353-.142-.592-.573-.856-1.337-.779-2.043zm25.583 7.69l-6.678-6.816a2.71 2.71 0 0 1-.807 1.805 2.778 2.778 0 0 1-1.263.722c.175.93.162 2.108-.114 3.608-1.704-.652-2.83-1.345-3.554-2.051a2.71 2.71 0 0 1-.307.017c-1.057.007-1.991-.572-2.522-1.453a2.934 2.934 0 0 1-1.696-.35c-.434.88-1.164 1.888-2.285 3.053-1.176-1.144-1.937-2.156-2.38-3.056a3.02 3.02 0 0 1-2.032.26c-.503.903-1.426 1.521-2.492 1.546-.725.701-1.845 1.386-3.535 2.034-.274-1.487-.29-2.658-.119-3.584a2.765 2.765 0 0 1-1.197-.688 2.718 2.718 0 0 1-.835-1.896l-6.712 6.848h38.528z"/>
                                    </svg>
                                </div>
                                <div class="ritual-catalog__item--title">
                                    Похороны «под ключ»
                                </div>
                                <div class="ritual-catalog__item--text">
                                        143 компании
                                </div>
                            </a>
                        </div>
                        <div class="item">
                            <a href="#">
                                <div class="wrap-img ritual-catalog__svg">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewBox="0 0 50 50">
                                        <path fill-rule="evenodd" d="M48.078 11.813a4.07 4.07 0 0 1-.333 5.52l-3.534 3.422a6.518 6.518 0 0 1-4.566 1.832 6.52 6.52 0 0 1-4.566-1.832 6.127 6.127 0 0 1 0-8.848L46.095 1.236a.852.852 0 0 1 1.176 0l.205.197a4.072 4.072 0 0 1 .516 5.28c.613.735.946 1.644.946 2.603 0 .912-.302 1.78-.86 2.497zm-33.156.094a6.13 6.13 0 0 1 0 8.848 6.52 6.52 0 0 1-4.567 1.832 6.518 6.518 0 0 1-4.566-1.832l-3.533-3.423a4.07 4.07 0 0 1-.334-5.519 4.04 4.04 0 0 1-.858-2.498c0-.958.331-1.867.944-2.602a4.074 4.074 0 0 1 .516-5.28l.205-.198a.853.853 0 0 1 1.177 0l11.016 10.672zm9.634.392c-2.45 0-4.443-2.075-4.443-4.628s1.993-4.629 4.443-4.629c2.45 0 4.442 2.076 4.442 4.63 0 2.552-1.993 4.627-4.442 4.627zm7.82 28.796a11.7 11.7 0 0 0 2.078 6.652.784.784 0 0 1 .042.828.835.835 0 0 1-.733.425h-17.69a.835.835 0 0 1-.733-.425.785.785 0 0 1 .041-.828 11.7 11.7 0 0 0 2.08-6.652V23.54c0-3.983 3.345-7.225 7.457-7.225s7.457 3.242 7.457 7.225v17.554z"/>
                                    </svg>
                                </div>
                                <div class="ritual-catalog__item--title">
                                    Похороны «под ключ»
                                </div>
                                <div class="ritual-catalog__item--text">
                                        143 компании
                                </div>
                            </a>
                        </div>
                        <div class="item">
                            <a href="#">
                                <div class="wrap-img ritual-catalog__svg">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewBox="0 0 50 50">
                                        <path fill-rule="evenodd" d="M32.512 21.52c-3.57 0-6.462-4.594-6.462-10.261C26.05 5.594 28.942 1 32.512 1s6.464 4.594 6.464 10.259c0 5.667-2.894 10.26-6.464 10.26zm-15.026 0c-3.57 0-6.462-4.594-6.462-10.261C11.024 5.594 13.917 1 17.486 1c3.57 0 6.463 4.594 6.463 10.259 0 5.667-2.893 10.26-6.463 10.26zm14.634 6.378c3.145 3.088 6.986 9.313 6.986 9.312 1.981 3.179 2.915 4.866 2.915 6.627 0 3.476-2.535 5.161-5.949 5.161-1.504 0-2.476 0-4.931-1.303 0 0-1.592-1.483-5.314-1.331-3.758-.15-5.349 1.35-5.349 1.35-2.455 1.3-3.392 1.286-4.896 1.286-3.414 0-5.95-1.683-5.95-5.162 0-1.76.937-3.445 2.917-6.626 0 0 3.744-6.334 6.989-9.314 2.344-2.15 5.762-2.143 5.762-2.143h1.055s3.568-.01 5.765 2.143zm13.436-11.564c2.632 1.237 3.232 5.626 1.34 9.8-1.892 4.176-5.557 6.558-8.19 5.322-2.631-1.238-3.23-5.625-1.338-9.8 1.891-4.178 5.556-6.56 8.188-5.322zM11.292 31.456c-2.63 1.235-6.297-1.146-8.188-5.322-1.891-4.175-1.293-8.563 1.338-9.8 2.631-1.236 6.298 1.146 8.19 5.322 1.891 4.175 1.291 8.562-1.34 9.8z"/>
                                    </svg>
                                </div>
                                <div class="ritual-catalog__item--title">
                                    Похороны «под ключ»
                                </div>
                                <div class="ritual-catalog__item--text">
                                        143 компании
                                </div>
                            </a>
                        </div>
                        
                        
                    </div>

                    

                </div>
            <!-- <div class="important-information important-information-js">
                <div class="row-title">
                    <div class="title">Важная информация</div>
                    <div class="see-all"><a href="#">Смотреть все</a></div>
                </div>
                <div class="important-information__body block-body">
                    <div class="important-information__item--big important-information__coll">
                        <div class="important-information__item item-big ">
                            <div class="wrap-img important-information__img">
                                <img src="../img/4.jpg" alt="img">
                            </div>
                            <div class="item-body item-body__big">
                                <h2 class="h2 important-information__h2"><a href="#">The 5 Most Incredible Body Transformations</a></h2>
                                <div class="data important-information__data">Apr 22, 2015</div>
                                <p class="body-text important-information__text">
                                    What's possible in a week? If 
                                    you dedicated seven days to the 
                                    achievement of one goal, how ambitious 
                                    could you make this goal?
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="important-information__item--lil important-information__coll">
                        <div class="important-information__item item-lil">
                            <div class="wrap-img important-information__limg">
                                <img src="../img/4.jpg" alt="img">
                            </div>
                            <div class="item-body__lil">
                                <h2 class="h2 important-information__lh2"><a href="#">Перспективы перехода на экологичные технологии похорон в Китае</a></h2>
                                <div class="data important-information__data important-information__ldata">Apr 22, 2015</div>
                            </div>
                        </div>
                        <div class="important-information__item item-lil">
                                <div class="wrap-img important-information__limg">
                                    <img src="../img/4.jpg" alt="img">
                                </div>
                                <div class="item-body__lil">
                                    <h2 class="h2 important-information__lh2"><a href="#">Перспективы перехода на экологичные технологии похорон в Китае</a></h2>
                                    <div class="data important-information__data important-information__ldata">Apr 22, 2015</div>
                                </div>
                            </div>
                        <div class="important-information__item item-lil">
                            <div class="wrap-img important-information__limg">
                                <img src="../img/4.jpg" alt="img">
                            </div>
                            <div class="item-body__lil">
                                <h2 class="h2 important-information__lh2"><a href="#">Перспективы перехода на экологичные технологии похорон в Китае</a></h2>
                                <div class="data important-information__data important-information__ldata">Apr 22, 2015</div>
                            </div>
                        </div>
                        <div class="important-information__item item-lil">
                            <div class="wrap-img important-information__limg">
                                <img src="../img/4.jpg" alt="img">
                            </div>
                            <div class="item-body__lil">
                                <h2 class="h2 important-information__lh2"><a href="#">Перспективы перехода на экологичные технологии похорон в Китае</a></h2>
                                <div class="data important-information__data important-information__ldata">Apr 22, 2015</div>
                            </div>
                        </div>	
                    </div>
                </div>
            </div> -->
            <!-- <div class="first-bar-small"></div> -->
            <!-- <div class="best-company best-company-js">
                <div class="row-title">
                    <div class="title title-2lines__mw">лучшие ритуальные компании украины</div>
                    <div class="see-all"><a href="#">Смотреть все</a></div>
                </div>
                <div class="best-company__body">

                    <div class="item-box item-nostar">
                        <div class="wrap-img wrap-img__bestc">
                            <div class="logo-company">
                                <a href="#" class="wrap-img">
                                    <img class="logoc" src="../img/4.jpg" alt="img">
                                </a>
                            </div>
                            <div class="wrap-img__gradient"></div>
                            <img src="../img/3.jpg" alt="img">
                            <div class="row-rectangle row-rectangle__bestc">
                                <div class="wrap-img wrap-eye">
                                    <img src="../img/ic-visibility1-white.svg" alt="img" class="eye">
                                </div>
                                <span class="rectangle-quantity" >1723</span>
                            </div>
                        </div>
                        <div class="item-body item-body__bestc">
                            <h3 class="h3 h3-bestc">Гранитас частное агентство по изготовлению памятников</h3>
                            <p class="text text-bestc">Lorem ipsum dolor sit amet</p>
                        </div>
                        <div class="bottom-title__bestc">
                            <div class="inform">
                                <p class="bestc-location">ул. Красноармейская, 210</p>
                                <div class="wrap-img wrap-img__phone">
                                    <img src="../img/icon-phone-grey.png" alt="phone">
                                </div>
                                <a href="#" class="bestc-num">+380 (67) 220 94 95</a>
                            </div>
                            <a class="btn-green" href="#">ПОДРОБНЕЕ</a>
                        </div>
                    </div>

                    <div class="item-box item-star">
                        <div class="wrap-img wrap-img__bestc">
                            <div class="logo-company">
                                <a href="#" class="wrap-img">
                                    <img class="logoc" src="../img/4.jpg" alt="img">
                                </a>
                            </div>
                            <div class="wrap-img__gradient"></div>
                            <img src="../img/3.jpg" alt="img">
                            <div class="row-rectangle row-rectangle__bestc">
                                <div class="star-rating">
                                    <div class="star-rating__wrap">
                                      <input class="star-rating__input" id="star-rating-5" type="radio" name="rating1" value="5">
                                      <label class="star-rating__ico far fa-star fa-lg" for="star-rating-5" title="5 out of 5 stars"></label>
                                      <input class="star-rating__input" id="star-rating-4" type="radio" name="rating1" value="4">
                                      <label class="star-rating__ico far fa-star fa-lg" for="star-rating-4" title="4 out of 5 stars"></label>
                                      <input class="star-rating__input" id="star-rating-3" type="radio" name="rating1" value="3">
                                      <label class="star-rating__ico far fa-star fa-lg" for="star-rating-3" title="3 out of 5 stars"></label>
                                      <input class="star-rating__input" id="star-rating-2" type="radio" name="rating1" value="2">
                                      <label class="star-rating__ico far fa-star fa-lg" for="star-rating-2" title="2 out of 5 stars"></label>
                                      <input class="star-rating__input" id="star-rating-1" type="radio" name="rating1" value="1">
                                      <label class="star-rating__ico far fa-star fa-lg" for="star-rating-1" title="1 out of 5 stars"></label>
                                    </div>
                                  </div>
                                <div class="wrap-img wrap-eye">
                                    <img src="../img/ic-visibility1-white.svg" alt="img" class="eye">
                                </div>
                                <span class="rectangle-quantity" >1723</span>
                            </div>
                        </div>
                        <div class="item-body item-body__bestc">
                            <h3 class="h3 h3-bestc">Гранитас частное агентство</h3>
                            <p class="text text-bestc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ac dictum diam.
                                    Donec ac dictum diam.</p>
                        </div>
                        <div class="bottom-title__bestc">
                            <div class="inform">
                                <p class="bestc-location">ул. Красноармейская, 210</p>
                                <div class="wrap-img wrap-img__phone">
                                    <img src="../img/icon-phone-grey.png" alt="phone">
                                </div>
                                <a href="#" class="bestc-num">+380 (67) 220 94 95</a>
                            </div>
                            <a class="btn-green" href="#">ПОДРОБНЕЕ</a>
                        </div>
                    </div>

                    <div class="item-box item-nostar">
                        <div class="wrap-img wrap-img__bestc">
                            <div class="logo-company">
                                <a href="#" class="wrap-img">
                                    <img class="logoc" src="../img/4.jpg" alt="img">
                                </a>
                            </div>
                            <div class="wrap-img__gradient"></div>
                            <img src="../img/3.jpg" alt="img">
                            <div class="row-rectangle row-rectangle__bestc">
                                <div class="box-eye">
                                    <div class="wrap-img wrap-eye">
                                        <img src="../img/ic-visibility1-white.svg" alt="img" class="eye">
                                    </div>
                                    <span class="rectangle-quantity rectangle-quantity__mr" >1723</span>
                                </div>
                                <div class="box-comment">
                                    <div class="wrap-img wrap-eye">
                                        <img src="../img/ic-chat-bubble.png" alt="img" class="eye">
                                    </div>
                                    <span class="rectangle-quantity" >1723</span>
                                </div>
                            </div>
                        </div>
                        <div class="item-body item-body__bestc">
                            <h3 class="h3 h3-bestc">Гранитас частное агентство</h3>
                            <p class="text text-bestc">Lorem ipsum dolor sit amet</p>
                        </div>
                        <div class="bottom-title__bestc">
                            <div class="inform">
                                <p class="bestc-location">ул. Красноармейская, 210</p>
                                <div class="wrap-img wrap-img__phone">
                                    <img src="../img/icon-phone-grey.png" alt="phone">
                                </div>
                                <a href="#" class="bestc-num">+380 (67) 220 94 95</a>
                            </div>
                            <a class="btn-green" href="#">ПОДРОБНЕЕ</a>
                        </div>
                    </div>

                    <div class="item-box item-star">
                        <div class="wrap-img wrap-img__bestc">
                            <div class="logo-company">
                                <a href="#" class="wrap-img">
                                    <img class="logoc" src="../img/4.jpg" alt="img">
                                </a>
                            </div>
                            <div class="wrap-img__gradient"></div>
                            <img src="../img/3.jpg" alt="img">
                            <div class="row-rectangle row-rectangle__bestc row-rectangle__bestc--jc">
                                <div class="star-rating">
                                    <div class="star-rating__wrap">
                                      <input class="star-rating__input" id="star-rating-6" type="radio" name="rating2" value="5">
                                      <label class="star-rating__ico far fa-star fa-lg" for="star-rating-6" title="5 out of 5 stars"></label>
                                      <input class="star-rating__input" id="star-rating-7" type="radio" name="rating2" value="4">
                                      <label class="star-rating__ico far fa-star fa-lg" for="star-rating-7" title="4 out of 5 stars"></label>
                                      <input class="star-rating__input" id="star-rating-8" type="radio" name="rating2" value="3">
                                      <label class="star-rating__ico far fa-star fa-lg" for="star-rating-8" title="3 out of 5 stars"></label>
                                      <input class="star-rating__input" id="star-rating-9" type="radio" name="rating2" value="2">
                                      <label class="star-rating__ico far fa-star fa-lg" for="star-rating-9" title="2 out of 5 stars"></label>
                                      <input class="star-rating__input" id="star-rating-10" type="radio" name="rating2" value="1">
                                      <label class="star-rating__ico far fa-star fa-lg" for="star-rating-10" title="1 out of 5 stars"></label>
                                    </div>
                                </div>
                                <div class="box-eye">
                                    <div class="wrap-img wrap-eye">
                                        <img src="../img/ic-visibility1-white.svg" alt="img" class="eye">
                                    </div>
                                    <span class="rectangle-quantity rectangle-quantity__mr" >1723</span>
                                </div>
                                <div class="box-comment">
                                    <div class="wrap-img wrap-eye">
                                        <img src="../img/ic-chat-bubble.png" alt="img" class="eye">
                                    </div>
                                    <span class="rectangle-quantity" >1723</span>
                                </div>
                            </div>
                        </div>
                        <div class="item-body item-body__bestc">
                            <h3 class="h3 h3-bestc">Гранитас частное агентство</h3>
                            <p class="text text-bestc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ac dictum diam.
                                    Donec ac dictum diam.</p>
                        </div>
                        <div class="bottom-title__bestc">
                            <div class="inform">
                                <p class="bestc-location">ул. Красноармейская, 210</p>
                                <div class="wrap-img wrap-img__phone">
                                    <img src="../img/icon-phone-grey.png" alt="phone">
                                </div>
                                <a href="#" class="bestc-num">+380 (67) 220 94 95</a>
                            </div>
                            <a class="btn-green" href="#">ПОДРОБНЕЕ</a>
                        </div>
                    </div>
                    
                    <div class="item-box item-star">
                        <div class="wrap-img wrap-img__bestc">
                            <div class="logo-company">
                                <a href="#" class="wrap-img">
                                    <img class="logoc" src="../img/4.jpg" alt="img">
                                </a>
                            </div>
                            <div class="wrap-img__gradient"></div>
                            <img src="../img/3.jpg" alt="img">
                            <div class="row-rectangle row-rectangle__bestc row-rectangle__bestc--jc">
                                <div class="star-rating">
                                    <div class="star-rating__wrap">
                                      <input class="star-rating__input" id="star-rating-11" type="radio" name="rating3" value="5">
                                      <label class="star-rating__ico far fa-star fa-lg" for="star-rating-11" title="5 out of 5 stars"></label>
                                      <input class="star-rating__input" id="star-rating-12" type="radio" name="rating3" value="4">
                                      <label class="star-rating__ico far fa-star fa-lg" for="star-rating-12" title="4 out of 5 stars"></label>
                                      <input class="star-rating__input" id="star-rating-13" type="radio" name="rating3" value="3">
                                      <label class="star-rating__ico far fa-star fa-lg" for="star-rating-13" title="3 out of 5 stars"></label>
                                      <input class="star-rating__input" id="star-rating-14" type="radio" name="rating3" value="2">
                                      <label class="star-rating__ico far fa-star fa-lg" for="star-rating-14" title="2 out of 5 stars"></label>
                                      <input class="star-rating__input" id="star-rating-15" type="radio" name="rating3" value="1">
                                      <label class="star-rating__ico far fa-star fa-lg" for="star-rating-15" title="1 out of 5 stars"></label>
                                    </div>
                                </div>
                                <div class="box-eye">
                                    <div class="wrap-img wrap-eye">
                                        <img src="../img/ic-visibility1-white.svg" alt="img" class="eye">
                                    </div>
                                    <span class="rectangle-quantity rectangle-quantity__mr" >1723</span>
                                </div>
                                <div class="box-comment">
                                    <div class="wrap-img wrap-eye">
                                        <img src="../img/ic-chat-bubble.png" alt="img" class="eye">
                                    </div>
                                    <span class="rectangle-quantity" >1723</span>
                                </div>
                            </div>
                        </div>
                        <div class="item-body item-body__bestc">
                            <h3 class="h3 h3-bestc">Гранитас частное агентство</h3>
                            <p class="text text-bestc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ac dictum diam.
                                    Donec ac dictum diam.</p>
                        </div>
                        <div class="bottom-title__bestc">
                            <div class="inform">
                                <p class="bestc-location">ул. Красноармейская, 210</p>
                                <div class="wrap-img wrap-img__phone">
                                    <img src="../img/icon-phone-grey.png" alt="phone">
                                </div>
                                <a href="#" class="bestc-num">+380 (67) 220 94 95</a>
                            </div>
                            <a class="btn-green" href="#">ПОДРОБНЕЕ</a>
                        </div>
                    </div>

                    <div class="item-box item-star">
                        <div class="wrap-img wrap-img__bestc">
                            <div class="logo-company">
                                <a href="#" class="wrap-img">
                                    <img class="logoc" src="../img/4.jpg" alt="img">
                                </a>
                            </div>
                            <div class="wrap-img__gradient"></div>
                            <img src="../img/3.jpg" alt="img">
                            <div class="row-rectangle row-rectangle__bestc row-rectangle__bestc--jc">
                                <div class="star-rating">
                                    <div class="star-rating__wrap">
                                      <input class="star-rating__input" id="star-rating-16" type="radio" name="rating4" value="5">
                                      <label class="star-rating__ico far fa-star fa-lg" for="star-rating-16" title="5 out of 5 stars"></label>
                                      <input class="star-rating__input" id="star-rating-17" type="radio" name="rating4" value="4">
                                      <label class="star-rating__ico far fa-star fa-lg" for="star-rating-17" title="4 out of 5 stars"></label>
                                      <input class="star-rating__input" id="star-rating-18" type="radio" name="rating4" value="3">
                                      <label class="star-rating__ico far fa-star fa-lg" for="star-rating-18" title="3 out of 5 stars"></label>
                                      <input class="star-rating__input" id="star-rating-19" type="radio" name="rating4" value="2">
                                      <label class="star-rating__ico far fa-star fa-lg" for="star-rating-19" title="2 out of 5 stars"></label>
                                      <input class="star-rating__input" id="star-rating-20" type="radio" name="rating4" value="1">
                                      <label class="star-rating__ico far fa-star fa-lg" for="star-rating-20" title="1 out of 5 stars"></label>
                                    </div>
                                </div>
                                <div class="box-eye">
                                    <div class="wrap-img wrap-eye">
                                        <img src="../img/ic-visibility1-white.svg" alt="img" class="eye">
                                    </div>
                                    <span class="rectangle-quantity rectangle-quantity__mr" >1723</span>
                                </div>
                                <div class="box-comment">
                                    <div class="wrap-img wrap-eye">
                                        <img src="../img/ic-chat-bubble.png" alt="img" class="eye">
                                    </div>
                                    <span class="rectangle-quantity" >1723</span>
                                </div>
                            </div>
                        </div>
                        <div class="item-body item-body__bestc">
                            <h3 class="h3 h3-bestc">Гранитас частное агентство</h3>
                            <p class="text text-bestc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ac dictum diam.
                                    Donec ac dictum diam.</p>
                        </div>
                        <div class="bottom-title__bestc">
                            <div class="inform">
                                <p class="bestc-location">ул. Красноармейская, 210</p>
                                <div class="wrap-img wrap-img__phone">
                                    <img src="../img/icon-phone-grey.png" alt="phone">
                                </div>
                                <a href="#" class="bestc-num">+380 (67) 220 94 95</a>
                            </div>
                            <a class="btn-green" href="#">ПОДРОБНЕЕ</a>
                        </div>
                    </div>

                    <div class="item-box item-star">
                        <div class="wrap-img wrap-img__bestc">
                            <div class="logo-company">
                                <a href="#" class="wrap-img">
                                    <img class="logoc" src="../img/4.jpg" alt="img">
                                </a>
                            </div>
                            <div class="wrap-img__gradient"></div>
                            <img src="../img/3.jpg" alt="img">
                            <div class="row-rectangle row-rectangle__bestc row-rectangle__bestc--jc">
                                <div class="star-rating">
                                    <div class="star-rating__wrap">
                                      <input class="star-rating__input" id="star-rating-21" type="radio" name="rating5" value="5">
                                      <label class="star-rating__ico far fa-star fa-lg" for="star-rating-21" title="5 out of 5 stars"></label>
                                      <input class="star-rating__input" id="star-rating-22" type="radio" name="rating5" value="4">
                                      <label class="star-rating__ico far fa-star fa-lg" for="star-rating-22" title="4 out of 5 stars"></label>
                                      <input class="star-rating__input" id="star-rating-23" type="radio" name="rating5" value="3">
                                      <label class="star-rating__ico far fa-star fa-lg" for="star-rating-23" title="3 out of 5 stars"></label>
                                      <input class="star-rating__input" id="star-rating-24" type="radio" name="rating5" value="2">
                                      <label class="star-rating__ico far fa-star fa-lg" for="star-rating-24" title="2 out of 5 stars"></label>
                                      <input class="star-rating__input" id="star-rating-25" type="radio" name="rating5" value="1">
                                      <label class="star-rating__ico far fa-star fa-lg" for="star-rating-25" title="1 out of 5 stars"></label>
                                    </div>
                                </div>
                                <div class="box-eye">
                                    <div class="wrap-img wrap-eye">
                                        <img src="../img/ic-visibility1-white.svg" alt="img" class="eye">
                                    </div>
                                    <span class="rectangle-quantity rectangle-quantity__mr" >1723</span>
                                </div>
                                <div class="box-comment">
                                    <div class="wrap-img wrap-eye">
                                        <img src="../img/ic-chat-bubble.png" alt="img" class="eye">
                                    </div>
                                    <span class="rectangle-quantity" >1723</span>
                                </div>
                            </div>
                        </div>
                        <div class="item-body item-body__bestc">
                            <h3 class="h3 h3-bestc">Гранитас частное агентство</h3>
                            <p class="text text-bestc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ac dictum diam.
                                    Donec ac dictum diam.</p>
                        </div>
                        <div class="bottom-title__bestc">
                            <div class="inform">
                                <p class="bestc-location">ул. Красноармейская, 210</p>
                                <div class="wrap-img wrap-img__phone">
                                    <img src="../img/icon-phone-grey.png" alt="phone">
                                </div>
                                <a href="#" class="bestc-num">+380 (67) 220 94 95</a>
                            </div>
                            <a class="btn-green" href="#">ПОДРОБНЕЕ</a>
                        </div>
                    </div>

                    <div class="item-box item-star">
                        <div class="wrap-img wrap-img__bestc">
                            <div class="logo-company">
                                <a href="#" class="wrap-img">
                                    <img class="logoc" src="../img/4.jpg" alt="img">
                                </a>
                            </div>
                            <div class="wrap-img__gradient"></div>
                            <img src="../img/3.jpg" alt="img">
                            <div class="row-rectangle row-rectangle__bestc row-rectangle__bestc--jc">
                                <div class="star-rating">
                                    <div class="star-rating__wrap">
                                      <input class="star-rating__input" id="star-rating-26" type="radio" name="rating6" value="5">
                                      <label class="star-rating__ico far fa-star fa-lg" for="star-rating-26" title="5 out of 5 stars"></label>
                                      <input class="star-rating__input" id="star-rating-27" type="radio" name="rating6" value="4">
                                      <label class="star-rating__ico far fa-star fa-lg" for="star-rating-27" title="4 out of 5 stars"></label>
                                      <input class="star-rating__input" id="star-rating-28" type="radio" name="rating6" value="3">
                                      <label class="star-rating__ico far fa-star fa-lg" for="star-rating-28" title="3 out of 5 stars"></label>
                                      <input class="star-rating__input" id="star-rating-29" type="radio" name="rating6" value="2">
                                      <label class="star-rating__ico far fa-star fa-lg" for="star-rating-29" title="2 out of 5 stars"></label>
                                      <input class="star-rating__input" id="star-rating-30" type="radio" name="rating6" value="1">
                                      <label class="star-rating__ico far fa-star fa-lg" for="star-rating-30" title="1 out of 5 stars"></label>
                                    </div>
                                </div>
                                <div class="box-eye">
                                    <div class="wrap-img wrap-eye">
                                        <img src="../img/ic-visibility1-white.svg" alt="img" class="eye">
                                    </div>
                                    <span class="rectangle-quantity rectangle-quantity__mr" >1723</span>
                                </div>
                                <div class="box-comment">
                                    <div class="wrap-img wrap-eye">
                                        <img src="../img/ic-chat-bubble.png" alt="img" class="eye">
                                    </div>
                                    <span class="rectangle-quantity" >1723</span>
                                </div>
                            </div>
                        </div>
                        <div class="item-body item-body__bestc">
                            <h3 class="h3 h3-bestc">Гранитас частное агентство</h3>
                            <p class="text text-bestc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ac dictum diam.
                                    Donec ac dictum diam.</p>
                        </div>
                        <div class="bottom-title__bestc">
                            <div class="inform">
                                <p class="bestc-location">ул. Красноармейская, 210</p>
                                <div class="wrap-img wrap-img__phone">
                                    <img src="../img/icon-phone-grey.png" alt="phone">
                                </div>
                                <a href="#" class="bestc-num">+380 (67) 220 94 95</a>
                            </div>
                            <a class="btn-green" href="#">ПОДРОБНЕЕ</a>
                        </div>
                    </div>

                    

                </div>
                <div class="see-more__wrap">
                    <a href="№" class="see-more__btn">смотреть ещё</a>
                </div>
            </div> -->

            <div class="nearest-company nearest-company-js">

                <div class="row-title ">
                    <div class="title">ближайшие компании</div>
                </div>
                <div class="box-map">
                    <div class="item-box item-star">
                        <div class="wrap-img wrap-img__bestc">
                            <div class="logo-company">
                                <a href="#" class="wrap-img">
                                    <img class="logoc" src="../img/4.jpg" alt="img">
                                </a>
                            </div>
                            <div class="wrap-img__gradient"></div>
                            <img src="../img/3.jpg" alt="img">
                            <div class="row-rectangle row-rectangle__bestc row-rectangle__bestc--jc">
                                <div class="star-rating">
                                    <div class="star-rating__wrap">
                                      <input class="star-rating__input" id="star-rating-31" type="radio" name="rating7" value="5">
                                      <label class="star-rating__ico far fa-star fa-lg" for="star-rating-31" title="5 out of 5 stars"></label>
                                      <input class="star-rating__input" id="star-rating-32" type="radio" name="rating7" value="4">
                                      <label class="star-rating__ico far fa-star fa-lg" for="star-rating-32" title="4 out of 5 stars"></label>
                                      <input class="star-rating__input" id="star-rating-33" type="radio" name="rating7" value="3">
                                      <label class="star-rating__ico far fa-star fa-lg" for="star-rating-33" title="3 out of 5 stars"></label>
                                      <input class="star-rating__input" id="star-rating-34" type="radio" name="rating7" value="2">
                                      <label class="star-rating__ico far fa-star fa-lg" for="star-rating-34" title="2 out of 5 stars"></label>
                                      <input class="star-rating__input" id="star-rating-35" type="radio" name="rating7" value="1">
                                      <label class="star-rating__ico far fa-star fa-lg" for="star-rating-35" title="1 out of 5 stars"></label>
                                    </div>
                                </div>
                                <div class="box-eye">
                                    <div class="wrap-img wrap-eye">
                                        <img src="../img/ic-visibility1-white.svg" alt="img" class="eye">
                                    </div>
                                    <span class="rectangle-quantity rectangle-quantity__mr" >1723</span>
                                </div>
                                <div class="box-comment">
                                    <div class="wrap-img wrap-eye">
                                        <img src="../img/ic-chat-bubble.png" alt="img" class="eye">
                                    </div>
                                    <span class="rectangle-quantity" >1723</span>
                                </div>
                            </div>
                        </div>
                        <div class="item-body item-body__bestc">
                            <h3 class="h3 h3-bestc">Гранитас частное агентство</h3>
                            <p class="text text-bestc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ac dictum diam.
                                    Donec ac dictum diam.</p>
                        </div>
                        <div class="bottom-title__bestc">
                            <div class="inform">
                                <p class="bestc-location">ул. Красноармейская, 210</p>
                                <a href="#" class="bestc-num">+380 (67) 220 94 95</a>
                            </div>
                            <a class="btn-green" href="#">ПОДРОБНЕЕ</a>
                        </div>
                    </div>
                    <div class="map" id="map">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d10376.305475058758!2d32.050971600000004!3d49.4452736!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d14b7dd3936e61%3A0x8f4ae93c39117394!2z0J_QsNC80Y_RgtC90LjQuiDQotCw0YDQsNGB0YMg0KjQtdCy0YfQtdC90LrQvg!5e0!3m2!1sru!2sua!4v1536833670391" width="100%" height="100%" frameborder="0" style="border:0" allowfullscreen></iframe>
                        <div class="row-rectangle row-rectangle__map">
                            <div class="star-rating">
                                <div class="star-rating__wrap">
                                  <input class="star-rating__input" id="star-rating-36" type="radio" name="rating8" value="5">
                                  <label class="star-rating__ico far fa-star fa-lg" for="star-rating-36" title="5 out of 5 stars"></label>
                                  <input class="star-rating__input" id="star-rating-37" type="radio" name="rating8" value="4">
                                  <label class="star-rating__ico far fa-star fa-lg" for="star-rating-37" title="4 out of 5 stars"></label>
                                  <input class="star-rating__input" id="star-rating-38" type="radio" name="rating8" value="3">
                                  <label class="star-rating__ico far fa-star fa-lg" for="star-rating-38" title="3 out of 5 stars"></label>
                                  <input class="star-rating__input" id="star-rating-39" type="radio" name="rating8" value="2">
                                  <label class="star-rating__ico far fa-star fa-lg" for="star-rating-39" title="2 out of 5 stars"></label>
                                  <input class="star-rating__input" id="star-rating-40" type="radio" name="rating8" value="1">
                                  <label class="star-rating__ico far fa-star fa-lg" for="star-rating-40" title="1 out of 5 stars"></label>
                                </div>
                            </div>
                            <div class="box-eye">
                                <div class="wrap-img wrap-eye">
                                    <img src="../img/ic-visibility1-white.svg" alt="img" class="eye">
                                </div>
                                <span class="rectangle-quantity rectangle-quantity__mr" >1723</span>
                            </div>
                            <div class="box-comment">
                                <div class="wrap-img wrap-eye">
                                    <img src="../img/ic-chat-bubble.png" alt="img" class="eye">
                                </div>
                                <span class="rectangle-quantity" >1723</span>
                            </div>
                        </div>
                    </div>
                    <div class="map-wrap__items">
                        <div class="item-body item-body__bestc">
                            <h3 class="h3 h3-bestc">Гранитас частное агентство</h3>
                            <p class="text text-bestc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ac dictum diam.
                                Donec ac dictum diam.</p>
                        </div>
                        <div class="bottom-title__bestc">
                            <div class="inform">
                                <p class="bestc-location">ул. Красноармейская, 210</p>
                                <div class="wrap-img wrap-img__phone">
                                    <img src="../img/icon-phone-grey.png" alt="phone">
                                </div>
                                <a href="#" class="bestc-num">+380 (67) 220 94 95</a>
                            </div>
                            <a class="btn-green" href="#">ПОДРОБНЕЕ</a>
                        </div>
                    </div>

                </div>

            </div>
            <div class="useful-information">
                    <div class="row-title ">
                        <div class="title">полезная информация</div>
                    </div>
                    <div class="about-company__row useful-information__row">
    
    
                        <div class="row-head">
                            Ритуальные услуги в Украине - единая ритуально-похоронная служба
                        </div>
    
                        <div class="row-body">
                            Смерть никогда не предупреждает о своём приходе. Потеря близкого человека — это большое горе, которое застаёт близких врасплох. В состоянии глубокой скорби человек порой перестаёт адекватно воспринимать окружающую действительность. А ведь родным нужно позаботиться о похоронах — узнать номера телефонов ритуальной службы, заказать цветы и венки, подготовить место на кладбище. Всё это не по силам убитым горем, ведь организация похорон — очень кропотливая и трудоёмкая работа. Как же в такой психологически сложной ситуации всё грамотно продумать и ничего не забыть?
                        </div>
                    </div>
            </div>
            
            <div class="first-bar-small"></div>

            <div class="info-blog margin-bottom__aside--all info-blog-js">

                        <div class="row-title">
                            <div class="title">информация блог</div>
                            <div class="see-all">
                                <a href="#">Смотреть все</a>
                            </div>
                        </div>
                        <div class="info-blog__body slider">

                            <div class="swiper-container__aside4">
                                <div class="swiper-wrapper">

                                    <div class="swiper-slide swiper-slide__info--blog">
                                        <div class="info-blog__item--border">
                                            <div class="info-blog__item">
                                                <div class="info-blog__title">
                                                    <div class="wrap-img wrap-img__info--blog">
                                                        <img src="../img/cremation.png" alt="img">
                                                    </div>    
                                                    <a href="#">Протестим название в две строки ведь такое может быть</a>
                                                </div>
                                                <p class="info-blog__text">
                                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ac dictum diam. Suspendisse potenti. Donec laoreet tristique dolor, vehicula aliquet lorem bibendum quis. Nam et lobortis orci, lobortis venenatis dui. Praesent dapibus enim sed eros aliquet, condimentum sodales massa euismod. Aliquam nisi nisi, faucibus a purus et, maximus pellentesque nibh. Vestibulum posuere sodales consectetur.
                                                </p>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="swiper-slide swiper-slide__info--blog">
                                        <div class="info-blog__item--border">
                                            <div class="info-blog__item">
                                                <div class="info-blog__title">
                                                    <div class="wrap-img wrap-img__info--blog">
                                                        <img src="../img/cremation.png" alt="img">
                                                    </div>    
                                                    <a href="#">А тут только в одну строчку</a>
                                                </div>
                                                <p class="info-blog__text blog-small__content">
                                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ac dictum diam. Suspendisse potenti. Donec laoreet tristique dolor, vehicula aliquet lorem bibendum quis. Nam et lobortis orci, lobortis venenatis dui. Praesent dapibus enim sed eros aliquet, condimentum sodales massa euismod. Aliquam nisi nisi, faucibus a purus et, maximus pellentesque nibh. Vestibulum posuere sodales consectetur.											
                                                </p>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="swiper-slide swiper-slide__info--blog">
                                        <div class="info-blog__item--border">
                                            <div class="info-blog__item">
                                                <div class="info-blog__title">
                                                    <div class="wrap-img wrap-img__info--blog">
                                                        <img src="../img/cremation.png" alt="img">
                                                    </div>    
                                                    <a href="#">Протестим название в две строки ведь такое может быть</a>
                                                </div>
                                                <p class="info-blog__text">
                                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ac dictum diam. Suspendisse potenti. Donec laoreet tristique dolor, vehicula aliquet lorem bibendum quis. Nam et lobortis orci, lobortis venenatis dui. Praesent dapibus enim sed eros aliquet, condimentum sodales massa euismod. Aliquam nisi nisi, faucibus a purus et, maximus pellentesque nibh. Vestibulum posuere sodales consectetur.
                                                </p>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="swiper-slide swiper-slide__info--blog">
                                        <div class="info-blog__item--border">
                                            <div class="info-blog__item">
                                                <div class="info-blog__title">
                                                    <div class="wrap-img wrap-img__info--blog">
                                                        <img src="../img/cremation.png" alt="img">
                                                    </div>    
                                                    <a href="#">Протестим название в две строки ведь такое может быть</a>
                                                </div>
                                                <p class="info-blog__text blog-small__content">
                                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ac dictum diam. Suspendisse potenti. Donec laoreet tristique dolor, vehicula aliquet lorem bibendum quis. Nam et lobortis orci, lobortis venenatis dui. Praesent dapibus enim sed eros aliquet, condimentum sodales massa euismod. Aliquam nisi nisi, faucibus a purus et, maximus pellentesque nibh. Vestibulum posuere sodales consectetur.
                                                </p>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="swiper-slide swiper-slide__info--blog">
                                            <div class="info-blog__item--border">
                                                <div class="info-blog__item">
                                                    <div class="info-blog__title">
                                                        <div class="wrap-img wrap-img__info--blog">
                                                            <img src="../img/cremation.png" alt="img">
                                                        </div>    
                                                        <a href="#">Протестим название в две строки ведь такое может быть</a>
                                                    </div>
                                                    <p class="info-blog__text">
                                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ac dictum diam. Suspendisse potenti. Donec laoreet tristique dolor, vehicula aliquet lorem bibendum quis. Nam et lobortis orci, lobortis venenatis dui. Praesent dapibus enim sed eros aliquet, condimentum sodales massa euismod. Aliquam nisi nisi, faucibus a purus et, maximus pellentesque nibh. Vestibulum posuere sodales consectetur.
                                                    </p>
                                                </div>
                                            </div>
                                    </div>

                                    <div class="swiper-slide swiper-slide__info--blog">
                                        <div class="info-blog__item--border">
                                            <div class="info-blog__item">
                                                <div class="info-blog__title">
                                                    <div class="wrap-img wrap-img__info--blog">
                                                        <img src="../img/cremation.png" alt="img">
                                                    </div>    
                                                    <a href="#">Протестим название в две строки ведь такое может быть</a>
                                                </div>
                                                <p class="info-blog__text blog-small__content">
                                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ac dictum diam. Suspendisse potenti. Donec laoreet tristique dolor, vehicula aliquet lorem bibendum quis. Nam et lobortis orci, lobortis venenatis dui. Praesent dapibus enim sed eros aliquet, condimentum sodales massa euismod. Aliquam nisi nisi, faucibus a purus et, maximus pellentesque nibh. Vestibulum posuere sodales consectetur.
                                                </p>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="swiper-slide swiper-slide__info--blog">
                                            <div class="info-blog__item--border">
                                                <div class="info-blog__item">
                                                    <div class="info-blog__title">
                                                        <div class="wrap-img wrap-img__info--blog">
                                                            <img src="../img/cremation.png" alt="img">
                                                        </div>    
                                                        <a href="#">Протестим название в две строки ведь такое может быть</a>
                                                    </div>
                                                    <p class="info-blog__text">
                                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ac dictum diam. Suspendisse potenti. Donec laoreet tristique dolor, vehicula aliquet lorem bibendum quis. Nam et lobortis orci, lobortis venenatis dui. Praesent dapibus enim sed eros aliquet, condimentum sodales massa euismod. Aliquam nisi nisi, faucibus a purus et, maximus pellentesque nibh. Vestibulum posuere sodales consectetur.
                                                    </p>
                                                </div>
                                            </div>
                                    </div>

                                    <div class="swiper-slide swiper-slide__info--blog">
                                        <div class="info-blog__item--border">
                                            <div class="info-blog__item">
                                                <div class="info-blog__title">
                                                    <div class="wrap-img wrap-img__info--blog">
                                                        <img src="../img/cremation.png" alt="img">
                                                    </div>    
                                                    <a href="#">Протестим название в две строки ведь такое может быть</a>
                                                </div>
                                                <p class="info-blog__text blog-small__content">
                                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ac dictum diam. Suspendisse potenti. Donec laoreet tristique dolor, vehicula aliquet lorem bibendum quis. Nam et lobortis orci, lobortis venenatis dui. Praesent dapibus enim sed eros aliquet, condimentum sodales massa euismod. Aliquam nisi nisi, faucibus a purus et, maximus pellentesque nibh. Vestibulum posuere sodales consectetur.
                                                </p>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="swiper-navigation__container">
                                
                                <div class="swiper-button-prev4"><i class="fas fa-chevron-left"></i></div>
                                <div class="swiper-button-next4"><i class="fas fa-chevron-right"></i></div>
                            </div>
                        </div>
            </div>
            <div class="second-bar-small"></div>
        </div>


        <div class="row-aside">

            
            <div class="second-bar-hight">
                <div class="second-block-js">
                    <div class="info-byer info-byer__1 margin-bottom__aside--all info-byer__1-js">
                        <div class="row-title">
                            <div class="title">информация покупателю</div>
                        </div>		
                        <div class="banner-resize-append">
                            <div class="wrap-img info-byer__wrap--img">
                                <img src="../img/3.jpg" alt="img">
                            </div>
                        </div>
                    </div>
                    <div class="first-bar-hight"></div>
                    <div class="info-blog margin-bottom__aside--all archive-post info-blog-js ritual-catalog-js">

                        <div class="row-title">
                            <div class="title">АРХИВ СТАТЕЙ</div>
                            <div class="see-all">
                                <a href="#">Смотреть все</a>
                            </div>
                        </div>
                        <div class="info-blog__body slider">

                            <div class="swiper-container__aside3">
                                <div class="swiper-wrapper">

                                    <div class="swiper-slide swiper-slide__info--blog">
                                        <div class="important-information__item item-lil">
                                            <div class="wrap-img important-information__limg">
                                                <img src="../img/4.jpg" alt="img">
                                            </div>
                                            <div class="item-body__lil">
                                                <h2 class="h2 important-information__lh2"><a href="#">Перспективы перехода на экологичные технологии похорон в Китае</a></h2>
                                                <div class="data important-information__data important-information__ldata">Apr 22, 2015</div>
                                            </div>
								        </div>	
                                    </div>
                                    
                                    <div class="swiper-slide swiper-slide__info--blog border-none__mob">
                                        <div class="important-information__item item-lil">
                                            <div class="wrap-img important-information__limg">
                                                <img src="../img/4.jpg" alt="img">
                                            </div>
                                            <div class="item-body__lil">
                                                <h2 class="h2 important-information__lh2"><a href="#">Перспективы перехода на экологичные технологии похорон в Китае</a></h2>
                                                <div class="data important-information__data important-information__ldata">Apr 22, 2015</div>
                                            </div>
								        </div>	
                                    </div>

                                    <div class="swiper-slide swiper-slide__info--blog">
                                        <div class="important-information__item item-lil">
                                            <div class="wrap-img important-information__limg">
                                                <img src="../img/4.jpg" alt="img">
                                            </div>
                                            <div class="item-body__lil">
                                                <h2 class="h2 important-information__lh2"><a href="#">Перспективы перехода на экологичные технологии похорон в Китае</a></h2>
                                                <div class="data important-information__data important-information__ldata">Apr 22, 2015</div>
                                            </div>
								        </div>	
                                    </div>

                                    <div class="swiper-slide swiper-slide__info--blog">
                                        <div class="important-information__item item-lil">
                                            <div class="wrap-img important-information__limg">
                                                <img src="../img/4.jpg" alt="img">
                                            </div>
                                            <div class="item-body__lil">
                                                <h2 class="h2 important-information__lh2"><a href="#">Перспективы перехода на экологичные технологии похорон в Китае</a></h2>
                                                <div class="data important-information__data important-information__ldata">Apr 22, 2015</div>
                                            </div>
								        </div>	
                                    </div>

                                    <div class="swiper-slide swiper-slide__info--blog">
                                        <div class="important-information__item item-lil">
                                            <div class="wrap-img important-information__limg">
                                                <img src="../img/4.jpg" alt="img">
                                            </div>
                                            <div class="item-body__lil">
                                                <h2 class="h2 important-information__lh2"><a href="#">Перспективы перехода на экологичные технологии похорон в Китае</a></h2>
                                                <div class="data important-information__data important-information__ldata">Apr 22, 2015</div>
                                            </div>
								        </div>	
                                    </div>

                                    <div class="swiper-slide swiper-slide__info--blog">
                                        <div class="important-information__item item-lil">
                                            <div class="wrap-img important-information__limg">
                                                <img src="../img/4.jpg" alt="img">
                                            </div>
                                            <div class="item-body__lil">
                                                <h2 class="h2 important-information__lh2"><a href="#">Перспективы перехода на экологичные технологии похорон в Китае</a></h2>
                                                <div class="data important-information__data important-information__ldata">Apr 22, 2015</div>
                                            </div>
								        </div>	
                                    </div>

                                    <div class="swiper-slide swiper-slide__info--blog">
                                        <div class="important-information__item item-lil">
                                            <div class="wrap-img important-information__limg">
                                                <img src="../img/4.jpg" alt="img">
                                            </div>
                                            <div class="item-body__lil">
                                                <h2 class="h2 important-information__lh2"><a href="#">Перспективы перехода на экологичные технологии похорон в Китае</a></h2>
                                                <div class="data important-information__data important-information__ldata">Apr 22, 2015</div>
                                            </div>
								        </div>	
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-navigation__container">
                                
                                <div class="swiper-button-prev3"><i class="fas fa-chevron-left"></i></div>
                                <div class="swiper-button-next3"><i class="fas fa-chevron-right"></i></div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="info-byer__2 margin-bottom__aside--all info-byer__2-js">
                        <div class="row-title">
                            <div class="title">информация покупателю</div>
                        </div>		
                        <div class="banner-move">
                            <div class="wrap-img info-byer__wrap--img banner-move-js">
                                <img src="../img/3.jpg" alt="img">
                            </div>
                        </div>
                    </div>

                    <div class="info-blog question margin-bottom__aside--all question-js">

                        <div class="row-title">
                            <div class="title">вопрос - ответ</div>
                            <div class="see-all">
                                <a href="#">Смотреть все</a>
                            </div>
                        </div>
                        <div class="info-blog__body slider">

                            <div class="swiper-container__aside2">
                                <div class="swiper-wrapper">

                                    <div class="swiper-slide swiper-slide__info--blog swiper-slide__question">
                                        <div class="info-blog__item--border">
                                            <div class="info-blog__item">
                                                <div class="info-blog__title">
                                                    <div class="wrap-img wrap-img__info--blog swiper-slide__question">
                                                        <img src="../img/cremation.png" alt="img">
                                                    </div>    
                                                    <a href="#">Протестим название в две строки ведь такое может быть</a>
                                                </div>
                                                <p class="info-blog__text">
                                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ac dictum diam. Suspendisse potenti. Donec laoreet tristique dolor, vehicula aliquet lorem bibendum quis. Nam et lobortis orci, lobortis venenatis dui. Praesent dapibus enim sed eros aliquet, condimentum sodales massa euismod. Aliquam nisi nisi, faucibus a purus et, maximus pellentesque nibh. Vestibulum posuere sodales consectetur.
                                                </p>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="swiper-slide swiper-slide__info--blog swiper-slide__question">
                                        <div class="info-blog__item--border">
                                            <div class="info-blog__item">
                                                <div class="info-blog__title">
                                                    <div class="wrap-img wrap-img__info--blog">
                                                        <img src="../img/cremation.png" alt="img">
                                                    </div>    
                                                    <a href="#">А тут только в одну строчку</a>
                                                </div>
                                                <p class="info-blog__text blog-small__content">
                                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ac dictum diam. Suspendisse potenti. Donec laoreet tristique dolor, vehicula aliquet lorem bibendum quis. Nam et lobortis orci, lobortis venenatis dui. Praesent dapibus enim sed eros aliquet, condimentum sodales massa euismod. Aliquam nisi nisi, faucibus a purus et, maximus pellentesque nibh. Vestibulum posuere sodales consectetur.											
                                                </p>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="swiper-slide swiper-slide__info--blog swiper-slide__question">
                                        <div class="info-blog__item--border">
                                            <div class="info-blog__item">
                                                <div class="info-blog__title">
                                                    <div class="wrap-img wrap-img__info--blog">
                                                        <img src="../img/cremation.png" alt="img">
                                                    </div>    
                                                    <a href="#">Протестим название в две строки ведь такое может быть</a>
                                                </div>
                                                <p class="info-blog__text">
                                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ac dictum diam. Suspendisse potenti. Donec laoreet tristique dolor, vehicula aliquet lorem bibendum quis. Nam et lobortis orci, lobortis venenatis dui. Praesent dapibus enim sed eros aliquet, condimentum sodales massa euismod. Aliquam nisi nisi, faucibus a purus et, maximus pellentesque nibh. Vestibulum posuere sodales consectetur.
                                                </p>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="swiper-slide swiper-slide__info--blog swiper-slide__question">
                                        <div class="info-blog__item--border">
                                            <div class="info-blog__item">
                                                <div class="info-blog__title">
                                                    <div class="wrap-img wrap-img__info--blog">
                                                        <img src="../img/cremation.png" alt="img">
                                                    </div>    
                                                    <a href="#">Протестим название в две строки ведь такое может быть</a>
                                                </div>
                                                <p class="info-blog__text blog-small__content">
                                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ac dictum diam. Suspendisse potenti. Donec laoreet tristique dolor, vehicula aliquet lorem bibendum quis. Nam et lobortis orci, lobortis venenatis dui. Praesent dapibus enim sed eros aliquet, condimentum sodales massa euismod. Aliquam nisi nisi, faucibus a purus et, maximus pellentesque nibh. Vestibulum posuere sodales consectetur.
                                                </p>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="swiper-navigation__container">
                                <div class="swiper-button-next2"><i class="fas fa-chevron-right"></i></div>
                                <div class="swiper-button-prev2"><i class="fas fa-chevron-left"></i></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>

//= footer.html






