
</body>
</html>
<footer class="footer">
    <div class="container container-768">
        <div class="footer-block__1">

            <ul class="block-1__flex">
                <li class="about-project footer-block__1--all">
                    <h3 class="h3-footer">
                        О нашем проекте
                    </h3>
                    <p class="about-project__text">
                        Портал FUNERAL.BY является справочно-информационным интернет-ресурсом, посвященным похоронной отрасли в Республике Беларусь. Наш ритуальный справочник предназначен для потребителей услуг и организаций, занимающихся похоронным делом в Беларуси. Кроме справочной и рекламной информации мы регулярно знакомим наших читателей с новыми трендами в мировой похоронной отрасли и обсуждаем с читателями тему ухода из жизни в разных религиях и культурах, а также в медицине и психологии.
                    </p>
                    <div class="footer-bottom__line"></div>
                    <div class="social-icon">
                        <ul class="social-flex">
                            <li>
                                <a href="#">
                                    <i class="fab fa-google-plus-g"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fab fa-pinterest-p"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fab fa-facebook-f"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fab fa-vk"></i>
                                </a>
                            </li>
                           <li>
                                <a href="#">
                                    <i class="fab fa-twitter"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="news-line footer-block__1--all">
                    <h3 class="h3-footer">
                        Новостная лента
                    </h3>
                    <div class="important-information__item--lil important-information__coll2">
                            <div class="important-information__item item-lil">
                                <div class="wrap-img important-information__limg">
                                    <img src="../img/4.jpg" alt="img">
                                </div>
                                <div class="item-body__lil">
                                    <h2 class="h2 important-information__lh2"><a href="#">Перспективы перехода на экологичные технологии похорон в Китае</a></h2>
                                    <div class="data important-information__data important-information__ldata">Apr 22, 2015</div>
                                </div>
                            </div>
                            <div class="important-information__item item-lil">
                                    <div class="wrap-img important-information__limg">
                                        <img src="../img/4.jpg" alt="img">
                                    </div>
                                    <div class="item-body__lil">
                                        <h2 class="h2 important-information__lh2"><a href="#">Перспективы перехода на экологичные технологии похорон в Китае</a></h2>
                                        <div class="data important-information__data important-information__ldata">Apr 22, 2015</div>
                                    </div>
                                </div>
                            <div class="important-information__item item-lil">
                                <div class="wrap-img important-information__limg">
                                    <img src="../img/4.jpg" alt="img">
                                </div>
                                <div class="item-body__lil">
                                    <h2 class="h2 important-information__lh2"><a href="#">Перспективы перехода на экологичные технологии похорон в Китае</a></h2>
                                    <div class="data important-information__data important-information__ldata">Apr 22, 2015</div>
                                </div>
                            </div>
                            <div class="important-information__item item-lil">
                                <div class="wrap-img important-information__limg">
                                    <img src="../img/4.jpg" alt="img">
                                </div>
                                <div class="item-body__lil">
                                    <h2 class="h2 important-information__lh2"><a href="#">Перспективы перехода на экологичные технологии похорон в Китае</a></h2>
                                    <div class="data important-information__data important-information__ldata">Apr 22, 2015</div>
                                </div>
                            </div>
                        </div>
                </li>
                <div class="popular-news footer-block__1--all">
                    <h3 class="h3-footer">
                        Популярные статьи
                    </h3>
                    <ul class="popular-news__list">
                        <li>
                            <div class="popular-news__item">
                                <div class="popular-news__title">
                                    <div class="wrap-img wrap-img__popular--news">
                                        <img src="../img/cremation.png" alt="img">
                                    </div>
                                    <a href="#">Протестим название в две строки ведь такое может быть</a>
                                </div>
                                <p class="popular-news__text">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ac dictum diam. Suspendisse potenti. Donec laoreet tristique dolor, vehicula aliquet lorem bibendum quis. Nam et lobortis orci, lobortis venenatis dui. Praesent dapibus enim sed eros aliquet, condimentum sodales massa euismod. Aliquam nisi nisi, faucibus a purus et, maximus pellentesque nibh. Vestibulum posuere sodales consectetur.
                                </p>
                            </div>
                        </li>
                        <li>
                            <div class="popular-news__item">
                                <div class="popular-news__title">
                                    <div class="wrap-img wrap-img__popular--news">
                                        <img src="../img/cremation.png" alt="img">
                                    </div>
                                    <a href="#">А тут только в одну строчку</a>
                                </div>
                                <p class="popular-news__text popular-small__content">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ac dictum diam. Suspendisse potenti. Donec laoreet tristique dolor, vehicula aliquet lorem bibendum quis. Nam et lobortis orci, lobortis venenatis dui. Praesent dapibus enim sed eros aliquet, condimentum sodales massa euismod. Aliquam nisi nisi, faucibus a purus et, maximus pellentesque nibh. Vestibulum posuere sodales consectetur.
                                </p>
                            </div>
                        </li>
                        <li>
                            <div class="popular-news__item">
                                <div class="popular-news__title">
                                    <div class="wrap-img wrap-img__popular--news">
                                        <img src="../img/cremation.png" alt="img">
                                    </div>
                                    <a href="#">А тут только в одну строчку</a>
                                </div>
                                <p class="popular-news__text popular-small__content">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ac dictum diam. Suspendisse potenti. Donec laoreet tristique dolor, vehicula aliquet lorem bibendum quis. Nam et lobortis orci, lobortis venenatis dui. Praesent dapibus enim sed eros aliquet, condimentum sodales massa euismod. Aliquam nisi nisi, faucibus a purus et, maximus pellentesque nibh. Vestibulum posuere sodales consectetur.
                                </p>
                            </div>

                        </li>
                    </ul>
                </div>
            </ul>

        </div>



    </div>
    <div class="footer-block__2">
        <div class="container container-768">
            <div class="footer-block__2--flex">
                <div class="block-2__1">
                    <ul class="block-2">
                        <li class="block-2__flex">
                            <ul class="block-2__inner">
                                <li>
                                    <div class="block-2__inner--title">
                                        ПОХОРОННОЕ ДЕЛО
                                    </div>
                                </li>
                                <li>
                                    <a class="block-2__inner--text" href="#">
                                        ИЗГОТОВЛЕНИЕ ПАМЯТНИКОВ ИЗ ГРАНИТА В БЕЛАРУСИ
                                    </a>
                                </li>
                                <li>
                                    <a class="block-2__inner--text" href="#">
                                        ГРОБЫ, ВЕНКИ, РИТУАЛЬНЫЕ ПРИНАДЛЕЖНОСТИ
                                    </a>
                                </li>
                                <li>
                                    <a class="block-2__inner--text" href="#">
                                        РИТУАЛЬНЫЕ УСЛУГИ И ОРГАНИЗАЦИЯ ПОХОРОН
                                    </a>
                                </li>
                                <li>
                                    <a class="block-2__inner--text" href="#">
                                        ПРОВЕДЕНИЕ ПОМИНОК
                                        БЛАГОУСТРОЙСТВО МОГИЛ
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                    <ul class="block-2">
                        <li class="block-2__flex">
                            <ul class="block-2__inner">
                                <li>
                                    <div class="block-2__inner--title">
                                        ПУБЛИКАЦИИ
                                    </div>
                                </li>
                                <li>
                                    <a class="block-2__inner--text" href="#">
                                        СТАТЬИ
                                    </a>
                                </li>
                                <li>
                                    <a class="block-2__inner--text" href="#">
                                        ТРАДИЦИИ
                                    </a>
                                </li>
                                <li>
                                    <a class="block-2__inner--text" href="#">
                                        РЕЛИГИЯ
                                    </a>
                                </li>
                                <li>
                                    <a class="block-2__inner--text" href="#">
                                        МЕДИЦИНА
                                    </a>
                                </li>
                                <li>
                                    <a class="block-2__inner--text" href="#">
                                        КУЛЬТУРА
                                    </a>
                                </li>
                                <li>
                                    <a class="block-2__inner--text" href="#">
                                        ПРОИСШЕСТВИЯ
                                    </a>
                                </li>
                                <li>
                                    <a class="block-2__inner--text" href="#">
                                        НЕКРОЛОГИ
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <div class="block-2__1">
                        <ul class="block-2">
                            <li class="block-2__flex">
                                <ul class="block-2__inner">
                                    <li>
                                        <div class="block-2__inner--title">
                                            ПОХОРОННОЕ ДЕЛО
                                        </div>
                                    </li>
                                    <li>
                                        <a class="block-2__inner--text" href="#">
                                            ИЗГОТОВЛЕНИЕ ПАМЯТНИКОВ ИЗ ГРАНИТА В БЕЛАРУСИ
                                        </a>
                                    </li>
                                    <li>
                                        <a class="block-2__inner--text" href="#">
                                            ГРОБЫ, ВЕНКИ, РИТУАЛЬНЫЕ ПРИНАДЛЕЖНОСТИ
                                        </a>
                                    </li>
                                    <li>
                                        <a class="block-2__inner--text" href="#">
                                            РИТУАЛЬНЫЕ УСЛУГИ И ОРГАНИЗАЦИЯ ПОХОРОН
                                        </a>
                                    </li>
                                    <li>
                                        <a class="block-2__inner--text" href="#">
                                            ПРОВЕДЕНИЕ ПОМИНОК
                                            БЛАГОУСТРОЙСТВО МОГИЛ
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                        <ul class="block-2">
                            <li class="block-2__flex">
                                <ul class="block-2__inner">
                                    <li>
                                        <div class="block-2__inner--title">
                                            ПУБЛИКАЦИИ
                                        </div>
                                    </li>
                                    <li>
                                        <a class="block-2__inner--text" href="#">
                                            СТАТЬИ
                                        </a>
                                    </li>
                                    <li>
                                        <a class="block-2__inner--text" href="#">
                                            ТРАДИЦИИ
                                        </a>
                                    </li>
                                    <li>
                                        <a class="block-2__inner--text" href="#">
                                            РЕЛИГИЯ
                                        </a>
                                    </li>
                                    <li>
                                        <a class="block-2__inner--text" href="#">
                                            МЕДИЦИНА
                                        </a>
                                    </li>
                                    <li>
                                        <a class="block-2__inner--text" href="#">
                                            КУЛЬТУРА
                                        </a>
                                    </li>
                                    <li>
                                        <a class="block-2__inner--text" href="#">
                                            ПРОИСШЕСТВИЯ
                                        </a>
                                    </li>
                                    <li>
                                        <a class="block-2__inner--text" href="#">
                                            НЕКРОЛОГИ
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                </div>
                <div class="block-2__1">
                    <ul class="block-2">
                        <li class="block-2__flex">
                            <ul class="block-2__inner">
                                <li>
                                    <div class="block-2__inner--title">
                                        ПОХОРОННОЕ ДЕЛО
                                    </div>
                                </li>
                                <li>
                                    <a class="block-2__inner--text" href="#">
                                        ИЗГОТОВЛЕНИЕ ПАМЯТНИКОВ ИЗ ГРАНИТА В БЕЛАРУСИ
                                    </a>
                                </li>
                                <li>
                                    <a class="block-2__inner--text" href="#">
                                        ГРОБЫ, ВЕНКИ, РИТУАЛЬНЫЕ ПРИНАДЛЕЖНОСТИ
                                    </a>
                                </li>
                                <li>
                                    <a class="block-2__inner--text" href="#">
                                        РИТУАЛЬНЫЕ УСЛУГИ И ОРГАНИЗАЦИЯ ПОХОРОН
                                    </a>
                                </li>
                                <li>
                                    <a class="block-2__inner--text" href="#">
                                        ПРОВЕДЕНИЕ ПОМИНОК
                                        БЛАГОУСТРОЙСТВО МОГИЛ
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                    <ul class="block-2">
                        <li class="block-2__flex">
                            <ul class="block-2__inner">
                                <li>
                                    <div class="block-2__inner--title">
                                        ПУБЛИКАЦИИ
                                    </div>
                                </li>
                                <li>
                                    <a class="block-2__inner--text" href="#">
                                        СТАТЬИ
                                    </a>
                                </li>
                                <li>
                                    <a class="block-2__inner--text" href="#">
                                        ТРАДИЦИИ
                                    </a>
                                </li>
                                <li>
                                    <a class="block-2__inner--text" href="#">
                                        РЕЛИГИЯ
                                    </a>
                                </li>
                                <li>
                                    <a class="block-2__inner--text" href="#">
                                        МЕДИЦИНА
                                    </a>
                                </li>
                                <li>
                                    <a class="block-2__inner--text" href="#">
                                        КУЛЬТУРА
                                    </a>
                                </li>
                                <li>
                                    <a class="block-2__inner--text" href="#">
                                        ПРОИСШЕСТВИЯ
                                    </a>
                                </li>
                                <li>
                                    <a class="block-2__inner--text" href="#">
                                        НЕКРОЛОГИ
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-block__3">
        <p>Копирование материалов без писменного согласия с администрацией и прямой ссылки на портал запрещено</p>
        <p>© 2018 Единая ритуально - похоронная служба Украины pohorony.com.ua. Все права защищены</p>
    </div>
</footer>

<footer class="footer-768">
    <div class="footer-block__1">
        <div class="container container-768">
            <ul class="block-1__flex">
                <li class="about-project footer-block__1--all">
                    <h3 class="h3-footer">
                        О нашем проекте
                    </h3>
                    <p class="about-project__text">
                        Портал FUNERAL.BY является справочно-информационным интернет-ресурсом, посвященным похоронной отрасли в Республике Беларусь. Наш ритуальный справочник предназначен для потребителей услуг и организаций, занимающихся похоронным делом в Беларуси. Кроме справочной и рекламной информации мы регулярно знакомим наших читателей с новыми трендами в мировой похоронной отрасли и обсуждаем с читателями тему ухода из жизни в разных религиях и культурах, а также в медицине и психологии.
                    </p>
                    <div class="footer-bottom__line"></div>
                    <div class="social-icon">
                        <ul class="social-flex">
                            <li>
                                <a href="#">
                                    <i class="fab fa-google-plus-g"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fab fa-pinterest-p"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fab fa-facebook-f"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fab fa-vk"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fab fa-twitter"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="news-line footer-block__1--all">
                    <h3 class="h3-footer">
                        Новостная лента
                    </h3>
                    <div class="important-information__item--lil important-information__coll2">
                        <div class="important-information__item item-lil">
                            <div class="wrap-img important-information__limg">
                                <img src="../img/4.jpg" alt="img">
                            </div>
                            <div class="item-body__lil">
                                <h2 class="h2 important-information__lh2"><a href="#">Перспективы перехода на экологичные технологии похорон в Китае</a></h2>
                                <div class="data important-information__data important-information__ldata">Apr 22, 2015</div>
                            </div>
                        </div>
                        <div class="important-information__item item-lil">
                            <div class="wrap-img important-information__limg">
                                <img src="../img/4.jpg" alt="img">
                            </div>
                            <div class="item-body__lil">
                                <h2 class="h2 important-information__lh2"><a href="#">Перспективы перехода на экологичные технологии похорон в Китае</a></h2>
                                <div class="data important-information__data important-information__ldata">Apr 22, 2015</div>
                            </div>
                        </div>
                        <div class="important-information__item item-lil">
                            <div class="wrap-img important-information__limg">
                                <img src="../img/4.jpg" alt="img">
                            </div>
                            <div class="item-body__lil">
                                <h2 class="h2 important-information__lh2"><a href="#">Перспективы перехода на экологичные технологии похорон в Китае</a></h2>
                                <div class="data important-information__data important-information__ldata">Apr 22, 2015</div>
                            </div>
                        </div>
                        <div class="important-information__item item-lil">
                            <div class="wrap-img important-information__limg">
                                <img src="../img/4.jpg" alt="img">
                            </div>
                            <div class="item-body__lil">
                                <h2 class="h2 important-information__lh2"><a href="#">Перспективы перехода на экологичные технологии похорон в Китае</a></h2>
                                <div class="data important-information__data important-information__ldata">Apr 22, 2015</div>
                            </div>
                        </div>
                    </div>
                </li>
                <div class="popular-news footer-block__1--all">
                    <h3 class="h3-footer">
                        Популярные статьи
                    </h3>
                    <ul class="popular-news__list">
                        <li>
                            <div class="popular-news__item">
                                <div class="popular-news__title">
                                    <div class="wrap-img wrap-img__popular--news">
                                        <img src="../img/cremation.png" alt="img">
                                    </div>
                                    <a href="#">Протестим название в две строки ведь такое может быть</a>
                                </div>
                                <p class="popular-news__text">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ac dictum diam. Suspendisse potenti. Donec laoreet tristique dolor, vehicula aliquet lorem bibendum quis. Nam et lobortis orci, lobortis venenatis dui. Praesent dapibus enim sed eros aliquet, condimentum sodales massa euismod. Aliquam nisi nisi, faucibus a purus et, maximus pellentesque nibh. Vestibulum posuere sodales consectetur.
                                </p>
                            </div>
                        </li>
                        <li>
                            <div class="popular-news__item">
                                <div class="popular-news__title">
                                    <div class="wrap-img wrap-img__popular--news">
                                        <img src="../img/cremation.png" alt="img">
                                    </div>
                                    <a href="#">А тут только в одну строчку</a>
                                </div>
                                <p class="popular-news__text popular-small__content">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ac dictum diam. Suspendisse potenti. Donec laoreet tristique dolor, vehicula aliquet lorem bibendum quis. Nam et lobortis orci, lobortis venenatis dui. Praesent dapibus enim sed eros aliquet, condimentum sodales massa euismod. Aliquam nisi nisi, faucibus a purus et, maximus pellentesque nibh. Vestibulum posuere sodales consectetur.
                                </p>
                            </div>
                        </li>
                        <li>
                            <div class="popular-news__item">
                                <div class="popular-news__title">
                                    <div class="wrap-img wrap-img__popular--news">
                                        <img src="../img/cremation.png" alt="img">
                                    </div>
                                    <a href="#">А тут только в одну строчку</a>
                                </div>
                                <p class="popular-news__text popular-small__content">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ac dictum diam. Suspendisse potenti. Donec laoreet tristique dolor, vehicula aliquet lorem bibendum quis. Nam et lobortis orci, lobortis venenatis dui. Praesent dapibus enim sed eros aliquet, condimentum sodales massa euismod. Aliquam nisi nisi, faucibus a purus et, maximus pellentesque nibh. Vestibulum posuere sodales consectetur.
                                </p>
                            </div>

                        </li>
                    </ul>
                </div>
        </div>
        </ul>

    </div>
    <div class="footer-block__2">
        <div class="container container-768">
            <div class="footer-block__2--flex">
                <ul class="block-2">
                    <li class="block-2__flex">
                        <ul class="block-2__inner">
                            <li>
                                <div class="block-2__inner--title">
                                    ПОХОРОННОЕ ДЕЛО
                                </div>
                            </li>
                            <li>
                                <a class="block-2__inner--text" href="#">
                                    ИЗГОТОВЛЕНИЕ ПАМЯТНИКОВ ИЗ ГРАНИТА В БЕЛАРУСИ
                                </a>
                            </li>
                            <li>
                                <a class="block-2__inner--text" href="#">
                                    ГРОБЫ, ВЕНКИ, РИТУАЛЬНЫЕ ПРИНАДЛЕЖНОСТИ
                                </a>
                            </li>
                            <li>
                                <a class="block-2__inner--text" href="#">
                                    РИТУАЛЬНЫЕ УСЛУГИ И ОРГАНИЗАЦИЯ ПОХОРОН
                                </a>
                            </li>
                            <li>
                                <a class="block-2__inner--text" href="#">
                                    ПРОВЕДЕНИЕ ПОМИНОК
                                    БЛАГОУСТРОЙСТВО МОГИЛ
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
                <ul class="block-2">
                    <li class="block-2__flex">
                        <ul class="block-2__inner">
                            <li>
                                <div class="block-2__inner--title">
                                    ПУБЛИКАЦИИ
                                </div>
                            </li>
                            <li>
                                <a class="block-2__inner--text" href="#">
                                    СТАТЬИ
                                </a>
                            </li>
                            <li>
                                <a class="block-2__inner--text" href="#">
                                    ТРАДИЦИИ
                                </a>
                            </li>
                            <li>
                                <a class="block-2__inner--text" href="#">
                                    РЕЛИГИЯ
                                </a>
                            </li>
                            <li>
                                <a class="block-2__inner--text" href="#">
                                    МЕДИЦИНА
                                </a>
                            </li>
                            <li>
                                <a class="block-2__inner--text" href="#">
                                    КУЛЬТУРА
                                </a>
                            </li>
                            <li>
                                <a class="block-2__inner--text" href="#">
                                    ПРОИСШЕСТВИЯ
                                </a>
                            </li>
                            <li>
                                <a class="block-2__inner--text" href="#">
                                    НЕКРОЛОГИ
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
                <ul class="block-2">
                    <li class="block-2__flex">
                        <ul class="block-2__inner">
                            <li>
                                <div class="block-2__inner--title">
                                    ПОХОРОННОЕ ДЕЛО
                                </div>
                            </li>
                            <li>
                                <a class="block-2__inner--text" href="#">
                                    ИЗГОТОВЛЕНИЕ ПАМЯТНИКОВ ИЗ ГРАНИТА В БЕЛАРУСИ
                                </a>
                            </li>
                            <li>
                                <a class="block-2__inner--text" href="#">
                                    ГРОБЫ, ВЕНКИ, РИТУАЛЬНЫЕ ПРИНАДЛЕЖНОСТИ
                                </a>
                            </li>
                            <li>
                                <a class="block-2__inner--text" href="#">
                                    РИТУАЛЬНЫЕ УСЛУГИ И ОРГАНИЗАЦИЯ ПОХОРОН
                                </a>
                            </li>
                            <li>
                                <a class="block-2__inner--text" href="#">
                                    ПРОВЕДЕНИЕ ПОМИНОК
                                    БЛАГОУСТРОЙСТВО МОГИЛ
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
                <ul class="block-2">
                    <li class="block-2__flex">
                        <ul class="block-2__inner">
                            <li>
                                <div class="block-2__inner--title">
                                    ПУБЛИКАЦИИ
                                </div>
                            </li>
                            <li>
                                <a class="block-2__inner--text" href="#">
                                    СТАТЬИ
                                </a>
                            </li>
                            <li>
                                <a class="block-2__inner--text" href="#">
                                    ТРАДИЦИИ
                                </a>
                            </li>
                            <li>
                                <a class="block-2__inner--text" href="#">
                                    РЕЛИГИЯ
                                </a>
                            </li>
                            <li>
                                <a class="block-2__inner--text" href="#">
                                    МЕДИЦИНА
                                </a>
                            </li>
                            <li>
                                <a class="block-2__inner--text" href="#">
                                    КУЛЬТУРА
                                </a>
                            </li>
                            <li>
                                <a class="block-2__inner--text" href="#">
                                    ПРОИСШЕСТВИЯ
                                </a>
                            </li>
                            <li>
                                <a class="block-2__inner--text" href="#">
                                    НЕКРОЛОГИ
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
                <ul class="block-2">
                    <li class="block-2__flex">
                        <ul class="block-2__inner">
                            <li>
                                <div class="block-2__inner--title">
                                    ПОХОРОННОЕ ДЕЛО
                                </div>
                            </li>
                            <li>
                                <a class="block-2__inner--text" href="#">
                                    ИЗГОТОВЛЕНИЕ ПАМЯТНИКОВ ИЗ ГРАНИТА В БЕЛАРУСИ
                                </a>
                            </li>
                            <li>
                                <a class="block-2__inner--text" href="#">
                                    ГРОБЫ, ВЕНКИ, РИТУАЛЬНЫЕ ПРИНАДЛЕЖНОСТИ
                                </a>
                            </li>
                            <li>
                                <a class="block-2__inner--text" href="#">
                                    РИТУАЛЬНЫЕ УСЛУГИ И ОРГАНИЗАЦИЯ ПОХОРОН
                                </a>
                            </li>
                            <li>
                                <a class="block-2__inner--text" href="#">
                                    ПРОВЕДЕНИЕ ПОМИНОК
                                    БЛАГОУСТРОЙСТВО МОГИЛ
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
                <ul class="block-2">
                    <li class="block-2__flex">
                        <ul class="block-2__inner">
                            <li>
                                <div class="block-2__inner--title">
                                    ПУБЛИКАЦИИ
                                </div>
                            </li>
                            <li>
                                <a class="block-2__inner--text" href="#">
                                    СТАТЬИ
                                </a>
                            </li>
                            <li>
                                <a class="block-2__inner--text" href="#">
                                    ТРАДИЦИИ
                                </a>
                            </li>
                            <li>
                                <a class="block-2__inner--text" href="#">
                                    РЕЛИГИЯ
                                </a>
                            </li>
                            <li>
                                <a class="block-2__inner--text" href="#">
                                    МЕДИЦИНА
                                </a>
                            </li>
                            <li>
                                <a class="block-2__inner--text" href="#">
                                    КУЛЬТУРА
                                </a>
                            </li>
                            <li>
                                <a class="block-2__inner--text" href="#">
                                    ПРОИСШЕСТВИЯ
                                </a>
                            </li>
                            <li>
                                <a class="block-2__inner--text" href="#">
                                    НЕКРОЛОГИ
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-block__3">
        <p>Копирование материалов без писменного согласия с администрацией и прямой ссылки на портал запрещено</p>
        <p>© 2018 Единая ритуально - похоронная служба Украины pohorony.com.ua. Все права защищены</p>
    </div>
</footer>

<footer class="footer-320">
    <div class="footer-block__2">
        <div class="footer-box">
            <div class="box-head container-box"><a href="#">ПОХОРОННОЕ ДЕЛО</a></div>
            <div class="box-body__all">
                <div class="box-body container-box"><a href="#">ИЗГОТОВЛЕНИЕ ПАМЯТНИКОВ ИЗ ГРАНИТА В БЕЛАРУСИ</a></div>
                <div class="box-body container-box"><a href="#">ГРОБЫ, ВЕНКИ, РИТУАЛЬНЫЕ ПРИНАДЛЕЖНОСТИ</a></div>
                <div class="box-body container-box"><a href="#">РИТУАЛЬНЫЕ УСЛУГИ И ОРГАНИЗАЦИЯ ПОХОРОН</a></div>
                <div class="box-body container-box"><a href="#">ПРОВЕДЕНИЕ ПОМИНОК</a></div>
                <div class="box-body container-box"><a href="#">БЛАГОУСТРОЙСТВО МОГИЛ</a></div>
            </div>
        </div>
        <div class="footer-box">
            <div class="box-head container-box"><a href="#">ПУБЛИКАЦИИ</a></div>
            <div class="box-body__all">
                <div class="box-body container-box"><a href="#">СТАТЬИ</a></div>
                <div class="box-body container-box"><a href="#">ТРАДИЦИИ</a></div>
                <div class="box-body container-box"><a href="#">РЕЛИГИЯ</a></div>
                <div class="box-body container-box"><a href="#">МЕДИЦИНА</a></div>
                <div class="box-body container-box"><a href="#">КУЛЬТУРА</a></div>
                <div class="box-body container-box"><a href="#">ПРОИСШЕСТВИЯ</a></div>
                <div class="box-body container-box"><a href="#">НЕКРОЛОГ</a></div>
            </div>
        </div>
        <div class="footer-box">
            <div class="box-head container-box"><a href="#">СПРАВОЧНИК</a></div>
            <div class="box-body__all">
                <div class="box-body container-box"><a href="#">КЛАДБИЩА</a></div>
                <div class="box-body container-box"><a href="#">КРЕМАТОРИИ</a></div>
                <div class="box-body container-box"><a href="#">МОРГИ</a></div>
                <div class="box-body container-box"><a href="#">КОМБИНАТЫ БЫТОВЫХ УСЛУГ</a></div>

            </div>
        </div>
        <ul class="social-flex">
            <li>
                <a href="#">
                    <i class="fab fa-google-plus-g"></i>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="fab fa-pinterest-p"></i>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="fab fa-facebook-f"></i>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="fab fa-vk"></i>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="fab fa-twitter"></i>
                </a>
            </li>
        </ul>
    </div>
    <div class="footer-block__3">
        <p>Копирование материалов без писменного согласия с администрацией и прямой ссылки на портал запрещено</p>
        <p>© 2018 Единая ритуально - похоронная служба Украины pohorony.com.ua. Все права защищены</p>
    </div>
</footer>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
<script src="../libs/swiper/js/swiper.min.js"></script>
<script src="../libs/mask/jquery.maskedinput.min.js"></script>
<script src="js/common.js"></script>