.btn-green
    color: #fff
    background-color: #538d20
    font-size: 12px
    transition: all .4s ease
    padding: 8px 39px
    text-align: center
    &:hover
        color: #fff
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5)   
    &:visited
        color: #fff   

.btn-red
    color: #fff
    background-color: #c33232
    font-size: 12px
    text-align: center
    &:hover
        color: #fff
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5)   
    &:visited
        color: #fff   

.btn-grey
    color: #fff
    background-color: #444444
    font-size: 12px
    text-align: center
    padding: 8px 39px
    &:hover
        color: #fff
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5)   
    &:visited
        color: #fff   
.bold
    font-weight: 600
    color: #262626
.h1
    line-height: 1
    font-size: 25px
    font-weight: normal    

.in-container__h1   
    margin: 30px 0 
    padding-left: 16px
    color: $text
.wrap-img
    overflow: hidden
    vertical-align: middle
    position: relative
    line-height: 1
    img
        object-fit: cover
        width: 100%
        height: 100%
        vertical-align: middle
    .wrap-img__gradient
        position: absolute
        top: 0
        left: 0
        width: 100%
        height: 100%
        background-image: linear-gradient(to top, #000000, rgba(0, 0, 0, 0))        
.row-title
    display: flex
    flex-direction: row
    justify-content: space-between
    border-bottom: 2px solid $lightgrey
    margin-bottom: 32px
    .title
        padding: 10px 14px 10px 14px
        color: #fff
        font-size: 16px
        line-height: 1
        background-color: $textgreen
        text-transform: uppercase
    .see-all 
        align-self: flex-end   
        a
            color: $textgreen
            font-size: 14px  
            .sort
                margin-left: 8px        
.row-rectangle     
    display: flex 
    align-items: center
    position: absolute
    bottom: 12px
    left: 0
    z-index: 1
    padding: 0 16px
    .wrap-eye
        width: 19px
        height: auto  
        margin-right: 4px
        display: inline-block
        vertical-align: middle
    .rectangle-quantity
        font-size: 14px
        line-height: 1
        color: #fff     
        display: inline-block
        vertical-align: middle
    .rectangle-quantity__mr
        margin-right: 18px   
.row-rectangle__bestc--jc
    justify-content: space-between   
    left: 0
    right: 0
    width: 100%
.wrap-eye__green
    svg
        fill: #538d20
.wrap-eye__grey
    svg
        fill: #bcbcbc


.star-rating
  font-size: 0
  margin-right: 16px
.star-rating__wrap
  display: inline-block
  font-size: 12px
  &:after
    content: ""
    display: table
    clear: both
.star-rating__ico
  float: right
  padding-left: 2px
  cursor: pointer
  color: #fbd477
  &:last-child
    padding-left: 0
.star-rating__input
  display: none
.star-rating__ico:hover
  &:before, ~ .star-rating__ico:before
    content: "\f005"
    font-weight: bold
.star-rating__input:checked ~ .star-rating__ico:before
  content: "\f005"
  font-weight: bold

.see-more__wrap
    width: 100%
    text-align: right
.see-more__btn
    font-size: 14px
    line-height: 1
    color: $textgreen
    font-weight: normal
    text-transform: lowercase
 
    &:hover 
        text-decoration: underline 
    &:after
        content: '\f054'   
        font-weight: 700
        font-family: "Font Awesome 5 Free" 
        padding-left: 5px
        
.map
    width: 52.9%
    height: 353px      

.swiper-container__aside, .swiper-container__aside2, .swiper-container__aside3, .swiper-main, .swiper-container__filter
  width: 100%
  height: auto
  margin-left: auto
  margin-right: auto 
  overflow: hidden   
  position: relative

.swiper-slide__info--blog
    border-bottom: 1px solid #bcbcbc 
    padding-bottom: 30px
    &:nth-child(4n)
        border: none 
        padding: 0    
        margin-bottom: 30px 
    .info-blog__title
        a
            color: $text
    .info-blog__text
        color: $lightgrey   

.swiper-navigation__container
    position: relative
    width: 100px 
    height: 30px 
    padding-left: 14px
    color: #bcbcbc
    .swiper-button-next, .swiper-button-prev, .swiper-button-next1, .swiper-button-prev1, .swiper-button-prev6, .swiper-button-next6,  .swiper-button-prev2, .swiper-button-prev3, .swiper-button-next2, .swiper-button-next3, .swiper-button-prev4, .swiper-button-next4, .swiper-button-prev7, .swiper-button-next7   
        top: 0
        bottom: 0
        margin: 0
        left: 14px
        width: 30px
        height: 30px
        cursor: pointer
        border: 1px solid $lightgrey
        background-image: none
        text-align: center
        line-height: 2
        display: inline-block
        position: absolute
        vertical-align: middle
    .swiper-button-next, .swiper-button-next2, .swiper-button-next3, .swiper-button-next4, .swiper-button-next6, .swiper-button-next1
        left: 48px
    .swiper-button-next2.swiper-button-disabled,
    .swiper-button-prev2.swiper-button-disabled,
    .swiper-button-next3.swiper-button-disabled,
    .swiper-button-prev3.swiper-button-disabled,
    .swiper-button-next4.swiper-button-disabled,
    .swiper-button-prev4.swiper-button-disabled,
    .swiper-button-next6.swiper-button-disabled,
    .swiper-button-prev6.swiper-button-disabled,
    .swiper-button-next1.swiper-button-disabled,
    .swiper-button-prev1.swiper-button-disabled,
    .swiper-button-prev7.swiper-button-disabled,
    .swiper-button-next7.swiper-button-disabled  
        opacity: .35
        cursor: auto
        pointer-events: none
.swiper-slide__question
    &:nth-child(2n)
        border: none 
        padding: 0    
        margin-bottom: 30px     
.breadcrum
    color: #bcbcbc   
    font-size: 12px
    margin: 30px 0
    .fa-home
        margin-right: 3px 
    .breadcrum-pages
        &:before
            content: '/'
            margin-right: 3px
.filters
    a
        display: flex
        align-items: center          
.filters-company
    display: flex
    width: 100%
    flex-direction: row
    align-items: center
    justify-content: space-between
    background-color: $lightgrey
    height: auto
    min-height: 30px
    padding: 0 5px 0 16px
    color: #fff
    font-size: 11px
    margin: -14px 0 30px 0
.filters-total__company
    min-width: 210px    
.filters-tags
    display: flex    
    flex-wrap: wrap
.tag
    font-size: 10px
    color: #fff
    line-height: 1
    padding: 5px 25px 5px 5px
    width: auto
    position: relative
    background-color: #5e5e5e
    text-transform: uppercase
    margin: 5px 0 5px 5px
    .fa-times
        position: absolute
        top: 4px
        right: 7px
        color: #bcbcbc
.wrap-pagination
    display: flex

.pagination
    display: flex
    flex-direction: row
    justify-content: space-between
    align-items: center
    padding: 0 10px
    width: calc(50% - 18px)
    .fas
        color: #bcbcbc
    .pagination-navigation
        padding: 5px 8px
        line-height: 1
        border: 1px solid #bcbcbc
        text-align: center    
    .paginations-number
        margin: 0 24px
        .num
            color: #444
            margin-right: 8px 
            display: inline-block
            padding: 5px 8px
            border: 1px solid #bcbcbc
            line-height: 1
            text-align: center
            &:last-child
                margin-right: 0
        .active
            border: 2px solid #538d20    
    
.wrap-read__more
    display: flex
    width: 100%
    justify-content: flex-end
    .read-more
        color: #bcbcbc
        font-size: 14px
        line-height: 1
        text-decoration: underline

.tabs__content
    display: none
    &.active
        display: block
        padding: 15px
.arrangements-tab
    //padding: 0 16px 16px 16px
    background-color: #f1f1f1
.tabs__caption
    display: flex
    flex-direction: row

    li
        width: 25%
        padding: 13px 0
        color: #444444
        margin-right: 2px
        text-align: center
        cursor: pointer
        position: relative

        &:last-child
            margin-right: 0
        &.active
            background-color: #538d20
            color: #fff
            &:after
                content: ''
                position: absolute
                bottom: -10px
                left: calc(50% - 10px)
                border-left: 10px solid transparent
                border-right: 10px solid transparent
                border-top: 10px solid #538d20
.tabs__content__flex
    display: flex
    flex-wrap: wrap
    .wrap-img
        width: calc(50% - 8px)
        margin-right: 16px
        margin-bottom: 16px
        height: 200px
        &:nth-child(2n)
            margin-right: 0
            width: calc(50% - 8px)
            
.input, .add-company__select
    border: none
    background-color: #f0f0f0
    color: #444444
    outline: none
    padding: 14px 12px
    &::placeholder
        color: #444444
        opacity: .5
.swiper-slide__info--blog
    .info-blog__title
        a
            font-weight: 500
.important-information__lh2
    font-weight: 500

.not-found__box
    width: 100%
    height: 256px
    border: 2px solid #538d20
    padding: 8px
    text-align: center
    display: flex
    flex-direction: column
    align-items: center
    background-color: #f0f0f0
    &:first-child
        margin-bottom: 8px
    &:last-child
        height: 200px
.not-found
    .row-title
        margin-bottom: 4px
.nf-wrap
    width: 48px
    height: 48px
    margin-top: 23px
.nf-wrap__phone
    width: 40px
    height: auto
.row-number
    color: #262626
    margin-top: 16px
    margin-bottom: 14px
.row-number__num
    font-size: 20px
    line-height: 1.3
    font-weight: 600
    margin-bottom: 2px
.row-number__text
    font-size: 10px
    line-height: 1
    text-transform: uppercase
.your-tell
    color: #444444
    opacity: .5
    font-size: 14px
    padding: 14px 20px
    border: none
    outline: none
    width: 100%
.your-tell__form
    width: 100%
    margin-bottom: 7px
.btn-green__nf
    width: 100%
    padding: 14px 39px
    display: block
    font-size: 16px
.wrap-form
    width: 100%

.top-nav
    position: absolute
    top: 52px
    left: 0
    width: calc(50% - 2px)
    //display: flex
    display: none
    flex-direction: row
    background-color: #444444
    .nav-col
        width: 50%
        border-right: 1px solid #5e5e5e
        &:last-child
            border-right: 0

    .nav-link
        display: inline-block
        padding: 12px 36px
        width: 100%
        border-bottom: 1px solid #5e5e5e
        &.active
            border-left: 12px solid #538d20


.nav-top__search
    display: none
    flex-direction: row
    align-items: center
    position: absolute
    right: 0
    top: 51px
    width: calc(50% - 2px)
    .input-nav
        border-bottom: 1px solid #fefefe
        position: relative
        width: 75%
    .fa-search__nav
        position: absolute
        left: 10px
        font-size: 20px
        top: calc(50% - 12px)
        color: #444
        opacity: .3
.input-nav
    padding: 17px 48px
    font-size: 12px
    border-left: 1px solid #44444447
    background-color: #fff
.btn-search__nav
    width: 25%
    padding: 12px
    font-size: 16px
.nav-top__search--result
    background-color: #fff
    position: absolute
    border-left: 1px solid #44444447
    top: 49px
    left: 0
    width: 75%!important
.row-result
    padding: 4px 20px
    a
        color: #262626
.nav-top__search--result2
    background-color: #fff
    position: absolute
    border-left: 1px solid #44444447
    top: 69px
    left: 0
    width: 100%
    z-index: 2

.nav-top__location
    display: none
    padding: 12px 16px
    background-color: #f0f0f0
    position: absolute
    flex-direction: column
    top: 58px
    left: 195px
    color: #444
    width: 316px
    height: 304px
    .col
        margin-bottom: 10px
.location-input
    width: 100%
    background-color: #fff    
.this-moment
    font-size: 16px
.text-green
    color: #538d20


.wrap-select_drop
    font-family: "Font Awesome 5 Free"
    position: relative
    width: 100%
    &:before
        content: "\f0d7"
        font-size: 12px
        position: absolute
        right: 0
        top: 12px
        width: 23px
        background-color: #fff
        z-index: 1
        pointer-events: none
        font-weight: 600
        color: #444
.select
    font-family: "Font Awesome 5 Free"
    position: relative
    &:before
        content: "\f0d7"
        font-size: 12px
        position: absolute
        color: #444
        right: 0
        top: 12px
        width: 23px
        background-color: #f0f0f0
        z-index: 1
        pointer-events: none
        font-weight: 600

.predict-read
    position: relative
    margin-right: 5px
    &:last-child
        margin-right: 0
    .predict-window
        display: none
        width: 100%
        height: 150px
        position: absolute
        bottom: -150px
        z-index: 20
        background-color: #fff
        padding: 10px
        .predict-row
            a
                padding: 5px 5px
                font-size: 14px
                font-weight: normal
                line-height: 1.3
.wrap-for-add-num
    position: relative
.max-w
    max-width: 50px
.add-c
    align-self: center
    padding: 5px

.added-num
    margin-bottom: 10px
.wrap-for-add-num
    position: relative
.close-tab
    cursor: pointer
    width: 20px
    height: 20px
    position: absolute
    top: 23px
    right: 10px
    &:before
        content: ''
        width: 15px
        height: 2px
        position: absolute
        top: 0
        right: 0
        background-color: #444
        transform: rotate(45deg)
    &:after
        content: ''
        width: 15px
        height: 2px
        position: absolute
        transform: rotate(130deg)
        top: 0
        right: 0
        background-color: #444
.result-num
    font-weight: bold
.row-title
    position: relative
.modal-filters
    position: absolute
    background-color: #f0f0f0
    z-index: 22
    &.open
        display: block
label
    font-size: 14px
    color: #444
    input
        width: 24px
        height: 24px
        color: #262626
        background: none
    .checkbox-custom
        position: relative
        width: 18px
        height: 18px
        border: 2px solid #444444
        border-radius: 3px
        display: inline-block
        vertical-align: middle
        cursor: pointer
    .checkbox
        display: none
    .checkbox:checked + .checkbox-custom::before
        content: "\f00c"
        display: block
        position: absolute
        text-align: center
        width: 100%
        height: 100%
        line-height: 1.3
        color: #fff
        background-color: #444444
        font-size: 13px
        font-family: "Font Awesome 5 Free"
        font-weight: 600
        transition: all .3s ease
    .checkbox-option
        margin-right: 30px
        &:last-child
            margin-right: 0
        .checkbox-custom
            margin-right: 16px
.open
    display: block
.modal-filters
    position: absolute
    background-color: #f0f0f0
    z-index: 22
    width: 280px
    padding: 15px
    top: 70px
    right: 0
    display: none
    &.open
        display: block
    .row
        display: flex
        align-items: center
        margin: 10px 0
        label 
            .checkbox-custom
                margin-right: 15px

.open-modal
    display: block

.modal-filters-all
    width: 316px
    height: auto
    position: absolute
    opacity: 0
    top: 70px
    right: 0
    z-index: -1
    background-color: #f1f1f1   
    &.opacity-modal
        opacity: 1
        z-index: 99
    .modal-filters__tab    
        box-shadow: 4px 4px 4px 0 rgba(0, 0, 0, 0.1), 2px 2px 2px 0 rgba(0, 0, 0, 0.1)
    .tab
        padding: 20px     
    .tabs__caption
        width: 100%
        li
            width: 50%
            line-height: 1
            padding: 9px 0
            border-bottom: 1px solid #bcbcbc
            a
                color: #000
            &.active
                a
                    color: #fff    
    .tabs__content
        background-color: #f1f1f1 
        //display: none
    .tabs__content
        &.active  
            display: block
    .swiper-wrapper
        flex-wrap: nowrap
    .col
        color: #000  
    .label-location
        color: #000    
    .swiper-container__filters
        overflow: hidden   
    .row
        margin-bottom: 10px  
        margin-right: 20px

    .checkbox-custom
        margin-right: 10px   
    .swiper-navigation__container
        width: 100%
        display: flex
        justify-content: flex-end
    .swiper-button-next6
        left: 255px 
    .swiper-button-prev6
        left: 214px
    .head-modal__tab
        color: #262626   
        display: flex
        justify-content: space-between
        padding: 10px 26px 10px 40px
        font-weight: 600
        border-bottom: 1px solid #bcbcbc
        cursor: pointer
        .fas
            cursor: pointer
        &.border-n
            border-bottom: none    
    .body-modal__tab
        display: none
        padding: 0 26px 0 0
    .label-location    
        color: #444444            

    .wrap-option
        .submit
            color: #fff
            line-height: 1

.filters
    .fa-times
        background-color: #538d20
        color: #fff
        padding: 5px 6px

.fa-times
    &.icn-db
        display: block!important
.icon-sort
    display: block
.svg-dn
   display: none


.sort-js
    .fa-times
        display: none

.close-windows
    cursor: pointer
    display: block
    width: 20px
    height: 20px
    position: absolute
    top: 10px
    right: -5px
    &:before
        content: ''
        width: 20px
        height: 2px
        position: absolute
        top: 0
        right: 0
        background-color: #444
        transform: rotate(45deg)
    &:after
        content: ''
        width: 20px
        height: 2px
        position: absolute
        transform: rotate(130deg)
        top: 0
        right: 0
        background-color: #444
.nav-top__location
    .row-text
        position: relative
.wrap-map
    .nav
        a
            font-family: roboto-example
            font-size: 16px
select
    outline: none
    background-color: #f0f0f0
    -moz-appearance: caret
    webkit-appearance: caret
    appearance: caret
    &:-moz-focusring
        background-color: #f0f0f0
        //color: transparent
        text-shadow: none