@import "vars"
@import "elements"

@import "fonts"

@import "pages-style/institusions"
@import "pages-style/price-select"
@import "pages-style/companies"
@import "pages-style/about-company"
@import "pages-style/organization"
@import "pages-style/map"
@import "pages-style/search"
@import "pages-style/company_institution"
@import "pages-style/contacts"
@import "pages-style/glossary"
@import "pages-style/glossary-word"
@import "pages-style/add-company"
@import "pages-style/price-two"
@import "pages-style/404"
@import "pages-style/faq"
@import "pages-style/institution-one"
@import "pages-style/advertising"
@import "pages-style/directory"
@import "pages-style/services"
@import "pages-style/header"
@import "pages-style/thanks"
@import "pages-style/footer"

::placeholder
  color: #444444

::selection
  background-color: $accent
  color: #000

*:before,
*:after
  box-sizing: inherit

*
  box-sizing: border-box

p
  margin: 0

h1, h2, h3, h4, h5, h6
  margin: 0

input,
textarea
  outline: none
  font: $default-font
  color: #444444
  font-size: 1rem
  border-radius: 0

  &:-webkit-autofill,
  &:-webkit-autofill:hover,
  &:-webkit-autofill:focus
    background: inherit
    transition: background-color 5000s ease-in-out 0s

  &::placeholder
    font: $default-font
    font-size: 1rem

textarea
  resize: none

input
  appearance: none

body
  font-size: 14px
  min-width: 320px
  position: relative
  line-height: 1.65
  font-family: $default-font
  overflow-x: hidden
  color: $text
  margin: 0
  input, textarea
    border: #666 1px solid
    outline: none
    &:focus:required:invalid
      border-color: red
    &:required:valid
      border-color: green

ul
  padding: 0
  margin: 0

  li
    list-style: none
    padding: 0
    margin: 0

    a
      text-decoration: none
      color: #fff
      &:hover
        text-decoration: none
      &:active
        text-decoration: none

a
  text-decoration: none
  color: #fff
  &:hover
    text-decoration: none
  &:active
    text-decoration: none

.img-responsive
  display: block
  max-width: 100%
  height: auto
  &.img-width
    width: 100%

.text-center
  text-align: center

.container
  margin: 0 auto
  width: 100%
  max-width: 1024px
  position: relative

.main-body
  margin-top: 82px
  position: relative

.top-banner
  width: 100%
  display: flex
  flex-direction: row
  justify-content: space-between
  align-items: flex-start
  height: 466px
  border-bottom: 4px solid white
  .banner-left
    width: calc(50% - 2px)
    max-width: 50%
    height: 462px
    background-position: center top
    -webkit-background-size: cover
    background-size: cover
    background-repeat: no-repeat
    position: relative
    .banner-text
      font-size: 26px
  .banner-right
    margin: 0
    width: calc(50% - 2px)
  .banner-50
    width: 50%

.menu-fast
  display: none

.opacity-0
  opacity: 0
//Поменять когда будет включен свайпер//
.first-banner
  border-bottom: 4px solid white
  height: 260px
  .banner-text
    font-size: 26px

.third-banner, .second-banner
  height: 202px
  width: 50%

.second-banner
  border-right: 4px solid white
  max-width: 257px
  width: calc(50% + 2px)

.third-banner
  max-width: 253px
  width: calc(50% - 2px)

//Поменять когда будет включен свайпер//
.swiper-wrapper
  flex-wrap: wrap

.swiper-slide
  position: relative
  img
    object-fit: cover
    height: 100%

.banner-text
  position: absolute
  color: #fff
  font-weight: 500
  font-size: 16px
  line-height: 1.38
  left: 10px
  bottom: 10px
  padding-right: 15px
//Поменять когда будет включен свайпер//

//Поменять когда будет 768px//
//MENU Green//
.menu-green
  display: flex
  flex-wrap: wrap
  .item
    width: calc(25% - 3px)
    height: 48px
    color: #fff
    display: inline-block
    background-color: #538d20
    margin-bottom: 4px
    margin-right: 4px
    line-height: 3
    text-align: center
    font-size: 16px
    transition: background-color .4s ease
    &.active
      background-color: #c33232
      &:hover
        background-color: #538d20

    &:nth-child(4)
      margin-right: 0
      width: calc(25% - 0)
    &:nth-child(8)
      margin-right: 0
      width: calc(25% - 0)
    &:hover
      background-color: #c33232

//MENU Green//						
//Поменять когда будет 768px//
.main-container__flex
  display: flex
  flex-direction: row

.row-main
  width: 70%
  color: $text
  padding-right: 38px

.important-information
  margin-bottom: 50px

.important-information__body
  display: flex
  flex-direction: row

.important-information__coll
  width: 50%

.item-lil
  display: flex
  flex-direction: row

.important-information__h2
  font-size: 21px
  line-height: 25px
  font-weight: normal

.important-information__lh2
  font-size: 14px
  line-height: 16px
  a
    font-weight: 600

.important-information__item--big
  padding-right: 38px

.important-information__img
  height: 216px

.important-information__limg
  min-width: 100px
  max-width: 100px
  height: 70px

.important-information__data
  color: #bcbcbc
  font-size: 11px
  line-height: 11px
  margin-top: 8px
  display: inline-block
  vertical-align: bottom

.item-body__big
  padding-left: 14px
  max-height: 192px !important

.item-body__lil
  padding-left: 20px

.important-information__text
  margin-top: 8px
  font-size: 14px
  color: $lightgrey
  line-height: 24px

.important-information__item
  margin-bottom: 30px
  &:last-child
    margin-bottom: 0

.h2
  a
    color: $text

.best-company
  margin-bottom: 50px
  .best-company__body
    display: flex
    flex-wrap: wrap
    position: relative

.item-box
  margin-bottom: 30px
  width: 50%
  &:nth-child(even)
    margin-left: 19px
    width: calc(50% - 19px)
  &:nth-child(odd)
    width: calc(50% - 19px)
    margin-right: 16px
  .wrap-img__bestc
    height: 180px
    position: relative

.item-body
  padding: 14px 30px 14px 14px
  overflow: hidden
  min-height: 117px
  max-height: 141px
  background-color: #f0f0f0
  .h3-bestc
    font-size: 18px
    line-height: 1.33
    font-weight: 600
    margin-bottom: 10px
  .text-bestc
    color: $lightgrey
    font-size: 14px
    line-height: 1.57
    min-height: 80px
    overflow: hidden

.logo-company
  position: absolute
  top: 15px
  left: 12px
  z-index: 3
  .logoc
    width: 48px
    height: 48px

.bottom-title__bestc
  display: flex
  flex-direction: row
  align-items: center
  justify-content: space-between
  color: #000
  padding: 8px 14px
  background-color: $lightgrey
  .bestc-location, .bestc-num
    color: #fff
    line-height: 1
    font-weight: normal
    display: inline-block
  .inform
    line-height: 1.25
    vertical-align: middle
    align-self: flex-start
    min-width: 140px
  .bestc-location
    font-size: 10px
  .bestc-num
    font-size: 14px
  .btn-green
    padding: 8px 0
    width: 95%

.nearest-company
  margin-bottom: 50px

.box-map
  display: flex
  flex-direction: row
  .item-box
    margin: 0

.cemeteries
  margin-bottom: 20px
  .cemeteries__body
    display: flex
    flex-wrap: wrap
    position: relative

.about-company
  margin-bottom: 50px

.about-company__body
  padding-left: 16px
  margin-bottom: 50px

.about-company__row
  margin-bottom: 30px
  &:last-child
    margin-bottom: 0
  .row-head
    font-size: 22px
    line-height: 1.27
    margin-bottom: 16px
  .row-body
    font-size: 14px
    color: $lightgrey
    line-height: 24px
  .about-company__list
    margin-bottom: 20px
    padding-left: 16px
    li
      list-style: disc
  .about-company__text
    padding-left: 16px

//ROW ASIDE//
.row-aside
  width: 30%

.margin-bottom__aside--all
  margin-bottom: 50px

.ritual-catalog__body
  display: flex
  flex-wrap: wrap
  .item
    width: calc(50% - 2px)
    background-color: #f0f0f0
    height: 96px
    max-height: 96px
    margin: 0 2px 2px 0
    padding: 16px 0 10px 0
    text-align: center
    border: 2px solid transparent
    transition: all .3s ease
    &:nth-child(2)
      margin: 0 0 2px 0
    &:hover
      background-color: $textgreen
      .ritual-catalog__item--text, .ritual-catalog__item--title
        color: #fff
      .ritual-catalog__svg
        svg
          fill: #fff
  .ritual-catalog__svg
    margin: 0 auto
    text-align: center
    margin-bottom: 4px
    svg
      fill: $textgreen
      width: 36px
      height: 36px
  .ritual-catalog__item--title
    font-size: 12px
    line-height: 1
    letter-spacing: -0.3px
    font-weight: 600
    color: $text
    margin-bottom: 4px
  .ritual-catalog__item--text
    font-size: 10px
    font-weight: normal
    line-height: 1
    color: $lightgrey
  .item-active
    border: 2px solid $textgreen

.wrap-img__phone
  display: none

.info-byer
  .row-title
    margin-bottom: 23px

.important-information2
  margin-bottom: 50px

.important-information__body2

  flex-direction: column

.important-information__row2, .important-information__row
  margin-bottom: 30px
  padding-bottom: 30px
  width: 100%
  padding-left: 14px
  display: block
  border-bottom: 1px solid #bcbcbc
  &:last-child
    margin-bottom: 0
    border-bottom: none
  //padding: 0
  .row-head
    font-size: 22px
    line-height: 1.27
    margin-bottom: 16px
  .row-body
    font-size: 14px
    color: $lightgrey
    line-height: 24px
  .important-information__list
    padding-left: 19px
    li
      list-style: disc
  .important-information__list--num
    li
      list-style: decimal
  .about-company__text
    padding-left: 14px

.info-blog__title
  a
    font-weight: 600 !important

.contact-us__body
  padding-left: 14px

.contact-us__row
  margin-bottom: 30px
  padding-bottom: 30px
  width: 100%
  display: block
  &:last-child
    margin-bottom: 0
  .row-head
    font-size: 22px
    line-height: 1.27
    margin-bottom: 16px
  .row-body
    font-size: 14px
    color: $lightgrey
    line-height: 24px
  .contact-us__text
    margin-bottom: 16px
  .contact-us__input
    width: 100%
    height: 48px
    background-color: #f0f0f0
    border: none
    padding: 5px 10px
    margin-bottom: 6px
    &::placeholder
      font-size: 14px
      opacity: .5
    &:last-child
      margin-bottom: 0
  .btn-green
    padding: 12px 39px
    font-size: 14px

.row-head, .row-body
  color: $text

.map
  height: 372px
  .row-rectangle
    display: none

.cemeteries-kiev__pagination
  display: flex
  flex-direction: row
  justify-content: space-between
  width: 100%
  align-items: flex-start

.btn-cemeteries__kiev
  width: calc(50% - 18px)
  padding: 14px 39px

.item-body__institusions
  background-color: #f7f7f7 !important

.cemeteries-kiev__tag
  margin-bottom: 50px
  .cemeteries-kiev__body
    display: flex
    flex-wrap: wrap
    justify-content: flex-start
  .cemeteries-tags
    padding: 8px 14px
    text-transform: uppercase
    color: #fff
    line-height: 1
    margin: 0 8px 8px 0
    background-color: $lightgrey
    width: auto

.useful-information
  margin-bottom: 50px

.useful-information__row
  padding-left: 16px

.menu-fast__320
  display: none

.important-information__body
  .item-body
    background-color: transparent

.map-wrap__items
  .item-body, .bottom-title__bestc
    display: none

.footer-768
  display: none

.open-nav
  display: flex

.btn-search__nav2
  display: none

.container-768
  .star-rating__ico
    color: #ffdf12

ul
  li
    a
      font-weight: 400

.swiper-container__aside4
  overflow: hidden
  .swiper-slide
    &:nth-child(2n)
      border-bottom: none

.nav-top__location
  .row-text
    flex-direction: column

.title-location__input
  font-size: 12px

.location-input
  &::placeholder
    font-size: 12px
    color: #5e5e5e

.top-location__form
  margin-bottom: 8px
  position: relative
  .nav-top__search--result
    display: none

.nav-top__catalog
  left: 523px
  .nav-top__search--result
    display: block

.nav-top__search--result
  width: 100%
  z-index: 1
  top: 68px

.nav-top__search
  .nav-top__search--result
    top: 49px

.price-select__body
  .best-company
    .modal-filters
      top: 70px

.location-text
  font-size: 12px
  width: 100%

.label-location
  font-size: 14px

.this-moment
  line-height: 1.1

.col
  line-height: 1.3

.check-row

  width: 50%

.row
  display: flex
  width: 100%
  flex-direction: row

.nav-top__location
  top: 47px
  &:before
    content: ''
    position: absolute
    top: -7px
    left: 106px
    border-left: 10px solid transparent
    border-right: 10px solid transparent
    border-bottom: 10px solid #f0f0f0

.mobile-location
  display: none

.wrap-menu
  position: relative
  z-index: 9
  .menu-fast
    display: none
    width: 100%
    position: absolute
    left: 0
    bottom: -384px
    &.open
      display: block
    .ul-flex
      li
        background-color: #538d20
        height: 48px
        padding: 11px 36px
        border-bottom: 1px solid #fff
        &:first-child
          border-top: 1px solid #fff
        &:hover
          background-color: #c33232
        a
          font-size: 16px
        &.active
          background-color: #c33232

.mobile-location
  width: 300px
  padding: 20px 16px 16px 16px
  background-color: #f0f0f0
  height: 120px
  position: absolute
  top: 50px
  left: 273px
  color: #000
  &:before
    content: ''
    position: absolute
    top: -7px
    left: 27px
    border-left: 10px solid transparent
    border-right: 10px solid transparent
    border-bottom: 10px solid #f0f0f0
  &.open-nav
    display: block
  .btn-flex
    justify-content: flex-start
    display: flex
    flex-direction: row
    margin-top: 30px
    .btn-grey
      width: 176px
    .btn-green
      width: 100px
      margin-right: 10px
    .btn-green, .btn-grey
      padding: 10px 10px
      line-height: 1
      vertical-align: middle
      display: flex
      align-items: center
      justify-content: center

.row-head.main-row__toggle
  position: relative
  i
    display: none

.row-number
  color: rgba(0, 0, 0, 1)
  -webkit-text-fill-color: #000
  text-decoration-color: #000
  ::placeholder
    color: rgba(0, 0, 0, 1)
@media (max-width: 992px)
  .modal-ty__wrap
    top: -48px
  .mobile-location
    width: 349px
    padding: 20px 16px 16px 16px
    background-color: #f0f0f0
    height: 138px
    position: absolute
    top: 50px
    left: 50px
    color: #000
    &:before
      content: ''
      position: absolute
      top: -7px
      left: 67px
      border-left: 10px solid transparent
      border-right: 10px solid transparent
      border-bottom: 10px solid #f0f0f0
    &.open-nav
      display: block
  .btn-flex
    display: flex
    justify-content: space-between
    margin-top: 35px
    .btn-green, .btn-grey
      font-size: 15px
      padding: 11px 32px
  .desk-dn
    display: none
  .institusions-body
    .second-block-js
      display: flex
      flex-direction: column
    .archive-post
      order: 1
    .info-blog__2
      order: 2
    .info-byer__1
      order: 3
    .question
      order: 4
  .map
    .row-rectangle
      display: none
  .banner-resize-append
    display: flex
    flex-direction: row
    justify-content: center
    .info-byer__wrap--img
      max-width: 316px
      height: 264px
      max-height: 264px
      margin-right: 38px
      &:last-child
        margin-right: 0
  .info-byer__2
    display: none
  .container-768
    margin: 0 auto
    width: auto
    max-width: 992px
    position: relative
    margin: 0 49px 0 49px
    margin-top: calc(30px - 4px)
  .container-768.container-404
    margin: 0 auto
  .row-aside
    display: none
  .row-main
    width: 100%
    padding: 0
  .top-banner
    flex-direction: column
    height: auto
    // border-bottom: none
    .banner-left
      width: 100%
      max-width: 100%
      max-height: 462px
      border-bottom: 4px solid #ffffff
    .banner-right
      width: 100%
  .first-banner, .second-banner, .third-banner
    width: auto
    border-right: 4px solid #fff
    border-bottom: none
    height: 100%
  .swiper-wrapper
    flex-wrap: nowrap
    height: 260px
    max-height: 260px
  .swiper-slide
    width: auto
  // max-width: 500px
  .menu-green
    .item
      width: calc(50% - 4px)

  .catalog-company, .detect-city, .nav-info, .nav-logo, .nav-mnu, .nav-search, .nav-add
    border-right: none
    display: inline-block
    vertical-align: middle
    text-align: center
    line-height: 1
    width: auto
    min-width: auto

  .nav-header
    top: 0
  .main-body
    margin-top: 48px
  .href-flex
    span
      display: none
  .catalog-company
    display: none
  .nav-flex
    padding: 12px 68px
    justify-content: space-between
  .nav-logo, .header-top__line
    display: none
  .nav-mnu__flex
    margin-right: 40px

  .nav-mnu, .nav-search
    line-height: 1.8
    .fas
      font-size: 15px
  .detect-city
    .fa-map-marker-alt
      margin: 0
  .nav-info
    flex-grow: 1
    display: flex
    span
      display: block
      &:first-child
        font-size: 16px
        letter-spacing: .7px
        line-height: 1
      &:last-child
        font-size: 9px
  .ritual-catalog__body
    .item
      width: calc(25% - 2px)
      &:nth-child(2)
        margin: 0 2px 2px 0
  .swiper-slide
    max-width: 100%
  .swiper-wrapper
    // max-width: 100%
    width: auto
  .swiper-wrapper
    max-height: 100%
    height: auto
  .banner-right
    img
      height: 260px
  .swiper-slide__info--blog
    &:nth-child(4n)
      border-bottom: 1px solid #bcbcbc
    &:nth-child(2n)
      border-bottom: none

  .swiper-container__aside2
    .swiper-slide__info--blog
      border: none
  .footer-768
    display: block
    color: #fff
    .footer-block__2--flex
      color: #ffffff
      justify-content: space-between
      flex-wrap: wrap
      .block-2
        width: 29%
        max-width: 100%
        margin-right: 14px
  .companies-body
    .row-aside
      margin-top: 0
  .flex-about__company
    display: flex
    .first-bar-small
      margin-right: 38px
    .first-bar-small, .second-bar-small
      width: 50%

      .ritual-catalog__body
        .item
          width: calc(50% - 2px)
    .row-title
      .title
        font-size: 15px
  .about-this__company--body
    padding-right: 0
    .flex-about__company
      order: 2
  .organization
    .organization-aside__box
      display: flex
      justify-content: space-between
      flex-wrap: wrap
      .row-num, .organization-wrap, .organization-aside__map
        min-width: 281px
    .main-container__flex-organization
      .row-main, .funeral-arrangements
        padding: 0
    .organization-aside__wrap--flex, .organization-aside__map
      width: calc(50% - 19px)
    .organization-aside__wrap--flex
      margin-right: 38px
    .organization-aside__nums
      color: #fff
    .margin-bottom__aside--all
      margin-bottom: 30px
    .organization-second__bar--flex
      display: flex
      justify-content: space-between
      .viewed-company, .activities
        width: 50%
      .viewed-company
        margin-right: 38px
    .arrangements-tab
      margin-bottom: 50px
  .contacts-body
    .not-found__box
      flex-direction: row
      justify-content: space-between
      height: auto
      align-items: center
      &:last-child
        height: 66px
        margin-bottom: 30px
    .btn-green__nf, .wrap-form
      max-width: 300px
    .nf-wrap
      margin: 0
    .ritual-catalog
      display: block
    .btn-post__info
      min-width: 37.5vw
  .important-information2
    display: none
  .main-body__toggle
    display: none

  .glossary-body
    .second-block-js
      display: flex
      flex-direction: column
      .archive-post
        order: 1
        margin-bottom: 30px
      .info-blog__2
        order: 2
      .info-byer__1
        order: 3
      .question
        order: 4

  .glossary-word__body
    .social-flex
      justify-content: flex-start
      padding: 0 40px

  .glossary-word__body
    .glossary-word__body
      padding: 0 10px 0 16px
      height: 171px
    .glossary-word__pagination
      padding: 0 20px
    .social-flex
      padding: 0
      justify-content: center

  .add-company__body, .directory-body
    .second-block-js
      display: flex
      flex-direction: column
    .archive-post
      order: 1
    .info-blog__2
      order: 2
    .info-byer__1
      order: 3
    .question
      order: 4
  .footer
    display: none
  .btn-search__nav2
    display: block
  //.container-404
  //  .ritual-catalog__body
  //    .item
  //      width: calc(50% - 2px)
    .main-container__flex
      margin-top: 34px
  .faq-body
    .not-found__boxes
      display: flex
      flex-direction: row
      align-items: flex-start
      margin-bottom: 30px
      border-bottom: 1px solid #bcbcbc
      padding-bottom: 30px
      .not-found__box
        margin-right: 21px
        &:last-child
          margin-right: 0
    .more-questions
      padding-bottom: 0
      border: none
  .company_institutions-body
    .archive-post, .cemeteries-kiev
      order: 1
    .info-blog__2, .nearest-company
      order: 2
    .info-byer__1, .swiper-main
      order: 3
    .question
      order: 4
    .swiper-main
      margin-bottom: 30px
      .swiper-wrapper
        flex-wrap: nowrap
        .swiper-slide
          .wrap-img__slide
            height: 160px
  .top-nav
    width: 82%
    left: 20px
    top: 48px
  .nav-top__search
    right: 50%
    margin: 0 -175px 0 0
    width: 350px
    .input-nav, .nav-top__search--result
      width: 350px
    .row-result
      a
        width: 350px
  .btn-search__nav
    display: none
  .btn-search__nav2
    position: absolute

    right: 0
    top: 0
    padding: 14px 18px
    i
      font-size: 15px
  .fa-search__nav
    display: none
  .input-nav
    padding: 17px 18px

  .wrap-top__search
    position: absolute
    width: 100%
    left: 0
    top: 48px
    background-color: #f0f0f0
    height: 300px
    z-index: 9999
    display: none
    &.open-wrap
      display: block
  .nav-search
    &.active
      background-color: transparent
  .top-location-js
    &.open-nav
      display: block
      left: 11px
  .map-body
    .row
      flex-wrap: wrap
    .w-50
      width: 50%
      min-width: 260px
      flex: 0 0 50%
      max-width: 50%
    .w-100
      width: 100%
      min-width: 260px
      max-width: 100%
      flex: 0 0 100%
  .item-accordion
    .second-item
      &:after
        bottom: -300px
      .item-card
        &:last-child:after
          bottom: 400px
    .last-item
      overflow: hidden
      &:after
        top: 0
      .item-card
        &:first-child:before
          width: 194px
  .nav-tabs
    .n-i:not(:last-child)
      margin-right: 15px !important
    .n-i
      &:before
        left: -27px
        width: 27px
  .opacity-0
    display: block

  .price-select__body
    .best-company
      .modal-filters
        top: 64px
    .cemeteries-kiev
      .row-title
        .title
          max-width: 530px
  .row-head.main-row__toggle
    position: relative
    i
      position: absolute
      right: 20px
      top: 50%
      transform: translate(-50%, -60%)
      display: inline-block
      color: #538d20
  .about-company__row
    margin-bottom: 5px
    border-bottom: 1px solid #bcbcbc
    &:last-child
      border-bottom: none
    &:first-child
      border-bottom: none
      .row-head
        &:first-child
          padding-right: 0
  .row-head
    position: relative
    margin-bottom: 0
    padding-bottom: 5px
    padding-right: 120px
  .archive-post
    .swiper-slide__info--blog
      &:nth-child(2n)
        border-bottom: none
@media (max-width: 620px)
  .container-768.container-404
    max-width: 620px
    margin: 0 20px
  .container-404
    .ritual-catalog__body
      .item
        width: calc(50% - 2px)
  .advertising
    .contact-us__phone
      margin: 8px 0

  .mobile-location
    width: 270px
    left: 5px
    .btn-flex
      margin-top: 40px
      .btn-green, .btn-grey
        padding: 5px 10px

  .top-location-js-mob
    &.open-nav
      display: block
  .top-location-js
    display: none
    left: 5px
  .menu-fast
    display: block
  .wrap-top__search
    height: 100vh
  .top-nav
    width: 82%
    left: 25px
    top: 48px
  .nav-top__search
    right: 50%
    margin: 0 -125px 0 0
    width: 250px
    .input-nav, .nav-top__search--result
      width: 250px
    .row-result
      a
        width: 250px
  .btn-search__nav
    display: none
  .btn-search__nav2
    position: absolute
    right: 0
    top: 0
    padding: 14px 18px
    i
      font-size: 15px
  .fa-search__nav
    display: none
  .input-nav
    padding: 17px 18px
    &::placeholder
      font-size: 12px
  .bottom-title__bestc
    .inform
      min-width: auto
  .companies-body
    .row-title
      .see-all
        a:last-child
          margin-left: 12px
  .row-title
    margin-bottom: 16px
  .info-byer
    .row-title
      margin-bottom: 16px
  .institusions-body
    .filters-company
      display: none
    .archive-post
      .swiper-slide__info--blog:nth-child(2n)
        border-bottom: none
    .row-main
      display: flex
      flex-direction: column
    .cemeteries-kiev
      order: 1
    .nearest-company
      order: 2
    .cemeteries-kiev__tag
      order: 3
    .useful-information
      order: 4
    .second-bar-small
      order: 5
    .archive-post
      order: 2
    .info-blog__2
      order: 3
    .info-byer__1
      order: 1
    .question
      order: 4
  .institusions-body
    .wrap-img__phone
      display: inline-block
  .cemeteries-kiev__pagination
    flex-direction: column
    align-items: center
    margin-bottom: 30px
  .pagination
    margin-bottom: 16px
    order: 1
    width: 100%
    padding: 0 5px
    .paginations-number
      margin: 0 17px
  .btn-cemeteries__kiev
    width: 100%
    order: 2
  .sort
    display: none
  .breadcrum
    margin: 16px 0
  .cemeteries-kiev__tag
    margin-bottom: 30px
  .useful-information
    margin-bottom: 30px
  .useful-information__row
    padding-left: 14px
    .row-head
      font-size: 14px
      margin-bottom: 5px
    .row-body
      font-size: 10px
      line-height: 15px

  .margin-bottom__aside--all
    margin-bottom: 30px
  .nearest-company, .cemeteries, .about-company
    margin-bottom: 30px
  .cemeteries
    .item-box
      margin-bottom: 0
  .banner-resize-append
    .info-byer__wrap--img
      width: 100%
      margin: 0
      &:last-child
        display: none
  .map
    .row-rectangle
      display: flex

  .top-banner
    border-bottom: 2px solid #fff
    .banner-left
      max-height: 220px
      border-bottom: 2px solid #fff
      .banner-text
        font-size: 20px
    .banner-right
      img
        height: 133px
      .banner-text
        font-size: 14px
  .first-banner, .second-banner, .third-banner
    border-right: 2px solid #fff
  .container-768
    max-width: 620px
    margin-top: 0
    margin: 0 20px
  .menu-fast__320
    display: flex
    background-color: $textgreen
    padding: 16px 36px
    justify-content: space-between
    font-size: 16px
    align-items: center
    line-height: 1
    .fas
      line-height: 1
  .menu-green
    display: none
  .important-information__body
    flex-direction: column
  .important-information__img
    max-height: 216px
  .important-information__coll
    width: 100%
    padding-right: 0
  .important-information__h2
    font-size: 21px
  .item-box:nth-child(odd)
    width: calc(50% - 1px)
    margin-right: 1px
  .item-box:nth-child(even)
    width: calc(50% - 1px)
    margin-left: 1px
  .item-big
    margin-bottom: 16px !important
  .item-body__big
    background-color: #fff
    padding: 14px 0 14px 14px
  .important-information__lh2
    font-size: 12px
    line-height: 1.14
  .important-information__ldata
    margin-top: 20px
  .item-body__lil
    padding-left: 16px
  .item-box
    .wrap-img__bestc
      height: 90px
  .logo-company
    .logoc
      height: 24px
      width: 24px
  .bottom-title__bestc
    .bestc-num
      font-size: 12px
    .bestc-location
      display: none
  .item-body
    min-height: auto
    padding: 4px 4px 4px 5px
    max-height: 61px
    .h3-bestc
      font-size: 10px
      margin-bottom: 0
      min-height: 39px
    .text-bestc
      display: none
  .row-rectangle
    bottom: 5px
    padding: 0 5px
    justify-content: flex-start
    width: 100%
    .star-rating
      margin-right: 6px
    .wrap-eye
      width: 12px
      min-width: 12px
      margin-right: 0
    .box-eye
      margin-right: 4px
    .rectangle-quantity__mr
      margin-right: 0
    .fa-star:before
      font-size: 7px
    .rectangle-quantity
      font-size: 9px
  .box-map
    .item-box
      display: none
    .map
      width: 100%
      height: 236px
      position: relative
  .row-rectangle__map
    background-color: $lightgrey
    justify-content: space-between
    bottom: 0
    padding: 16px
    .star-rating
      margin-right: 16px
    .fa-star:before
      font-size: 16px
    .wrap-eye
      width: 20px
    .rectangle-quantity
      font-size: 13px
  .footer
    display: none
  .row-title
    .title
      font-size: 16px
      line-height: 1.5
      padding: 6px 14px 6px 14px
    .see-all
      a
        font-size: 12px

  .ritual-catalog__body, container-404
    .item
      width: calc(50% - 2px)
  .title-2lines__mww
    max-width: 210px
  .title-2lines__mw
    max-width: 190px
  .best-company__body, .cemeteries__body
    .btn-green
      display: none

  .bottom-title__bestc
    padding: 8px
    .inform
      display: flex
      flex-direction: row
      justify-content: space-between
      align-items: center
      width: 100%
      .wrap-img__phone
        width: 10px
        height: auto
        line-height: 0.8
        img
          object-fit: contain

  .best-company
    margin-bottom: 16px
    .best-company__body
      margin-bottom: 16px
    .item-box
      margin-bottom: 2px
  .info-blog__title
    font-size: 15px
  .wrap-img__info--blog
    margin-left: 2px
    margin-right: 10px
  .swiper-slide__info--blog
    margin-bottom: 30px
    &:nth-child(2n)
      border-bottom: 1px solid #bcbcbc
    &:nth-child(4n)
      border-bottom: none
  .swiper-container__aside2
    .swiper-slide__info--blog
      border-bottom: 1px solid #bcbcbc
      &:nth-child(2n)
        border-bottom: none
        padding: 0
  .important-information__row
    margin-bottom: 30px
    padding-bottom: 30px
    width: 100%
    display: block
    border-bottom: 1px solid #bcbcbc
    &:last-child
      border-bottom: none
    .row-head
      font-size: 22px
      line-height: 1.27
      margin-bottom: 16px
  .price-select__body
    .filters-company
      display: flex
      height: auto
      flex-direction: column
      align-items: flex-start
      padding: 5px 5px
    .filters-total__company
      margin-bottom: 5px
    .cemeteries-kiev__pagination, .pagination
      margin-bottom: 0
    .cemeteries-kiev
      margin-bottom: 30px

  .about-this__company--body
    .about-company__row--top
      margin-bottom: 16px
    .about-company__body
      padding-right: 0
    .about-company__text--top
      display: none
    .about-company__wrap
      padding: 0
      height: 216px
    .row-head
      font-size: 14px !important
      margin-bottom: 16px
    .about-company__rbody
      margin-bottom: 16px
    .wrap-video
      height: 216px
    .flex-about__company
      flex-direction: column
      .first-bar-small, .second-bar-small
        width: 100%

  .organization
    .funeral-arrangements
      .row-head__l
        display: block
        width: 100%
      .row-head__r
        width: 100%
      .funeral-arrangements__text
        margin-bottom: 16px
      .wrap-read__more
        margin-bottom: 16px
    .organization-aside__box
      flex-direction: column
      .numbers
        font-size: 20px
    .organization-aside__wrap--flex, .organization-aside__map
      width: 100%
      margin: 0
    .margin-bottom__aside--all
      margin-bottom: 16px
    .arrangements-tab
      display: none
    .arrangements-tab__mobile
      display: block
      margin-bottom: 30px
      .tabs-row
        margin-bottom: 2px
        background-color: #f1f1f1
      .tabs-head
        padding: 13px 14px
        display: flex
        justify-content: space-between
        align-items: center
      .tabs__content__flex
        padding: 0 14px 14px 14px
        display: none
        .wrap-img
          width: 100%
    .organization-second__bar--flex
      flex-direction: column
      .viewed-company, .activities
        width: 100%
      .fa-star:before
        font-size: 11px
      .activities
        margin-bottom: 30px
  .search-body
    .form-search__row
      flex-direction: column
    .select
      width: 75%
      &:first-child
        width: 100%
    .form-search__result
      font-size: 14px
    .btn-search
      display: none
    .mobile-btn
      display: block
      min-width: 50px
    .search-result
      margin-bottom: 16px
      &:last-child
        margin-bottom: 30px
  .wrap-img__phone
    display: inline-block
  .contacts-body, .container-404
    .contacts-inform__text
      padding-left: 14px
    .not-found__box
      flex-direction: column
      height: 256px
      &:last-child
        height: 200px
    .nf-wrap
      margin-top: 23px

    .map
      height: 200px
    .post-inform
      flex-direction: column
      .btn-post__info
        width: 100%
      .wrap-svg
        margin-bottom: 20px
      .post-inform__text
        margin-bottom: 16px
        text-align: center
    .how-to
      margin-bottom: 30px
  .info-blog__title, .popular-news__title
    font-weight: 600
  .main-container__flex
    flex-direction: row
    .box-map
      flex-direction: column
      .wrap-img__phone
        display: none
      .bottom-title__bestc
        .inform
          flex-direction: column
          align-items: center
          align-self: center
        .bestc-location
          display: block
      .item-body
        min-height: 116px
        .h3-bestc
          font-size: 18px
      .map-wrap__items
        .bottom-title__bestc
          display: flex
        .item-body
          display: block
          .text-bestc
            display: block
    .question, .info-blog
      .row-title
        .see-all
          display: none
    .important-information2
      display: block
    .about-company__row
      .row-head
        font-size: 14px
      .row-body
        font-size: 10px
        line-height: 15px
        border-bottom: 1px solid #000
        &:first-child
          border-bottom: none
        &:last-child
          border-bottom: none
  .glossary-body
    .glossary-words
      .col
        width: 100%
        margin-right: 0
        &:last-child
          display: none
    .swiper-slide__info--blog:nth-child(2n)
      border: none
  .add-company__body
    .row-flex
      flex-direction: column
      padding-left: 0
    .option
      padding-left: 16px
      width: 320px
      max-width: 350px
      min-width: 250px
      margin-bottom: 8px
      .option
        padding-left: 0
    .m-dn
      display: none
    .wrap-option__capcha
      width: 100%
    .box-option
      padding-left: 14px
      .option
        padding-left: 0
    .swiper-slide__info--blog:nth-child(2n)
      border-bottom: none

  .price-two__body
    .tab-container__flex
      flex-direction: column
      align-items: center
      .tab-col
        width: auto
        margin-bottom: 16px
        margin-right: 0
        &:last-child
          margin-bottom: 0
    .not-found
      margin-bottom: 16px
    .btn-tab
      display: none
    .bottom-info
      display: none
    .price-two
      border-bottom: none
      padding: 0
      margin-bottom: 30px
    .how-to
      margin-bottom: 30px
  .nav-flex
    padding: 12px 21px
  .nav-mnu__flex
    margin-right: 17px
  .footer-768
    display: none
    .footer-block__1
      display: none
  .footer-320
    display: block

  .footer-block__2
    padding: 0

  .container-box
    color: #fff
    line-height: 1.3
  .box-head
    font-size: 14px
    background-color: #262626
    height: 32px
    padding: 7px 40px
    border-top: 1px solid #fff
    border-bottom: 1px solid #fff
  .box-body
    font-size: 12px
    margin-bottom: 4px
    &:last-child
      margin-bottom: 0
  .box-body__all
    padding: 13px 40px
    background-color: #444444
    border-bottom: 1px solid #fff

  .footer-320
    .social-flex
      display: flex
      flex-direction: row
      position: relative
      justify-content: space-between
      padding: 10px 36px
      li
        a
          font-family: "Font Awesome 5 Free"
          i
            border-radius: 50%
            margin: 5px
            background: #fff
            font-size: 20px
            width: 32px
            text-align: center
            vertical-align: middle
            display: inline-block
            line-height: 1.2
            height: 32px
            padding: 5px
            color: #444
    .footer-block__3
      color: #fff
      text-align: center
      padding: 10px 36px
      p
        margin-bottom: 8px
        &:last-child
          margin-bottom: 0
  .container-404
    .main-container__flex
      margin-top: 30px

  .faq-body
    .not-found__boxes
      flex-direction: column
      margin-bottom: 30px
      border-bottom: none
      padding-bottom: 0
      .not-found__box
        margin-right: 0
    .faq-tabs__container
      flex-direction: column
    .toggle-tabs
      margin-bottom: 10px
    .col-tab
      width: 100%
      display: none
    .col-cont
      width: 100%
    .toggle-tabs
      background-color: #538d20
      padding: 11px
      width: 100%
      font-size: 16px
      color: #fff
      display: flex
      justify-content: space-between
      align-items: center
    .categoty
      display: block
      font-size: 24px
      color: #444
      line-height: 0.86
      margin-bottom: 30px
      padding-left: 14px
    .form-search
      flex-direction: column
    .input-search
      width: 100%
      margin-bottom: 8px
    .btn-search
      width: 100%
  .advertising
    .arrangements-tab
      margin-bottom: 30px
    .mobile-dn
      display: none
    .tab-mobite__head
      background-color: #538d20
      color: #fff
      padding: 7px 12px
      line-height: 1
      font-size: 16px
      text-align: center
      margin-bottom: 16px
      &.active
        background-color: #c33232
    .row, .wrap-inner
      flex-direction: column
      align-items: flex-start
      width: 100%
    .tabs__content
      padding: 15px
      background-color: #f1f1f1
    .text
      margin-bottom: 16px
    .row-flex_end--input
      .input, .btn-red
        width: 100%
      .input
        margin-bottom: 10px
    .arrangements-tab
      background-color: transparent
    .wrap-outer
      margin-bottom: 16px
    .col-table, .row-table
      height: 80px
      max-height: 80px
    .desk-dn
      display: block
    .tabs__caption
      .tab-mobite__head
        &.active
          &:after
            content: ''
            position: absolute
            bottom: -10px
            left: -webkit-calc(50% - 10px)
            left: calc(50% - 10px)
            border-left: 10px solid transparent
            border-right: 10px solid transparent
            border-top: 10px solid #538d20
  .directory-body
    .directory-items__flex
      .directory-item
        width: calc(50% - 4px) !important
  .services-body
    .ritual-catalog__body
      .item
        width: calc(50% - 2px)

    .main-container__flex
      .info-blog
        .row-title
          .see-all
            display: flex
  .border-none__mob
    border-bottom: none !important
  .top-nav
    width: 60%
    flex-direction: column
    height: 100vh
    overflow: scroll
    .nav-col
      width: 100%
  .nav-mnu
    &.active
      background-color: transparent
    &:hover
      .top-nav
        display: flex

  .top-nav
    .nav-link
      padding: 12px 21px

  .map-body
    .nav-tabs
      display: flex
      &:before
        height: 70px
      .order-2
        order: 2
        width: auto
        max-width: 300px
        margin-bottom: 0
      .order-1
        order: 1
        max-width: 215px
      .n-i
        &:before
          left: -16px
          width: 16px
    .opacity-0
      display: none
    .row
      flex-wrap: wrap
    .w-50
      width: 100%
      min-width: 260px
      flex: 0 0 100%
      max-width: 100%
    .w-100
      width: 100%
      min-width: 260px
      max-width: 100%
      flex: 0 0 100%

  .tab-content
    padding: 0
  .item-accordion
    .col-md-6 > .item-card:first-child:before
      left: 0
    .second-item
      &:after
        bottom: -300px
        top: 0
      .item-card
        &:last-child:after
          bottom: 300px
    .last-item
      overflow: hidden
      &:after
        top: 0
      .item-card
        &:first-child:before
          width: 194px
    .first-item
      &:after
        height: 100%
        top: 0
    .item-card
      &:last-child:after
        background-color: transparent
  .companies-body
    .modal-filters
      top: 63px
    .filters-company
      display: none
  .company_institutions-body
    .modal-filters-all
      top: 62px
  .company_institutions-body .info-blog .row-title .see-all, .company_institutions-body .question .row-title .see-all
    display: inline-block
  .funeral-arrangements
    display: flex
    flex-direction: column
    .row-head__l
      order: 1
    .row-head
      order: 2
      margin-bottom: 0!important
    .row-head__filters
      order: 3
      margin-bottom: 0!important
    .row-head__r
      order: 4
      margin-bottom: 16px
      justify-content: flex-start!important
    .first-bar-small
      order: 5
    .row-body__text
      order: 6
    .wrap-read__more
      order: 7
    .arrangements-tab__mobile
      order: 8
    .second-bar-small
      order: 9
  .glossary-body .question .swiper-slide__question
    &:nth-child(2n)
      border-bottom: none
  .glossary-body .swiper-slide__info--blog
    &:nth-child(2n)
      border-bottom: 1px solid #bcbcbc
    &:nth-child(4n)
      border: none
  .price-select__body .cemeteries-kiev .row-title .title
    max-width: 273px
  .search-body
    .row-title
      margin-bottom: 16px
    .form-search__result
      margin-bottom: 8px
    .select-1
      width: 100%
      .label-search
        margin-top: 8px
      &:first-child
        .select
          width: 100%
      .select
        width: 60%
  .add-company__body, .glossary-body
    .wrap-add__C
      margin-top: 16px

    .swiper-slide__info--blog:nth-child(2n)
      border-bottom: 1px solid #bcbcbc
    .swiper-slide__info--blog:nth-child(4n)
      border: none
    .swiper-slide__question:nth-child(2n)
      border: none
    .archive-post
      .swiper-slide__info--blog:nth-child(2n)
        border: none
  .price-two__body
    .not-found
      .row-title
        margin-bottom: 16px
    .tab-col
      .col-body
        padding: 16px 30px
        max-width: 301px


  .add-company__body, .price-two__body, .directory-body
    .info-blog .row-title .see-all, .main-container__flex .question .row-title .see-all
      display: block
  .faq-body
    .second-block-js
      .row-title
        margin-bottom: 3px



@media (max-width: 420px)
  .companies-body
    .modal-filters
      top: 88px
  .price-select__body
    .best-company
      .modal-filters
        top: 88px

@media (max-width: 360px)

  .modal-filters
    top: 86px !important
  .modal-filters-all
    width: 100% !important
    right: 0 !important
    left: 0 !important
    top: 86px !important
  .institusions-body
    .best-company
      position: relative
      .modal-filters
        top: 40px !important
  .price-select__body
    .best-company
      .modal-filters
        top: 88px !important

@media (max-width: 340px)
  .modal-filters, .modal-filters-all
    top: 110px !important
@media  (min-device-width: 992px) and (max-device-width: 1044px)
  .container
    padding: 0 10px
  .detect-city
    min-width: 22%
@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:landscape) //for ipad
  .container
    max-width: 992px
    padding: 0